[2017-03-19 04:43] AbhilashG97 commented on #605
I would like to work on this issue.

[2017-03-19 05:02] AbhilashG97 opened #606 "EditText in the Identifier Dialog Fragment has no defined limit which results in overflow"
**Summary:**

EditText in the Identifier Dialog Fragment has no defined limit which results in overflow.

**Steps to reproduce:**

Step 1) Select Clients from the navigation drawer.
Step 2) Select a Client.
Step 3) Tap on the menu anchored to the overflow button at the top-right corner and select Identifiers.
Step 4) Tap on "+" present at the top right corner.

**Expected behavior:**

EditText pre

[2017-03-19 05:03] AbhilashG97 commented on #606
I would like to work on this issue.

[2017-03-19 07:13] AbhilashG97 commented on #606
Appropriate changes have made. Kindly review my pull request.
Pull request - https://github.com/openMF/android-client/pull/607

[2017-03-19 10:45] aj019 opened #608 "Toast message on Group creation not correct"
**Summary:**

On creating a group a Toast appears with the message "Groupcreated successfully" but instead it should be "Group created successfully"

**Steps to reproduce:**

1) Open the app
2) From the nav bar select Groups
3) From the toolbar menu select Create Group
4) Fill details and click on submit

**Expected behavior:**

Toast message should be "Group created successfully"

**Observed beha

[2017-03-19 10:45] aj019 commented on #608
I would like to work on this issue

[2017-03-19 11:06] aj019 opened #609 "Charges items having huge gap between them"
**Summary:**

While viewing charges there is huge space between each item. Which makes the user feel that there is only one item. But if we scroll down there are other items just not visible
**Steps to reproduce:**

How can we reproduce the issue?

1) Open app
2) Choose clients from nav bar
3) Select Any client
4) From the toolbar menu select Charges
5) Scroll through the items

**Expected behavio

[2017-03-19 11:06] aj019 commented on #609
I would like to fix this issue.

[2017-03-19 13:15] AbhilashG97 commented on #605
I have made appropriate changes, please review my pull request.
Pull request -  https://github.com/openMF/android-client/pull/610

[2017-03-19 15:30] aj019 opened #611 "Dialog doesn't close after it is successfully completed"
**Summary:**

The Add Charges dialog doesn't close and neither does it reset the fields after the charge is created successfully.

**Steps to reproduce:**

1) Open app
2) Choose clients from nav bar
3) Select Any client
4) From the toolbar menu select Charges
5) Scroll through the items

**Expected behavior:**

Either the dialog should close or the fields should reset so that the user can add anot

[2017-03-19 18:07] AbhilashG97 opened #613 "Incorrect input type in Amount field of the Charge Dialog Fragment"
**Summary:**

Incorrect input type in the Amount field of the Charge Dialog Fragment makes it difficult for the user to enter the amount.

**Steps to reproduce:**

1. Select Clients from the navigation drawer.
1. Select a Client.
1. Tap on the menu anchored to the overflow button at the top-right corner and select .
1. Tap on "+" present at the top right corner.
1. Tap on the amount field.

**Expe

[2017-03-19 18:07] AbhilashG97 commented on #613
I would like to work on this issue.

[2017-03-19 18:09] AbhilashG97 opened #614 "The Due Date field in the Charge Dialog Fragment displays both keyboard and calender to enter the date"
**Summary:**

The Due Date field in the Charge Dialog Fragment displays both keyboard and calender to enter the date which makes it difficult to do the same.

**Steps to reproduce:**

Step 1) Select Clients from the navigation drawer.
Step 2) Select a Client.
Step 3) Tap on the menu anchored to the overflow button at the top-right corner and select .
Step 4) Tap on "+" present at the top right cor

[2017-03-19 18:10] AbhilashG97 commented on #614
I would like to work on this issue.

[2017-03-19 18:12] AbhilashG97 opened #615 "EditText in the Charge Dialog Fragment has no defined limit which results in overflow"
**Summary:**

EditText in the Charge Dialog Fragment has no defined limit which results in overflow.

**Steps to reproduce:**

Step 1) Select Clients from the navigation drawer.
Step 2) Select a Client.
Step 3) Tap on the menu anchored to the overflow button at the top-right corner and select .
Step 4) Tap on "+" present at the top right corner.

**Expected behavior:**

EditText present in the Cha

[2017-03-19 18:13] AbhilashG97 commented on #615
I would like to work on this issue.

[2017-03-20 11:49] pranavgupta1234 opened #616 "adding toast message showing press back again to exit"
**Summary:**

Adding Toast message to click back again to exit

**Steps to reproduce:**

Click the physical back button(it directly closes the application)

**Expected behavior:**

Toast message saying that press back again to exit is shown and if within a certain time interval back
is pressed again then close the application.

**Observed behavior:**

Application is closed directly

**Device and A

[2017-03-20 11:50] pranavgupta1234 commented on #616
I would like to work on this issue

[2017-03-20 15:51] AbhilashG97 commented on #615
I have rectified this issue. Please review my pull request and kindly let me know if I have to make any further changes.

[2017-03-20 15:55] AbhilashG97 commented on #614
Please review my pull request, and kindly let me know if I have to make any further changes.

[2017-03-20 17:35] rdeveloperIITR commented on #616
I would like to work on this issue

[2017-03-20 17:37] chaitanyaparashar commented on #611
I would like to work on this issue

[2017-03-20 19:14] AbhilashG97 commented on #613
I have rectified this issue, please review my pull request.
Pull request - https://github.com/openMF/android-client/pull/620

[2017-03-20 20:33] pranavgupta1234 opened #622 "addition of reconfirmation dialog box for logout"
**Summary:**

On clicking the logout option a confirmation dialog box to ensure logout should be added

**Steps to reproduce:**

Click on logout and we are directly moved to login screen

**Expected behavior:**

On selecting logout option a dialog box asking for confirmation to logout should be added and if user selects yes then it should be logged out otherwise cancel the task.

**Observed behavi

[2017-03-20 20:34] pranavgupta1234 commented on #622
I would love to work on this issue :)

[2017-03-20 21:57] rohitsroch opened #625 "App Crashes while creating new client by clicking on submit ,when not connected to internet(Offline)"
**Summary:**

The Application crashes when the user click on  submit button while creating new client.(when not connected to internet)-offline

**Steps to reproduce:**
Step 1) Make sure you are  offline (not connected to internet).
Step 1) Tap on Clients from the navigation drawer.
Step 2) Tap on Floating Action Button to create new client.
Step 3) Tap on submit button.

**Expected behavior:**

Th

[2017-03-20 21:58] rdeveloperIITR commented on #625
I would like to work on this issue :)

[2017-03-21 10:52] chaitanyaparashar commented on #611
#627 please review it.

[2017-03-21 13:22] AbhilashG97 commented on #597
I have rectified the issue, please review my pull request.
Pull request - https://github.com/openMF/android-client/pull/629

[2017-03-22 13:53] rahulbabbar1 commented on #601
@therajanmaurya Can I work on this?

[2017-03-28 07:45] therajanmaurya commented on #614
Fixed in https://github.com/openMF/android-client/pull/619

[2017-03-28 07:45] #614 closed

[2017-03-28 08:05] therajanmaurya commented on #622
Go ahead and send PR

[2017-03-28 11:44] ginaaaan commented on #622
I would like to work on this issue, it's still possible i contribute to fix this issue?

[2017-03-28 12:51] pranavgupta1234 commented on #622
sure @therajanmaurya I will try to make a PR asap

[2017-03-29 00:43] rohitsroch opened #635 "Adding a dialog box to enable Location services(GPS) while clicking on location track menu icon ,to avoid app crash"
**Summary:**

On clicking the location track menu icon in PathTrackingActivity, a dialog box should be shown to enable location services (gps) to avoid app crash.

**Steps to reproduce:**

Click on location menu icon in PathTrackingActivity and no dialog appears to turn on location services (which result's in app crash if user didn't turn on location services(gps) )

**Expected behavior:**

On cli

[2017-03-29 00:46] rdeveloperIITR commented on #635
I would love to work on this issue :)

[2017-03-29 16:06] pranavgupta1234 opened #637 "Overlapping failed icon and text in case of no network in 3 fragments"
**Summary:**

Overlapping failed icon and text in case of no network in 3 fragments

**Steps to reproduce:**

Close data connection and then open Clients section, Groups Section or Centers section from navigation drawer

**Expected behavior:**

The icons and text should be separated

**Observed behavior:**

The icon and text are overlapping

**Device and Android version:**

Infocus m810 Android 5.

[2017-03-29 16:07] pranavgupta1234 commented on #637
I would like to solve this issue :)

[2017-03-29 16:33] AbhilashG97 commented on #637
@pranavgupta1234 Hi, I have already reported the issue way back and have also sent the pull request for the same. Please view https://github.com/openMF/android-client/issues/573

[2017-03-30 16:44] meghalagrawal commented on #616
Instead of Toast message can we add a Dialog asking user Are you sure to exit ??

[2017-03-30 19:39] pranavgupta1234 commented on #616
In most of apps I had seen toast message @meghalagrawal , I think it would be better as it will not break the app flow and in case of pressing back button mistakenly user will be bothered to close the dialog which could be quite annoying

[2017-03-30 20:49] meghalagrawal opened #640 "After Adding a Center and coming back to Dashboard Create Center in Menu Becomes Disabled!"
**Summary:**

After Adding a Center and coming back to Dashboard Create Center in Menu Becomes Disabled!

Summarize your issue in one sentence (what goes wrong, what did you expect to happen)

**Steps to reproduce:**

How can we reproduce the issue?

In the Base Activity, Open Menu and Click on Create Center then after creating press back button , After than you reach Dashboard again Now Go to Men

[2017-03-30 22:19] rdeveloperIITR opened #641 "Overlapping of failed message icon with path tracking details in recyclerview ,while refreshing (when not connected to internet)"
**Summary:**

In pathTrackActivity ,Overlapping of failed message icon occurs with path tracking details content of recylerview ,when not connected to internet.

**Steps to reproduce:**

Step 1) Make sure you are connected to internet.
Step 1) Tap on Path Track  from the navigation drawer (it will show path tracking details in recylerview)
Step 2) Now disconnect to internet
Step 3) Refresh by usin

[2017-03-30 23:06] rdeveloperIITR commented on #641
I would like to work on this issue :)

[2017-03-31 08:25] aj019 opened #643 "Failed to load Charges text and icon not visible when no charges available"
**Summary:**

When there are no charges for a particular client there should be failed icon and text saying "No charges found" but instead we get a blank screen.

**Steps to reproduce:**
Open App
From navbar select Clients
Select Client with no charges
From Toolbar menu select Charges

**Expected behavior:**

The app should show a failed icon and text saying "No charges found"

**Observed behavior

[2017-03-31 08:26] aj019 commented on #643
I would like to work on this issue

[2017-03-31 11:29] meghalagrawal commented on #640
The Same problem is with Create Group and Create Client!

[2017-03-31 12:26] meghalagrawal opened #645 "No Scrolling feature in dialog_fragment_approve_loan.xml - LoanAccountApproval Fragment"
**Summary:**

Summarize your issue in one sentence (what goes wrong, what did you expect to happen)
There is no scrolling in dialog_fragment_approve_loan.xml View and It effects in closing and opening of Keyboard again and Again!

**Steps to reproduce:**

How can we reproduce the issue?

1. Go to any Client.
2.In the menu Select Add Loan Account and fill all the details and do submit.
3. Then go t

[2017-03-31 12:37] aj019 opened #646 "No required field message when uploading document"
**Summary:**

In the Upload document dialog when the fields are empty and the user clicks on Upload button then the app should display required field error but instead nothing happens.

**Steps to reproduce:**

Open the app
Go to Navbar and select Clients
Select Client
From the Toolbar menu select Document
In the toolbar menu select '+' icon
Click on upload button

**Expected behavior:**

The app

[2017-03-31 12:37] aj019 commented on #646
I would like to work on this

[2017-03-31 12:49] aj019 opened #648 "Created identifier not visible after creation"
**Summary:**

When the user creates an identifier a Toast message appears saying that "Identifier created successfully but the created identifier is not visible to the user.

**Steps to reproduce:**

Open the app
Go to Navbar and select Clients
Select Client with 0 identifiers
From the Toolbar menu select Identifiers
In the toolbar menu select '+' icon
Fill the details
Click on Create Identifier

[2017-03-31 12:49] aj019 commented on #648
I would like to work on this issue

[2017-03-31 12:53] aj019 commented on #646
@therajanmaurya So i looked at the code and the reason there is no action on clicking the button is because it is disabled till a document is uploaded but according to me the Message that the Name and desc is required should come before the document is uploaded.

So there are two options
1) Enable the button and display required field error messages.
2) Change colour of Upload button on being disb

[2017-04-01 07:40] ippezshelby opened #649 "As a field officer, i would like to disburse client loan to his/her savings account"
**Summary:**

Summarize your issue in one sentence (what goes wrong, what did you expect to happen)

**Steps to reproduce:**

How can we reproduce the issue?

**Expected behavior:**

What did you expect the app to do?

**Observed behavior:**

What did you see instead?  Describe your issue in detail here.

**Device and Android version:**

What make and model device (e.g., Samsung Galaxy S3) did you

[2017-04-01 07:41] ippezshelby opened #650 "Can't create new clients due to datatable issues"
**Summary:**

Summarize your issue in one sentence (what goes wrong, what did you expect to happen)

**Steps to reproduce:**

How can we reproduce the issue?

**Expected behavior:**

What did you expect the app to do?

**Observed behavior:**

What did you see instead?  Describe your issue in detail here.

**Device and Android version:**

What make and model device (e.g., Samsung Galaxy S3) did you

[2017-04-01 07:42] ippezshelby opened #651 "Ability to create Share Account for clients"
**Summary:**

Summarize your issue in one sentence (what goes wrong, what did you expect to happen)

**Steps to reproduce:**

How can we reproduce the issue?

**Expected behavior:**

What did you expect the app to do?

**Observed behavior:**

What did you see instead?  Describe your issue in detail here.

**Device and Android version:**

What make and model device (e.g., Samsung Galaxy S3) did you

[2017-04-01 08:55] aj019 opened #652 "Wrong Toolbar title in Survey List"
**Summary:**

The toolbar in surveys should have a title "Survey List"

**Steps to reproduce:**

Open app
From navbar select Clients
Select any Client
From the toolbar menu select Survey

**Expected behavior:**

The toolbar in survey list should have a title "Survey List"

**Observed behavior:**

The toolbar title says "Client - Client Name"

**Device and Android version:**

Nexus 5 API 23

**Scre

[2017-04-01 08:55] aj019 commented on #652
I am working on this issue

[2017-04-02 04:41] #585 closed

[2017-04-02 05:32] aj019 opened #654 "Snackbar Inside Charges Dialog"
**Summary:**

While creating new charges if there is an error in the Charges Dialog then a snackbar is shown inside the Dialog and the content of the Dialog go invisible. It would be better to show a Toast in this situation.

**Steps to reproduce:**

Open the app
Select Clients from the Navbar
Select Client
From the toolbar menu select Charges
From the toolbar menu click on '+' icon
Now click on s

[2017-04-02 05:32] aj019 commented on #654
I am working on this issue.

[2017-04-04 07:25] Kigamba commented on #475
I would like to work on this @edcable @therajanmaurya

[2017-04-04 09:04] Kigamba commented on #475
I have worked on it. I think we should also add the ability to refresh after internet connection is stable or back again.

**SCREENSHOT**

![screenshot_2017-04-04-11-49-48](https://cloud.githubusercontent.com/assets/23360506/24649180/e05ff5e4-192e-11e7-85db-db7c1c3ebec1.png)

[2017-04-04 12:40] Kigamba opened #657 "Cannot Refresh Client Details After internet connection resumes"
**Summary:**

In the Client Details Activity, one cannot refresh after internet connection resumes. One has to go back to the clients list

**Steps to reproduce:**

1. Open app
2. Go to the list of clients
3. Turn off the internet
4. Select any client

**Expected behavior:**

Normally, there should be a way to refresh when data is available. Just like the client's list activity behaves.

**Observe

[2017-04-04 12:40] Kigamba commented on #657
I will do it

[2017-04-04 12:47] Kigamba commented on #657
Here is the fix with refresh enabled.

![screenshot_2017-04-04-15-33-05](https://cloud.githubusercontent.com/assets/23360506/24657180/00ec73c2-194e-11e7-8c5e-bb72b5b0565c.png)

[2017-04-05 05:21] aj019 opened #658 "Identifier item still visible after deleting it"
**Summary:**

When there is only one identifier left and user deletes it we get a message saying "Identifier deleted successfully" but the identifier item is still visible.

**Steps to reproduce:**

OPen app
Select Clients from Navbar
Select Client with only one identifier
From toolbar menu select Identifiers
Delete the identifier

**Expected behavior:**

On deleting the identifier the identifier

[2017-04-05 10:24] therajanmaurya commented on #658
Go ahead

[2017-04-05 19:36] TypicalGitHubUser opened #659 "App crashes on RTL locales"
**Steps to reproduce:**

1. Enable 'Force RTL layout' in developer options
2. Launch the app
3. Open a side bar
4. Choose any navigation item.

**Expected behavior:**

App keeps working.

**Observed behavior:**

App crashes.

[2017-04-06 06:35] AbhilashG97 opened #661 "Snackbar with no text is displayed when the user loses Internet connectivity in the Add Savings Account Fragment"
**Summary:**

Snackbar with no text is displayed when the user loses Internet connectivity in the Add Savings Account Fragment. The user should instead get a suitable message stating the loss of Internet connectivity.

**Steps to reproduce:**

Step 1) Open the app.
Step 2) Tap on the Clients fragment from the navigation drawer.
Step 3) Select a Client.
Step 4) Tap on the menu and select Add Saving

[2017-04-06 06:37] AbhilashG97 commented on #661
I would like to work on this issue.

[2017-04-06 06:49] AbhilashG97 opened #662 "App crashes on leaving the "Amount Disbursed" field in the Disburse Loan Dialog fragment empty"
**Summary:**

App crashes on leaving the "Amount Disbursed" field in the Disburse Loan Dialog fragment empty. A suitable error message stating that the field cannot be empty would be a better response to the issue. The logs for this issue can found [here](https://gist.github.com/AbhilashG97/f948c9b34250bbd51bc4e6202be8670f).

**Steps to reproduce:**

Step 1) Open the app.
Step 2) Tap on the Client

[2017-04-06 08:12] AbhilashG97 opened #663 "Amount field in Savings Account Transaction Fragment accepts zero (0) as amount"
**Summary:**

Savings Account Transaction Fragment accepts zero (0) in the "Amount" field. The field displays a error message when the field is blank but doesn't show any error message when user enters zero in the "Amount" field.

**Steps to reproduce:**

Step 1) Open the app.
Step 2) Tap on the Clients fragment from the navigation drawer.
Step 3) Select a Client.
Step 4) Tap on Savings Accounts a

[2017-04-06 08:13] AbhilashG97 commented on #663
I would like to work on this issue.

[2017-04-07 04:02] AbhilashG97 commented on #663
I have made the appropriate changes, kindly review my pull request and please let me know if I have to make any further changes.

[2017-04-08 13:06] AbhilashG97 commented on #662
I have made the required changes, please review my pull request and kindly let me know if I have to make any further changes.
Pull request - https://github.com/openMF/android-client/pull/665

[2017-04-08 13:33] AbhilashG97 opened #666 "Loan gets approved in spite of "Approved Amount" and "Transaction Amount" field being blank"
**Summary:**

Loan gets approved in spite of "Approved Amount" and "Transaction Amount" field being blank. An appropriate response like a toast message stating that the field cannot be blank would be suitable.

**Steps to reproduce:**

Step 1) Open the app.
Step 2) Tap on the Clients fragment from the navigation drawer.
Step 3) Select a Client.
Step 4) Tap on Loan Accounts and select an account in

[2017-04-08 13:34] AbhilashG97 commented on #666
I would like to work on this issue.

[2017-04-08 16:01] AbhilashG97 opened #667 "App crashes on granting it storage permission after denying it in the first place"
**Summary:**

App crashes on granting it storage permission after denying it in the first place. The issue seems to occur due to the absence of an Activity to handle the Intent. An appropriate response to the issue would be to take the user to the app settings activity and let the user grant storage permission for the app.

**Steps to reproduce:**

Step 1) Open the app.
Step 2) Tap on the Clients

[2017-04-08 16:02] AbhilashG97 commented on #667
I would like to work on this issue.

[2017-04-13 02:08] #659 closed

[2017-04-13 08:31] #662 closed

[2017-04-14 08:42] AbhilashG97 commented on #666
I have made appropriate changes, please review my pull request and kindly let me know if I have to make any further changes.
Pull request - https://github.com/openMF/android-client/pull/668

[2017-04-14 10:18] AbhilashG97 commented on #661
I have made the required changes, please review my pull request and kindly let me know if I have to make any further changes.
Pull request - https://github.com/openMF/android-client/pull/669

[2017-04-19 11:45] therajanmaurya opened #670 "Remove system generated file"
Remove the system generated file `studio_android-client.iml`.

[2017-04-19 12:05] tarun0 commented on #670
Why is this labelled as 'Help Wanted'?

[2017-04-19 12:47] therajanmaurya commented on #670
I want to someone to remove this file from git and send PR.

On 19-Apr-2017 5:35 PM, "Tarun Mudgal" <notifications@github.com> wrote:

Why is this labelled as 'Help Wanted'?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub
<https://github.com/openMF/android-client/issues/670#issuecomment-295241375>,
or mute the thread
<https://github.com/no

[2017-04-19 14:23] AbhilashG97 commented on #670
@therajanmaurya, I would like to send the PR.

[2017-04-19 14:48] AbhilashG97 commented on #670
@therajanmaurya, Here is the PR - https://github.com/openMF/android-client/pull/672. Please let me know if I have to make any further changes.

[2017-04-19 18:12] AbhilashG97 commented on #599
I have made the required changes, please review my pull request and kindly let me know if I have to make any further changes.
Pull request - https://github.com/openMF/android-client/pull/673

[2017-04-20 02:56] AbhilashG97 opened #674 "Empty toast message is displayed when the user taps the 'Save' button while there is no internet connection in the savings account approval fragment"
**Summary:**

Empty toast message is displayed when the user taps the 'Save ' button while there is no Internet connection in the savings account approval fragment. A suitable toast message stating that there is no Internet connection would be a better response.

**Steps to reproduce:**

Step 1) Open the app.
Step 2) Tap on Clients from the navigation drawer.
Step 3) Select a client.
Step 4) Tap o

[2017-04-20 02:57] AbhilashG97 commented on #674
I would like to work on this issue.

[2017-04-20 17:29] AbhilashG97 commented on #674
I have made the required changes, please review my pull request and kindly let me know if I have to make any further changes.
Pull request - https://github.com/openMF/android-client/pull/676

[2017-04-24 07:49] santoshmath opened #678 "Unable to Create Client"
It is throwing the error 'The parameter datatables cannot be empty. You must select at least one'.

![d3](https://cloud.githubusercontent.com/assets/23022667/25327136/a0ac704a-28f0-11e7-98d6-e938173e0578.png)

[2017-04-24 11:22] santoshmath opened #679 "Activating Savings Account is not expecting date."
Through Android app, you can provide, Submit Date, Approve Date for Savings account. While Activating savings account , it won't expect any date and gets activated with just one click

[2017-04-25 15:23] AbhilashG97 opened #680 "Empty Snackbar is displyed on tapping "Submit" button in the Disburse Loan Dialog fragment in the absence of Internet connection"
**Summary:**

Empty Snackbar is displyed on tapping "Submit" button in the Disburse Loan Dialog fragment while there is no Internet connection. A suitable response would be to have a Snackbar displaying a message stating that there is no Internet connection.

**Steps to reproduce:**

Step 1) Open the app.
Step 2) Tap on the Clients fragment from the navigation drawer.
Step 3) Select a Client.
Step

[2017-04-25 15:24] AbhilashG97 commented on #680
I would like to work on this issue.

[2017-04-26 13:05] AbhilashG97 commented on #680
I have made the required changes, please review my pull request and kindly let me know if I have to make any further changes.
Pull request - https://github.com/openMF/android-client/pull/681

[2017-04-26 15:04] AbhilashG97 opened #682 "Payload name and payload count overlap for transactions in the offline dashboard fragment"
**Summary:**

Payload name and payload count overlap for transactions in the offline dashboard fragment making. The payload name and payload count shouldn't overlap.

**Steps to reproduce:**

Step 1) Open the app.
Step 2) Tap on Clients from the navigation drawer and sync a client.
Step 3) Make a transaction in offline mode.
Step 4) Tap on Offline Sync from the navigation drawer.

**Expected behav

[2017-04-26 15:05] AbhilashG97 commented on #682
I would like to work on this issue.

[2017-04-28 15:53] AbhilashG97 commented on #682
I have made the required changes, please review my pull request and kindly let me know if I have to make any further changes.
Pull request - https://github.com/openMF/android-client/pull/683

[2017-04-28 16:11] AbhilashG97 commented on #678
May I work on this issue ?

[2017-04-28 16:15] AbhilashG97 commented on #678
The logs for the issue can be found [here](https://gist.github.com/AbhilashG97/48245a79de3557d556e86a84b33a7ab9).

[2017-05-02 04:28] santoshmath commented on #678
@AbhilashG97 Are you able to resolve this issue?

[2017-05-02 12:16] AbhilashG97 commented on #678
@santoshmath, Unfortunately, I haven't been able to resolve this issue, but I am trying to fix it as soon as possible. From the logs I was able to understand that the issue was being caused due to sending empty parameters in datatables field of the create client POST method. An example of a correct POST method for the create client should be somewhat like this-

**POST clients**
Content-Type: appl

[2017-05-02 16:09] AbhilashG97 commented on #678
@santoshmath, Unfortunately, I haven't been to resolve this issue yet, but I am trying to resolve it as soon as possible. From what I have understood as of now is that the datatables field is being left empty which results in "400 Bad Request" error when the POST request is sent.  The correct POST request should look somewhat like this -

Content-Type: application/json Request Body:
{
	"officeId":

[2017-05-03 06:22] AbhilashG97 commented on #573
The issue was resolved.

[2017-05-03 06:22] #573 closed

[2017-05-04 08:19] santoshmath commented on #678
@AbhilashG97 ,  wait few  days. @therajanmaurya , will look into this.

[2017-05-04 15:39] AbhilashG97 opened #684 "Empty toast message is displayed when user clicks on "Submit" button in the Create Group Fragment in the absence of Internet connection."
**Summary:**

Empty toast message is displayed when user clicks on "Submit" button in the Create New Group Fragment. A suitable response would be to have a toast message stating that there is no Internet connection.

**Steps to reproduce:**

Step 1) Open the app.
Step 2) Tap on the menu key in the top right corner (three dots) and tap on Create Group.
Step 3) Disable Internet connection.
Step 4) T

[2017-05-04 15:53] AbhilashG97 commented on #684
I would like to work on this issue.

[2017-05-06 04:53] santoario93 opened #685 "I have found the bug that deleted / edited payment in the apps is not deleted on the mobile version. Check the transaction ID : 22938 on the screenshot"
[**Summary:**](url
![screen shot 2017-05-06 at 11 43 29 am](https://cloud.githubusercontent.com/assets/15682494/25769953/da1a34ec-3251-11e7-8517-61aca129ad69.png)
![384](https://cloud.githubusercontent.com/assets/15682494/25769966/4b44b82c-3252-11e7-8b85-de177c4699d3.jpg)

)

Summarize your issue in one sentence (what goes wrong, what did you expect to happen)

**Steps to reproduce:**

How can we

[2017-05-06 05:00] santoario93 commented on #685
it's also affected the loan indicator. In the browser, the color is red. in the mobile version the color is green which is supposed to be red. here is the screenshot.
![screen shot 2017-05-06 at 11 58 32 am](https://cloud.githubusercontent.com/assets/15682494/25770001/7c4186de-3253-11e7-9289-d0693890fe9b.png)
![386](https://cloud.githubusercontent.com/assets/15682494/25770006/9f887f6c-3253-11e7-8a

[2017-05-11 07:48] ajinkyagadewar opened #686 "Failed to fetch"
**Summary:**

For any screen relation to create, edit or delete, app is showing "Failed to fetch template". For example, for new client creation "Failed to fetch clientTemplate"

**Steps to reproduce:**
1. Click on the Create New Client in Hamburger menu
2. Lot of fields does not come up like Gender

**Expected behavior:**
All of the fields should load up

**Observed behavior:**

Lot of fields doe

[2017-05-11 08:00] ajinkyagadewar commented on #686
In the logs, I can see: Table 'mifostenant-default.m_entity_datatable_check' doesn't exist

As of now I am working on demo data of mifos.

[2017-05-29 15:25] tarun0 commented on #678
@santoshmath I'll work on this.

[2017-05-31 03:10] tarun0 commented on #650
Issue similar to #678 fixed in #687

[2017-05-31 10:05] tarun0 commented on #679
@santoshmath Could you please elaborate it?

[2017-05-31 10:08] santoshmath commented on #679
@tarun0 , try to create savings account for a client using savings product in andriod app. During submit, approve it asks for date . But it doesn't ask for date while activation. But in web-app, activation date is compulsory.

[2017-05-31 10:55] tarun0 commented on #679
@santoshmath Could you please confirm if I understood it correct? In the web-app, I opened a client say, _GrahamAdrian Clark_. Clicked _Add Savings_ from the menu. But I can't find any activation date option.

![save](https://cloud.githubusercontent.com/assets/12914286/26628862/6a3d4792-461d-11e7-830e-e3a18ea1de36.jpg)

[2017-05-31 10:57] santoshmath commented on #679
@tarun0 , first you submit it. On next page approve it providing date and on next page Activate it. When you try to activate it , it asks  for the  date. Same is not happening on app.

[2017-05-31 11:10] tarun0 commented on #679
Got you.

[2017-06-01 12:17] tarun0 opened #688 "Username password length limit on client side should either be removed or the length limit should be decreased"
**Summary:**

During Login, if the username and/or the password entered has a length less than 6 (5 for username), a message (snackbar) "Invalid password/username length" is shown.

It seems that there is no such requirement at the backend side. So, it should either conform to the restrictions imposed by backend or should be removed.

**Steps to reproduce:**
Open Login Activity. Enter any password

[2017-06-02 08:20] AbhilashG97 commented on #684
I have made the required changes, please let me know if I have to make any further changes.
Pull request - https://github.com/openMF/android-client/pull/689

[2017-06-06 17:33] therajanmaurya opened #691 "Integrate code coverage plugin"
**Summary:**
we already have Code coverage plugin but it's not properly integrated.
So, integrate code coverage plugin.

[2017-06-06 17:34] therajanmaurya commented on #691
@tarun0 you can pick this up.

[2017-06-07 04:53] tarun0 commented on #691
Sure @therajanmaurya I'll have a look at it.

[2017-06-08 06:16] santoshmath opened #692 "Loan Term only takes number and doesn't mention whether it's days or months or weeks"
1. Open any client page on android app
2. Tap on right top corner button and tap on add loan account.
3. On next page(add loan account page), you can only mention loan term in numbers but not in days or months or years.

![loanterm](https://user-images.githubusercontent.com/23022667/26914632-065161b8-4c40-11e7-90b4-51db83a98f81.png)

[2017-06-08 06:34] santoshmath opened #693 "Issue with 'Repaid Every' field in Add loan account for client"
1. Go to any client page and tap on right top corner and then tap on Add Loan Account
2. On loan application page, select 'Repaid Every' as 1 month

Check the screenshots
Web-app:
![webapp](https://user-images.githubusercontent.com/23022667/26915166-9b22be2a-4c42-11e7-8b0e-628f6c170ef9.png)

Andriod-app:
![androidapp](https://user-images.githubusercontent.com/23022667/26915177-a5d420f2-4c42-11e7-9

[2017-06-08 06:40] santoshconflux opened #694 "Default values are not getting fetched for Principal, Number of repayments, Interest rate and Repaid Every for Group Loan application"
Go to any group and click on Add Loan account(Group Loan Application). The select the loan product.

Check the screenshot:
![defaultvalues](https://user-images.githubusercontent.com/23022667/26915387-76a2236e-4c43-11e7-924b-2580493866d1.png)

[2017-06-08 08:11] tarun0 commented on #694
The PR to address the same is there #465 It may also need some modification to remove the compulsion in Repaid Every field, though. Please give your inputs. I've attached a GIF to show the changes.

[2017-06-08 11:28] santoshmath commented on #694
@tarun0 , I am not finding GIF fle

[2017-06-08 15:42] tarun0 commented on #694
@santoshmath GIF is there in the comment of the PR: https://github.com/openMF/android-client/pull/465

[2017-06-08 22:03] therajanmaurya commented on #686
@tarun0 can you please look.

[2017-06-09 05:40] tarun0 commented on #686
@therajanmaurya Sure, I'm on it.

[2017-06-09 06:13] santoshmath commented on #694
@tarun0 , thanks got  it. :)

[2017-06-09 10:22] Finabile opened #695 "Cant able to load fresh data after creating new client"
**Summary:**

Old data is shown after creating a new client. Need to do refresh to load new data

**Steps to reproduce:**

Add a new client and click submit

**Expected behavior:**

New screen with recently added client is to be shown

**Observed behavior:**

Old screen without your newly added client is shown.

[2017-06-11 20:12] mayank-kgp commented on #693
@therajanmaurya Can I work on this?

[2017-06-11 20:14] mayank-kgp commented on #679
@tarun0 Are you working on it?

[2017-06-11 23:17] mayank-kgp commented on #693
@santoshmath I am not facing any issue in my device. Can you please tell me the exact options which you are checking on?
@tarun0 Can you please check once? If you are facing any issue.

[2017-06-11 23:22] mayank-kgp commented on #695
@Finabile I am not able to understand the issue.  Do you want to put the recently added client on top?
@tarun0 Pinged.

[2017-06-11 23:24] mayank-kgp commented on #688
@tarun0 Are you working on it?

[2017-06-11 23:29] mayank-kgp commented on #658
@aj019 I would like to add one more point. If you add an identifier, it is not visible after adding.
Are you still working on it?
If not, I would like to work on it.
@therajanmaurya pinged.

[2017-06-11 23:30] mayank-kgp commented on #648
@aj019 Are you still working on it?

[2017-06-12 02:41] tarun0 commented on #679
@mayank-kgp Yes, I've sent a PR for the same.

[2017-06-12 02:49] tarun0 commented on #693
@mayank-kgp The month and week should be optional in the app which they are not, at present.

[2017-06-12 02:50] tarun0 commented on #695
@mayank-kgp He wants that right after the submit button of the client create screen is clicked, the list of clients which was being shown, should get refreshed with the updated clients values.

[2017-06-12 02:51] tarun0 commented on #688
@mayank-kgp No, I haven't yet. I wanted to discuss the same with the members.

[2017-06-14 13:15] mayank-kgp commented on #693
Ok. I will see into it.

[2017-06-15 09:14] tarun0 commented on #686
@therajanmaurya  It's working fine now.

[2017-06-15 09:31] tarun0 commented on #692
@therajanmaurya  I'll take it

[2017-06-17 15:08] tarun0 commented on #692
@santoshmath The LoanTermFrequencyType and the RepaymentFrequencyType should be the same. I've implemented it in the way that change in one dropdown will make the corresponding change in the other as well.
Please have a look at the GIF in the PR's comment and let me know if that's an acceptable approach.
@therajanmaurya Please review the same.

[2017-06-18 04:47] mayank-kgp commented on #693
@tarun0 First sunday is automatically selected. How is the idea of put "Select" in the spinner like
"Link Savings" spinner?

[2017-06-18 12:38] tarun0 commented on #693
@mayank-kgp I added a new string value at the end of the retrieved list of the savings accounts. While submitting the application, I checked the value at that position. If it's 'Select Account', the linked saving is set to null, otherwise, it's set to the value of the selected account.

Check https://github.com/openMF/android-client/blob/master/mifosng-android/src/main/java/com/mifos/mifosxdroid/o

[2017-06-23 03:04] mayank-kgp opened #697 "New feature of 4 digit pin"
**Summary:**
I am proposing a new activity called "Quick Login Activity" for creating 4 digit pin. This pin will be used in place of the regular password for login.
The process of login will be like this -

First, Existence of quick pin will be checked from shared preference in the SplashScreenActivity.

- If it doesn't exist then app will navigate to LoginActivity -

[2017-06-23 03:33] tarun0 commented on #697
I'm adding my opinion to it. Although logging using PIN will remove the hassle of entering username and password, won't it be better that we authenticate the user _only_ while performing sensitive tasks? For example, while creating a new loan, the Create_New_Loan activity will show up only if the user enters correct PIN.

[2017-06-23 03:59] mayank-kgp commented on #697
@puneetkohli521 @droidchef @therajanmaurya What do you think about it?

[2017-06-23 05:28] mayank-kgp opened #698 "NDK Integration"
**Summary:**

We need to integrate android ndk in app.

[2017-06-25 16:35] #684 closed

[2017-06-26 07:15] #679 closed

[2017-06-26 17:41] therajanmaurya opened #701 "Burmese Language support"
**Summary:**

Add support for Burmese. currently, there is no support for Burmese.

[2017-06-26 18:50] #693 closed

[2017-06-26 18:51] #678 closed

[2017-06-26 18:53] #692 closed

[2017-06-26 18:56] therajanmaurya commented on #680
fix in #681

[2017-06-26 18:56] #680 closed

[2017-06-26 18:58] #670 closed

[2017-06-26 19:00] therajanmaurya commented on #688
I will discuss with Markus

[2017-06-26 19:04] therajanmaurya commented on #674
fix in #676

[2017-06-26 19:04] #674 closed

[2017-06-26 19:06] therajanmaurya commented on #661
fix in #669

[2017-06-26 19:06] #661 closed

[2017-06-26 19:09] therajanmaurya commented on #666
fix in #668

[2017-06-26 19:09] #666 closed

[2017-06-26 19:10] therajanmaurya commented on #663
fix in #664

[2017-06-26 19:10] #663 closed

[2017-06-26 19:24] #645 closed

[2017-06-26 19:35] therajanmaurya opened #702 "show proper message while loading path tracking details"
**Summary:**

Currently, we are loading the path tracking details, it fine but we are not handing if the request will fail or fail while refreshing the data.

This is continuation of discussion of #642

**Steps to reproduce:**

Open path tracking wait till loading data and refresh

**Expected behavior:**

It should refresh data otherwise show proper error message.

**Observed behavior:**

Error UI

[2017-06-26 19:48] therajanmaurya commented on #641
Continue here #702

[2017-06-26 19:48] #641 closed

[2017-06-26 23:04] edcable opened #703 "Add Support for the Following Languages in the Android Field Officer App"
A number of languages are most commonly requested by our community. We need to add a new strings.xml for each of these languages so a volunteer can come and translate the strings in that message.

Easy-to-follow instructions on how to Translate Strings provided by @tarun0 at https://github.com/openMF/android-client/wiki/Translation

Support is needed for:

- [ ] Arabic (ar)
- [ ] French (fr)
- [ ]

[2017-06-27 08:34] AbhilashG97 commented on #703
I'd like to be a volunteer for Hindi (hi) translations for the app. May I proceed ?

[2017-06-27 08:39] therajanmaurya commented on #703
@AbhilashG97 go ahead and send PR.

[2017-06-27 09:20] AbhilashG97 opened #704 "Add Support for Hindi Language in the Android Field Officer App"
**Summary:**

The android app currently lacks support for Hindi language.

**Expected behavior:**

The app should support Hindi language.

**Observed behavior:**

The app lacks support for Hindi language.

**Device and Android version:**

Device : Motorola Moto G 1st Generation [XT1033] [Falcon]
ROM : CyanogenMod 13.0 Snapshot build

[2017-06-27 09:23] AbhilashG97 commented on #704
I am working on the translations.

[2017-06-27 09:27] AbhilashG97 commented on #682
Issue has been resolved.

[2017-06-27 09:27] #682 closed

[2017-06-27 09:29] AbhilashG97 commented on #599
Issue has been resolved.

[2017-06-27 09:29] #599 closed

[2017-06-28 12:48] tarun0 opened #705 "Add Capture and Upload Signature feature"
**Summary:**

There should be an option to capture the client's signature and upload the image of the signature.

**Expected behavior:**

On the Client Detail screen, there should be a "Upload Sign" option in the Menu which will open a new screen where the client can draw the signature and then can upload the signature.

[2017-06-28 18:02] therajanmaurya commented on #704
@AbhilashG97 Good to know, you are always welcome. send a PR 👍

[2017-06-29 11:42] therajanmaurya commented on #697
@mayank-kgp your approach looks good, Go ahead 👍.

@tarun0 Yes we will implement that you are talking, Let first @mayank-kgp implement the PIN feature then we will use this feature to authenticate others.

[2017-06-30 09:48] tarun0 commented on #694
@therajanmaurya Please review the PR #465 as it solves this (duplicate) issue.

[2017-07-03 15:19] therajanmaurya commented on #704
Hi @AbhilashG97. I am sending you a Mifos slack channel invite please accept and let's talk there.

[2017-07-03 16:09] tarun0 opened #710 "Implement Individual Collection Sheet feature"
**Summary:**

Implement Individual Collection Sheet feature

[2017-07-03 21:33] mayank-kgp opened #711 "Add offline support at center level"
**Summary:**

Add offline support at center level

[2017-07-04 14:02] tarun0 commented on #710
- The Collection Sheet screen first retrieves the Offices list using _/offices_ endpoint.
- On the basis of the selected office, the corresponding Staff list is retrieved from _/staff?officeId={officeId}&status=all_ endpoint.
- On clicking 'Fetch Collection Sheet', the 'Collection Sheet' object is retrieved with the 'Clients', 'Due Date' and 'PaymentTypeOptions' arrays.

I'm proposing the UI to be

[2017-07-06 17:41] #667 closed

[2017-07-10 12:54] tarun0 opened #714 "Mark untranslatable strings and add translation instructions (gif)"
**Summary:**

The app name should be marked `untranslatable`. Also, add gif explaining how the strings can be translated.

[2017-07-10 13:19] tarun0 commented on #703
I've added a Wiki page for Translations: https://github.com/openMF/android-client/wiki/Translation with detailed instruction and example.
@edcable Perhaps you may include it in the issue itself so as to make it convenient for the volunteers to find it.

[2017-07-12 06:20] mayank-kgp opened #716 "Add sync for centers"
**Summary:**

Add sync for centers

[2017-07-12 15:44] edcable commented on #711
@mayank-kgp I know that this is how it was currently in the app but can you fix the grammar on the successful completion message. It currently says "all centers have been sync".

It should read "all centers have been synced".

Thanks!

[2017-07-12 15:46] mayank-kgp commented on #711
@edcable Thanks for pointing out mistake.
I will do it.

[2017-07-12 17:38] edcable commented on #711
You can probably fix it in the other places too - groups and clients :)

[2017-07-12 17:50] tarun0 opened #718 "Enable multidex and upgrade Support Library Version"
**Summary:**

Enable multidex and upgrade Support Library Version to 25.

[2017-07-14 07:09] #705 closed

[2017-07-14 07:10] #718 closed

[2017-07-25 01:18] mayank-kgp opened #720 "Add sync for surveys"
**Summary:**

Add sync for surveys so that user can see surveys in offline mode.

[2017-07-28 12:54] #711 closed

[2017-07-28 19:45] datadve opened #725 "mifosxdroid unable to read Client Image"
After uploading image through Field agent mobile App, image updates on Server/Community App but wont display on mobile App when you refresh the client activity/account.

[2017-07-28 19:48] datadve opened #726 "Mifosxdroid unable to setup daily loan repayment schedule"
While setting up a loan, the Mobile App by default can only set loan repayment schedule to monthly or can be toggled to yearly, so one is unable to make repayment schedule daily except from the community App/server, where modify loan and change the term and repayment frequency to daily.

The mobile Apps needs to have the option of setting up loan for daily repayment.

[2017-08-01 07:24] tarun0 opened #729 "Add CollectionSheet features in the Android app"
**Summary:**

The Field officer should have an option to fill and save collectionsheets just like in the web-app.

[2017-08-01 11:23] tarun0 commented on #710
@therajanmaurya It has been implemented and the PR can be closed now.

[2017-08-01 11:23] #710 closed

[2017-08-01 11:24] tarun0 opened #731 "Add RunReports feature in the Android App"
**Summary:**

Add Run reports feature in the Android app similar to what has been implemented in the webapp.

**Mockups**

![pasted image at 2017_08_01 03_24 pm](https://user-images.githubusercontent.com/12914286/28823247-42bdaa0c-76da-11e7-82ec-86bee4ddabbd.png)

[2017-08-01 11:56] tarun0 opened #732 "App crashes sometimes on retrieving individual collectionsheet"
**Summary:**

App crashes sometimes on retrieving individual collectionsheet.

**Steps to reproduce:**

Open Individual CollectionSheet in from the Navigational Drawer. Select these values - Head Office, 21 July 2017 and Ch, Sagar and click on Generate.

**Expected behavior:**

App should have shown collectionsheet.

**Observed behavior:**

App crashes.

**Device and Android version:**

Android 4.

[2017-08-01 16:09] mayank-kgp opened #734 "App crashing on android N"
**Summary:**

App is crashing if we want to change photo of client

**Steps to reproduce:**

Go to client detail activity. Click on take new photo.

**Expected behavior:**

App should not have crashed.

**Observed behavior:**

App is crashing.

**Device and Android version:**

Moto G4 Android 7.0

**Screenshots:**

![crash](https://user-images.githubusercontent.com/11210887/28835079-de666e68-7701-

[2017-08-01 16:41] therajanmaurya commented on #734
Mayank, Please add Crash log in comment

On Tue, Aug 1, 2017 at 9:39 PM, MAYANK JINDAL <notifications@github.com>
wrote:

--
*Thanks*
*Namaste*

Rajan Maurya
Contact Number : +91 9015090523
Github: https://github.com/therajanmaurya
College: Cluster Innovation Centre, University of Delhi
Student : B.Tech. (Information Technology & Mathematical Innovations)

[2017-08-01 16:52] mayank-kgp commented on #734
@therajanmaurya added.

[2017-08-01 19:53] mayank-kgp opened #737 "Add notification support in app"
**Summary:**

Users would like to receive in-app notifications from staff/organization.

**Desired Behavior:**

The user can get a notification for any of the activity which is related to that user.
For example - If a new request for client creation comes and the user has permission to approve/deny that request, then the user should get a notification so that he/she can approve or deny that reques

[2017-08-01 21:49] therajanmaurya commented on #726
@datadve thanks for reporting, I went through the [code](https://github.com/openMF/android-client/blob/master/mifosng-android/src/main/java/com/mifos/mifosxdroid/online/loanaccount/LoanAccountFragment.java#L276) and found that we are adding the default value of [InterestRateFrequencyType](https://github.com/openMF/android-client/blob/master/mifosng-android/src/main/java/com/mifos/mifosxdroid/onlin

[2017-08-01 21:54] therajanmaurya commented on #737
@mayank-kgp This issue is not fully described. Please add more info and If you are talking about the Notification framework then Please start discussion on Slack #notification channel and Adhyan will help you.

[2017-08-02 11:59] #734 closed

[2017-08-02 18:35] #726 closed

[2017-08-03 09:55] datadve commented on #726
Thanks @therajanmaurya

[2017-08-03 09:57] datadve opened #739 "Client Profile Pictures not showing on Android App"
@therajanmaurya

The Client profile Pictures aren't showing on Android App after upload, though it updates on the Community web App.

[2017-08-05 10:41] mayank-kgp opened #740 "Add offline search feature"
**Summary:**
Android-client should have an offline search feature so that user can search clients, groups, center, loan accounts and saving accounts in offline mode.

[2017-08-08 04:10] mayank-kgp opened #744 "Issue in Client Sync"
**Summary:**

Some of the clients are not syncing successfully when trying to sync clients.

**Steps to reproduce:**

Go to client list activity. Long press on client Bretter Koki and sync.

**Expected behavior:**

Client should be synced successfully.

**Observed behavior:**

Client is not syncing.

**Screenshot:**

![gif_20170808_093034](https://user-images.githubusercontent.com/11210887/2905714

[2017-08-08 10:37] mmyint2 opened #745 "Group Name"
When creating Groups through the app, it says the Group name should only be alphabets. Group name should be allowed to include numbers.

[2017-08-08 10:38] mmyint2 opened #746 "Client name character limit"
The First Name and Last Name fields for client creation require a minimum of 4 characters. This is a problem as clients may have a first or last name that is only 3 characters or less.

[2017-08-08 10:49] mmyint2 opened #747 "Failed to fetch Loan template"
**Summary:**

'Failed to fetch Loan template' error shows when creating Loan application with Loan product 'test21'. I am able to create a loan with it in the web browser.

**Steps to reproduce:**

Create loan application with loan product 'test21'.

**Observed behavior:**

'Failed to load Loan template' error when product is selected.

**Device and Android version:**

Momo tablet, Android 4.4.2

[2017-08-08 18:53] edcable commented on #739
@therajanmaurya do we have any updates on this? @tarun0 Could you look into fixing this issue for David? He's been awaiting a fix on it.

[2017-08-08 19:54] mayank-kgp commented on #739
@edcable I think this is the same issue as #725 .
I have resolved it in #735 .
Please have a look at GIF after resolving it.
https://github.com/openMF/android-client/pull/735#issuecomment-319422008

[2017-08-08 20:06] therajanmaurya commented on #739
I was thought @mayank-kgp fixed worked, Let me an hour I am working on it.

[2017-08-08 20:08] mayank-kgp commented on #739
@therajanmaurya I have checked again, it is working fine. Please let me know if you feel that we should change something else.

[2017-08-08 20:12] therajanmaurya opened #748 "Materialise Login feature"
**Summary:**

![image](https://user-images.githubusercontent.com/5724482/29092363-b85a4940-7ca3-11e7-9a7a-999937605b28.png)

Current, feature does not give us the proper material look. Here is the new series of material mock up. It's the first step, Let implement I will make others too and will get the feedback from the community after this.

[2017-08-08 20:35] therajanmaurya commented on #739
@datadve I think, the code you are using, It does not contain the PR in which this has been fixed. Please the PULL the code again and run. It's working fine now.

One thing can bother you that whenever you update the image in client details section and come back to client list again. It will not show, till that you will not refresh the list again.

I am making the fix for that now and let you know

[2017-08-08 21:02] therajanmaurya commented on #739
@datadve @edcable It's solved, I am sending the PR and will merge. Now as you will update the client image in details activity and will come back to client list. It will automatically update.

Thanks again @datadve for reporting the issue.

[2017-08-08 21:22] therajanmaurya commented on #739
Fixed in #749

[2017-08-08 21:22] #739 closed

[2017-08-09 03:44] mmyint2 opened #751 "Add JLG loan creation"
**Summary:**

I would like to create JLG loans for Groups. Currently app only allows for Group Loan.

**Expected behavior:**

Should be able to create JLG and Bulk JLG creation for Groups and Group members. Should allow different loan amounts for Group members and select which Group members will take the loan.

[2017-08-09 18:34] mayank-kgp opened #752 "Center details not visible when Internet connection is off"
**Summary:**

Complete details of centers which are synced with database is not shown when Internet connection is off.

**Steps to reproduce:**

Go to Center List Activity and sync some centers. After that enable offline mode and disable internet connection. Then refresh list and click on any item.

**Expected behavior:**

Details should be shown.

**Observed behavior:**

Details are not shown and

[2017-08-10 13:58] mayank-kgp opened #754 "Issue in Group Sync"
**Summary:**

Some of the groups are not syncing successfully when trying to sync groups.

**Steps to reproduce:**

Go to group list activity. Select 15-20 groups and sync.

**Expected behavior:**

Groups should be synced successfully.

**Observed behavior:**

Some of the groups are not syncing.

[2017-08-11 06:57] tarun0 opened #758 "Remove redundant GET calls to reduce internet usage"
**Summary:**

According to the current implementation, whenever any entity is added or removed, a GET request is made to the server to fetch the updated list. It can be avoided.

**Steps to reproduce:**

Open any screen which deals with adding/removing any item. Add/remove the item. You'll observe network usage to fetch the updates list.

[2017-08-11 07:21] datadve commented on #725
@therajanmaurya    Issue still not resolved. It works well using demo.openmf.org but doesn't work when I use my installed aws instance  IP. Any reasons for this? does it need to be mapped to a domain to work well?

[2017-08-12 08:30] mayank-kgp commented on #737
@therajanmaurya Updated.

[2017-08-13 08:52] nikit19 opened #760 "No option to toggle password visibility"
**Summary:**

There should be a show password icon in the password EditText.

**Steps to reproduce:**

Just open the app.You will see the login screen.

**Expected behavior:**

I expected a show password icon in the password EditText to toggle password visibility.

**Observed behavior:**

There is no show password icon in the login activity

**Device and Android version:**

This problem was encoun

[2017-08-13 09:55] therajanmaurya commented on #760
Hi @nikit19, Welcome to the community. Thanks for reporting the issue. If you wanna fix the issue go ahead, we are no longer supporting this layout and want to change the whole layout, check out this issue #748.

Feel free to send PR 🙂

[2017-08-13 14:59] nikit19 commented on #760
Hi @therajanmaurya ,I hope my PR fixes issue #748 and this one.
Thank you.

[2017-08-14 14:31] #697 closed

[2017-08-14 14:54] mayank-kgp commented on #686
@therajanmaurya @tarun0 @ajinkyagadewar It is working fine.

[2017-08-15 11:53] droidchef commented on #746
This line needs a change

https://github.com/openMF/android-client/blob/master/mifosng-android/src/main/java/com/mifos/mifosxdroid/online/createnewclient/CreateNewClientFragment.java#L409

[2017-08-15 11:56] droidchef commented on #745
Change the Regex here to also have numbers.

https://github.com/openMF/android-client/blob/master/mifosng-android/src/main/java/com/mifos/utils/ValidationUtil.java#L98

[2017-08-15 12:47] therajanmaurya commented on #748
Fix in #761

[2017-08-15 12:47] #748 closed

[2017-08-15 14:06] #754 closed

[2017-08-15 15:05] mayank-kgp commented on #746
@droidchef As per comment of @mmyint2 we should allow the name which is less than 3 characters too. So I removed the length validation.

[2017-08-15 15:51] therajanmaurya commented on #746
I agree with @droidchef <https://github.com/droidchef> first name less than
3 characters doesn't make sense and we should have validation. I checked
the backend code, they mentioned the upper limit but not lower limit.
I will check with @mmyint2 <https://github.com/mmyint2>.

On Tue, Aug 15, 2017 at 8:35 PM, MAYANK JINDAL <notifications@github.com>
wrote:

--
*Thanks*
*Namaste*

Rajan Maurya
Conta

[2017-08-15 16:25] droidchef commented on #746
Well atleast there should be 1 character, this is what I meant when I said don't remove the validation. Atleast tell the user the name cannot be empyu.

[2017-08-15 16:46] #760 closed

[2017-08-15 18:04] mayank-kgp commented on #746
@droidchef @therajanmaurya I think [this](https://github.com/openMF/android-client/pull/763/files#diff-aa0dd3bdc93c47c5e8e4cfb4066d4d90R404) line is taking care of the condition of having at least 1 character.

[2017-08-16 09:38] tarun0 commented on #751
@edcable @therajanmaurya Is there some restriction/guideline regarding the number of fields which have to be shown in the app?

[2017-08-16 14:56] mayank-kgp commented on #598
@therajanmaurya @AbhilashG97 It is working fine on my phone. Can you please check again?

[2017-08-17 03:40] mayank-kgp commented on #698
Done

[2017-08-17 03:40] #698 closed

[2017-08-17 03:59] mayank-kgp commented on #654
@therajanmaurya @tarun0 @puneetkohli521 I don't think that there is any problem if snack bar is shown inside the dialogue.
What do you say?

[2017-08-17 04:01] mayank-kgp commented on #652
@therajanmaurya @puneetkohli521 @tarun0 What should be the correct title?

[2017-08-17 04:02] mayank-kgp commented on #651
@Ippezrobert Can you please write more details about this?
Pinged @therajanmaurya @puneetkohli521

[2017-08-17 04:03] mayank-kgp commented on #650
@therajanmaurya Can you please close this issue?
It is working fine.

[2017-08-17 04:12] tarun0 commented on #652
In my opinion, it can be something like `Client <LastName> - Surveys`.

[2017-08-17 04:29] Ippezrobert commented on #651
@mayank-kgp , This is like the normal process of opening savings account for clients in the community-app. We should also be able to open share accounts from list of share products available.
https://demo.openmf.org/api-docs/apiLive.htm#shareaccount_create

[2017-08-17 06:48] mayank-kgp opened #768 "Issues in client identifiers"
**Summary:**

There are 3 issues in client identifiers which need to be resolved.
1. This is already reported. Please see #648
2. If there is only one item in identifier list, then it is visible even after removing it. Please see the GIF -
![issue2](https://user-images.githubusercontent.com/11210887/29399144-a83bb15e-8345-11e7-957e-583d15f3c249.gif)

3. If there is no item in identifier list, then

[2017-08-17 07:22] tarun0 commented on #768
#743 Addresses this too. :)

[2017-08-17 07:41] dilpreet2028 opened #770 "Sync status in Client list"
**Current behaviour**
Currently client list shows a double tick if it is synced.

**What could be shown**
We can set three states for a sync which can be like
- Up to date (for which we can show a double tick as shown now)
- Needs to be updated (for which we can show a sync image <img src= "https://user-images.githubusercontent.com/12071739/29400991-0244f0d2-834d-11e7-8a29-f747350502f8.png" width

[2017-08-17 16:24] mayank-kgp commented on #651
@therajanmaurya Can I start implementing share account?

[2017-08-18 05:43] AbhilashG97 commented on #598
@mayank-kgp, the issue was resolved in [#600](https://github.com/openMF/android-client/pull/600).

[2017-08-18 05:43] #598 closed

[2017-08-18 07:22] #720 closed

[2017-08-18 11:42] #729 closed

[2017-08-22 20:22] #744 closed

[2017-08-22 20:43] #768 closed

[2017-08-22 20:43] therajanmaurya commented on #648
fix in #769

[2017-08-22 20:43] #648 closed

[2017-08-23 04:30] mayank-kgp commented on #746
@therajanmaurya How many characters should be there?

[2017-08-24 07:29] mayank-kgp opened #772 "Error in loan creation after changing dates"
**Summary:**

If we are changing dates before submission of loan then loan is not submitted and it shows an error.

**Steps to reproduce:**

Go to client detail activity and click on "Add Loan Account".
Change any of dates and click on submit.

**Expected behavior:**

The loan should have been submitted successfully.

**Observed behavior:**

The loan is not submitted successfully. Please see the G

[2017-08-24 11:22] Ippezrobert opened #774 "Client Name is displayed as null if Client Type is "ENTITY""
![image](https://user-images.githubusercontent.com/13125234/29664391-14f0deb8-88d8-11e7-8a29-c26c7aca1cbe.png)

[2017-08-31 06:19] tarun0 commented on #751
Hey, @mmyint2 , @edcable I've implemented the UI of the JLG groups so far. The core implementation of the ability to send the payload to submit the sheet is yet to be added, though. Below is the current UI/implementation.

![jlg](https://user-images.githubusercontent.com/12914286/29909187-57ee337c-8e42-11e7-9aee-e3a2f31198bc.gif)

[2017-08-31 06:24] therajanmaurya commented on #746
Fix in #763

[2017-08-31 06:24] #746 closed

[2017-09-11 11:26] tschipunza opened #775 "Collection Report"
Is it possible to create a collection report in App so that a loan officer can track payments he has made

[2017-09-17 01:23] fboniphace opened #776 "Clients profile picture"
On Android client application once you have  taken a photo/upload to a client profile  using a phone and then go back on the client listing the photo doesn't show up.
Also when the picture is taken it appears sideways while you phone is upright when shooting the photo.

[2017-09-17 01:40] fboniphace commented on #776
Also I'm requesting a feature that allows to view a client signature and profile picture

[2017-09-28 08:33] luckyman000786 commented on #703
I would like to claim this issue and work on this through GCI. By the Way, I am already a technical volunteer with Mifos (My Name is Chirag Gupta).

[2017-09-28 09:05] fboniphace opened #777 "No status Indicator for Group and Client Listing"
Hello Devs.
I've noticed in the App there is no status Indicator for Group and Client Listing showing their status like Active/Pending or Closed like on Centres listing.
Thanks

[2017-09-28 09:31] fboniphace opened #778 "Requesting for Scrolling Bar on Client/Group/Centers Listing"
Also There is a need to implement a Scrolling Bar on Client/Group/Centers Listing so as to show the approximate the position and length of the listing, So this can can positively impact the Navigation through the Listing.
Thanks

[2017-09-28 09:50] fboniphace opened #779 "Adding Client In a group Issue"
Hello Devs.
There is an Issue I noticed When you Create a client in  group using the App, The created client appears not to be belonging to any group ie, The App has no ability to manage client creation in a group.

Also I request a feature to manage(ie, add already created clients) clients to a group and Manage(ie, add already created groups) groups in Centers.
Thanks

[2017-09-28 10:10] fboniphace opened #780 "Requesting preview functionality for uploaded ploaded documents"
Hello There,
Also I'm requesting for the feature to preview any uploaded document before downloading, this option is very important in Mobile devices.
Provided the fact that Memory is scarce in these devices.
Thanks.

[2017-10-03 09:40] luckyman000786 commented on #778
@edcable @therajanmaurya Can I work on this issue ?

[2017-10-03 09:57] therajanmaurya commented on #778
@fboniphace @luckyman000786 issue description is sufficient to know what you want to do. Please expand.

[2017-10-12 13:39] luckyman000786 commented on #777
@naman14 @therajanmaurya  Can I work on this issue ?

[2017-11-12 18:28] bensoft2k5 commented on #778
@luckyman000786 did you create a pull request for this?

[2017-11-13 04:46] luckyman000786 commented on #778
@therajanmaurya According to me, this description is sufficient me to understand. It simply says that Clients/Groups/Centers Listing should have scrollbar so the user has an idea how big is the list and where the user is currently located in the list

@bensoft2k5 No, I haven't created a pull request for this issue as this issue is not assigned to me yet. Although I have made the solution in my loc

[2017-12-09 13:35] Daniel-Genkin opened #783 "GCI TASK: Translation into French (fr)"
Hello,

I have translated the app to French (fr)

[values-fr-DanielGenkin.zip](https://github.com/openMF/android-client/files/1544706/values-fr-DanielGenkin.zip)

[2017-12-10 01:47] dr0pdb opened #785 "Add option to sort the Clients in the Client List"
**Summary:**

Add options to sort the Clients in the Client List

**Steps to reproduce:**

Open the ```ClientListActivity```

**Expected behavior:**

There should be an option to sort the clients on the basis of alphabetical order.

**Observed behavior:**

Currently there is no option to sort the clients.

**Device and Android version:**

All

**Screenshots:**

![screenshot_2017-12-10-07-09-11-06]

[2017-12-12 08:37] srv-twry commented on #785
@therajanmaurya @AbhilashG97 @droidchef Can i work on it ?

[2017-12-17 05:08] srv-twry commented on #785
@edcable @AbhilashG97 @therajanmaurya @droidchef Can i work on this ?

[2017-12-17 05:09] srv-twry commented on #774
@edcable Can i work on it if it's available ?

[2017-12-17 05:24] tarun0 commented on #785
@srv-twry Please describe your approach in an abstract way, e.g. how will you handle pagination - here in comments (preferably) or on Gitter and get feedback on it. Once you are given green flag, you can start implementing.

In my opinion, it won't add much value because the officer usually has to work for some particular client/group/center and he can search for them by name. @edcable  @therajanm

[2017-12-17 05:32] srv-twry commented on #704
@AbhilashG97 Are you still working on it ? I would like to take it if it's available

[2017-12-19 16:00] AbhilashG97 commented on #704
Hello @srv-twry,

I have already sent a [pull request](https://github.com/openMF/android-client/pull/708) for the same. : )
The pull request currently has a few conflicts, which I'll resolve soon.

[2017-12-24 17:28] AkshGautam opened #787 "Log out button not working"
**Summary:**
Log out button not working as expected
**Steps to reproduce:**
Click the log out button from the options menu.
**Expected behavior:**

App should log out.

**Observed behavior:**

App not logging out,same screen reappears after entering password.

**Video Link**

[video](https://drive.google.com/file/d/1stqY66hnuECYqA4yxS-ha9XUeWGq1HZP/view?usp=sharing)

If someone else could acknowle

[2017-12-24 17:31] AkshGautam commented on #787
@therajanmaurya @edcable @dilpreet96  can someone acknowledge about the same behaviour?

[2017-12-26 09:08] AkshGautam opened #788 "Pressing Physical Back Button from Centers,Clients etc Activity prompts the user to exit directly."
**Summary:**

Pressing Physical Back Button is prompting the user to exit the app directly.No back button on bar to go back to previous activity.

**Steps to reproduce:**

1) Run the android client app
2) Select  Clients, Groups etc option from the side menu bar.
3) Press the physical back button.

**Expected behavior:**

The expected behavior should be to redirect the user to the main/previous ac

[2017-12-26 09:09] AkshGautam commented on #788
@edcable @therajanmaurya @dilpreet96 can i work on this?

[2017-12-26 09:43] tarun0 commented on #787
It seems that the user can still log in using the Passcode even after clicking Logout button. A better flow would be to make it mandatory for the user to log in using password after clicking on the 'Logout' from the options menu.

@AkshGautam You may work on it.

[2017-12-26 10:02] tarun0 commented on #788
I won't consider it as a bug. However, your proposition may add to the user experience. I'd wait for others opinions before reaching any conclusion.

[2017-12-26 10:06] AkshGautam commented on #788
@tarun0 according to me the user should only be prompted to exit the app by the double touch of the back button(physical) if he is on the home screen itself. Moreover the absence of a back button (<-) on the top nav bar makes it impossible to go back to the previous activity which is a glitch in User experience. You may discuss it with others as well :+1:

[2017-12-29 11:51] AkshGautam commented on #787
@tarun0 this task is done. I have made the required changes, User now has to enter 4 pin passcode confirming to logout, upon logout he is redirected to the login page for new session.Should I make a PR or anything else need to be done?

[2017-12-29 11:54] AkshGautam opened #789 "Updating Password feature absent"
**Summary:**

No option is provided to used to update/change the 4 digit password

**Expected behavior:**

User should have the option to update/change his 4 digit password.

**Observed behavior:**

No such feature present

I would like to work on this feature.

[2017-12-29 11:55] AkshGautam commented on #789
@tarun0 @edcable @therajanmaurya can i take up this task?

[2017-12-29 12:12] tarun0 commented on #787
Why is the user required to provide the PIN to Logout?

Yes, you should send PR when you feel you have fixed the issue. Also, add a GIF to show the changes so that it may be easier for the reviewers to have the glimpse of the fix.

You'll be given feedback on the PR itself.

[2017-12-29 13:49] AkshGautam commented on #787
@tarun0 That's what i thought there is no need of PIN to logout but prior to working on the logout button the application asked PIN during logout. I was not sure whether to remove that or not.If you feel having asking PIN is not necessary,i would make changes. Please confirm should i remove the PIN before logout option or not? Thanks

[2017-12-29 15:30] tarun0 commented on #787
What you perceived as a feature is actually a bug. It most probably is the reason why the bug arose; i.e. when one logs out, the home activity is finished which leads to popping the most recent activity (the passcode activity) from the backstack.

You have to make sure that the Passcode Activity doesn't exist in backstack once it opens the Home screen (Dashboard activity) and that the passcode is

[2017-12-30 08:44] AkshGautam commented on #787
@tarun0 This is the [https://drive.google.com/file/d/1ERdPi-Q11OcErnnep5SHycU1wHuUB2p3/view?usp=sharing](GIF) to the app after making changes.I will make a PR now.

[2018-01-04 06:23] tarun0 commented on #789
It seems a worthy addition. The option can be added to `Settings` activity to change the passcode.

Can you share your approach to doing it? In my opinion, the user should be re-authenticated by confirming the password prior to changing the passcode.

@therajanmaurya @droidchef What's your take on this?

[2018-01-04 14:21] AkshGautam commented on #789
@tarun0 The approach would be to ask the user to enter the existing password and checking if it matches with the stored passcode,If it does We would enable the user to set the new passcode. this would be the explanation of how the flow will work.Should i provide a detailed pseudo code of it?

[2018-01-06 08:25] AkshGautam commented on #789
@tarun0 First of all we could create a new class which subclasses the fragment class(List fragment) in this case would work.The we could create an item called "update password". When the user click the option,the passcode activity would render and if the current passcode is correctly entered the passcode status would be set to false and an intent could be sent to the passcode activity which would

[2018-01-17 14:44] AkshGautam commented on #787
PR #790

[2018-01-17 14:51] #787 closed

[2018-01-17 18:44] himanshu112 opened #791 "invalid toast message in GenerateCollectionSheet"
**Summary:**

**Steps to reproduce:**
1.Go to collection sheet from navigation menu.
2. Select office from dropdown menu.
3. Select Center.

**Expected behavior:**

Toast message displayed "Please select a Group"

**Observed behavior:**

a toast message containing no message

**Device and Android version:**

Redmi 3S
MIUI Version 8.5.4.0
**Screenshots:**

![screenshot_2018-01-17-23-53-37-037_com m

[2018-01-17 19:29] miPlodder opened #792 "Adding check for DOB while creating new Client"
**Steps to reproduce:**

1. Swipe right to open Navigation Drawer
2. Click on Clients
3. Click on '+'
4. Now, we can fill the form with today's Date as **DOB.**

**Expected behavior:**

Prevent addition of new Client and show a message that '_**Client should be atleast 18 years to apply for loan**_' when Submit Button is pressed.

**Observed behavior:**

Adds the new Client to Database.

**Device

[2018-01-17 20:17] sashank27 commented on #792
@tarun0 @therajanmaurya may I work on the issue?

[2018-01-18 04:46] AkshGautam commented on #789
@therajanmaurya what do you think about this feature? I have the code ready for this.

[2018-01-18 05:28] AkshGautam opened #793 "Empty signature is getting uploaded"
**Summary:**

Empty signature is being uploaded and the toast is presented for signature uploaded successfully

**Steps to reproduce:**

1)Run the app
2)Select clients from side bar
3)Select any client
4)Select upload signature from menu bar

**Expected behavior:**

On clicking the upload icon without signature,the toast should say "No signature" and the upload should not be made.

**Observed beha

[2018-01-18 05:29] AkshGautam commented on #793
@therajanmaurya I would like to take up this in the meantime.

[2018-01-18 05:47] tarun0 commented on #793
@AkshGautam Go ahead. I too tested it and it's indeed getting uploaded. Checked that in the 'documents' screen of that particular client.

[2018-01-18 09:59] tarun0 commented on #792
While submitting the current date is certainly incorrect, can you please mention the source where you found the 18 years age limit?

[2018-01-18 11:18] miPlodder commented on #792
I don't have any source for 18 years age limit, but 18 years is age for mature bank account in many countries and without bank account we cannot provide loan.

We can even use any age restriction @tarun0 @therajanmaurya .

[2018-01-18 12:11] himanshu112 commented on #791
@therajanmaurya  @tarun0 can I take up the issue?

[2018-01-18 13:51] prem0862 opened #795 "The keyboard should disappear on clicking the login button"
**Summary:**

The keyboard should disappear after hitting the login button.

**Steps to reproduce:**

1) Run the app
2) Type credential (other than correct one) in provided space
3) Click on login button ( users can't see any response given by application)
4) Press the back button
5) will see a message given by application (at the bottom)

**Expected behavior:**

Whenever user should click on logi

[2018-01-18 13:54] Prem0707 commented on #795
@therajanmaurya I would like to work on this issue. Should I go ahead? Thanks

[2018-01-18 14:37] therajanmaurya commented on #795
Yeah go ahead.

[2018-01-18 19:53] therajanmaurya commented on #792
No this is the wrong assumption, Anybuddy can have a bank account and It's totally independent to DOB.

I am closing this issue, I don't think we need any further discussion. @miPlodder Thanks for raising the question.

[2018-01-18 19:53] #792 closed

[2018-01-18 20:09] sashank27 commented on #777
@fboniphace @edcable could you please elaborate more on the issue?

[2018-01-18 20:18] sashank27 commented on #560
@therajanmaurya @tarun0 I have also observed similar behavior. May I work on this issue?

[2018-01-18 20:55] therajanmaurya commented on #560
yeah sure send a PR.

[2018-01-18 23:40] Prem0707 commented on #774
@therajanmaurya I would like to work on this issue. It would be great if you can assign it to me. Thanks :)

[2018-01-18 23:47] Prem0707 commented on #652
@therajanmaurya Is it necessary to correct this one as suggested by @tarun0 ? If yes, can i work on this?

[2018-01-19 04:33] therajanmaurya commented on #774
@Prem0707 Yeah sure go ahead and send PR.

[2018-01-19 07:38] Prem0707 commented on #795
#797     @therajanmaurya Please review my PR and suggest necessary changes if required. Thanks

[2018-01-19 12:00] himanshu112 opened #798 "Center is not getting activated"
**Summary:**
When you try to activate the inactive center, you will get a toast message saying "Client activated Successfully" and then you will also be displayed "Center inactive" as toast message.

**Steps to reproduce:**
1. Click on center from the navigation drawer.
2. Select an inactive center (marked as red).
3. Click on activate center.
4. Choose a date and click activate.

**Expected behav

[2018-01-19 15:24] himanshu112 opened #799 "Adding new notes to client"
**Summary:**

Able to view notes that are already added to the client but unable to add new notes.

**Steps to reproduce:**

1. Click client from navigation.
2. Select a client.
3. From the menu option select notes.

**Expected behavior:**

Option to add new notes.

Can I work on this?

[2018-01-19 17:39] AkshGautam opened #800 "Inconsistent Fragment Behaviour"
**Summary:**

The Fragment transaction is inconsistent

**Steps to reproduce:**

1)Run the app
2)Select Clients from side menu
3)Select a client
4)Select Documents from menu bar.
5)Upload a document

**Expected behavior:**

The screen which says "there is no document to show" should dissapear after uploading the document

**Observed behavior:**

The screen stays even after document upload until pr

[2018-01-19 17:40] AkshGautam commented on #800
@therajanmaurya may i work on this?

[2018-01-19 19:07] AkshGautam opened #801 "Datatable entry not getting created"
**Summary:**

Datatables not getting created after filling out the details

**Steps to reproduce:**

1)Run the app
2)Select Clients from side menu
3)Select a Client
4)Choose More Client info from navbar menu
5)Create a datatable entry

**Expected behavior:**

The datatable entry should get created.

**Observed behavior:**

The Datatable entry is not getting created after filling out and submitting

[2018-01-19 19:08] AkshGautam commented on #801
@therajanmaurya Interested to see what's wrong in this, May i work on this as well?

[2018-01-20 16:33] AbhilashG97 opened #802 "App crashes when the screen is tilted to landscape mode"
**Summary:**

App crashes when the screen is tilted to landscape in Individual Collection Sheet

**Steps to reproduce:**

1. Open the app
1. Tap on the hamburger menu and select ```Individual Collection Sheet```
1. Tilt the screen to landscape mode

**Expected behavior:**

The app shouldn't crash.

**Observed behavior:**

The app crashes when the screen is tilted to landscape mode.

**Device and A

[2018-01-20 16:33] AbhilashG97 commented on #802
I would like to work on this issue.

[2018-01-21 13:15] sashank27 opened #804 "Wrong Fragment selection in Navigation Pane"
**Summary:**

The selection in Navigation pane remains as such if we select an option which creats a new activity(such as Settings, Path Tracker,or Collection Sheet), and the navigate back using back button.

**Steps to reproduce:**

1. Open Settings, Path Tracker or Collection Sheet from navigation pane.
2. Press back button.

**Expected behavior:**

The selection in navigation pane should be acc

[2018-01-21 13:16] sashank27 commented on #804
@therajanmaurya @tarun0 may I work on the issue?

[2018-01-21 16:51] AkshGautam opened #805 "Removing already empty profile picture"
**Summary:**

Removing a profile picture which does not exist.

**Steps to reproduce:**

1)Run the app
2)Select a client from client activity
3)Click on profile picture

**Expected behavior:**

The option to remove profile picture should be present only when profile picture exists.

**Observed behavior:**

The option to remove profile picture even with no profile picture.

**Device and Android ver

[2018-01-21 16:51] AkshGautam commented on #805
@therajanmaurya may i work on this?

[2018-01-23 06:32] AkshGautam opened #808 "Invalid Toast Message"
**Summary:**

The toast message on failing to create a group present back trace as toast message.

**Steps to reproduce:**

1)Run the app
2)Select groups from side menu
3)Create new group

**Expected behavior:**

The application should present a valid toast in case group creation fails.

**Observed behavior:**

An Invalid toast message containing back trace is presented

**Device and Android versi

[2018-01-23 06:33] AkshGautam commented on #808
@therajanmaurya  I would like to take up this task

[2018-01-23 15:22] dabbler011 commented on #475
@therajanmaurya @edcable in the present PR data is rest to 0. However there should be no data in the display and only the error message. Shall I work on the same and open PR?

[2018-01-23 18:09] AkshGautam opened #810 "Invalid Toast Message on Activating group/client/center"
**Summary:**

Invalid Toast message of "Client Created successfully" is presented on group activation

**Steps to reproduce:**

1)Run the app
2)Activate inactive group

**Expected behavior:**

The Toast message should be "Group created succesfully"

**Observed behavior:**

Invalid toast message

**Device and Android version:**

Android Version 5.0.2,API 21

**Screenshots:**

![20180123_233110](htt

[2018-01-23 18:09] AkshGautam commented on #810
@therajanmaurya  Sending a PR.

[2018-01-23 21:55] DAHerrera opened #811 "Add the Group Name to the Client Identifying info"
**Summary:**
We are not able to see what group a client belongs to in the client Identifying info.
It is the same with the Group and the Center.

**Expected Behaviour:**
It is important to show up the Group Name, and have a direct access to the Group

**ScreenShot:**
![image](https://user-images.githubusercontent.com/18356254/35302561-89f6fbcc-0054-11e8-98b6-ec93972f5d1d.png)

[2018-01-24 09:00] miPlodder opened #813 "Adding Group in Offline Mode shows Process Bar on submit"
**Summary:**

Adding Group in Offline Mode shows Process Bar on submit.

**Steps to reproduce:**

1) Go to Groups from Navigation Drawer.
2) Add Group.
3) Fill information and Submit.

**Expected behavior:**

Group Activity will should be shown.

**Observed behavior:**

Instead, Progress Bar keeps on rotating.

**Device and Android version:**

Android 6.0.1 Marshmallow, API 23

**Screenshots:**

!

[2018-01-24 09:01] miPlodder commented on #813
Can I work on this issue ?
@therajanmaurya

[2018-01-24 20:39] sashank27 commented on #788
@AkshGautam #560 addresses the same issue, for which I have sent a PR . It would be better to close this issue.

[2018-01-25 04:54] Tilak-Shenoy commented on #813
Hi I would like to work on this. May I know is there any pre-requisite before starting with the project?

[2018-01-25 10:49] AkshGautam opened #814 "Unsorted Drop Downs across activities"
**Summary:**

The fields in drop downs across all activities are unsorted.In case the drop down contains a large number of entries,the search may become cumbersome.

**Steps to reproduce:**

For instance
1) Run the app
2) Create Center
3) Select office drop down

**Expected behavior:**

Lexicographically sorted entries for easier lookup.

**Observed behavior:**

Unsorted entries make search diffic

[2018-01-25 10:49] AkshGautam commented on #814
@therajanmaurya may i work on this?

[2018-01-26 05:53] dabbler011 commented on #811
@therajanmaurya I would like to work on this issue. Can you please assign this to me?

[2018-01-27 17:49] alexanderon commented on #776
@edcable, I would like to work on this task.

[2018-01-29 16:23] AkshGautam commented on #780
@therajanmaurya @tarun0 May I work on this? it seems like a good addition since the field officer would have to download a document in order to see each document which is a waste of memory.

[2018-01-29 17:29] AkshGautam opened #816 "Empty snackbar message in Collection sheet."
**Summary:**

Empty snack bar message in Collection sheet with No internet connection.

**Steps to reproduce:**

1)Run the app
2)Select Collection Sheet from side menu

**Expected behavior:**

A snackbar message which shows "failed to fetch office" since internet connection is not available.

**Observed behavior:**

Empty snackbar

**Device and Android version:**

Android 5.0.2,API 21

**Screensho

[2018-01-29 17:29] AkshGautam commented on #816
@therajanmaurya  @tarun0  may i work on this?

[2018-01-30 19:44] apoorvinfo commented on #814
@tarun0 @therajanmaurya may I work on this?

[2018-01-30 19:44] apoorvinfo commented on #813
@tarun0 @therajanmaurya Can I work on this issue?

[2018-01-30 19:46] apoorvinfo commented on #811
@tarun0 @therajanmaurya Can I work on this issue?

[2018-01-30 19:47] apoorvinfo commented on #808
@therajanmaurya  can I help out with the issue>

[2018-01-30 19:52] apoorvinfo commented on #703
Can I work for Hindi and Bengali translation support for the app? @edcable @therajanmaurya @tarun0

[2018-01-31 04:15] AkshGautam commented on #814
@apoorvinfo  I have already solved this on my machine. Please ask the person before working on it. I was waiting for the acknowledgment from the repo owners

[2018-01-31 04:15] AkshGautam commented on #808
@apoorvinfo  I have already worked on it.

[2018-01-31 09:16] apoorvinfo opened #819 "Groups are not in sorted way"
Summary:

The groups in group section  from the navigation bar are unsorted manner which makes it complex to search through the particular group during online mode.

Steps to reproduce:

For instance

Run the app
Open Navigation Bar
Select Groups
Expected behavior:

Lexicographically sorted entries for easier lookup.

Observed behavior:

Unsorted entries make search difficult.

Device and Android

[2018-01-31 09:17] apoorvinfo commented on #819
@tarun0 @therajanmaurya I want to work in this issue!

[2018-01-31 10:03] apoorvinfo commented on #776
@fboniphace , I would like to work on this feature.

[2018-01-31 10:06] apoorvinfo commented on #777
@fboniphace  Can you tell me on which basis we will decide about the status of groups and clients?

[2018-02-01 04:42] #577 closed

[2018-02-01 05:00] AbhilashG97 opened #822 "Adding Fingerprint Authentication feature"
**Summary:**

Currently, the app uses a PIN authentication to prevent unauthorized use of the app. Fingerprint authentication can also be added along with the PIN authentication to make the app more user friendly and secure.

**Steps to reproduce:**

1. Open the app
1. No Fingerprint Authentication is present

**Expected behavior:**

Fingerprint authentication could be added along with PIN authent

[2018-02-01 05:00] AbhilashG97 commented on #822
May I work on this issue ?

[2018-02-03 08:39] AkshGautam commented on #774
@Prem0707 are you still working on it?

[2018-02-03 08:41] Prem0707 commented on #774
Yes,I am. I am little stuck with code base.

On Feb 3, 2018 2:09 PM, "Aksh Gautam" <notifications@github.com> wrote:

[2018-02-03 09:04] AkshGautam commented on #791
@himanshu112 are you still working on this?

[2018-02-03 09:44] AkshGautam opened #823 "Improper Resources inflation in Create Client activity"
**Summary:**

The spinners for creating new client activity are not working properly.

**Steps to reproduce:**

1)Run the app
2)Create Client

**Expected behavior:**

The application should inflate all the resources in user friendly and correct way.

**Observed behavior:**

The gender spinner,Client,Client Classification was not inflated for a long time and then it abruptly got inflated.

**Device

[2018-02-03 09:44] AkshGautam commented on #823
@therajanmaurya @tarun0  I am working on this.

[2018-02-03 12:49] apoorvinfo opened #824 "Moving Back to Search Activity on Pressing Back Button Once"
![20180203_175510](https://user-images.githubusercontent.com/21074243/35767240-aaa5b03a-090e-11e8-974e-06a243e6d979.gif)

**Summary:**

Showing "Back to Exit" Toast Message on Single click in any Fragment and On Double Click The application is Closed.

**Steps to reproduce:**

1.Click any option on the Menu Or In Navigation Bar
2.Press back button (shows Toast)
3.Double Press Back Button (Moves ba

[2018-02-03 12:49] apoorvinfo commented on #824
@tarun0 @therajanmaurya I am Working On this Issue.

[2018-02-03 14:40] apoorvinfo commented on #824
@tarun0 @therajanmaurya This feature is more handy than closing application on double press in any Fragment. Please Review.

[2018-02-04 13:45] apoorvinfo commented on #824
@AkshGautam Please help with this issue, as it createas the complexity when the code is added.

[2018-02-04 13:47] apoorvinfo commented on #824
![capture](https://user-images.githubusercontent.com/21074243/35778139-01d0c1fc-09e0-11e8-9c19-5e3d3ba47f4a.PNG)

[2018-02-04 14:15] AkshGautam commented on #824
@apoorvinfo  is your issue same as #560  and #788 ?

[2018-02-04 14:24] ManognaMutyala commented on #798
I would like to work on this issue!!

[2018-02-04 15:36] AkshGautam commented on #799
@himanshu112 if you are not working on this @therajanmaurya @tarun0 I would like to do this.

[2018-02-04 15:41] apoorvinfo commented on #824
@AkshGautam PR of those issues are already there and code also seems to be right, still it is open?

[2018-02-04 15:44] AkshGautam commented on #824
@apoorvinfo those issues are still open since their PR has not been reviewed by @therajanmaurya  @tarun0 . as soon as the mentors get the time they will review the PR and close the issue. If you feel your issue is different or encounter a different issue you can send the PR which will be reviewed when the mentors get time. Make sure to check the issue does not exist already.

[2018-02-04 18:17] AkshGautam opened #826 "Unable to select future dates for disbursement across all activities"
**Summary:**

Disbursement date is the date that the funds are actually made available to the borrower.It will be a future date.

**Steps to reproduce:**

For instance.
1)Run the app
2)Add Loan account

**Expected behavior:**

Able to select future dates in expected disbursement date.

**Observed behavior:**

Not able to select dates beyond present.

**Device and Android version:**

Android 5.0.2,

[2018-02-04 18:18] AkshGautam commented on #826
@therajanmaurya  @tarun0  I am working on this.

[2018-02-05 12:59] nb2998 opened #828 "App crashes in path tracker if location disabled"
**Summary:**

App crashes if path tracking is enabled while access to current location is disabled.

**Steps to reproduce:**
Disable access to current location
Open app -> Nav Drawer -> Path tracker -> Click on the button in top right corner to start tracking

**Expected behavior:**

User should be asked to enable location access.

**Screenshots:**

![path-tracker-crash](https://user-images.github

[2018-02-05 13:33] bensoft2k5 commented on #819
Hello @apoorvinfo. Have you been assigned this task ?

[2018-02-05 13:35] bensoft2k5 commented on #819
I would love to work on this issue

[2018-02-05 13:58] apoorvinfo commented on #819
@bensoft2k5 go on please!

[2018-02-05 15:38] himanshu112 commented on #791
@AkshGautam  I have solved the issue on my local machine

[2018-02-05 16:28] AkshGautam opened #829 "State lost when screen orientation changes in Generate Collection Sheet"
**Summary:**

The current state of activity/fragment is lost when the orientation changes.

**Steps to reproduce:**

1)Run the app
2)Genrate Collection sheet
3)Select office from drop down
4)Tilt the screen to change orientation

**Expected behavior:**

The state should be retained on orientation changes.

**Observed behavior:**

The state gets refreshed.

**Device and Android version:**

Android

[2018-02-05 16:31] AkshGautam commented on #829
@therajanmaurya i would like to work on this

[2018-02-05 17:11] AkshGautam opened #830 "Misaligned Progress bars"
**Summary:**

The progress bars in different fragments is not aligned which gives rise to two progress bars in some cases.

**Steps to reproduce:**

1)Run the app
2)Abruptly switch between create group,client,center.

**Expected behavior:**

A single progress bar

**Observed behavior:**

Two Progress bars.

**Device and Android version:**

Android 5.0.2,API 21

**Screenshots:**

![20180205_222052]

[2018-02-05 17:23] AkshGautam commented on #830
@therajanmaurya @tarun0  I would like to work on this

[2018-02-07 04:16] AkshGautam opened #834 "Dashboard activity is rendered on entering password while on different activity before passlock."
**Summary:**

Currently when the application loses focus and the passcode activity is rendered on resume, The activity to which the activity is redirected is Dashboard activity.

**Steps to reproduce:**

1)Run the app
2)Go to activities other than the dashboard.
3)Let the app loose focus by waiting sometime
4)enter the passocde.

**Expected behavior:**

The activity that should be rendered after e

[2018-02-07 04:16] AkshGautam commented on #834
@therajanmaurya @tarun0  I am working on this

[2018-02-07 11:29] AkshGautam opened #835 "Adding Issue #{ } in Pull request template."
**Summary:**

Currently, the pull request template does not have a mandatory Issue#{} in the markdown file. Adding this would make the process of closing the PR more easily since the issue is mentioned in the PR itself.

[2018-02-07 11:29] AkshGautam commented on #835
@therajanmaurya @tarun0  I am working on this

[2018-02-07 17:11] iml-v opened #837 "User Profile View feature"
**Summary:**
There should be new feature so that the user can be able to click on the profile icon and view his profile .

**Steps to reproduce:**

Open the app and open the Navbar and click on profile image .

**Expected behavior:**

On clicking the profile icon there should be a fragment loaded so that user can view his/her profile .

**Observed behavior:**

On clicking profile icon nothing happ

[2018-02-07 17:13] iml-v commented on #837
@therajanmaurya @tarun0  I am working on this issue.
Any suggestion or something that you want to tell about before working?

[2018-02-07 17:49] ivary43 opened #838 "Typos in issue Template."
**Summary:**

There are typos in Issue Template (word behaviour is misspelt).

**Screenshots**
![oie_77h7rxlcfuar](https://user-images.githubusercontent.com/24601454/35932123-db171550-0c5c-11e8-9d03-2aef9b3548da.png)

I am working on this issue.

[2018-02-07 17:50] iml-v opened #839 "Set Pinpoint activity disappear instantly after clicking on icon."
**Summary:**

When we click on icon for setting new pinpoint location, it opens Map but instantly Map activity closes ,so user is not able to set location according to his/her .

**Steps to reproduce:**

open the app .Open Navbar and click on Clients and choose any client and choose Pinpoint Location from menu  and click on top right corner icon for setting new location .

**Expected behavior:**

[2018-02-07 17:52] iml-v commented on #839
@therajanmaurya @tarun0 I am working on this .

[2018-02-07 18:56] iml-v opened #841 "In Create identifiers section - ID ,Type ,Description values are not vertically aligned ."
**Summary:**

After creating a new identifiers the values of ID , Type ,Description are not starting from same vertical level so thre UI does not look good. Starting level of these values should be same.

**Steps to reproduce:**

Open the app .Open navbar and click on client and choose any client after that choose Identifiers from Menu and If there is existing identifiers then you can see ID ,Type

[2018-02-07 18:57] iml-v commented on #841
@therajanmaurya @tarun0 should i work on this issue .

[2018-02-08 01:27] AkshGautam commented on #838
@ivary43 This is not a Typo.There is a set of conventions for British English and American English. Its the same thing as "color" or "colour" even "theater" or "theatre". Both are well accepted. Behavior (American English) or behaviour (Commonwealth English) is both valid and I think behavior would be much accepted since we use American English on daily basis instead of British.

[2018-02-08 05:38] AkshGautam opened #843 "Improper behavior of eye icon in passcode activity in beginning."
**Summary:**

Faded eye icon - hidden passcode
Dark eye icon - not hidden passcode
Initially, the eye icon should be faded since the passcode is hidden and after clicking it once it should turn to dark but this is not happening. Changing the color requires two touches after which the icon works as expected.

**Steps to reproduce:**

1)Run the app
2)enter some number
3)hit the eye icon(password vis

[2018-02-08 05:38] AkshGautam commented on #843
@therajanmaurya @tarun0  I am working on this

[2018-02-08 06:41] ivary43 commented on #838
@AkshGautam I think Commonwealth English is preferred everywhere as you can see here[http://grammarist.com/spelling/behavior-behaviour/](url) and at many places if you google.

[2018-02-08 06:50] AkshGautam commented on #838
@ivary43  That's a personal preference. Both are acceptable, nothing is right or wrong in this context. It's @therajanmaurya  final call. My only proposition was that it is not a typo but a matter of personal opinion.

[2018-02-08 07:58] ivary43 opened #845 "No message present if I try to Submit Create client without network connection."
**Summary:**
No message present if I try to Submit Create client without network connection

**Steps to reproduce:**
Open the app->Create Client ->Submit (Without internet connection).

**Expected behavior:**

The app should show a toast or snackbar to show no internet connection message.

**Observed behavior:**

No Such type of message was present also sometimes app crashes if i try to submit aft

[2018-02-08 07:58] ivary43 commented on #845
@tarun0 , @therajanmaurya  i would like to work on this issue.

[2018-02-08 08:10] ivary43 opened #846 "Improper message in different sections on no internet connection."
**Summary:**

Improper message in different sections on no internet connection.

**Steps to reproduce:**

Open Client ,Groups etc in absence of internet connection.

**Expected behavior:**

Message there is 'Click to refresh' but there is nothing to click so actually the message should be swipe to refresh.

**Observed behavior:**

Improper message ' Click to refresh' .

**Device and Android versio

[2018-02-08 08:11] ivary43 commented on #846
@tarun0 , @therajanmaurya I would like to work on this issue.

[2018-02-08 08:45] AkshGautam opened #847 "App crashing when creating client in offline mode."
**Summary:**

App crashing when hitting submit  button on creating client.

**Steps to reproduce:**

1)Run the app
2)Create client
3)Hit submit when offline

**Expected behavior:**

App not crashing and presenting a toast

**Observed behavior:**

App crashing.

**Device and Android version:**

Android 5.0.2,API 21

**Screenshots:**
![20180208_141030](https://user-images.githubusercontent.com/19329

[2018-02-08 08:45] AkshGautam commented on #847
@therajanmaurya @tarun0  I am working on this

[2018-02-08 08:50] AkshGautam commented on #847
@therajanmaurya  looks like I figured out the reason for the crash and I have solved that in #823  .You may close this issue. PR #825 would solve this as well.

[2018-02-08 08:55] AkshGautam opened #848 "Restricting the user to move ahead from passcode activity is internet is not connected."
**Summary:**

Taking the idea from mifos mobile app the user is not allowed to move to further activities from passcode if the internet is not connected.

**Steps to reproduce:**

How can we reproduce the issue?

1)run the app
2)enter passcode without internet

**Expected behavior:**

A snackbar and restricting user to move further if internet is absent.

**Observed behavior:**

User is able to mo

[2018-02-08 08:56] AkshGautam commented on #848
@therajanmaurya @tarun0  I am working on this

[2018-02-08 09:08] AkshGautam opened #849 "Creating datatable in offline mode presents no toast or prompt."
**Summary:**

Creating/deleting a data table entry in absence of internet presents no toast.

**Steps to reproduce:**

1)Run the app
2)select client
3)loan account summary
4)create/delete data table entry

**Expected behavior:**

A proper toast or snack bar in absence of internet connection.

**Observed behavior:**

An empty toast block.

**Device and Android version:**

Android 5.0.2, API 21

**S

[2018-02-08 09:09] AkshGautam commented on #849
@therajanmaurya @tarun0  I am working on this.

[2018-02-08 10:04] AkshGautam opened #850 "No toast message on clicking button in offline mode in collection sheet/generate collection sheet"
**Summary:**

Empty toast mesage on generate collection sheet after loading the fragment and going offline.

**Steps to reproduce:**

1)Run the app
2)Collection sheet
3)Go offline
4)Hit the button

**Expected behavior:**

A snackbar message saying no internet available.

**Observed behavior:**

empty snackbar.

**Device and Android version:**

Android 5.0.2 ,API 21

**Screenshots:**
![20180208_153

[2018-02-08 10:04] AkshGautam commented on #850
@therajanmaurya @tarun0  I am working on this

[2018-02-08 10:30] AkshGautam opened #851 "Inconsistent charge fragment behavior"
**Summary:**

Fragment screen is not getting updated as soon as charge is created.

**Steps to reproduce:**

1)Run the app
2)Clients
3)Charges
4) + icon

**Expected behavior:**

Fragment getting updated as soon as charge is created.

**Observed behavior:**

Fragment not getting updated and requires a new visit to fragment to incur changes.

**Device and Android version:**

Android 5.0.2,API 21

**

[2018-02-08 10:30] AkshGautam commented on #851
@therajanmaurya @tarun0  I am working on this.

[2018-02-08 10:58] AkshGautam opened #852 "Creating center without internet connection leads to empty toast."
**Summary:**

Creating center without internet connection leads to empty toast.

**Steps to reproduce:**

1)Run the app
2)go offline
3)create center
toast--failed to fetch offices
4)Enter name
5)hit submit

**Expected behavior:**

A snackbar with no internet connection on hitting submit

**Observed behavior:**

An empty toast

**Device and Android version:**

Android 5.0.2,API 21

**Screenshots:**

[2018-02-08 10:59] AkshGautam commented on #852
@therajanmaurya @tarun0  I am working on this.

[2018-02-08 13:11] ivary43 commented on #847
@AkshGautam  i already reported the issue in issue  #845, go through the whole issue.

[2018-02-08 13:18] ivary43 commented on #852
@AkshGautam  you reported same type of issue in #816, i think it will be better to fix this type of issue in one Issue.What's your view on this?

[2018-02-08 13:20] AkshGautam commented on #847
@ivary43  I have already solved the crash problem few days back,while solving some other issue.You can further add the message.The crash is occuring when the drop downs are not inflated and we hit submit button.I solved the inflation issue which handled the crash case as well. You may add the message. Thats why i said in my above comment to close  this issue regarding crash.

[2018-02-08 13:30] AkshGautam commented on #852
@ivary43 I will try to solve them in one PR.

[2018-02-08 14:15] ivary43 commented on #770
@dilpreet96 I want to work to on this issue.

[2018-02-08 15:02] ivary43 opened #854 "Using two steps to verify the passcode when setting the passcode."
**Summary:**

Using two steps to verify the passcode when setting the passcode. This is general while setting a password or passcode we use two steps to set the passcode: Enter and re-enter to verify the passcode so that the user doesn't commit any mistake while setting the passcode.

**Steps to reproduce:**

Try logging in and setting the passcode.

**Expected behavior:**

Two steps should be the

[2018-02-08 15:04] ivary43 commented on #854
@therajanmaurya, @tarun0  I would like to work on this issue.

[2018-02-08 15:22] AkshGautam opened #856 "Toggle text on mode change"
**Summary:**

change the text on mode change.

**Steps to reproduce:**

1)run the app
2)toggle from offline to online

**Expected behavior:**

No text change

**Observed behavior:**

Text change from offline to online and vice versa

**Gif**
![20180208_204938](https://user-images.githubusercontent.com/19329788/35981043-4c5aa92e-0d12-11e8-9d2c-65b689a38c25.gif)

I am working on this

[2018-02-08 15:23] AkshGautam commented on #856
@therajanmaurya @tarun0  I am working on this.

[2018-02-08 15:59] iml-v opened #857 "Charge items are having large gap between each others and after successfully creating new Charges the Dialog does not closes."
**Summary:**

When we create new charges after creating it the dialog does not closes and also there is large gap between charges .

**Steps to reproduce:**
1.Open the app.
2.Choose clients from nav bar
3. Select Any client
4. Choose charges from menu
5.Click for create new charge on top  right corner
6. After creating new successfully you can see there is large gap between each others .
**Expecte

[2018-02-08 16:01] iml-v commented on #857
@therajanmaurya @luckyman20 @tarun0  I am  working on this .

[2018-02-08 18:59] AkshGautam opened #859 "On clicked appearance in create group"
**Summary:**

Selecting on create group after selecting create client or create center does not lead to faded appearance.

**Steps to reproduce:**

1)run the app
2)create client
3)create group

**Expected behavior:**

The create group menu option should be faded.

**Observed behavior:**

create group menu option appears as if not selected.

**Device and Android version:**

Android 5.0.2,API 21

**

[2018-02-08 19:00] AkshGautam commented on #859
@therajanmaurya @tarun0  I am working on this.

[2018-02-08 22:32] ivary43 opened #861 "Swipe refresh layout not working in many sections Center list ,Client list etc."
**Summary:**

Swipe refresh layout not working in many sections Center list, Client list etc.

**Steps to reproduce:**

Open the app and turn off the internet ->Client orCenter ->Turn on internet ->Swipe to refresh.

**Expected behavior:**

The list should get refreshed on swipe refresh after getting internet connection back.

**Observed behavior:**

It was not refreshed on swipe refresh after get

[2018-02-08 22:33] ivary43 commented on #861
@tarun0 , @therajanmaurya  I am working on this issue.

[2018-02-08 22:41] ivary43 commented on #861
@tarun , @therajanmaurya  please close the issue #846 after looking at the code I found out that it is pointing to the error icon to click to refresh.  I think that using swipe refresh is more relevant for refreshing.

[2018-02-08 23:22] ivary43 opened #862 "Large irrelevant spacing in Client charges recyclerview."
**Summary:**
Large irrelevant spacing in Client charges recyclerview.

**Steps to reproduce:**

Clients->Pick a client->Charges ->Scroll through the page.

**Expected behavior:**

There shouldn't be so large space between two items in the recyclerview.

**Observed behavior:**

The space between two items was too large.

**Device and Android version:**
Moto G-3(6.0.1).

**Screenshots:**
![20180209_

[2018-02-08 23:23] ivary43 commented on #862
@therajanmaurya  , @tarun0  i would like to work on this issue.

[2018-02-08 23:37] ivary43 opened #863 "Zero value is getting accepted as Nominal annual interest and many other fields add savings account."
**Summary:**
Zero value is getting accepted as Nominal annual interest and many other fields add savings account.

**Steps to reproduce:**

Clients->Pick a client->Add savings account->enter 0 in Nominal interset or any other important field.

**Expected behavior:**

The value above mentioned should be greater than 0.

**Observed behavior:**

Zero value was accepted.

**Device and Android version:

[2018-02-08 23:37] ivary43 commented on #863
@tarun0 , @therajanmaurya  i would like to work on this issue.

[2018-02-09 00:10] ivary43 opened #864 "FAQ section missing in the app."
**Summary:**
FAQ section is missing in the app. generally there should be an FAQ section in the app that should contain things like the meaning of various colour coding used in loan section etc.
Also we can put Call now and Leave an email option for a query.

[2018-02-09 00:11] ivary43 commented on #864
@tarun0  , @therajanmaurya  what is your view on this?

[2018-02-09 02:52] AkshGautam commented on #863
@ivary43  Nominal interest rate is something which is negotiated by the two parties or is it fixed by the institution. According to me, Nominal Interest rate can be zero as well as some parties might negotiate at no interest but rather as a charity/borrow to the assignee. @therajanmaurya  @tarun0  what do you think?

[2018-02-09 03:35] AkshGautam opened #865 "Using Indicator to show whether client/center is activated like groups."
**Summary:**

Currently, there is not an indicator in list view to show whether the client/center is activated or not.

**Steps to reproduce:**

1)Run the app
2)Clients

**Expected behavior:**

Indicator where red means not activated and green means activated.

**Observed behavior:**

No indicator in list view like centers

**Device and Android version:**

Android 5.0.2,API 21

**Screenshots:**
Th

[2018-02-09 03:35] AkshGautam commented on #865
@therajanmaurya @tarun0  what do you think? I would like to work on this if you feel its relevant.

[2018-02-09 03:38] luckyman20 commented on #865
@AkshGautam The issue is already opened #777

[2018-02-09 03:41] AkshGautam commented on #777
@therajanmaurya @tarun0  I would like to work on this. #865  is more descriptive for this issue.

[2018-02-09 03:43] AkshGautam commented on #865
@luckyman20  Yeah I just saw that.I guess this issue is more descriptive since most people were not able to understand what the issue was in # 777. Should I start working on it?

[2018-02-09 03:51] luckyman20 commented on #865
@AkshGautam You can add the description in that issue by commenting

[2018-02-09 03:52] AkshGautam commented on #865
@luckyman20 That issue was a while back and I did not notice it has been already created.otherwise i would have done that

[2018-02-09 04:19] AkshGautam opened #866 "Progress bar overshadowing Navigation drawer."
**Summary:**

Progress bar is currently overshadowing navigation drawer.According to my perception of UX, this should not happen and nav drawer should overshadow the progress bar when the drawer is opened. Currently this gives users the impression of something loading in navbar but actually, the progress bar is intended for the fragment below nav drawer.

**Screenshots:**

![20180209_094124](https

[2018-02-09 04:19] AkshGautam commented on #866
@therajanmaurya @tarun0  What do you think? I would like to take work on this if this is relevant UI change.

[2018-02-09 05:03] AkshGautam commented on #604
@therajanmaurya @tarun0  I would like to work on this.May i?

[2018-02-09 05:04] AkshGautam commented on #380
@therajanmaurya do we need to add it ? If yes,I would like to work on this.

[2018-02-09 05:05] AkshGautam commented on #799
@himanshu112  #601 is same as this one.

[2018-02-09 06:30] tarun0 commented on #380
@AkshGautam Yes, you can work on it. But implement it using some approach that won't refresh the whole client list again because that will be a redundant network call.

Hint: when the request to delete the client image is sent, you must be receiving some response as to whether it was successful or not. Try thinking about that and make use of callbacks.

If you have some other approach, do share it

[2018-02-09 06:38] tarun0 commented on #854
@ivary43  You may work on it.

[2018-02-09 06:44] tarun0 commented on #848
@AkshGautam Passcode is saved offline only. He can use the offline-functionalities when there is no internet. If you deny the user access to the offline features, then implementing them in the first place doesn't make any sense!

[2018-02-09 06:45] AkshGautam commented on #848
@tarun0 sure I agree!

[2018-02-09 07:02] AkshGautam commented on #380
@tarun0 we can look for the status code which the sender receives after request if the operation was successful or not. If the Status_ok signal is received we could make the changes. I would have to look into what status code is retrieved. is this right?

[2018-02-09 07:52] ivary43 opened #867 "Making Charges of a Client more descriptive."
**Summary:**

Making Charges of a Client more descriptive as there are many useful fields passed through json response.

**Steps to reproduce:**
Clients->Pick any client->Charges

**Expected behavior:**
`{
   "id":292,
   "clientId":1,
   "chargeId":154,
   "name":"account transferrrr",
   "chargeTimeType":{
      "id":2,
      "code":"chargeTimeType.specifiedDueDate",
      "value":"Specified due

[2018-02-09 07:52] ivary43 commented on #867
@tarun0 , @therajanmaurya  what's your view on this ??

[2018-02-09 09:53] iml-v commented on #862
Yeah @ivary43  #857 #609  these issues are same as yours.

[2018-02-09 09:57] tarun0 commented on #864
@ivary43  How many such legends are there in the app? If they are a few like 3-4, there isn't any need to add any such info because the field officer (the user) can learn the meanings easily. It's better to put that info in the documentation of the app so that the new user can refer it and understand the meanings.

Moreover, if we have to add anything like that, instead of having some separate scr

[2018-02-09 10:02] tarun0 commented on #863
If the server doesn't respond with any error while submitting zero, then it isn't an invalid case.

[2018-02-09 10:07] tarun0 commented on #865
@luckyman20 is right. You should add the details in the existing issue only, especially when you've seen it. Please add the description in that issue.

[2018-02-09 10:07] #865 closed

[2018-02-09 10:18] tarun0 commented on #866
Yes, you can work on it.

[2018-02-09 10:24] tarun0 commented on #604
I don't feel the field officer will have the images of clients on his device. He shouldn't have them anyway. If he has to take a new image, he should do that whenever he meets the clients.

While this may seem a worthy feature for the self-service app, it doesn't make sense for the field-officer app.

[2018-02-09 10:26] tarun0 commented on #799
@himanshu112 Do you wish to work on this? If you don't reply within next 5 days, it'll be assigned to @AkshGautam

And please do NOT make new issues for the already listed.

[2018-02-09 10:28] tarun0 commented on #601
@himanshu112 Do you wish to work on this? If you don't reply within next 5 days, it'll be assigned to @AkshGautam

Regarding Issue 799

[2018-02-09 10:28] #799 closed

[2018-02-09 10:29] #848 closed

[2018-02-09 10:39] tarun0 commented on #380
Yes, something like that only; i.e. if the response for the request to delete client image is successful (you'll have to check what kind of JSON response it sends), update the image for that particular client. The emphasis should be on avoiding the network call.

[2018-02-09 10:43] tarun0 commented on #867
There is plenty of information like that for every entity. Please be more descriptive about which of these fields do you think should be added. It's a subjective call, though and none other than the users (field officers or the organisation) can tell this with certainty.

[2018-02-09 10:45] AkshGautam commented on #798
@ManognaMutyala you can ask @tarun0 @therajanmaurya  regarding this. Thanks

[2018-02-09 10:46] tarun0 commented on #862
@ivary43 The previous issue was mere 2 item below when you posted this one. You would not even need to search in order to determine that there is already an existing issue. Don't be that negligent.

[2018-02-09 10:46] #862 closed

[2018-02-09 10:54] AkshGautam commented on #774
@Prem0707 if you feel stuck you can ask for help over gitter channel.if you have stopped working on this then @tarun0 @therajanmaurya  I would like to do this.

[2018-02-09 10:59] ivary43 commented on #862
@tarun0  sorry  i get your point ,i myself try to not make a duplicate issue many times but somehow I didn't notice.Sorry for the inconvenience.

[2018-02-09 11:03] ivary43 commented on #863
@tarun0  what should i do because two more fields 'enforce minimum required balance' accept 0 value, So should i check on app side for these kinds of error.

[2018-02-09 11:11] ivary43 commented on #867
@tarun0 I think currency type , amount paid or amount left  will be important because the field officer will be aware of how much he/she had paid or how much is left.

[2018-02-09 11:16] ivary43 commented on #864
@tarun0 yes I agree with you so should I put those dialog boxes?

[2018-02-09 16:01] Prem0707 commented on #774
@akshGautam I am already in halfway of PR, most probably I will send it by Sunday evening. I will let you know if I wouldn't be able to resolve this issue. Thanks :)

[2018-02-09 16:15] AkshGautam commented on #774
@Prem0707 Glad to hear this. You can take your time if you are close to solving it.If you feel stuck, we can solve it together. Take your time, No hurry.

[2018-02-09 16:19] AkshGautam opened #869 "Menu item visible on the bottom on clicking the physical options button"
**Summary:**

Menu item visible on the bottom on clicking the physical options button.

**Steps to reproduce:**

1)Run the app
2)Press physical option button

**Expected behavior:**

No UI change/Menu to be opened on top

**Observed behavior:**

Menu at bottom

**Device and Android version:**

Android 5.0.2,API 21

**Screenshots:**

![screenshot_2018-02-09-21-42-15](https://user-images.githubuserc

[2018-02-09 16:21] AkshGautam commented on #869
@therajanmaurya @tarun0 I would like to work on this.

[2018-02-09 17:24] tarun0 commented on #863
I didn't get you. What's wrong if some field accepts 0 value unless it's prohibited by the server?

[2018-02-09 17:39] ivary43 commented on #863
@tarun0 I thought that we are checking on our side first that those values are valid are not and then sending to the server.

[2018-02-09 17:43] ivary43 commented on #864
Less than 3-4 I guess.

[2018-02-10 06:33] AkshGautam commented on #852
@ivary43 one PR is solving them all.

[2018-02-10 07:27] AkshGautam commented on #852
@ivary43 One PR references them all.

[2018-02-10 23:04] ivary43 opened #875 "Missing error icon and message on Identifiers,Survey UI on no internet connection."
**Summary:**
Missing error icon and message on Identifiers, Survey UI on no internet connection.There should be an icon and message on UI showing the error failed to fetch the data.

**Steps to reproduce:**

Clients->Pick a client->Turn Off internet->Identifies,Survey.

**Expected behavior:**

There should be an icon and message to show the error in absence of internet connection as present in oth

[2018-02-10 23:05] ivary43 commented on #875
@tarun0 , @therajanmaurya  i want to work on this issue.

[2018-02-10 23:06] ivary43 commented on #875
@therajanmaurya , @tarun0 i have a doubt on why the surveylist is not refreshable.

[2018-02-10 23:12] ivary43 opened #876 "Wrong labelling on navigation bar in Client Document list."
**Summary:**
Wrong labelling on navigation bar in Client Document list.

**Steps to reproduce:**

Clients->pick a client ->Documents.

**Expected behavior:**

The navigation bar should be labelled with Documents.

**Observed behavior:**

The navigation bar was labelled with Client's name initials,

**Device and Android version:**

Device: Moto G-3.
Version:6.0.1.

**Screenshots:**
![screenshot_201

[2018-02-10 23:12] ivary43 commented on #876
@therajanmaurya , @tarun0  i would like to work on this issue.

[2018-02-10 23:19] ivary43 opened #877 "Forever loading progress bar in client's image section on no internet connection."
**Summary:**
Forever loading progress bar in client's image section on no internet connection.

**Steps to reproduce:**
Clients-> Turn off internet ->Pick a client..

**Expected behavior:**

The image section should show error icon or default image there in absence of internet.

**Observed behavior:**

There was a forever loading progress bar.

**Device and Android version:**

Moto-G3(6.0.1)

**Sc

[2018-02-10 23:20] ivary43 commented on #877
@therajanmaurya , @tarun0 i want to work on this issue.

[2018-02-10 23:26] ivary43 opened #878 "Feature: Adding option to view client image in client section."
**Summary:**

Adding option to view client image in client section currently, there is no such option to view the image on full screen.

**Steps to reproduce:**
Clients->Pick a Client->Click on image.

**Screenshots:**
![screenshot_20180211-041559](https://user-images.githubusercontent.com/24601454/36067681-f6070be4-0ee7-11e8-8f17-b61ad20443ff.png)

[2018-02-10 23:27] ivary43 commented on #878
@therajanmaurya , @tarun0  what's your view on this?

[2018-02-11 03:49] AkshGautam commented on #688
@tarun0 @therajanmaurya what's the outcome of this discussion? do we need to remove such restrictions on the client side? I would like to work on this if the community has reached a conclusion that backend does not support the restrictions

[2018-02-11 03:54] AkshGautam commented on #475
@therajanmaurya @tarun0 This issue is pending till now. May i work on this?

[2018-02-11 03:59] AkshGautam commented on #640
@therajanmaurya @tarun0  May I work on this? This is still a persistent bug.

[2018-02-11 10:53] ivary43 commented on #838
Closed by PR #840 .

[2018-02-11 10:53] #838 closed

[2018-02-11 10:56] ivary43 commented on #877
@therajanmaurya  this is a part of issue #475. So should i fix both of them in one PR.

[2018-02-11 11:54] zjmeow opened #879 "Swipe refresh layout and progree bar appear on the same time when PathTrackingActivity started."
**Summary:**

Swipe refresh layout and progree bar appear on the same time when PathTrackingActivity started.

**Steps to reproduce:**

opening drawerlayout→Path Tracker

**Expected behavior:**

The swipe refresh layout should not show.

**Device and Android version:**

Leovo P1 (6.0.1)

**Screenshots:**

![screenshot_20180211-194900-708](https://user-images.githubusercontent.com/25023887/36073056

[2018-02-11 11:58] StonyMoon commented on #879
@tarun0 @therajanmaurya I would like to work on this issue.

[2018-02-11 16:41] Prem0707 commented on #652
@tarun0 @luckyman20 @therajanmaurya can i work on this? Thanks

[2018-02-11 18:27] Prem0707 commented on #774
@therajanmaurya @tarun0 @luckyman20 I can see some of the entries as null but i am unable to reproduce it by myself openMF/android-client#774
It would be great if can get any leads regarding that. Thanks

[2018-02-12 06:17] AkshGautam commented on #837
@iml-v This issue is a duplicate of #568

[2018-02-12 09:12] tarun0 commented on #869
What's wrong in showing Options menu when the physical menu button is clicked?

[2018-02-12 09:15] tarun0 commented on #863
It could have been fine had the server responded with some error but it's fine for the server. So, it can't be considered issue/bug. Closing the Issue.

[2018-02-12 09:15] #863 closed

[2018-02-12 09:18] AkshGautam commented on #869
@tarun0  Nothing is wrong in showing the menu. The problem is with the placement of the options menu. I feel it covers the major focus area of the screen. Currently, in the PR I have disabled this physical press behaviour but I could amend it so that the menu bar opens at top itself instead of the bottom. What do you think?

[2018-02-12 09:41] tarun0 commented on #864
3-4 aren't enough for a new FAQ screen. If you don't find some other open issue worth working upon, you may go for it but I'll again say that it's a low priority issue.

You may use either of the two approaches
 - When the user taps on the color, a dialog will show up explaining the color and corresponding meaning. It should ideally disappear on its own within 2-3 seconds or when the screen is tap

[2018-02-12 09:56] ivary43 commented on #864
I think the 2nd approach is better.Yes, I have other issues I will work on this one later.

[2018-02-12 11:11] tarun0 commented on #869
New Android versions usually don't show the menu at the bottom by default, nor do they have a physical menu button. So, it might be the case that the user who encounters this behavior is on some old device and in that case, he'd be accustomed to the bottom-menu behavior. Which device did you encounter this issue?

Moreover, it's not a bug as such and should be handled with the lowest priority.

[2018-02-12 11:15] tarun0 commented on #852
@AkshGautam Don't address more than one issue in a single PR. If the issues are very related, only a single issue should be created for all those.

[2018-02-12 11:15] AkshGautam commented on #869
Lenovo A6000 ,Android 5.0.2,API 21.

[2018-02-12 11:22] tarun0 commented on #877
@ivary43 Work on #475 only. This screen should not be shown to the user (details there in on of the comments by Rajan). Closing this.

[2018-02-12 11:22] #877 closed

[2018-02-12 11:27] tarun0 commented on #879
@StonyMoon  Add a GIF/video. It's working fine on my phone, though.

[2018-02-12 11:32] ivary43 commented on #475
@tarun0  sorry for the inconvenience but I didn't notice that content is wrong too  I only noticed the loading bar thing.

[2018-02-12 11:36] tarun0 commented on #837
@iml-v Follow #568 and the mockup https://github.com/openMF/Mifos-Mockups/blob/master/android-client%20-%20Mockups/Mockup-screenshots/Mifos%20User%20Profile.png

Closing this issue.

[2018-02-12 11:36] #837 closed

[2018-02-12 11:43] tarun0 commented on #852
No. Send three PR for the three issues. They are similar but correspond to different screens/feature. So, let them be so and send different PR for the different issues.

[2018-02-12 11:49] iml-v commented on #837
@tarun0  that issue was created a long back i have not noticed it ,sorry for inconvenience ,should i work on existing issue #568  if you assign me .

[2018-02-12 11:59] AkshGautam commented on #852
Alright, I would do that but since I have changed the MFErrorParser class itself so that will solve all such network-related empty toasts at once.So if one of the PR gets merged rest two would be redundant.

[2018-02-12 12:11] iml-v commented on #646
@tarun0 I would like to work on this issue #646.

[2018-02-12 13:28] StonyMoon commented on #879
I find that it also happen in other activities but swipe refresh layout will disappear quickly.
In the PathTrackingActivity it will obviously stay a while.

I read the code and find that it firstly call setRefreshing(true) and then cancel.
Is there something wrong or aiming to compatible with different Android versions?
Thanks for your reply!
[code]

![1](https://user-images.githubusercontent.com/

[2018-02-12 13:52] AkshGautam commented on #774
@tarun0 @therajanmaurya  I would like to try this task.

[2018-02-12 13:52] Prem0707 commented on #774
@luckyman20 I am not able to resolve the issue inspite of spending so much time on it, @AkshGautam if you want work on it Please comment once for mentor approval. Thanks

[2018-02-12 16:29] AkshGautam commented on #774
@tarun0 @therajanmaurya  I would like to try this task.

[2018-02-13 05:04] Prem0707 commented on #695
@luckyman20 @tarun0 @therajanmaurya I would like to work on this. Thanks

[2018-02-13 05:21] prem0862 opened #887 "Search feature in client section"
**Summary:**

Search feature for client in client section

**Steps to reproduce:**

Navigation drawer -> Client

**Screenshots:**
![screenshot 234](https://user-images.githubusercontent.com/25509407/36134605-dc612b78-10ab-11e8-9a6b-a6500647a7c2.png)

[2018-02-13 05:22] Prem0707 commented on #887
@luckyman20 @tarun0 Your's views on it?

[2018-02-13 05:41] luckyman20 commented on #887
@Prem0707 Please tell your approach.

[2018-02-13 05:43] luckyman20 commented on #695
@Prem0707 Go Ahead.

[2018-02-13 06:37] Prem0707 commented on #887
Now, in our application, there is search feature on the dashboard. Whenever we are looking for a client then we must have to return to the dashboard but what we can do is we can also implement search feature in client section, there we can search a client by his/her name (or some extra parameter) so that we will save a lot of time in scrolling (for a client) and it will also enhance user experienc

[2018-02-13 09:23] AkshGautam commented on #887
@Prem0707 The discussion for something similar went in #785 where @tarun0 made a sound proposition. Looking at that issue might be helpful.Though it was a different issue the discussion in the comments might be helpful. Thanks

[2018-02-13 09:26] luckyman20 commented on #887
@AkshGautam Searching and Sorting are two different things.

@Prem0707 I think you can go ahead but after we get the views of @therajanmaurya , @dilpreet96 or @tarun0 . Currently, we should only do for client's name. Later, we can think of the other parameters too.

[2018-02-13 09:34] AkshGautam commented on #887
@luckyman20 surely searching and sorting are different things but why do we sort things? to make search easier so both are somehow related since sorting makes search easier until and unless we are using an advanced data structure such as Trie. I just felt that these issues had something in common so I just gave a pointer. According to me this would definitely be a good addition, I just gave a poin

[2018-02-13 09:36] luckyman20 commented on #887
@AkshGautam I totally agree with you and I think both the things (searching and sorting) will help a lot user to easily find a client from such a big list.

[2018-02-13 09:37] AkshGautam commented on #887
@luckyman20  I believe that too.

[2018-02-13 10:33] Prem0707 commented on #887
@luckyman20I will wait for @therajanmaurya @dilpreet96 or @tarun0 views on it.
@AkshGautam what I believe is sorting will, of course, make things easier to some extent but in case of the larger database, we will have to scroll so many screens, in that case, the search will definitely make our work easier. What do you say?

[2018-02-13 10:41] AkshGautam commented on #887
I agree with you. I was never against this feature. I just pointed out a previous proposition.

[2018-02-13 22:18] ivary43 commented on #451
@therajanmaurya , @tarun0 can i work on this issue.

[2018-02-15 13:19] AkshGautam opened #891 "Adding "N.A or No staff" in place of empty space in staff name in Centers and "NA" for empty external Id in group"
**Summary:**

Currently, If a center has no staff associated with it, the centerlist shows "no staff" in place of staff name. On clicking the center item with no staff the "staff name" is followed by space.This space should be replaced with a literal string like "N.A" or "No staff" since an empty space breaks the Normal flow of UI.

**Screenshots:**

![screenshot_2018-02-15-18-43-25](https://user-

[2018-02-15 13:19] AkshGautam commented on #891
@therajanmaurya @tarun0  I am working on this.

[2018-02-15 16:46] prem0862 opened #893 "Improvement of UI of Create Client, Create center and Create group"
**Summary:**

In Create centre and Create group, the activte option is not aligned properly ( as in dashboard)

**Steps to reproduce:**

a) Overflow Menu -> Create Centre
b) Overflow Menu -> Create Group

**Expected behaviour:**

It should be aligned as **Exact Match** of Dashboard (in my opinion) to enhance visual experience

![dashboard](https://user-images.githubusercontent.com/25509407/3626875

[2018-02-15 16:48] Prem0707 commented on #893
@luckyman20 @tarun0  Please give you valuable suggestion on it. Thanks

[2018-02-16 06:52] Prem0707 commented on #893
This issue is also found in Create client section. @luckyman20 I am working on it

[2018-02-16 07:10] Prem0707 commented on #893
@luckyman20 @tarun0 Please review #895 Thanks:)

[2018-02-16 18:11] AkshGautam opened #897 "Fragment Update on syncing Client,Groups,Centers"
**Summary:**

Fragment does not update itself after successful sync complete.

**Steps to reproduce:**

1)Run the app
2)Clients
3)Long Press a client
4)Sync

**Expected behaviour:**

The entity should be marked as synced as soon as the sync process finishes.

**Observed behaviour:**

Requires refresh for changes to occur.

**Device and Android version:**

Android 5.0.2,API 21

**Screenshots:**

![

[2018-02-16 18:11] AkshGautam commented on #897
@therajanmaurya @tarun0  I am working on this.

[2018-02-17 10:49] Prem0707 commented on #695
@tarun0 @luckyman20 Initially, I was trying to solve this issue by calling the network call ( for the whole list of client again) but what comes to my mind is there is no point to call network ( as a whole) and it will be expensive also. Is there any other way by which we can add a newly created client to the client list ( expect to call network as a whole)? Thanks

[2018-02-17 10:54] luckyman20 commented on #695
@Prem0707 You can get the newly created id of the client and then fetch it and then show it along with the previous list.

[2018-02-17 11:19] Prem0707 commented on #695
@luckyman20 to sum up things, whenever we create a client then we hit submit button then an API response went to the server and for fetching new client details we have to get id of the client from its JSON data format just before submitting. Am I right? If not, please correct. Thanks

[2018-02-17 11:26] luckyman20 commented on #695
@Prem0707 When we make the API request for creating a client, we will get a response in that client ID will be there. From that ID, retrieve that particular client and add that.

[2018-02-17 11:57] nb2998 commented on #565
@therajanmaurya @tarun0 Shall I send a PR for this?

[2018-02-19 04:10] AbhilashG97 commented on #613
Issue resolved in #620

[2018-02-19 04:10] #613 closed

[2018-02-19 13:33] nb2998 opened #898 "Project incompatible with latest Android Studio version"
**Summary:**

Project is incompatible with latest Android Studio version

**Expected behaviour:**

The gradle build should be successful.

**Observed behaviour:**

The gradle build fails. To make the build successful, distributionUrl [here](https://github.com/openMF/android-client/blob/master/gradle/wrapper/gradle-wrapper.properties) has to be changed to 3.5 everytime.
Moreover, for the unit tests

[2018-02-19 17:29] nb2998 commented on #646
@iml-v Are you working on this issue?

[2018-02-20 10:22] nb2998 commented on #565
Please review #899

[2018-02-20 11:33] AbhilashG97 opened #900 "Fourth dot in the PassCodeView is not filled when incorrect passcode is entered"
**Summary:**

Fourth dot in the ```PassCodeView``` is not filled when incorrect passcode is entered, which doesn't occur when correct pass-code is entered.

**Steps to reproduce the issue:**

1. Setup a pass-code in the app
1. Enter an incorrect pass-code

**Expected behaviour:**

The fourth dot should be filled in the ```PassCodeView``` when incorrect pass-code is entered.

**Observed behaviour:*

[2018-02-20 11:33] AbhilashG97 commented on #900
I would like to work on this issue.

[2018-02-21 13:47] ivary43 opened #901 "Adding filters to client accounts section (Loan,Savings,Recurring)"
**Summary:**

Currently, there is no filter option in client accounts(Loan/savings/recurring) section.

**Steps to reproduce:**

Open clients->Pick the first client.

**Expected behaviour:**

I think the field officer should have a filter option because for some client the list is too big so if the officer wants to search for an account having a particular status like (active/closed/in arrears etc

[2018-02-21 13:51] ivary43 commented on #901
@tarun0  also the scroll bar is not working properly because if you try scrolling to top onRefresh is getting called.

[2018-02-21 13:51] ivary43 commented on #901
I would like to work on this issue.

[2018-02-21 17:53] AkshGautam commented on #553
@therajanmaurya @tarun0  I am working on this. it is still a prevalent issue.

[2018-02-21 18:05] nb2998 opened #903 "Survey Score Card creation failed"
**Summary:**

Failed to submit any survey

**Steps to reproduce:**

* Nav drawer
* Clients
* Click on any client
* Survey
* Complete the survey and click submit

**Expected behaviour:**

Survey should have been submitted

**Observed behaviour:**

Error while submitting survey.

**Screenshots:**

![survey-mifos](https://user-images.githubusercontent.com/25134501/36496830-86917292-175f-11e8-8538-1dc

[2018-02-21 18:07] AkshGautam commented on #412
@therajanmaurya @tarun0 @droidchef  The strings are still hardcoded at some places. I would like to fix this.

[2018-02-22 13:38] Prem0707 opened #904 "Enhancement- In Login Toast message"
**Summary:**

Nothing is wrong here but there can be enhancement with login  Toast message

**Steps to reproduce:**

Enter User Name and Password -> log in

**Expected behaviour:**

Currently, I giving a toast - "Welcome mifos", We can change it to "Welcome to Mifos"

**Device and Android version:**

Nexus 5, API 24 (Android 7)

**Screenshots:**

![ezgif com-resize](https://user-images.githubuserc

[2018-02-22 13:39] Prem0707 commented on #904
@luckyman20 @tarun0 does it make sense? Thanks

[2018-02-22 13:43] luckyman20 commented on #904
@Prem0707 `mifos` is the username here so I don't think so that this enhancement is relevant

[2018-02-22 13:53] Prem0707 commented on #904
@luckyman20 What I thought is if there is a new officer login through this (client)  app then we are welcoming him\her, is it not like that? and why we should give the username message to a user after they have already entered it to log in?

If it is not like that, should i close this issue? Thanks

[2018-02-22 14:01] luckyman20 commented on #904
@Prem0707 We are welcoming the Officer through his/her username and I don't think there is any problem in that.

[2018-02-22 14:04] Prem0707 commented on #904
@luckyman I got it, I thought we are welcoming to them (Officers) in Community. Please close this issue. Thanks

[2018-02-22 14:05] #904 closed

[2018-02-22 14:07] luckyman20 commented on #903
@nb2998 Please share the json we are getting when we are trying to create the Survey.

[2018-02-22 14:32] nb2998 commented on #903
@luckyman20 This is the relevant [logcat](https://gist.github.com/nb2998/f602bbaddb1b85404f8a2bf6ee42b198).

[2018-02-22 14:36] luckyman20 commented on #903
@nb2998 We are getting 200 response code so I think there is some problem with the logic.

[2018-02-22 14:42] nb2998 commented on #903
@luckyman20 There is also an error on submitting a survey here - https://demo.openmf.org/#/survey/4605.

[2018-02-22 17:52] nb2998 opened #907 "Incorrect message in charges of a client"
**Summary:**

Incorrect message stating "No charges available for this client" displayed inspite of having charges.

**Steps to reproduce:**

* Clients
* Select a client
* Options ->Charges
* Scroll till bottom

**Expected behaviour:**

Incorrect message shouldn't be displayed.

**Screenshots:**

![mifos-charges](https://user-images.githubusercontent.com/25134501/36554869-74213698-1826-11e8-8710-e

[2018-02-22 18:57] himanshu112 opened #908 "Improvement of UI in client charges"
**Summary:**
There is a large gap between two card view

**Steps to reproduce:**
1. Clients
2. select a client
3. Navigate to charges from menu.

**Expected behaviour:**
The cards should be in a sequence and gap should be reduced to minimal

**Observed behavior**
the cards appear too far from each other

**Device and Android version:**
Redmi 3S
MIUI 8
**Screenshots:**

![screenshot_2018-02-23-00-1

[2018-02-22 18:59] himanshu112 commented on #908
@tarun0 @therajanmaurya can I work on the issue

[2018-02-22 19:02] ivary43 commented on #908
@himanshu112  this is a duplicate issue of #609 and pr has already been sent.Please close this issue.

[2018-02-23 03:21] AbhilashG97 opened #909 "User is allowed to enter incorrect pass-code 4 times instead of 3 times"
**Summary:**

This is a minor issue where the user is allowed to enter incorrect pass-code 4 times instead of 3 times.

**Steps to reproduce:**

1. Open the app
1. Setup a pass-code
1. Open the app again
1. Enter incorrect passcode

**Expected behaviour:**

The app should only allow the user to enter incorrect pass-code 3 times.

**Observed behaviour:**

Currently, the app allows the user to enter

[2018-02-23 04:38] AkshGautam opened #911 "Client,Group and Center not getting activated."
**Summary:**

Sending activate entity request and receiving 200 status from the server does not lead to activation of the entity.

**Steps to reproduce:**

   1)Run the app
   2)Activate a Inactive entity where entity =client,group,center.

**Expected behaviour:**

The entity should be activated.

**Observed behaviour:**

The entity is still inactive though the response from the server is 200 for

[2018-02-23 04:41] AkshGautam commented on #911
@therajanmaurya @tarun0 Is this behaviour expected since the server acknowledges the POST request and sends an OK status? If not,I would like to work on this.

[2018-02-23 05:30] AkshGautam opened #912 "Improper Layout of accounts in absence of internet leads to a crash."
**Summary:**

The layout of two fragments gets combined in absence of internet. Clicking the button leads to an exception.

**Steps to reproduce:**
For Instance
1)Run the app
2)Clients
3)Select a client
4)Turn off internet
5)Select savings accounts

**Expected behaviour:**

A savings account fragment where click of a button does not leads to crash.

**Observed behaviour:**

Buttons of savings acco

[2018-02-23 05:31] AkshGautam commented on #912
@therajanmaurya @tarun0  I would like to work on this.

[2018-02-23 06:25] AbhilashG97 opened #913 "Swipe-to-Refresh doesn't refresh the list of Clients, Groups and Centers"
**Summary:**

Swipe-to-Refresh doesn't refresh the list of Clients, Groups and Centers when connecting back to the Internet after losing Internet connectivity

**Steps to reproduce the issue:**

1. Open the app
1. Disable Internet connection
1. Select Cliets, Groups or Centers from the Hamburger menu.
1. Swipe from the top of the screen to refresh the activity

**Expected behaviour:**

The list of

[2018-02-23 06:25] AbhilashG97 commented on #913
I would like to work on this issue

[2018-02-23 06:27] #913 closed

[2018-02-23 09:34] nb2998 commented on #907
@luckyman20 @tarun0 @therajanmaurya  I'm working on this.

[2018-02-23 20:04] himanshu112 commented on #908
oky

[2018-02-23 20:05] himanshu112 commented on #908
Leave a comment

[2018-02-23 20:05] #908 closed

[2018-02-24 15:08] nb2998 opened #916 "Datatable list refresh persists indefinitely"
**Summary:**

When a particular datatable is opened and user moves back to datatable list, refresh persists for an indefinite period of time.

**Steps to reproduce:**

* Groups
* Open a group
* Options -> More group info
* Open any item and return back

**Expected behaviour:**

Refreshing should stop as soon as loading data is finished.

**Observed behaviour:**

It keeps loading/refreshing.

**Scr

[2018-02-24 16:51] AbhilashG97 commented on #916
Hello @nb2998,

This issue has already been reported and a pull request resolving this issue has already been sent.
Please view #597

[2018-02-24 17:04] AkshGautam opened #917 "Extra Blue Bar in Group Listing in centers"
**Summary:**

There is an extra blue bar below toolbar in group listing  in centers

**Steps to reproduce:**

1)Run the app
2)Centers
3)Select a center --> group list
4)select a group

**Expected behaviour:**

A usual and similar with toolbar as top entity.

**Observed behaviour:**

An extra blue bar.

**Device and Android version:**

Android 5.0.2,API 21

**Screenshots:**

![screenshot_2018-02-24

[2018-02-24 17:05] AkshGautam commented on #917
@tarun0 @therajanmaurya I would like to work on this. @luckyman20 I hope this blue bar is not intentionally meant to be here?

[2018-02-24 17:07] nb2998 commented on #916
I apologise for the duplicate issue.
@AbhilashG97 Thanks for informing!

[2018-02-24 17:07] #916 closed

[2018-02-25 11:12] Prem0707 commented on #695
@tarun0 @luckyman20 I am not able to fetch newly created client id from the response. If possible, please provide any resource on it. Thanks

[2018-02-25 11:29] himanshu112 commented on #601
@AkshGautam  Are you working on this?

[2018-02-25 11:32] luckyman20 commented on #695
@Prem0707 Can you please provide with the json that we are getting on creating a client

[2018-02-25 11:37] AkshGautam commented on #601
@himanshu112 Yes I have started to work on this.

[2018-02-25 12:10] Prem0707 commented on #887
@luckyman20 can we use some library search like MaterialSearchView?

[2018-02-25 12:12] luckyman20 commented on #887
@Prem0707 You can use but explain why we need it

[2018-02-25 13:04] Prem0707 commented on #695
@luckyman Here is the link to Request Payload data that I am getting during interruption of client response using developer tools: https://gist.github.com/Prem0707/809640d292c0c3b3f441aaebc5ba8a31

[2018-02-25 13:10] Prem0707 commented on #887
@luckyman MaterialSearchView is a library to implement SearchView in a Material Design Approach.

[2018-02-25 13:15] luckyman20 commented on #887
@Prem0707 You can go for it if it works well with the Current UI

[2018-02-25 13:26] luckyman20 commented on #695
@Prem0707 I meant Response, because system (API) will generate the client ID

[2018-02-25 13:43] tarun0 commented on #695
@Prem0707 You do not need to download the details of the newly created client. When you submit the query to create client, you'll receive the Client_id if this new client. In the list, you only show a few info - name, id and photo. You provide name while creating the client and receive id if the request is successful. You can use callbacks to add just this client object to the adapter and use appr

[2018-02-25 14:02] Prem0707 commented on #695
@tarun0 @luckyman20 this is what I am getting in response:
``{"commandId":32957,"resourceId":4636,"rollbackTransaction":false}``

[2018-02-25 14:07] tarun0 commented on #695
Can you verify if this resourceId is equal to the clientId (by searching for the client)? I think it should be same.

[2018-02-25 14:32] Prem0707 commented on #695
@tarun0 I am getting a toast message of "Clent Created Successfully" but not able to get client (searched on Dashboard) Client even after I refreshed. I will back to you after I will confirm everything.Thanks

[2018-02-25 14:43] tarun0 commented on #695
We are using Stetho. Use it to log network calls. Search for the newly created client from dashboard and you'll get all the details.

[2018-02-25 16:57] nb2998 commented on #646
@tarun0 @therajanmaurya I would like to work on this issue as nobody seems to be working on this.

[2018-02-25 17:33] tarun0 commented on #646
@iml-v If you are working or have worked on it, comment here. @nb2998 You may work if he/she doesn't reply within next 4 days.

[2018-02-25 17:43] tarun0 commented on #887
@Prem0707 This isn't really needed. The search feature is already there on the home screen! @AkshGautam Since we are using pagination, sorting doesn't make much sense unless all the data is loaded which will only happen when the user (the field officer) has scrolled to the bottom.

[2018-02-25 17:55] tarun0 commented on #903
@nb2998 If there is error on the website too, perhaps this is backend related issue. What response code is sent while submitting the survey on the demo server?

Also, please use Stetho to log network calls and/or to provide screenshots here. It'll be much easier to make sense of that formatted data.

[2018-02-25 18:52] Prem0707 commented on #887
@tarun @luckyman Please close this issue, if we don't need it. Thanks

[2018-02-25 19:14] AkshGautam opened #918 "Reduction in Toolbar text and activity recreation on orientation change"
**Summary:**

The toolbar text size get reduced and the activity seems to be recreated during orientation changes.

**Steps to reproduce:**

1)Run the app
2)Centers
3)Select a center
4)Change orientation

**Expected behaviour:**

No activity recreation and no reduction in toolbar text size.

**Observed behaviour:**

Activity gets recreated and toolbar size gets reduced.

**Device and Android versi

[2018-02-25 19:22] AkshGautam commented on #918
@tarun0 @therajanmaurya currently,all activities in the app have orientation fixed as portrait. This is the only a case where i encountered an activity with landscape orientation apart from collection sheets. should I make the behaviour general by making them portrait as well or should I rectify the recreation ?

[2018-02-26 02:59] nb2998 commented on #903
@tarun0 These are the screenshots using Stetho. Please let me know if other screenshots are to be posted.

![stetho-survey-4](https://user-images.githubusercontent.com/25134501/36651388-c2a1512c-1ace-11e8-8dda-3445f2349a59.png)

![stetho-survey-5](https://user-images.githubusercontent.com/25134501/36651393-ca293270-1ace-11e8-8b55-9f529dddcc75.png)

[2018-02-26 06:33] tarun0 commented on #903
@nb2998 Do you retrieve some value in the response as well? Also, is this of the web-app or of the android client?

[2018-02-26 06:50] nb2998 commented on #903
@tarun0 Yes, The response is as follows:
![survey-response](https://user-images.githubusercontent.com/25134501/36656629-4975ecec-1aef-11e8-824c-17637059fa86.png)

Android-client

[2018-02-26 09:00] tarun0 commented on #901
Seems like a worthy addition. Please check if there's any other issue for the same. If not, you may proceed. Also, make a separate issue for scrollbar problem.

[2018-02-26 17:29] nb2998 opened #920 "Datepicker buttons not visible"
**Summary:**

Ok/Cancel buttons are not visible in Datepicker dialog anywhere

**Steps to reproduce:**

Create new client -> Select date

**Expected behaviour:**

Buttons should be visible

**Screenshots:**

![screenshot_20180226-225231](https://user-images.githubusercontent.com/25134501/36684981-fda322fe-1b47-11e8-8e76-bdd2d2ed663c.jpg)

**Device and Android version:**

OnePlus 5, Android 8.0.0

[2018-02-26 18:17] AkshGautam commented on #920
@nb2998 It would be convenient if you can mention the Android version,API as well since it's working fine on my device.
![screenshot_2018-02-26-23-46-44](https://user-images.githubusercontent.com/19329788/36687364-61680bd6-1b4f-11e8-9a6f-4001c1261efe.png)

[2018-02-26 18:44] nb2998 commented on #920
@AkshGautam Thanks, updated.

[2018-02-26 19:52] iml-v commented on #646
@tarun0  Sorry for late reply ,my exams were ongoing so I was busy @nb2998 I haven't started yet you can work on this .

[2018-02-28 17:24] AkshGautam commented on #909
@AbhilashG97  The toast message says that "You have entered incorrect Passcode more than 3 times." which makes the issue redundant since if the toast message is explicitly mentioning that the 4th attempt is considered failure not 3rd.

[2018-03-01 13:04] AbhilashG97 opened #924 "Number of attempts left for entering correct pass-code is not present"
**Summary:**

Number of attempts left for entering correct pass-code is not present. Currently, on entering incorrect pass-code, only a Snackbar stating "```Incorrect Pass-code```" is being displayed.

**Steps to reproduce:**

1. Open the app
1. Setup a pass-code
1. Enter incorrect pass-code

**Expected behaviour:**

Number of attempts left to enter correct pass-code should be displayed.

**Observ

[2018-03-01 13:04] AbhilashG97 commented on #924
I would like to work on this issue.

[2018-03-01 13:07] AbhilashG97 commented on #909
@AkshGautam, you're right. I failed to notice this.

[2018-03-01 13:08] AbhilashG97 commented on #909
I apologize for reporting a false issue.

[2018-03-01 13:08] #909 closed

[2018-03-01 21:29] AkshGautam opened #925 "White screen persisting for a short duration after opening app"
**Summary:**

When opening the app, a white screen is shown for a certain duration of time.

**Steps to reproduce:**

1)Run the application

**Expected behaviour:**

The white screen should be replaced by a splash screen containing the logo of the application.

**Observed behaviour:**

The white screen persists.

**Screenshots:**

![20180302_025317](https://user-images.githubusercontent.com/193297

[2018-03-02 19:02] nb2998 opened #927 "Screen keeps loading on creating center twice"
**Summary:**

The screen keeps loading if create center is chosen twice from the over flow menu.

**Steps to reproduce:**

Dashboard -> Overflow menu -> New center -> Overflow menu -> New client -> Overflow menu -> New center

**Expected behaviour:**

New Center fragment should be visible.
User shouldn't be allowed to make request for new center again OR A new request should be made, cancelling th

[2018-03-03 14:41] imRishN commented on #652
@Prem0707 are you working on this?
If not, @tarun0 @therajanmaurya @luckyman20 I would like to work on this.

[2018-03-03 16:45] luckyman20 commented on #652
@aj019 Are you working on this? As you commented first on this issue to work

[2018-03-03 17:28] Prem0707 commented on #652
@imRishN I am waiting for the mentor approval for this issue since @aj019 was already working on this ( as said by him). @luckyman20 It has been a long time since when @aj019 was working on this ( almost a year ). Now, If @aj019 is not working on this, I would like to work on this. Thanks

[2018-03-06 14:59] mohak1712 opened #928 "Change list width to take the entire screen"
**Summary:**

The list shown on search is not shown on search is not scrollable for the entire screen width

**Steps to reproduce:**

Do a search and try scrolling the list (use the right side of the screen)

**Expected behaviour:**

The list should be scrollable for the entire screen width

**Observed behaviour:**

The list is not scrollable for the entire screen width

**Device and Android versi

[2018-03-07 07:56] #732 closed

[2018-03-07 08:44] #758 closed

[2018-03-07 08:50] #453 closed

[2018-03-07 08:56] #658 closed

[2018-03-07 09:00] #920 closed

[2018-03-13 11:15] Rish02Sharma opened #931 "Migrate from RxJava 1 to RxJava 2"
**Summary:**

This issue is same as [#709](https://github.com/openMF/mifos-mobile/issues/709) We can do it in this project too. RxJava 1 is being used in the project but Rxjava 1 is a bit outdated now. We should migrate it to RxJava 2 now.

@therajanmaurya @droidchef @tarun0  Can I work on this?

[2018-03-15 12:45] luckyman20 commented on #476
@therajanmaurya I think this issue should be closed as it solved in #580

[2018-03-15 13:02] luckyman20 commented on #138
@chhavip I think you can ask this question on [Gitter Channel](https://gitter.im/openMF/mifos) as this is not a bug or enhancement of the app and please close the issue

[2018-03-15 13:06] luckyman20 commented on #228
@RowlandOti Are you still working on this?
And I think this app is not yet set up/configured/optimized for the tablets. @therajanmaurya Your views?

[2018-03-15 13:07] luckyman20 commented on #317
@therajanmaurya Is this issue still exists?

[2018-03-16 10:21] ivary43 opened #933 "App is crashing while generating individual correction sheet."
**Summary:**
App is crashing while generating a collection sheet.

**Steps to reproduce:**

Go to Individual Collection Sheet ->Generate a sheet with a correct combination(refer GIF).

**Expected behaviour:**

The App shouldn't crash while generating the Collection sheet.

**Observed behaviour:**
App is crashing.

**Device and Android version:**
Moto G-3(6.0.1)

**Screenshots:**

![20180316_153558

[2018-03-16 10:22] ivary43 commented on #933
@tarun0 , @therajanmaurya I want to work on this issue if it's not duplicate.

[2018-03-16 10:48] ivary43 opened #934 "Adding collection sheet and individual collection sheet icons."
**Summary:**
Currently, there is no icon for individual collection sheet and collection sheet.I think there should be an icon for both of them for UI consistency although it's a minor UI change.

**Screenshot**
![screenshot_20180316-161247](https://user-images.githubusercontent.com/24601454/37516882-a630a31a-2935-11e8-8cd9-73e088d7163c.png)

[2018-03-16 11:23] ivary43 commented on #934
@tarun0, @therajanmaurya  can I work on this minor UI change if applicable.I think maybe we can use [this](https://material.io/icons/#ic_assignment) icon.

[2018-03-16 21:16] AkshGautam opened #935 "Adding error screen instead of empty layouts"
**Summary:**

Error screen should be added instead of empty layouts in case of offline modes.

**Steps to reproduce:**

1) Run the app
2) Select a client while offline
3) Select a loan account

**Expected behaviour:**

An error screen if the data is failed to fetch instead of empty layouts

**Observed behaviour:**

Empty layouts

**Device and Android version:**

Android 5.0.2,API 21

**Screenshots

[2018-03-16 21:16] AkshGautam commented on #935
@therajanmaurya @tarun0  I would like to work on this.

[2018-03-16 21:38] AkshGautam opened #936 "Dialog does not automatically closes after creating identifier"
**Summary:**

The dialog does not automatically dismiss after creating the identifier.

**Steps to reproduce:**

1) Run the app
2) Select client
3) Identifiers
4) + icon

**Screenshots:**

![20180317_030256](https://user-images.githubusercontent.com/19329788/37545855-6c6d9650-2990-11e8-8e0c-25cd00c44ae7.gif)

[2018-03-16 21:38] AkshGautam commented on #936
@therajanmaurya @tarun0 I would like to work on this

[2018-03-16 21:43] #936 closed

[2018-03-16 21:55] AkshGautam opened #937 "Hiding keyboard/Putting Toast inside the dialog in Identifiers"
**Summary:**

When Create identifier button is pressed and the keyboard is still on the screen the toast message for the error hides behind the dialog and the keyboard and is not visible to the user.

**Steps to reproduce:**

1) Run the app
2) Select Client
3) Identifiers
4) create an identifier

**Screenshots:**

![20180317_032215](https://user-images.githubusercontent.com/19329788/37546438-d951b

[2018-03-16 21:57] AkshGautam commented on #937
@therajanmaurya @tarun0   should the toast be displayed inside the dialog or the keyboard should be closed when the button is pressed?
I would like to work on this

[2018-03-17 08:38] luckyman20 commented on #591
@aj019 Are you still working on this?

[2018-03-17 11:03] #928 closed

[2018-03-17 11:06] #917 closed

[2018-03-17 11:31] #933 closed

[2018-03-17 18:16] nb2998 commented on #839
@iml-v Are you working on this?

@tarun0 @luckyman20 This is the logcat I am getting on catching the error. Is it anyway related to the settings in the Google Developer Console?
`E/Google Maps Android API: Authorization failure.  Please see https://developers.google.com/maps/documentation/android-api/start for how to correctly set up the map.
03-17 22:52:14.796 16859-16983/com.mifos.mifosxdroid E/

[2018-03-17 18:40] iml-v commented on #839
@nb2998 i can work on this .

[2018-03-18 14:21] nb2998 commented on #839
@tarun0 @therajanmaurya The PlacePicker intent builder returns with result code 2 which seems to be an issue with API key ([Same issue](https://github.com/googlesamples/android-play-places/issues/13)).

[2018-03-18 15:52] luckyman20 commented on #839
@nb2998 Have you find the solution for it?

[2018-03-18 17:43] nb2998 commented on #839
@luckyman20
A common solution that I found on stackoverflow is - Ensure Google Places API for Android and not just Places API in the Developer Console is enabled. ("Places API for Android" will not show up under APIs & Auth/APIs because it isn’t a popular API (yet)).

[2018-03-18 18:16] nb2998 opened #939 "Loan account fragment occurs repeatedly"
**Summary:**

On adding a loan account for client, followed by adding associated datatables and submitting, the loan account application screen is shown again.

**Steps to reproduce:**

Clients -> any client -> Options -> Add loan account -> Enter external id -> Submit -> Add required entries for datatable -> Save the datatable

**Expected behaviour:**

Client details activity should be visible

*

[2018-03-18 21:39] nb2998 opened #940 "App crashes on adding non integer in datatable"
**Summary:**

App crashes when a non integer is added in a datatable while adding loan account

**Steps to reproduce:**

Clients -> any client -> Options -> Add loan account -> Enter external id -> Submit -> Add non integer entry in datatable -> Save the datatable

**Expected behaviour:**

App should not crash

**Screenshots:**

![20180318_234742](https://user-images.githubusercontent.com/25134501

[2018-03-19 04:37] luckyman20 commented on #839
@nb2998 Have you tried the other solution for it? If yes, it worked or not

[2018-03-19 05:51] tarun0 commented on #839
@nb2998 Can you try to replace the present key with the one from your own account (create one if you don't have)? It seems to be some key related issue and the keys usually can't be disclosed publicly. Update here when you're done.

[2018-03-19 13:34] nb2998 commented on #839
@tarun0 Yes, it's working on replacing it with a newly generated key.

[2018-03-19 13:37] nb2998 commented on #939
@tarun0 @therajanmaurya I would like to work on this. I wanted to confirm if this issue is a bug and not intentional?

[2018-03-19 15:22] GauravGangwarZomato commented on #940
Hi
@nb2998 @droidchef
I have solved this issue. I need access to the repo to Create the corresponding PR.
--
Regards
Gaurav Gangwar

[2018-03-22 12:09] mohak1712 opened #946 "Adding sweet-error library support"
**Summary:**

Addition of library Sweet error Library across the application.

[2018-03-22 12:09] mohak1712 commented on #946
@therajanmaurya I would like to work on this

[2018-03-22 12:24] AbhilashG97 opened #947 "Integration of coveralls code coverage plugin in not complete"
**Summary:**

Integration of [Coveralls](https://docs.coveralls.io/) code coverage plugin is not complete. Coveralls is a web service for projects hosted on GitHub/BitBucket repositories that helps keep track of code coverage over time.

**Steps to reproduce the issue:**

1. Go [here](https://github.com/openMF/android-client)
1. Code coverage is not present.

**Expected behaviour:**

1. Code cover

[2018-03-22 12:25] AbhilashG97 commented on #947
May I work on this issue?

[2018-03-22 14:16] therajanmaurya commented on #931
Go ahead and send PR.

[2018-03-23 01:44] ivary43 opened #949 "Adding check for network connection in activities and fragments."
**Summary:**
In many fragments, while showing error, network connectivity is not checked which leads to a less suitable error message like "error loading in {Feature name}" whereas the message should reflect that there is no internet connection.

**Screenshots:**
![screenshot_20180323-071054](https://user-images.githubusercontent.com/24601454/37807111-bdacfae6-2e69-11e8-9016-8818b88c3e80.png)

[2018-03-23 01:44] ivary43 commented on #949
@therajanmaurya , @tarun0  I would like to work on this issue.

[2018-03-23 12:58] ivary43 opened #951 "Minor gradle refactor"
**Summary:**

In Gradle, versions of some dependency are mentioned directly but according to the convention it should be fetched from rootProject.

[2018-03-23 12:58] ivary43 commented on #951
@therajanmaurya, @tarun0  I want to work on this issue.

[2018-03-25 16:42] lakshyarawal opened #952 "Adding faster scrolling in lists"
**Summary:**
Scrolling through list of centers, clients and groups can be done more efficiently

**Steps to reproduce:**
1)Run the application
2) Launch Clients Fragment through Navigation Drawer

**Expected behavior:**

![scroll](https://user-images.githubusercontent.com/20071320/37877468-6e6b278e-3079-11e8-96e8-1a4b65c55b83.gif)

[2018-03-25 16:45] lakshyarawal commented on #952
@therajanmaurya  @droidchef @tarun0 Can I work on this?

[2018-03-27 17:10] AkshGautam opened #953 "Navigation Drawer not getting updated"
**Summary:**

Navigation Drawer not getting updated

**Steps to reproduce:**

1) Run the app
2) Go to Collection sheet
3) Click the up arrow.
4) Open navbar drawer

**Expected behaviour:**

Selected item in navbar should be dashboard

**Observed behaviour:**

Selected item is still collection sheet.

**Screenshots:**

![20180327_223811](https://user-images.githubusercontent.com/19329788/37983042-d

[2018-03-27 17:11] AkshGautam commented on #953
@therajanmaurya @tarun0  I would like to work on this.

[2018-03-29 16:40] nb2998 opened #954 "Blank screen on pressing back button in client details (offline mode)"
**Summary:**

On pressing back in ClientDetailsFragment, a blank screen appears. (Offline mode)

**Steps to reproduce:**

(In offline mode)
Navigation -> Clients -> Select any client -> Press back button

**Expected behaviour:**

Client list should be displayed instead of blank screen.

**Device and Android version:**

OnePlus 5, Android 8.0.0

**Screenshots:**

![clients_offline](https://user-ima

[2018-03-30 08:30] AbhilashG97 opened #955 "Payloads present in Offline Sync* activity disappear when a Client is created from the Offline Sync* activity"
**Summary:**

Payloads present in Offline Sync* activity disappear when a Client is created from the Offline Sync* activity. All the payloads appear again when Offline Sync* item is selected again from the navigation drawer.

**Steps to reproduce the issue:**

1. Turn on the offline mode in the app
1. Select the Offline Sync* item from the navigation drawer
1. Tap on the menu and select Create Cli

[2018-03-30 13:35] nb2998 opened #957 "Empty list when charges of a client opened in offline mode"
**Summary:**

Charges list of any client appears to be empty in offline mode.
However, when a new charge is added, the older items appear.

**Steps to reproduce:**

Offline mode->Clients->Open a client->Charges (Empty)
Now, add a charge, charge appears.
Go back. Open charges list again. (Empty)
Add a new charge.
Previous charges also appear.

**Expected behaviour:**

The list shouldn't appear empt

[2018-03-30 13:50] nb2998 commented on #957
@therajanmaurya @tarun0 I would like to work on this.

[2018-04-02 12:45] AbhilashG97 opened #959 "List of offices doesn't get fetched for CreateNewCenterFragment in offline mode"
**Summary:**

List of offices doesn't get fetched for ```CreateNewCenterFragment``` in offline mode. The list of offices should get fetched and the same should be displayed in the spinner.

**Steps to reproduce the issue:**

1. Enable offline mode from the navigation drawer
1. Go to centers
1. Tap on the Floating Action Button at the bottom right of the screen

**Expected behaviour:**

The list of

[2018-04-02 12:46] AbhilashG97 commented on #959
May I work on this issue?

[2018-04-02 14:34] AbhilashG97 opened #961 "Contents of 'Office list' and 'staff list' spinner are being displayed in a bottom-top fashion in IndividualCollectionSheetFragment"
**Summary:**

Contents of 'Office list' and 'staff list' spinners are being displayed in a bottom-top fashion in ```IndividualCollectionSheetFragment```.

**Steps to reproduce this issue:**

1. Open the navigation drawer
1. Select Individual Collection Sheet from the navigation drawer
1. Tap on ```Office``` spinner and then on ```Staff``` spinner

**Expected behaviour:**

The list should be displa

[2018-04-02 14:34] AbhilashG97 commented on #961
I would like to work on this issue.

[2018-04-02 17:30] AkshGautam opened #962 "Client,Group,Centers not getting refreshed on change of fragments"
**Summary:**

On changing the fragment and coming back again the Client, group, the center list is not fetched

**Steps to reproduce:**

1) Run the app
2) Open client
3) Open collection sheet.

**Expected behaviour:**

The clients list should be fetched on switching back to it

**Observed behaviour:**

No list fetched

**Screenshots:**

![20180402_225544](https://user-images.githubusercontent.com/

[2018-04-02 17:30] AkshGautam commented on #962
@therajanmaurya @tarun0  I would like to work on this

[2018-04-02 18:25] AkshGautam opened #963 "White screen when selecting a client,group,center etc"
**Summary:**

On selecting a client from client list the transition is not smooth and a white screen is shown first during the transition.Moreover, the toolbar text during the transition varies

**Steps to reproduce:**

1) Run the app
2) Select Clients
3) Select a client from a list

**Expected behaviour:**

The transition should be smooth without intervening screen.

**Observed behaviour:**

A wh

[2018-04-02 18:26] AkshGautam commented on #963
@therajanmaurya I would like to work on this.

[2018-04-03 14:20] nb2998 opened #964 "Blank field while creating a charge in offline mode with data turned off"
**Summary:**

In offline mode, and when the data is turned off, the `Name` field while creating a charge is empty.

**Steps to reproduce:**

Offline mode (and data turned off) -> Clients -> Open a client -> Charges -> Create a new charge

**Expected behaviour:**

Field should not be empty.

**Observed behaviour:**

Blank field and inability to create a new charge.

**Android version:**

Android 8.

[2018-04-03 16:47] nb2998 commented on #964
@tarun0 @therajanmaurya What should be the expected behavior? An error message saying `Failed to load charge names` or, as it is in offline mode, so proper functioning like in the case when network is available?

[2018-04-04 11:54] mohak1712 opened #965 "Add missing test for Login"
**Summary:**

Currently, there is no test for login in the application

**Expected behaviour:**

There should be a test for login in the application

[2018-04-04 11:55] mohak1712 commented on #965
I would like to work on this

[2018-04-15 06:44] AkshGautam opened #968 "Action bar slides in Login activity."
**Summary:**

Action bar slides in Login activity.

**GIF**
![20180415_121128](https://user-images.githubusercontent.com/19329788/38775699-7f852456-40a6-11e8-84b1-b2675bde9730.gif)

I would like to work on this.

[2018-04-15 06:44] AkshGautam commented on #968
@therajanmaurya I would like to work on this.

[2018-04-15 14:17] mohak1712 opened #969 "Upload dialog keyboard next does not work"
**Summary:**

Next button does not work properly

**Steps to reproduce:**

Open upload document section of the app and press next on keyboard during entry

**Expected behaviour:**

next press should take the user to the next input

**Observed behaviour:**

next press does not take the user to the next input

**Device and Android version:**

LeEco2(6.0)

**Screenshots:**

![ezgif com-video-to-gif](

[2018-04-16 06:45] huangyz0918 commented on #703
I’d like to translate Chinese. @edcable @therajanmaurya @tarun0
This is my first contribution here, should I open an issue for that ?

[2018-04-16 07:26] tmudgal commented on #703
@huangyz0918 Yes, please open an issue for Simplified-Chinese and send PR for the same.

[2018-04-16 07:56] huangyz0918 opened #971 "Add translations in Simplified Chinese"
**Summary:**
Add translations in Simplified Chinese 🇨🇳

[2018-04-16 07:58] huangyz0918 commented on #971
I'd like to claim this issue @therajanmaurya

[2018-04-16 10:31] tarun0 commented on #703
@huangyz0918  Yes, please open an issue for Simplified-Chinese and send PR for the same.

[2018-04-17 12:30] medegw01 opened #973 "Migrating to Android 2.2 Plugin or newer"
Summary:

the current app uses the android-apt plugin and it's depreciated, thus limitting the app compatibilities to old Andoird technologies!

**Expected behavior:**

I expect the app to run using an **annotationProcessor**

**Observed behavior:**

the app uses android-apt plugin which, though it has equivalent compatibility with annotationProcessor, is depreciated and cannot longer work with An

[2018-04-17 12:31] medegw01 commented on #973
I'm working on the issue

[2018-04-19 04:50] AkshGautam opened #974 "Inconsistencies in checkbox"
**Summary:**

The checkboxes are clickable by clicking on the entire row of the checkbox which should not be the case.

**Screenshots:**

![screenshot_2018-04-19-09-27-07](https://user-images.githubusercontent.com/19329788/38971908-1cb67ab0-43bb-11e8-84c0-c3da28ea9466.png)

![screenshot_2018-04-19-09-27-23](https://user-images.githubusercontent.com/19329788/38971915-24b6ba7c-43bb-11e8-9785-288d540

[2018-04-19 04:50] AkshGautam commented on #974
@therajanmaurya  I would like to work on this.

[2018-05-01 06:17] amitmcn opened #977 "Login Credential"
Hi,
     Please provide me login credential.

Thanks
amit

[2018-05-01 06:43] amitmcn commented on #977
To Export an APK use default_key_store.jks with Password : mifos1234

this is not working, default user name and password.

[2018-05-08 17:42] #852 closed

[2018-05-08 17:43] #850 closed

[2018-05-08 17:44] #849 closed

[2018-05-09 12:39] RowlandOti commented on #228
@luckyman20  no longer actively contributing to this project. You can sure take over this if you want.

[2018-05-18 10:37] AkshGautam opened #979 "Enhancing Individual Collection Sheet"
**Summary:**

Enhancing the Overall UI and the user experience of the Individual collection sheet.

**Screenshots:**

![screenshot_2018-05-18-16-02-01](https://user-images.githubusercontent.com/19329788/40230542-86f46598-5ab5-11e8-8d3e-114532632c23.png)

[2018-05-18 10:38] AkshGautam opened #980 "Enhancing Collection Sheet"
**Summary:**

Enhancing the overall UI and user experience of Collection Sheet

**Screenshots:**

![screenshot_2018-05-18-16-02-26](https://user-images.githubusercontent.com/19329788/40230597-b607c62c-5ab5-11e8-8e53-84a1973acbec.png)

[2018-05-18 12:39] AkshGautam opened #981 "All Issues related to Login Activity"
**Summary:**

This issue contains all the Login Activity related issues:
1) #977
2) #968
3) #965
4) #795
5) #688

[2018-05-18 12:40] AkshGautam commented on #981
@therajanmaurya  These are the issues related to login activity

[2018-05-19 10:48] ankurs287 opened #982 "Upload Document Not Working"
**Summary:**

Uploading a new document for a client is not working.

**Steps to reproduce:**

Go to any client's profile and try uploading a new document.

**Expected behaviour:**

To upload the document.

**Observed behaviour:**

Failed to upload the document.

[2018-05-19 10:58] #963 closed

[2018-05-19 11:10] #911 closed

[2018-05-19 11:10] #897 closed

[2018-05-21 04:39] AkshGautam commented on #526
@tarun0 @therajanmaurya This should be closed as it is resolved in current version.

[2018-05-21 04:41] AkshGautam commented on #640
@tarun0 @therajanmaurya duplicate of #476

[2018-05-21 04:45] #859 closed

[2018-05-21 04:59] AkshGautam commented on #579
duplicate of #475 which covers this. A PR for #475 , #888  is open. @therajanmaurya @tarun0   Please close this issue

[2018-05-21 05:39] #935 closed

[2018-05-21 12:09] #847 closed

[2018-05-23 13:50] AkshGautam opened #985 "Enhancing Create Entity fragment"
**Summary:**

Currently, the Create Entity where Entity=client, group, center lacks UI polish. This task would comprise of providing a good UI layout without using any external library.

**Screenshots:**
![screenshot_2018-05-23-19-17-00](https://user-images.githubusercontent.com/19329788/40428620-512f5794-5ebe-11e8-9d94-192c49320302.png)

![screenshot_2018-05-23-19-17-10](https://user-images.githu

[2018-05-24 20:07] AkshGautam commented on #979
@edcable  These are some of my proposed UI.
[IndividualSheetDesign2.pdf](https://github.com/openMF/android-client/files/2036924/IndividualSheetDesign2.pdf)

[IndividualSheetDesign1.pdf](https://github.com/openMF/android-client/files/2036927/IndividualSheetDesign1.pdf)

[2018-05-25 07:27] AkshGautam opened #987 "Enhancing the Dialog fragments"
**Summary:**

Currently, the Dialog fragments such as Document dialog, identifier dialog lacks UI polish. This task would comprise of enhancing the UI of the dialogs fragments

**Screenshots:**

**DocumentUploadDialog**
![screenshot_2018-05-25-12-41-12](https://user-images.githubusercontent.com/19329788/40531779-f643f1e2-601a-11e8-98a7-9826dfbe4e2e.png)

**Identifier**
![screenshot_2018-05-25-23-4

[2018-06-06 12:27] #731 closed

[2018-06-09 05:52] AkshGautam opened #990 "Adding more Fields in Reports and Preventing Crash"
**Summary:**

Currently, the reports contain insufficient fields as compared to the web app, these fields are dynamic and should be fetched from API. For example, there should be loan officers respective to an office and loan product corresponding to currency etc. Moreover, the app is crashing on clicking the **Run Report**

**Steps to reproduce:**

1) Run the app
2) Run reports from the navbar
3)

[2018-06-11 07:37] #985 closed

[2018-06-11 07:46] #974 closed

[2018-06-11 07:56] #957 closed

[2018-06-11 07:59] #955 closed

[2018-06-11 08:01] #971 closed

[2018-06-11 08:02] #969 closed

[2018-06-12 14:43] AkshGautam opened #993 "Updating the minsdk and support library version"
**Summary:**

Updating the minsdk and support library version to latest.

[2018-06-12 16:12] #993 closed

[2018-06-12 16:43] #946 closed

[2018-07-22 11:57] AkshGautam opened #997 "Background syncing of Client,Group,Center,Loan Repayment,Savings Repayment Payloads Using android job by evernote"
**Summary:**
Currently, we are manually syncing the Payloads stored in Database to server. We will be using Android Jobs to do the same task which will sync the Payloads when the Application is Online without any human intervention.

[Android Jobs by Evernote:](https://github.com/evernote/android-job)

[2018-08-15 07:47] #937 closed

[2018-08-15 07:50] #987 closed

[2018-08-15 07:53] #774 closed

[2018-08-15 07:58] #925 closed

[2018-08-15 08:16] #476 closed

[2018-09-22 12:05] theamritanair opened #999 "Icon missing for Run Reports in the Navigation Drawer"
**Summary:**

In the navigation drawer, the icon for Run Reports is missing.

**Steps to reproduce:**

1. Tap on the navigation drawer
2. Run reports option is missing its icon

**Expected behaviour:**

Show an icon beside Run Reports.

**Observed behaviour:**

No icon visible.

**Device and Android version:**

Model : Redmi Note 4 (Mido)
Android Version: Nougat 7.0

**Screenshots:**

<img src="ht

[2018-10-21 21:36] tarun0 commented on #846
Closed as requested

[2018-10-21 21:36] #846 closed

[2018-10-25 18:54] letelete opened #1001 "test"

[2018-10-25 18:55] #1001 closed

[2018-10-29 16:46] #977 closed

[2018-10-30 16:41] GurpreetSK95 commented on #931
Is this still being worked upon?

[2018-10-30 17:05] imGurpreetSK opened #1002 "Proposal: Introduce Kotlin as a development language"
This issue aims at discussing why introducing kotlin as a development language for the project along with Java might be a good choice.
Some features of Kotlin, which are missing in Java(6) are:

1. Elevation of null into the type system, producing an overall better type system.
2. A pragmatic approach to problems faced by developers (eg. classes final by default, reified types, inline functions an

[2018-10-31 19:54] OgieBen opened #1003 "App crashes on clicking "Create Center" from menu."
**Summary:**

App crashes on  clicking "Create Center" from menu.

**Steps to reproduce:**

->Open Dashboard
->Click the menu icon on toolbar
->Select "Create Center" from menu

**Expected behaviour:**
Open fragment for creating New Center

**Observed behaviour:**
App crashes

**Device and Android version:**
Samsung S8 Android 8.0 Oreo
Nexus 5X Android 8.1 Oreo

**Screenshots:**

![mifosdroid_crea

[2018-10-31 20:00] bensoft2k5 commented on #1003
@tarun0  Can i work on this issue?

[2018-11-01 15:21] tarun0 commented on #980
@AkshGautam The issue is not clear. Please add details - whether it needs UI changes and the mockups are ready or UX level changes and need some discussion etc.

If already worked upon, reference accordingly.

[2018-11-01 15:46] tarun0 commented on #982
This is not an app-side issue.

[2018-11-03 09:52] RajaVamsi11 commented on #968
@AkshGautam @therajanmaurya I would like to work on this issue. can you assign this to me?

[2018-11-04 04:10] tarun0 commented on #1003
@bensoft2k5 Yes, you can. Reply here and I'll assign it to you.

[2018-11-04 04:29] tarun0 commented on #951
@ivary43 It's been quite a while but can you tell which dependencies you are talking about here?

[2018-11-04 04:34] tarun0 commented on #947
@AbhilashG97 Has the discussion for this been done and using Coveralls has been approved?

[2018-11-04 04:36] tarun0 commented on #940
@gaurav-abes @nb2998 You seem to have fixed the issue in your forked repos. Can you send the PR if that's so?

[2018-11-04 04:48] tarun0 commented on #931
@GurpreetSK95 There's already a PR for the same but CI is failing for that. If the PR sender doesn't reply within a week, it can be taken up by others. Let me know if you want to work on it.

[2018-11-04 04:50] tarun0 commented on #927
Yes, this should be fixed. Marking it open if anyone wants to work on it.

[2018-11-04 12:47] nb2998 commented on #940
@tarun0 I already made a PR, it's here: [PR#948](https://github.com/openMF/android-client/pull/948)

[2018-11-04 14:18] tarun0 commented on #940
Appreciate the prompt reply @nb2998 This issue was not referenced which made it a tad difficult to track.

[2018-11-04 17:33] bensoft2k5 commented on #1003
Yea @tarun0. I would like to work on this

[2018-11-09 07:52] tarun0 commented on #1003
@bensoft2k5 Done

[2018-11-19 07:19] bensoft2k5 commented on #1003
@AkshGautam great job

[2018-11-22 07:53] #990 closed

[2018-12-09 12:11] trendspotter opened #1005 "HTTP/2 HPACK header table size update not understood by the client"
**Summary:**

MifosXdroid or one of the dependencies does not understand specific HTTP/2 protocol feature.

**Steps to reproduce:**

1. Install MifosX on Apache Tomcat
2. Set nginx version 1.13.6 or newer as reverse proxy for the Tomcat
3. Enable HTTP/2 and TLS on the nginx reverse proxy
4. Attempt to connect to the instance using MifosXdroid client

**Expected behaviour:**

Client can connect (ie

[2018-12-09 20:10] trendspotter commented on #1005
After some more poking around, I'm 99% sure that this is caused by the outdated OkHttp component. MifosXdroid 1.0.1 uses okhttp/**3.3.1**. According to the [changelog](https://github.com/square/okhttp/blob/master/CHANGELOG.md#version-340), HPACK dynamic table size is supported from **3.4.0**, but that version had off-by-one error, so full support for HPACK is there since **3.5.0**.

OkHttp needs t

[2018-12-09 22:01] trendspotter commented on #1005
Thanks to your wiki it wasn't so hard to get it compiled and tested. I've checked okHttp 3.4.2, which still failed and then okHttp 3.5.0 which finally worked correctly even with the HPACK table size update shown above. I figured that even though there is already much newer version of okHttp, the rest of the MifosXdroid codebase is still old, so 3.5.0 seemed like the path of the least resistance. P

[2018-12-29 16:34] #1005 closed

[2018-12-29 16:39] #999 closed

[2018-12-29 17:03] #587 closed

[2018-12-29 17:07] #823 closed

[2018-12-29 17:19] #791 closed

[2018-12-29 18:05] AbhilashG97 commented on #924
This issue is not relevant anymore as [```mobile-passcode```](https://github.com/openMF/mifos-passcode) library has been integrated into the app, hence I'm closing this issue and the pull request associated with this issue.

[2018-12-29 18:05] #924 closed

[2019-01-01 17:12] balaji-ramavathu commented on #953
@AkshGautam @tarun0 @therajanmaurya Hello!
Can I work on this issue?

[2019-01-02 13:45] droidchef commented on #953
@balaji-ramavathu Yes you can work on this issue.

[2019-01-04 16:52] ThisIsNSH opened #1008 "Readability issue with StatusBar"
**Summary:**

The status bar appears to be white in all fragments which create readability issues.

**Steps to reproduce:**

Login and then we can see a white status bar in all fragments

**Expected behaviour:**

It should match the theme being blue.

**Observed behaviour:**

It was white

**Device and Android version:**

Oppo A37, Android 6.0.1

**Screenshots:**

![ss](https://user-images.githubu

[2019-01-05 06:20] ThisIsNSH opened #1009 "Stuck (Soft) Keyboard"
**Summary:**

Soft Keyboard doesn't hide and remains stuck until back is pressed

**Steps to reproduce:**

Click on any 'EditText' and soft keyboard remains until any action button or back is pressed

**Expected behaviour:**

Hide as soon as the user taps anywhere else on the screen and input should submit as soon as the user taps on done/go on the keyboard. This change has to be made in all fragm

[2019-01-05 06:45] ThisIsNSH opened #1010 "Glitched DropDown"
**Summary:**

Main Screen DropDown is not smooth. It seems two dropdowns rolling for microseconds.

**Steps to reproduce:**

Press on options icon on top-right.

**Expected behaviour:**

Smooth rolling down of menu.

**Observed behaviour:**

Lagged rolling down.

**Device and Android version:**

Redmi 3S Prime

**Gif:**

![ezgif com-crop](https://user-images.githubusercontent.com/32385519/50721303

[2019-01-05 06:45] ThisIsNSH commented on #1010
@droidchef Please assign me this issue. :)

[2019-01-05 06:51] ThisIsNSH opened #1011 "App Crashes on Create Center"
**Summary:**

App Crashes. Its an NPE where the id requested to be invisible doesn't exist.

**Steps to reproduce:**

Press on Create Center item in dropdown menu.

**Expected behaviour:**

Fragment should open.

**Observed behaviour:**

App Crashes

**Device and Android version:**

Redmi 3S Prime, Android 6.0.1

**Gif:**

![ezgif com-resize](https://user-images.githubusercontent.com/32385519/5072

[2019-01-05 06:51] ThisIsNSH commented on #1011
@droidchef Please assign me this issue :)

[2019-01-05 06:56] ThisIsNSH commented on #1011
This issue is mentioned in many other issues, but isn't resolved till now

[2019-01-08 06:58] theamritanair opened #1014 "Empty toast on trying to generate a collection sheet."
**Summary:**

If a user wants to generate a collection sheet, he has to select an office, staff name, center, and group. A toast is displayed everytime indicating the next option. But the toast appears empty after the center is selected.
**Steps to reproduce:**

1. Open the Navigation Drawer. Select the Collection Sheet Option.
2. Select the Office, Staff Name and Center.

**Expected behaviour:**

[2019-01-08 07:00] theamritanair commented on #1014
@tarun0 @therajanmaurya I would like to work on this issue.

[2019-01-08 12:08] Siddharth-Singhs commented on #968
@AkshGautam @RajaVamsi11 As no one is working on this issue, can you assign this issue to me.

[2019-01-08 14:10] Siddharth-Singhs opened #1015 "App Crash on uploading the Signature."
**Summary:**

If we upload the signature of client, the app crashes after selecting the image if we have not clicked the upload button at toolbar which ask the permission for storage.

**Steps to reproduce:**

1.Install the app.
2.Search for the client and try to select the image from gallery.
3.The app will crash.
![whatsapp image 2019-01-08 at 7 26 15 pm](https://user-images.githubusercontent.co

[2019-01-08 14:11] Siddharth-Singhs commented on #1015
@tarun0 @therajanmaurya I want to work on this issue.

[2019-01-08 14:13] tarun0 commented on #968
@Siddharth-Singhs Thanks for testing 👍

[2019-01-08 14:13] #968 closed

[2019-01-08 17:16] Siddharth-Singhs commented on #1003
@tarun0 Is this issue has been resolved ?

[2019-01-08 17:21] Siddharth-Singhs commented on #1003
Till Now app crashes while creating the Create Center menu

[2019-01-09 13:46] Siddharth-Singhs opened #1017 "Cannot select the document for identifiers."
**Summary:**

When we browse our gallery and try to select the document for the upload.It is not selecting the document.So it can't upload the document.
The TextView of Name and Description is also not showing

**Steps to reproduce:**

Open the app
Go to Navbar and select Clients
Select Client
From the Toolbar menu select Identifiers
Now select the identifiers and click the documents.
From the tit

[2019-01-09 16:33] AkshGautam commented on #1011
@ThisIsNSH this issue is already addressed and solved in #997 I'll try to get that merged soon.

[2019-01-10 12:57] Siddharth-Singhs commented on #1015
please review the pull request.

[2019-01-11 12:22] #1014 closed

[2019-01-11 16:52] tarun0 commented on #597
Fixed in https://github.com/openMF/android-client/pull/629

[2019-01-11 16:52] #597 closed

[2019-01-13 09:46] vaibhav2203 commented on #1017
hey, can i work on this issue?

[2019-01-13 09:48] vaibhav2203 commented on #1010
@droidchef  hey, can i work on this issue?

[2019-01-13 09:50] vaibhav2203 commented on #1003
@bensoft2k5  can i work on this issue?

[2019-01-13 09:52] Siddharth-Singhs commented on #1017
@vaibhav2203 I have already worked on this issue.

[2019-01-14 12:47] theamritanair opened #1019 "Typographical error in the title bar of Collection Sheet"
**Summary:**

There is a typographical error in the title bar of the Collection Sheet fragment.

**Steps to reproduce:**

Slide into the Navigation bar, select the Collection Sheet option.

**Expected behaviour:**

The title bar should display "Generate Collection Sheet".

**Observed behaviour:**

It displays "GenerateCollectionSheet".

**Device and Android version:**

Redmi Note 4 (Mido)
Nougat 7

[2019-01-14 12:48] theamritanair commented on #1019
@tarun0  @therajanmaurya Can I work on this issue?

[2019-01-14 15:47] jasnasuresh opened #1021 "Typo in Collection Sheet"
Summary:

Typo in Collection sheet fragment of the application.

Steps to reproduce:

Login, Click on Collection Sheet.

Expected behaviour:

The button should display "PRODUCTIVE COLLECTION SHEET".

Observed behaviour:

The button displays "PRODUCTIVE COLLECTIONSHEET".

Device and Android version:

Device: Redmi Note 5 Pro
Android version: 8.1.0

Screenshots:

![screenshot_2019-01-14-20-29-22-094

[2019-01-14 15:48] jasnasuresh commented on #1021
@therajanmaurya @tarun0 Can I please work on this issue??

[2019-01-14 17:56] jasnasuresh commented on #703
I would like to add support for kannada translations in the app. Can I move forward with it?

[2019-01-14 18:37] jasnasuresh commented on #1021
@sats98 yes, I have already worked on the issue and has sent a PR.

[2019-01-15 10:46] sats98 commented on #451
@ivary43  @therajanmaurya  may i work  on this issue?

[2019-01-15 10:48] sats98 commented on #701
@therajanmaurya @edcable if this is open may i work on that?

[2019-01-15 10:52] sats98 commented on #654
@therajanmaurya  i would like to on this..

[2019-01-16 13:47] theamritanair opened #1024 "UI improvements in the Dashboard."
**Summary:**

The Dashboard activity looks clumsy when an option from the search filter is chosen.
The Search filter drop down (Spinner) is too near to the Search TextView, which makes it look clumsy when an option is chosen.
And also the view isn't proportionate.
Thus the UI can be enhanced.

**Steps to reproduce:**

Open the app. The Search Dashboard appears.

**Device and Android version:**

Re

[2019-01-17 08:22] brendajerop opened #1026 "Irrelevant space when IconTextView in ClientDetailsFragment is opened"
**Summary:**
Irrelevant space when IconView in ClientDetailsFragment is opened if ListView count is less than 4

**Steps to reproduce:**
Search for a client and click on the client.
Open the IconView for LoanAccounts, SavingAccounts or Recurring Accounts

**Expected behaviour:**
ListView should resize accoringly when the count is less than 4.

**Observed behaviour:**
Irrelevant space if ListView c

[2019-01-17 17:21] AbhilashG97 commented on #606
This issue has been resolved in this [pull request](https://github.com/openMF/android-client/pull/988). Hence, I'm closing this issue.

[2019-01-17 17:21] #606 closed

[2019-01-17 17:31] AbhilashG97 commented on #605
The UI for the upload document dialog has been changed in [this](https://github.com/openMF/android-client/pull/988) pull request.
This issue is no longer present in the app.

[2019-01-17 17:31] #605 closed

[2019-01-18 21:14] #778 closed

[2019-01-21 12:48] jasnasuresh opened #1029 "Add support for Kannada language in the Android Field Officer App"
**Summary:**

The application lacks support for Kannada language.

**Expected behaviour:**

The application should support Kannada language.

**Observed behaviour:**

The application lacks support for Kannada language.

**Device and Android version:**

Device: Redmi Note 5 Pro
Android Version: 8.1.0

[2019-01-21 12:49] jasnasuresh commented on #1029
I would like to work on this issue.

[2019-01-24 07:16] RajaVamsi11 opened #1033 "Update compile and target SDK versions of the app"
**Summary:**
The compileSdkVersion and targetSdkVersion which are set to versions 27 and 27, respectively, must be changed to 28( Android Pie) as the latest Android APIs must be used to make use of the latest features.

@therajanmaurya @droidchef Can you please review this issue. I am interested in updating the SDK versions.

[2019-01-24 08:30] brendajerop opened #1035 "Add Support for the Swahili Language"
**Summary:**
The app lacks support for Swahili.

**Expected behaviour:**
The app should support Swahili.

**Observed behaviour:**
The app does not support Swahili.

**Device and Android version:**
Samsung Galaxy Note 3
Android 5.0

[2019-01-25 14:31] tarun0 commented on #410
Fixed in #454

[2019-01-25 14:31] #410 closed

[2019-01-25 15:07] #747 closed

[2019-02-04 08:33] iadeelzafar opened #1037 "Lock the Log in Button until both input text fields are filled"
**Summary:**

The LOGIN button is enabled even when no input is given. It should be locked unless both text fields have some input.

**Steps to reproduce:**

setEnabled(false) by default
when both textFields have some input, setEnabled(true)

**Expected behaviour:**

 Login button should be locked unless both text fields have some input.

**Observed behaviour:**

Login Button is enabled even when

[2019-02-06 11:24] tarun0 commented on #389
@iadeelzafar Create a new issue for that. Make sure to add a gif to reproduce the issue.

[2019-02-06 11:27] tarun0 commented on #752
For the beginners, (closed) Pull Request https://github.com/openMF/android-client/pull/753 might be a tad helpful.

[2019-02-06 11:31] tarun0 commented on #651
For the beginners, (closed) Pull Request #771 might be a tad helpful.

[2019-02-06 11:36] tarun0 commented on #703
For Bahasa support, you may also take help of the (closed) PR https://github.com/openMF/android-client/pull/781/

[2019-02-06 11:39] tarun0 commented on #981
@AkshGautam Add some description here. Also, why was there a need to form an issue grouping other issues?

[2019-02-06 11:43] tarun0 commented on #810
Fixed in https://github.com/openMF/android-client/pull/812

[2019-02-06 11:43] #810 closed

[2019-02-06 12:18] tarun0 commented on #814
Fixed in https://github.com/openMF/android-client/pull/820

[2019-02-06 12:18] #814 closed

[2019-02-06 12:22] tarun0 commented on #802
Fixed in https://github.com/openMF/android-client/pull/821

[2019-02-06 12:22] #802 closed

[2019-02-06 12:56] tarun0 opened #1040 "Add description (Update readme) for the app on Github"
**Summary:**

Make the current description of the app's Readme a bit more detailed.

[2019-02-06 12:58] tarun0 commented on #1040
Fixed in https://github.com/openMF/android-client/pull/833

[2019-02-06 12:58] #1040 closed

[2019-02-07 17:58] iadeelzafar commented on #1037
@tarun0 @luckyman20 Kindly review this. Thanks! :)

[2019-02-07 18:15] iadeelzafar opened #1041 "Same External Id Message Should Appear So User Can Enter A New External Id"
**Summary:**

When creating a client, if external id is same, user should be immediately asked to enter a new external id while he is in that activity.

**Steps to reproduce:**

1- After user clicks on the submit button, external Id similarity should be checked at that point.
2- Just like, first name and last name is checked and a toast message appears if user enters invalid first/last name. Same

[2019-02-07 18:16] iadeelzafar commented on #1041
I've been trying to work on this issue but I can't figure out where the external Id is being checked. Any kind of help would be really appreciated.

[2019-02-08 15:29] iadeelzafar opened #1042 "Apply A Coding Style In The Whole Project"
**Summary:**

Applying a java coding style in the whole project will help maintain a specific coding style.

**Steps to reproduce:**

* Can I go ahead with Square Java Coding Style?
* Any other suggestions would be warmly welcomed.

[2019-02-09 12:36] iadeelzafar opened #1044 "Deprecated API Usage"
**Summary:**

Resolving Deprecated API Usage in 2 files.

**Steps to reproduce:**

1- Search for the updated APIS
2- Import the updated APIs
3- Call the new functions with same functionality

**Expected behaviour:**

There should be updated APIs.

**Observed behaviour:**

Deprecated APIs present in 2 files.

**Screenshots:**

* Deprecated onAttach method in GroupLoadAccountFragment.java
![issue 3

[2019-02-10 17:14] vansha10 opened #1046 "Snackbar with no message on Loging in without tenant identifier"
**Summary:**

Empty snackbar on clicking login without a tenant identifier.

**Steps to reproduce:**

On the login page, enter the following credentials:
Username: mifos
Password: password
Instance URL: staging.openmf.org
Port: --empty--
Tenant Identifier: --empty--

Click on Login.

**Expected behaviour:**

It should show a snackbar with a message for empty/incorrect tenant identifier.

**Observe

[2019-02-11 14:12] AkshGautam commented on #981
@tarun0 I was told to do so by @therajanmaurya a long back. This was done to close the issues quickly without wasting much time to find them.

[2019-02-11 18:23] iadeelzafar opened #1049 "Menu Glitch In Run Reports"
**Summary:**

Menu overrides appbar heading.

**Steps to reproduce:**

* Go to Run Reports
* Click on the mneu

**Expected behaviour:**

* It should not override it.
* The menu should popup from the right corner.
* Also, it's color should be white.

**Observed behaviour:**

* It overrides the app bar Title.
* It has blue color that is also the color of the app bar which looks not so good.

**Devic

[2019-02-11 18:23] iadeelzafar commented on #1049
@tarun0 What do you think? Shall I start working on this issue? Any suggestions are welcomed.

[2019-02-11 20:20] vansha10 commented on #1046
So, I have found the reason behind this error.
It happens because on not providing a tenant identifier, the HttpException returned by the server is not an object of the MifosError.java class. See the screenshots below

**This is the case when a wrong password is provided. In this case the usual snackbar with the error message appears. You can see the errorMessage is an object of the MifosError cla

[2019-02-14 15:25] iadeelzafar opened #1050 "Stop Tracking Action Doesn't Works"
**Summary:**

Stop Tracking Action Doesn't Works

**Steps to reproduce:**

* Open Path Tracker
* Click on Track my path menu button
* Notification will appear
* Click on "Stop Tracking"
* It doesn't works

**Expected behaviour:**

It should stop tracking when clicking on this action.

**Observed behaviour:**

Right now, it doesn't responds to the click action.

**Device and Android version:**

NEX