[2019-02-14 19:20] sats98 opened #1051 "fastscroller in groups activity and center activity"
**Summary:**
The group list and center list can`t be scrolled fast. It takes much time to keep scrolling down. Therefore add fastscroller.

**Steps to reproduce:**

1- Open the navigation bar.
2- Go to Groups or Centers.
3- The list doesn`t contain fastscroller.

**Expected behaviour:**

![video2gif_20190209_020924](https://user-images.githubusercontent.com/33027508/52767844-ab8adf00-3051-11e9-83e

[2019-02-14 19:43] sats98 commented on #1051
i have done that but not able to push showing Travis CI build failed?

[2019-02-15 18:26] PraneethVankayala commented on #1050
@tarun0 I want to work on this issue

[2019-02-17 11:53] sats98 commented on #1050
@iadeelzafar  i works on my device Android 7.0 API 24
![gggg](https://user-images.githubusercontent.com/33027508/52912530-8cea4980-32d8-11e9-8552-9c6a5327a812.gif)

the issue needs more details i think.

[2019-02-17 13:02] PraneethVankayala commented on #601
@tarun0 @therajanmaurya I would like to work on this issue

[2019-02-17 13:10] iadeelzafar commented on #1050
@sats98 Try it on API 28 and then let me know if it's working on API 28 for you or not.

[2019-02-17 13:42] PraneethVankayala opened #1054 "Account number should not contain special characters"
Current Account number format accepts special characters like(**'.'**,**' '**, **\n**) but it should not accept it.

**Steps to reproduce:**
- Go to clients.
- Click on any client
- Go to one of the savings account
- On the menu bar you will be seeing **More Savings Account Info**
- Click on additional account and click on new then you will  enter the bank account details

**Expected behaviour:**

[2019-02-17 13:43] PraneethVankayala commented on #1054
@tarun0, @therajanmaurya I would like to work on this issue

[2019-02-17 18:12] PraneethVankayala opened #1055 "Wrong Toolbar title in Savings Account summary"
**Summary:**

On clicking savings account or recurring account it will lead us to another page where the toolbar title is wrong.

**Steps to reproduce:**

- Go to clients
- Select any one client
- Click on savings account a drop down occurs
- Click on any one of the options
- Another activity opens where toolbar title is wrong

**Expected behaviour:**

The app is expected to show the correct toolb

[2019-02-17 18:12] PraneethVankayala commented on #1055
@tarun0, @therajanmaurya I would like to work on this issue

[2019-02-18 16:44] PraneethVankayala opened #1057 "name and description are not found in dialog fragment"
**Summary:**

Name and description edit texts are not found in the document dialog fragment

**Steps to reproduce:**

- Go to clients.
- Select any one of the clients.
- Go to **documents** in the menu.
- Click on the **+** option in the menu.
- Select any document and click on upload.

**Expected behavior:**

The app must show the name and description edit texts to enter the details.

**Observed

[2019-02-18 16:45] PraneethVankayala commented on #1057
@tarun0 , @therajanmaurya I would like to work on this issue

[2019-02-20 18:24] vansha10 opened #1059 "App crashes on document and signature upload"
**Summary:**

On uploading documents or signature from clients, app crashes after selecting the file to upload.

**Steps to reproduce:**

Go to any client.

**For documents:**
1) From the options menu select documents.
2) In the next screen click on the plus icon.
3) Click on browse from the dialog box that appears.
4) Select a document from the file picker.

**For signature:**
1) From the options

[2019-02-22 12:53] #1021 closed

[2019-02-22 17:15] #979 closed

[2019-02-23 19:17] vansha10 commented on #1059
@droidchef, @therajanmaurya, @luckyman20 Could you please review this? Thanks.

[2019-02-24 05:28] jasnasuresh opened #1062 "No search toolbar in some activities"
**Summary:**

There is no search toolbar in activities like Groups, Clients and Centers.

**Steps to reproduce:**

- Login to the app.
- Click on the hamburger icon on the top left corner.
- Click on Groups/Clients/Centers.

**Expected behaviour:**

There should be a search bar for ease of use.

**Observed behaviour:**

There is no search bar in any of theses activities.

**Device and Android vers

[2019-02-24 05:29] jasnasuresh commented on #1062
I would like to work on this issue

[2019-02-24 05:31] jasnasuresh opened #1063 "Removal of hard coded strings"
**Summary:**

The hard coded strings in the android client should be removed.

**Device and Android version:**

Device: Redmi note 5 Pro
Android version: 8.1.0

[2019-02-24 05:31] jasnasuresh commented on #1063
I would like to work on this issue

[2019-02-24 17:53] tarun0 opened #1064 "Add About Us screen and privacy policy"
**Summary:**

Add About Us screen and privacy policy

[2019-02-27 16:38] PraneethVankayala commented on #703
@tarun0 I will fix that Bahasa issue

[2019-03-01 17:22] moksh-mahajan commented on #1033
@RajaVamsi11 Can I claim this issue?

[2019-03-01 17:29] RajaVamsi11 commented on #1033
Yeah sure @moksh-mahajan. You can start working on this issue.

[2019-03-01 20:34] fintecheand0 opened #1071 "Android Studio 3.3"
**Summary:**

While working on Android Studio 3.3 we got compilation errors related to annotations, although they are set as true .

**Steps to reproduce:**

1. Import the project into Android Studio 3.3 with the annotations enabled.

**Expected behaviour:**

APK must be built

**Observed behaviour:**

Error while building the binary file

**Device and Android version:**

org.gradle.api.tasks.Task

[2019-03-05 06:51] erummalik opened #1072 "what is the difference between client model & clientpayload model."
**Summary:**

I am not able to understanding uses of these to model and what is the difference between them?

[2019-03-05 10:34] Priyanka488 opened #1073 "Build errors"
**Summary:**
While building the project , there were compilation errors related to annotation processors ,independent Os paths , although the settings were set as true.

**Steps to reproduce:**

1. Import the project into Android Studio 3.3 with the annotations enabled
2. Build the project.
3. See the compilation errors

**Expected behaviour:**

A successful build .

**Observed behaviour:**

An un

[2019-03-05 13:46] theabhishekavi opened #1076 "Improvement in UI of client detail"
**Summary:**

The details on the right portion of screen is somewhat not visible

**Steps to reproduce:**

1. Open Clients
2. Click on any one of the client
3. client details screen

**Expected behaviour:**

There should be gap between the text and right edge

**Observed behaviour:**

Some details on the right side is not visible

**Device and Android version:**

Device:- Redmi Note 6 pro
Android

[2019-03-05 16:23] moksh-mahajan opened #1078 "Adding dashboard to menu option."
**Summary:**
When a Create 'Entity' fragment is opened by clicking on the menu options, there is no option to go back to the Dashboard from that Create 'Entity' screen except for the Navigation drawer. My idea is to add a menu option for Dashboard too.

**Steps to reproduce:**
Go to Dashboard.
Click on 3 dots on the top right corner.
Tap on any Create 'Entity' option (say Create Client).

**Expect

[2019-03-05 16:27] moksh-mahajan commented on #1078
@droidchef @therajanmaurya Can I work on this?

[2019-03-05 17:02] theabhishekavi opened #1079 "message should be displayed when user is successfully logged in"
Summary:

There should be a message when passcode is successfully saved and user is logged in.

Steps to reproduce:

Log in using a passcode

Expected behaviour:

When passcode is successfully entered there should be a message.

Observed behaviour:

There is no message displayed when a passcode is successfully entered

[2019-03-05 17:20] theabhishekavi commented on #1054
@PraneethVankayala are you still working on this issue?

[2019-03-05 18:23] tavishjain opened #1081 "White Status bar"
**Summary:**

After entering my PIN, as the next screen appears, the status bar for that activity becomes white in colour

**Steps to reproduce:**

Open the app and enter your PIN, then have a look at the status bar

**Expected behaviour:**

The status bar was supposed to be of the primaryDark colour

**Observed behaviour:**

The status bar was white in colour

**Device and Android version:**

Red

[2019-03-05 18:58] tavishjain commented on #1078
@moksh-mahajan I guess Dashboard can be accessed from the navigation drawer and there is no need to add it to 2 places. It would have been another issue if the navigation drawer wasn't available, but there seems no point doing this

[2019-03-05 19:06] tavishjain commented on #1071
I have fixed this and #1079 in the PR #1083

[2019-03-06 03:31] shivakanthsujit opened #1086 "Broken Link to API Documentation"
**Summary:**

The link at the bottom of the Wiki that links to the Android API Documentation seems to be broken. I am getting a HTTP 404 : Page not found error.

**Steps to reproduce:**

Visit [the #Android-Client API Documentation API](https://demo.openmf.org/api-docs/apiLive.html) at the bottom of each Wiki page.

**Screenshots:**
![image](https://user-images.githubusercontent.com/38406074/53854

[2019-03-06 04:10] moksh-mahajan opened #1087 "Making more informative toast message."
**Summary:**
When back button is pressed in an Create 'Entity' screen, it displays a toast message "Please press back again to exit". This message can be changed to something like "Press again to go to Dashboard"

**Steps to reproduce:**
Go to Dashboard.
Tap 3 dots.
Choose a Create 'Entity' option (say Create Client).
Press back button.

**Expected behaviour:**
The toast message should be more inf

[2019-03-06 12:13] harshitbansal05 opened #1090 "Add AutoCompleteTextView for selecting offices in Collection Sheet"
**Summary:**

The number of offices in the `Collection Sheet` fragment is very large, making it difficult to select from the spinner. An AutocompleteTextView would greatly simplify the task.

**Steps to reproduce:**

Open `Collection Sheet` fragment from the navigation drawer. Select offices from the spinner.

[2019-03-06 13:23] moksh-mahajan opened #1091 "Clean up redundant casting."
**Summary:**
One of the things that google announce in IO 2017 is something that’s called ‘cast away’ :). Android developer don’t have to do a manual casting for findViewById(). It’s a simple change. But for a seasoned programmer, a clean code like this can make you very happy and it helps with your coding mood :)

**Expected behaviour:**
Clean up all casting for findViewById() from all activities

[2019-03-06 13:29] #841 closed

[2019-03-06 13:29] shivakanthsujit commented on #1087
Are you working on a PR for this issue? If you aren't I would like to.

[2019-03-06 13:29] #839 closed

[2019-03-06 13:29] #857 closed

[2019-03-06 13:30] moksh-mahajan commented on #1087
@shivakanthsujit Yes, I'm submitting a PR soon.

[2019-03-06 16:23] moksh-mahajan opened #1093 "Unused XML schema declaration."
**Summary:**
Delete unused XML schema declaration in various XML files to make the code cleaner

[2019-03-06 19:27] amogh-jrules opened #1096 "Crash when Add Button in Centers tab pressed"
**Summary:**
The app crashes on click of the button, instead of a dialogue popping up allowing the user to enter details about a certain new center

**Steps to reproduce:**
1. Start App
2. Swipe from the left to open the navigation drawer
3. Select the Centers
4. Click on the floating '+' button
5. The app is observed to crash

**Expected behaviour:**
Pop-up dialogue (fragment-based) to allow user

[2019-03-07 10:28] #1035 closed

[2019-03-07 10:49] moksh-mahajan opened #1097 "Gradle refractor."
**Summary:**
In Gradle, versions of some dependency are mentioned directly but according to the convention it should be fetched from rootProject.
Some examples in this project are:-

    implementation 'io.reactivex:rxandroid:1.1.0'
    implementation 'io.reactivex:rxjava:1.1.4'

    implementation 'com.facebook.stetho:stetho:1.3.1'
    implementation 'com.facebook.stetho:stetho-okhttp3:1.3.1'

**

[2019-03-07 12:06] harshitbansal05 opened #1100 "App craches when clicking on an item in PathTrackingActivity with no lat-lngs"
**Summary:**

This is related to #569. The app sometimes crashes when we click an item in `PathTrackingActivity`. This is because the size of the list `userLatLngs` is 0 for that particular item.

**Steps to reproduce:**

Open the app and go to the `PathTrackingActivity` from the navigation drawer. Select the menu item with time "07 Mar 2019 from 14:00 PM to 14:00 PM".

[2019-03-07 12:08] #1073 closed

[2019-03-07 12:11] harshitbansal05 opened #1101 "Create Notification channels for Api level 26+"
**Summary:**

Currently, the notification for `PathTrackingService` does not make the use of Notification Channels for API Level 26+.

**Expected behaviour:**

The use of Notification channels must be done for Android level 26+, which give proper control over notifications to the user.

[2019-03-07 12:21] amogh-jrules commented on #569
@sukhbir-singh @icancode23  Actually, this issue was brought up before(#828). A pull request is available, but has not been confirmed. I have already asked to work on this.

[2019-03-09 04:23] shivakanthsujit opened #1107 "Unable to Pin Point location for Client"
**Summary:**

When the user tries to pin point the location of a client to save the address, the activity just crashes.

**Steps to reproduce:**
1. Find any client using the Search feature or the Client list.
2. Open the client.
3. Click the dropdown at the top right and select Pinpoint location.
3. Click the button in the task bar to add an address.

**Expected behaviour:**
The location picking a

[2019-03-09 09:26] harshitbansal05 opened #1108 "Solve deprecated builder.sslSocketFactory method"
**Summary:**

The method `builder.sslSocketFactory(sslSocketFactory)` in the class `MifosOkHttpClient.java` is now deprecated. We need to provide an additional parameter `X509TrustManager` to the function as well.

[2019-03-09 10:34] harshitbansal05 opened #1110 "The soft keyboard does not hide on clicking login button"
**Summary:**

The soft keyboard does not hide on clicking the login button.

**Steps to reproduce:**

Click the login button with the soft keyboard open. It does not dismiss.

**Expected behaviour:**

The soft keyboard must dismiss.

**Observed behaviour:**

The soft keyboard does not dismiss.

**Device and Android version:**

Moto E5 Plus, Android O

[2019-03-09 14:19] #1096 closed

[2019-03-09 15:36] #1110 closed

[2019-03-09 16:19] vansha10 opened #1112 "Add currency symbol in Account Summary"
**Summary:**

Need to add currency symbol with the amount whenever charges or balance are mentioned in the account summary. This would make it easier for the user and cause less confusion.

**Steps to reproduce:**

Open a client, expand any account (loan or savings) and click on
it to get to account summary.

**Screenshots:**
![Screenshot_20190309-214235](https://user-images.githubusercontent.com/

[2019-03-09 16:19] vansha10 commented on #1112
@droidchef, @therajanmaurya Please let me know the default currency used in the app so that I can work on this.
Thanks.

[2019-03-10 10:13] harshitbansal05 opened #1114 "No exception shown in Individual Collection Sheet and RunReports fragments for no internet"
**Summary:**

No exception is shown in `Individual Collection Sheet` and `RunReports` fragments for no internet.

**Steps to reproduce:**

Open the `Individual Collection Sheet` and `RunReports` fragments with no internet.

**Expected behaviour:**

An exception must show up similar to `Collection Sheet` fragment.

**Observed behaviour:**

No exception shows up.

**Device and Android version:**

Mo

[2019-03-10 10:39] amogh-jrules commented on #822
Since no one has worked on this since 1 year ago, may I work on this now?

[2019-03-10 10:51] moksh-mahajan opened #1116 "No Snackbar feedback is shown in Create Center and Create Group when there is no internet connection."
**Summary:**

When there is no internet connection, and Create Client is opened, it shows a Snackbar message "Failed to Fetch Client template" but it is not shown in Create Group and Create Center when there is no internet.

**Steps to reproduce:**
Turn off your internet connection.
Go to Create Client (Snackbar is shown)
Go to Create Group (Snackbar is not shown)
Go to Create Center (Snackbar is

[2019-03-10 11:06] harshitbansal05 opened #1117 "Broadcast receiver in ReportCategoryFragment is not unregistered, resulting in memory leaks"
**Summary:**

The broadcast receiver in `ReportCategoryFragment` is not unregistered, which results in memory leaks.

**Expected behaviour:**

The broadcast receiver in `ReportCategoryFragment` must be unregistered in `onPause/onStop`.

**Observed behaviour:**

The broadcast receiver in `ReportCategoryFragment` is not unregistered.

[2019-03-10 12:44] moksh-mahajan commented on #1116
@droidchef Can I work on this issue?

[2019-03-10 13:44] 0xamogh opened #1119 "Incorrect design of Upload Document fragment"
**Summary:**
Unable to upload documents for a particular client. After choosing the file to upload/update, on pressing the upload button a toast saying "name can not be left empty" pops up. However, there is no text field visible to enter the name in the first place.
**Steps to reproduce:**
Open App>Navigation Drawer>Client>Choose a client profile>Press 3 dots>Document> Press + button on the top r

[2019-03-11 07:01] amogh-jrules opened #1122 "Text and image saying charges not found even if charges are present in Client Charges layout"
**Summary:**
Displays messages "No charges to display" while simultaneously displaying charges

**Steps to reproduce:**
Go to a particular client's charges page where a few charges are already present and you will observe the issue.

**Expected behaviour:**
Text and image which says charges not found should not be displayed

**Observed behaviour:**
Text and image which says charges not found is di

[2019-03-11 08:44] 0xamogh opened #1123 "Solve deprecated class ProgressDialogue and NotificationCompat.Builder"
These are the few deprecated classes which are still being used. I propose to replace them with their newer, improved versions for the good of the project.
Both the above classes are deprecated since API 26.

I am working on this issue

[2019-03-11 08:50] moksh-mahajan opened #1124 "UI improvement for Dashboard."
**Summary:**
In the Dashboard, the "Search" TextView look a little boring. It can be made interesting by adding a search icon beside it.

**Steps to reproduce:**
Open Dashboard.

**Expected behaviour:**
A search icon can be added with the Search TextView.

**Observed behaviour:**
There is no search icon.

**Screenshots:**
After addition of search icon (Padding can be improved)
![photo6064124596954

[2019-03-11 09:25] #1117 closed

[2019-03-11 09:40] #1008 closed

[2019-03-11 09:53] #1019 closed

[2019-03-11 09:56] #1091 closed

[2019-03-11 11:15] moksh-mahajan opened #1126 "UI improvement in Create Center fragment."
**Summary:**
The UI of the spinner for selecting Office in Create Center fragment is different from other spinners in the app. It contains a Grey background color and the drop-down arrow is not showing in it.

**Steps to reproduce:**
Dashboard > Menu Options > Create Center

**Expected behaviour:**

Make the UI of this spinner like the rest of the spinners:
-Removal of Grey background.
-Drop down

[2019-03-11 11:15] moksh-mahajan commented on #1126
I'm working on this issue.

[2019-03-11 12:16] moksh-mahajan opened #1128 "UI improvement: White space is created above the app bar."
**Summary:**

Whenever a fragment is changed from Groups or Centers to any other fragment like Client, Search Client or any Create 'Entity', a white space is shown at the top of the app bar.

**Steps to reproduce:**

Navigation Drawer > Choose "Groups" or "Centers" > Then Open Clients or Dashboard or Create 'Entity' from menu options.

**Expected behaviour:**

White space should not be shown.

**O

[2019-03-11 13:54] shivakanthsujit opened #1129 "Duplication of Charges on pressing the "No charges available" image"
**Summary:**
If there are two charges for a client, the "No Charges available" message is still found. Futhurmore if you press the message, the items in the list duplicate. And this duplication continues each time you press it.

**Steps to reproduce:**
1. Open any client with two charges.
2. The "No Charges available" error is wrongly displayed.
3. If the user clicks the message, the charges are d

[2019-03-11 14:05] amogh-jrules commented on #1129
***you go gurl***

[2019-03-11 14:13] AniketDogra opened #1130 "UI Improvement in Login screen."
**Summary:**

The Mifos logo and the TextView below the logo on the Login Screen is not in the center.

**Steps to reproduce:**

Open the app for first time Login screen appears or when the user logs out.

**Expected behaviour:**

The Mifos logo and the TextView "Please enter your credentials" should appear in the center.

**Observed behaviour:**

The Mifos logo and the TextView "Please enter your

[2019-03-11 14:14] AniketDogra commented on #1130
@droidchef I would like to work on this issue.

[2019-03-11 17:08] harshitbansal05 commented on #1123
@amogh-jrules the one for `NotificationComapt.Builder` has already been opened by me. It just has a small problem of style template. I would fix it shortly, Thanks

[2019-03-11 17:20] shivakanthsujit opened #1132 "Unable to view Error Message when keyboard open"
**Summary:**

In Client Savings Account Transaction Activity, if the keyboard is open and a error message pops up, it appears behind the keyboard and isn't visible to the user. This can cause confusion to the user as he is stuck on the same page with no message informing him why.

**Steps to reproduce:**
1. Go to the Savings Account of any Client and try to withdraw more than available in the acco

[2019-03-11 17:25] harshitbansal05 opened #1133 "Use of lambda expressions throughout the app"
**Summary:**

The app currently does not use lambda expressions anywhere. We can use them to make the code more readable and also reduce the lines of code.

[2019-03-11 17:25] harshitbansal05 commented on #1133
@droidchef may I work on it?

[2019-03-11 17:32] harshitbansal05 commented on #651
@tarun0 may I work on it?

[2019-03-12 06:31] amogh-jrules commented on #1123
Actually, I saw your issue before putting up this request. Are you refering to #1109? Your request is reference to deprecation of builder.sslSocketFactory of OkHttpClient class, whereas this references to NotificationCompat.Builder which is a builder class for Notification Objects. Please check into it :)

[2019-03-12 06:44] harshitbansal05 commented on #1123
No, I am referring to #1103. I just have to add a style template to it, Thanks.

[2019-03-12 08:51] amogh-jrules commented on #1123
Oh okay! My bad, you can carry on with the PR, I will fix the remainder of this issue.
Thanks for letting me know! :)

[2019-03-12 19:46] theamritanair opened #1134 "Remove redundant String operations"
**Summary:**

Remove redundant code constructs like unecessary string operations like calling the toString() method.

[2019-03-13 07:20] moksh-mahajan commented on #701
@therajanmaurya I'm working on this.

[2019-03-14 14:10] 0xamogh opened #1139 "Removing @SuppressWarnings tags"
**Summary:**
While @SuppressWarnings can be used to ignore warnings that the developers know about and allow them to focus on more important, serious warnings, this is a bad coding practice as suppressing warnings will cause the code to break one day without the developers having any previous knowledge.
Issue is solved by removing redundant renditions of the tag.

[2019-03-15 10:35] shivakanthsujit opened #1140 "No Feedback when ListView with no elements is clicked"
**Summary:**

No feedback when Listview, in ClientDetailsFragment, with no elements clicked.

**Steps to reproduce:**

In Client Activity, press a Loan or Savings or Recurring Account tab with no elements.

**Expected behaviour:**

Some Feedback that there are no accounts available.

**Observed behaviour:**

No feedback.

**Device and Android version:**

Redmi Note 4 Lineage OS 15.1

**Screenshots

[2019-03-17 09:10] RashulChutani opened #1142 "Back Button not working when sync surveys dialog opens in settings tab"
**Summary:**
Back Button not working when sync surveys dialog is opened on pressing sync surveys in settings tab available in navigation drawer .The desired functionality must be that Background area should not be functional (on pressing) but back button must work and dialog should get dismissed on pressing back.

**Steps to reproduce:**
1. Open Navigation Drawer.
2. Click on settings.
3. Toggle o

[2019-03-17 09:10] RashulChutani commented on #1142
I am working on this issue.

[2019-03-18 16:16] iKlsR commented on #1073
Was this properly tested?

[2019-03-20 09:05] AathmanT commented on #927
I'll work on this issue

[2019-03-20 09:53] AathmanT opened #1144 "Groups Activity keeps on loading when Create client is selected in offline"
**Summary:**

The screen keeps loading if create client is chosen from the over flow menu while in the Group Activity and back button is pressed.

**Steps to reproduce:**

Turn off Mobile Data.
Navigation drawer->Groups->Create Client from the overflow menu->Press back button

**Expected behaviour:**

Groups Activity must show up Failed to fetch groups as before.

**Observed behaviour:**

Groups A

[2019-03-20 10:03] AathmanT commented on #813
I'll work on this issue.

[2019-03-22 13:14] RashulChutani commented on #1144
I am working on this

[2019-03-22 13:16] AathmanT commented on #1144
I have already started working on this.

[2019-03-22 13:25] nikhil-sachdeva opened #1145 "Annotation Processor gradle build fail"
**Summary:**

Unable to run the app on local device due to the following build log :
[code]
**Steps to reproduce:**

Run the app. Tried on various SDK Build versions

**Device and Android version:**

Redmi Note 3

[2019-03-23 16:53] vikash2021 opened #1148 "Unusual text alignment in checkbox of new center fragment"
**Summary:**

Checkbox text "Active "is not properly aligned with the box

**Steps to reproduce:**

When the create new center fragment is opened
**Expected behaviour:**

Box and the text should be properly aligned
**Observed behaviour:**

Box and text are not properly aligned

**Device and Android version:**

Android 7.0
![Screenshot_20190323-221941](https://user-images.githubusercontent.com/4351

[2019-03-24 04:17] apoorva-mk opened #1150 "Invidual collection list dropdown includes text box description."
**Summary:**

In 'Individual Collection List' activity the drop down list shouldn't include the text box description.

**Steps to reproduce:**

- Open Individual Collection List from Navigator menu
- When 'Select Office' drop down list is clicked the 'Select office' option shouldn't appear as an office. Similarly with 'Select loan officer'.

**Expected behaviour:**

Should only list the valid offi

[2019-03-24 04:17] apoorva-mk commented on #1150
I'm working on it.

[2019-03-26 22:06] DylanRobson commented on #1128
Made PR for this issue.

[2019-03-27 13:47] ShankarNara commented on #475
I have a solution for this issue , may I work on this?

[2019-04-05 12:30] ShankarNara commented on #1150
I understand your point , but I don't think it really is an issue
This is a standard practice to include the textbox description in the drop down list in other apps.

[2019-04-05 12:31] apoorva-mk commented on #1150
Oh alright then, I'll close this issue.

[2019-04-05 12:31] #1150 closed

[2019-04-06 12:56] AathmanT commented on #1144
A different progress bar will be displayed for online mode. And your solution won't fix that.

[2019-04-06 13:08] AathmanT commented on #1144
Fix #1154

[2019-04-06 13:09] AathmanT commented on #813
#1154

[2019-04-07 06:55] AathmanT commented on #1114
Sorry Wrong reference please discard this reference.

[2019-04-09 17:24] AathmanT opened #1156 "App crashes when clicking the upload button without selecting a file but filled name and description"
**Summary:**

Without selecting a file when upload is pressed, the app crashes.

**Steps to reproduce:**

Select any Client-> Three dots -> Documents -> + sign-> fill name and description -> Click upload

OR

Select any Client-> Three dots ->Click any existing document -> Click Update Document -> Click upload

**Expected behaviour:**

Upload should not happen

**Observed behaviour:**

App Crash

*

[2019-04-10 17:58] AathmanT commented on #1119
You can just change the layout_width of the big Linear Layout like my commit, instead of changing individual Text Views.

[2019-04-13 21:16] roya90 commented on #839
Hey, I checked all of the above-mentioned solutions and neither work. Any new solution?

[2019-05-27 17:41] moksh-mahajan opened #1158 "Spinner not working in ReportDetails and Report Fragment"
**Summary:**

Spinner works fine in the RunReportsActivity when on ReportsCategory fragment is loaded but it doesn't work when ReportDetails or Report Fragment is loaded

**Steps to reproduce:**
Open RunReports from Navigation Menu.
Change spinner items from the toolbar. It works fine.
Now choose any report type. ReportDetails Fragment will be loaded.
Now change items from the spinner. Nothing wil

[2019-05-27 17:42] moksh-mahajan commented on #1158
@tarun0 @droidchef I'm working on this issue.

[2019-06-06 13:56] junbetterway opened #1162 "Cannot create client when using OFFLINE mode"
**Summary:**

Cannot create client when using OFFLINE mode

**Steps to reproduce:**

1. Toggle the mode into offline
2. Go to Clients and click '+' to add new client
3. Fill up the form then click Submit

**Expected behaviour:**

Client creation should be successful even if offline mode.

**Observed behaviour:**

No error messages. The screen just blinked and then stays on the create-client form p

[2019-06-06 18:26] francisguchie opened #1163 "View or Print Receipt"
**Summary:**

Field Staff if involved in transacting on clients account, they should be able to print receipts (using android POSs). This gives confidence to clients when a field staff takes money from them.

**Steps to reproduce:**

Make a loan repayment, savings deposit or withdrawal there is no place to print receipt

**Expected behaviour:**

User with a POS with in built printer should be able

[2019-06-27 14:48] RajaVamsi11 opened #1165 "App crashes on clicking path tracker"
**Summary:**

When trying to run path tracker service, the app just crashes throwing null pointer exception.

**Steps to reproduce:**

From Dashboard, just click Path Tracker

**Expected behavior:**

The app should show the tracked paths and allow the user to track his path.

**Observed behavior:**

App crash.

**Device and Android version:**

Device: Samsung and 6.1.0

[2019-06-28 07:00] RajaVamsi11 opened #1167 "Latest tracked path is not showing on the top of the list"
**Summary:**

In the Path tracker activity, the latest tracked path is not adding on the top of the list, List must be sorted according to the latest added paths.

**Steps to reproduce:**

Go to Path Tracker -->  Start tracking path

**Expected behavior:**

The latest tracked path should be shown on the top.

**Observed behavior:**

The latest tracked path is not showing on the top and it was addi

[2019-08-05 14:08] #1158 closed

[2019-08-13 04:27] Aliencode-R commented on #1145
The issue is DBFlow dependency. I was working on this and solved the issue.

[2019-09-11 07:21] elirehema opened #1174 "App crush on Selecting Offline async menu"
App crush on Selecting Offline async menu

Steps to reproduce:

Go to Offline Async.
Immediatelly click menu icon in three dots.

Expected behaviour:

Menu Options should be displayed.

Observed behaviour:

No error messages. The appication get crushed

Device and Android version:

Same behaviour on all devices tested so far. (Android 9)

Screenshots:

![](https://im5.ezgif.com/tmp/ezgif-5-55b52e0

[2019-09-11 07:21] elirehema commented on #1174
Am working on it

[2019-09-11 10:57] elirehema opened #1176 "Run Report List display incosistent"
**Summary:**
Run Report output display report in uncosistent view, With Capital and Small Letters in some text. Child Offices start with dots at beginning of office name.

**Steps to reproduce:**
Open Run report
Select one of the report let **Active Clients**
Fill the credential and Click Run Report

**Expected behaviour:**
Report should display in consistence behaviour and view

**Observed behavi

[2019-09-11 10:58] elirehema commented on #1176
working on this

[2019-09-13 13:03] elirehema commented on #1129
i'm working on this

[2019-09-28 08:16] datadve opened #1180 "Loan Officers unable to have narrowed lists of clients created or allocated to them"
Client list displays entire client list of the tenant. reducing UX for loan officers slowing repayments recording.

It is best for Loan officers to be able to view clients under their purview.

[2019-10-22 04:20] santoshconflux opened #1181 "No pop up message shows 'Waiting for Checker approval""
1) Go to System>Configurations and enable Maker-Checker
2) Enable Create client checker in 'Configure Maker Checker tasks.
3) Go to left navigation page and tap on Clients.
4) In clients list page, click on '+' icon.
5) In next create client page, enter all mandatory fields and submit it.

Expected: After Submission, should show message, 'Waiting for Checker approval' and it must be listed in chec

[2019-10-22 04:24] santoshconflux opened #1182 "No options to upload existing photo in Edit client page."
1) Go to left navigation page and tap on Clients.
 2) In clients list page, click on '+' icon.
 3) In next create client page, tap on image and then select take photo.
 4) Submit client with other mandatory fields.
5) Go to the client page, and tap on the image.
Expected: It should show both 'Take photo' and Upload Photo options.
Actual: Its only showing take photo option. Uploading existing photo

[2019-10-27 17:57] edcable opened #1183 "Test Issue"
**Summary:**

Summarize your issue in one sentence (what goes wrong, what did you expect to happen)

**Steps to reproduce:**

How can we reproduce the issue?

**Expected behaviour:**

What did you expect the app to do?

**Observed behaviour:**

What did you see instead?  Describe your issue in detail here.

**Device and Android version:**

What make and model device (e.g., Samsung Galaxy S3) did y

[2019-10-30 20:26] theabhishekavi commented on #1183
@edcable what is this issue about?

[2019-10-31 05:15] santoshconflux commented on #1183
@theabhishekavi , this is the template which we have to follow for every ticket raised.

[2019-11-03 12:17] akatski316 opened #1184 "A test dummy login credential"
For developers there should be some test login credential...

[2019-11-03 13:43] tarun0 commented on #1184
It already exists and can be found on wiki page too: mifos:password

[2019-11-03 13:43] #1184 closed

[2019-11-05 05:27] akatsuki619 commented on #1167
g

[2019-11-08 18:16] myselfanuj opened #1185 "Issues related to Keyboard."
**Summary:**

Whenever the user tapping anywhere on the screen there is no shutdown of the keyboard on the login page. This affects the user experience.

**Steps to reproduce:**

Just tap anywhere on the screen after opening the keyboard in login.

**Expected behaviour:**

The keyboard must be closed after tapping anywhere on the screen

**Observed behavior:**

Whenever the user tapping elsewhere

[2019-11-10 09:49] GOVINDDIXIT opened #1186 "Update Issue template workflow"
**Summary:**

We are currently using the old template for creating an issue which needs to be updated to the latest template workflow as suggested by Github

For more details about new workflow visit [here](https://help.github.com/en/github/building-a-strong-community/about-issue-and-pull-request-templates)

**Do you want to work on this issue?**

- [x] Yes
- [ ] No

[2019-11-11 10:01] santoshconflux commented on #1054
@PraneethVankayala , @theabhishekavi , Bank account number is captured through datatable. By changing the datatable configuration, you can avoid special characters in the filed.

[2019-11-11 10:01] #1054 closed

[2019-11-11 11:11] santoshconflux commented on #819
The groups are sorted from creation/activation date - From latest to oldest. Let there be a filter to choose either - sort by creation date and sort by Alphabetically.

[2019-11-11 11:36] santoshconflux commented on #798
This issue is not reproducible. Closing it.

[2019-11-11 11:36] #798 closed

[2019-11-11 13:28] sukhbeer opened #1188 "hard coded string xml"
**Summary:**

some XML file has hard-coded text.  convert a hard-coded String to a string ressource.

[2019-11-11 15:18] harshshinde07 commented on #1188
@sukhbeer Can I take up this issue?

[2019-11-16 05:39] Grandolf49 opened #1189 "App sometimes crashes when navigation drawer is opened after navigating to groups"
**Summary:**

App sometimes crashes when navigation drawer icon is pressed after the user has navigated to Groups

**Steps to reproduce:**

1. Open Navigation Drawer
2. Go to groups
3. Click Navigation drawer icon again
Try this a few times, the app crashes

**Expected behaviour:**

App should not crash while navigating

**Observed behaviour:**

What did you see instead?  Describe your issue in de

[2019-11-16 17:41] harshshinde07 opened #1191 "Add Margin to ClientActivity [GCI]"
**Summary:**

This task involves adding start and end margin to `ClientActivity`

**Steps to reproduce:**
- Open navigation drawer
- Click on Clients
- Click on any individual client from the list
- You can see that the details screen does not have the required start and  end margin

**Screenshots:**

<img src="https://user-images.githubusercontent.com/25999879/68996816-4fe1d080-08c5-11ea-98bc-ba4

[2019-11-16 17:41] harshshinde07 opened #1192 "Add Margin to GroupActivity [GCI]"
**Summary:**

This task involves adding start and end margin to `GroupActivity`

**Steps to reproduce:**
- Open navigation drawer
- Click on Groups
- Click on any individual group from the list
- You can see that the details screen does not have the required start and  end margin

**Screenshots:**

<img src="https://user-images.githubusercontent.com/25999879/68996863-c67ece00-08c5-11ea-86e4-7a032a

[2019-11-16 17:41] harshshinde07 opened #1193 "Add Margin to CenterActivity [GCI]"
**Summary:**

This task involves adding start and end margin to `CenterActivity`

**Steps to reproduce:**
- Open navigation drawer
- Click on Centers
- Click on any individual center from the list
- You can see that the details screen does not have the required start and  end margin

**Screenshots:**

<img src="https://user-images.githubusercontent.com/25999879/68996865-ce3e7280-08c5-11ea-9ea9-244

[2019-11-18 05:18] santoshconflux commented on #1193
@harshshinde07, Are you working on this?

[2019-11-18 05:19] santoshconflux commented on #1192
@harshshinde07 , Are you working on this?

[2019-11-18 05:41] harshshinde07 commented on #1193
@santoshconflux this isssue and all others with `[GCI]` in the title are for GCI.

[2019-11-19 13:43] sukhbeer commented on #1188
this issue is for GCI students. @santoshconflux add GCI tag.

[2019-11-19 14:12] elirehema commented on #1182
I think [this issue in mifos-mobile](https://github.com/openMF/mifos-mobile/issues/1214) repository will conflict with this one.

If  mifos-mobile will allow client to edit his profile picture the same as here. Both client and organization will be able to edit the same photo.

Who is real responsible to upload the client photo ? A client or organization. @santoshconflux @edcable

[2019-11-20 04:46] santoshconflux commented on #1188
@sukhbeer , Done

[2019-11-21 15:21] refactor-droidyy commented on #1139
@amogh-jrules can I work on this issue.

[2019-11-21 19:37] amogh-jrules commented on #1139
Yes.

[2019-12-02 14:28] elirehema opened #1202 "Add Support foldable devices"
**Summary:**

Currently this app is not supporting foldable devices

**Steps to reproduce:**

Install application in Tablets

**Expected behaviour:**

Application should behave according to screen changes

**Observed behaviour:**

Application Crush

**Device and Android version:**

 Samsung Galaxy S3
Android version  6.0 Marshmallow

**Screenshots:**

Can be created by pressing the Volume Down and

[2019-12-02 14:34] elirehema opened #1203 "Add Support for Tablets devices"
**Summary:**

Currently this app is not supporting tablet

[2019-12-02 14:39] elirehema commented on #1203
GCI Task

[2019-12-02 14:39] elirehema commented on #1202
GCI Task

[2019-12-03 09:24] luckyman20 commented on #1182
@elirehema Not all clients are self service users and even if both are able to edit the photo then also it isn't a very big problem. Although we can (in future) restrict editing photo of self service user by admin.

[2019-12-03 09:37] elirehema commented on #1182
@luckyman20 my point was to make a clear cut on who is supporsed to update a client image. If we allow both organization and client to update the same client image it may lead to conflict i.e. organization update image and client update the same image(profile pic)

[2019-12-04 10:33] PiyushSharma99 commented on #1191
I have claimed this task here https://codein.withgoogle.com/dashboard/task-instances/5748205438894080/ and am working on it. Thanks

[2019-12-04 10:56] PiyushSharma99 commented on #1192
I have claimed this task here - https://codein.withgoogle.com/dashboard/task-instances/6607590839025664/ and am working on it!

[2019-12-04 18:38] laxyapahuja commented on #1182
I've solved this issue. Making a PR.

[2019-12-04 20:38] laxyapahuja opened #1208 ""Failed to update image" when trying to add a profile picture to a client."
**Summary:**

After clicking to capture a picture, the image doesn't get uploaded.

**Steps to reproduce:**
Log in to the app and go to the Clients activity by finding it in the SideNavigationBar. Click on any of the profiles and click on the profile picture and select Take New Photo. Click a photograph and wait for the app to produce a snackbar saying "Failed to update image."

**Expected behavio

[2019-12-04 21:10] laxyapahuja commented on #1208
I investigated deeper and found that the error is actually ```javax.net.ssl.SSLHandshakeException```. Will see if I can fix this myself.

[2019-12-05 13:35] PiyushSharma99 commented on #1188
I am working on this issue - https://codein.withgoogle.com/dashboard/task-instances/5892336647667712/ Thanks!

[2019-12-06 15:57] #1156 closed

[2019-12-07 12:00] #1188 closed

[2019-12-08 07:00] laxyapahuja commented on #1122
hey, i can't seem to reproduce this error. are you sure that it still exists?

[2019-12-08 07:13] laxyapahuja opened #1214 ""Failed to fetch LoanProducts" toast when on Loan Application"
**Summary:**

When adding a loan account in the clients details page, a toast shows up titled "Failed to fetch LoanProducts". After I fill the external ID and clicking Submit, the app crashes.

**Steps to reproduce:**

Clients -> any client -> options -> Add loan account -> Toasts shows up -> Enter External ID -> Submit -> App crashes

**Expected behaviour:**

Certain fields should get filled and

[2019-12-08 13:38] Saransh0905 commented on #1214
I would like to solve this issue. Can someone guide me?

[2019-12-09 09:05] laxyapahuja commented on #816
i tried recreating this error but wasn't able to. the snack bar is not empty. it shows the error already.

[2019-12-09 10:13] laxyapahuja opened #1219 "App crashes after tapping on side navbar in another activity again"
**Summary:**

The app crashes when trying to go into side NavBar while being in another activity.

**Steps to reproduce:**

Navbar -> Groups -> Navbar

**Expected behaviour:**

The navbar should open.

**Observed behaviour:**

App crashes.

**Device and Android version:**

Android 9, Mi A3

**Screenshots:**

![ezgif-4-37d1281e48f2](https://user-images.githubusercontent.com/31318248/70427368-984277

[2019-12-09 14:04] #805 closed

[2019-12-09 14:24] elirehema commented on #1122
Hello @rachittt If you go to the client with no charges the message doesn't appear .
Also you should consider artitecture pattern appropriately. Thanks

[2019-12-09 14:38] rachittt commented on #1122
@elirehema Updated the PR. Kindly check 😄

[2019-12-09 20:22] OussEmaDevCode opened #1223 "Some progress dialogues don't show a message"
**Summary:**
Some progress dialogues don't show a proper message, they just show this placeholder: 'message'.

**Steps to reproduce:**
There are many steps to reproduce this issue since there are many progress dialogues that don't work but here's one:

Clients>Create client>submit

**Expected behaviour:**
The app should show a proper progress dialogue message.

**Observed behaviour:**
The app just

[2019-12-10 12:03] #819 closed

[2019-12-10 16:23] laxyapahuja opened #1226 "Action Bar shifts a bit down"
**Summary:**

After browsing through several fragments, the action bar shifted a bit downwards and stayed there.

**Steps to reproduce:**

Clients -> Groups -> Centers -> More fragments till the action bar drops

**Expected behaviour:**

Action bar shouldn't shift.

**Observed behaviour:**

The action bar shifts.

**Device and Android version:**

Android 9, Mi A3

**Screenshots:**
![ezgif-5-50dec2

[2019-12-11 09:51] laxyapahuja commented on #816
<img src="https://user-images.githubusercontent.com/31318248/70610369-77f4f300-1c29-11ea-9211-c2c14bd3d5bd.jpeg" alt="hlo" width="300"/>

[2019-12-13 12:11] jsahil730 commented on #1182
@luckyman20 I think it probably has issues when uploaded image sizes are very high, like 3-4 MB, could you take a look into this?

[2019-12-14 15:16] #1219 closed

[2019-12-14 17:31] laxyapahuja opened #1231 "Error while adding Loan Account in a Client"
**Summary:**

When trying to submit a loan application for a client which is usually really up the list, the loan application doesn't get submitted and shows an error.

**Steps to reproduce:**

Clients -> Any of the top 5 clients in the list -> Top right menu -> Add Loan Account -> Enter any external ID -> Submit -> Toaster pops up

**Expected behaviour:**

The loan account to get submitted normal

[2019-12-14 18:43] jsahil730 commented on #939
@luckyman20 I can't seem to reproduce this because the purpose ID can't be set due to some UI issues, please look!

[2019-12-14 18:54] jsahil730 commented on #1226
@luckyman20 Can it be a GCI task?

[2019-12-15 07:01] luckyman20 commented on #1226
@jsahil730 Yes, it can be.

[2019-12-15 07:06] luckyman20 commented on #939
@santoshconflux Are you able to reproduce this?

[2019-12-15 09:26] #1182 closed

[2019-12-16 07:52] #866 closed

[2019-12-16 08:22] moksh-mahajan commented on #1226
@laxyapahuja @luckyman20 The issue and the fix has already been created and submitted before.

[2019-12-16 10:45] #1226 closed

[2019-12-16 10:45] luckyman20 commented on #1226
@jsahil730 please make sure that we don't have task for it.

[2019-12-16 10:48] #804 closed

[2019-12-16 10:49] #1223 closed

[2019-12-17 06:13] santoshconflux commented on #939
Hi Chirag,
It has to be reproduced only when 'Entity data-table check is added to the
loan application from Web. Can you confirm which instance they have
connected to?

On Sun, Dec 15, 2019 at 12:36 PM Chirag Gupta <notifications@github.com>
wrote:

--
Thanks & Regards

Santosh Math

*QA Engineer*

*Conflux Technologies Pvt Ltd <http://www.confluxtechnologies.com/>*
| *Office*: +91-080-41208662 |

[2019-12-17 13:07] luckyman20 commented on #939
@santoshconflux Can you please tell which instance they should connect to?

[2019-12-19 09:21] #1191 closed

[2019-12-19 09:22] #1192 closed

[2019-12-20 14:10] santoshconflux commented on #939
Better they should connect to https://mobile.openmf.org. But anyone can
configure it to connect another instance through Android client app.

On Tue, Dec 17, 2019 at 6:37 PM Chirag Gupta <notifications@github.com>
wrote:

--
Thanks & Regards

Santosh Math

*QA Engineer*

*Conflux Technologies Pvt Ltd <http://www.confluxtechnologies.com/>*
| *Office*: +91-080-41208662 |

*Address*: #304, 2nd Floor,

[2019-12-22 09:09] iamsh4shank opened #1234 "Keyboard related issue"
**Summary:**

On the Dashboard page keyboard is not closing when the navigation drawer is opened. This affects the user experience.

**Steps to reproduce:**

Just open the keyboard by clicking on search box then open navigation drawer.

**Expected behaviour:**

The keyboard must be closed while opening the navigation drawer.

**Observed behaviour:**

On the Dashboard page keyboard is not closing w

[2019-12-22 09:21] robustTechie commented on #1234
I will work on this.

[2019-12-24 08:37] robustTechie opened #1236 "Incomprehensible UI while saving a client information in the create client page."
**Summary:**

Incomprehensible UI while saving a client information in the create client page.

**Steps to reproduce:**

1. Click on Create Client.
2. Then after filling all the information press submit and then this issue will be generated

**Expected behaviour:**

Show some comprehensible UI so the user will able to save the information.

**Observed behaviour:**

Showing some incomprehensible UI

[2019-12-24 08:37] robustTechie commented on #1236
I will work on this issue.

[2019-12-24 14:45] iamsh4shank opened #1237 "Saving client name even if number is entered in first, middle, last name."
**Summary:**

Saving client name even if number is entered in first, middle, last name.

**Steps to reproduce:**

Go to client saving option and type number in first, middle, last number instead of alphabets.

**Expected behaviour:**

If number is entered then it must show the toast notification like "First name/last name/ middle name should only contain alphabets"

**Observed behaviour:**

It is

[2019-12-24 14:46] robustTechie commented on #1237
I will work on this issue.

[2019-12-25 07:21] #1214 closed

[2019-12-25 07:21] #1208 closed

[2019-12-25 08:00] robustTechie commented on #828
I will work on this issue.

[2019-12-27 21:31] #1181 closed

[2019-12-29 07:07] thefossguy commented on #1142
This issue is still open. If its not resolved can I start working on it?

[2019-12-30 11:11] laxyapahuja commented on #451
Can I work on this issue? @luckyman20

[2019-12-30 11:15] laxyapahuja commented on #596
@luckyman20 i think this issue can be closed now.

[2019-12-30 11:23] laxyapahuja commented on #565
This issue seems to be solved in #899. Once #899 gets merged, this can be closed. @luckyman20

[2019-12-30 11:26] laxyapahuja commented on #1189
@luckyman20 already merged #1227 which solves this problem. This can be closed now.

[2019-12-30 11:31] laxyapahuja commented on #1167
@luckyman20 this seems to be a duplicate of #565

[2019-12-30 11:41] laxyapahuja opened #1241 "UI inconsistencies in the dialog box of uploading a document"
## Summary
UI inconsistencies in the dialog box of uploading a document.

## Steps to reproduce
Clients -> Any Client -> Menu -> Documents -> + on the top right

## Expected Behaviour
A dialog box with good UI should come up.

## Observed Behaviour
A dialog box with a weird alignment comes up.

## Device and Android Version
Mi A3, Android 9

## Screenshots
<img src="https://user-images.githubuserc

[2019-12-30 14:19] robustTechie opened #1243 "UI improvement in Dashboard"
**Summary:**

The search button and search textbox are in not in center.

**Steps to reproduce:**

Open the app and login with you pin.

**Expected behaviour:**

The search button and search textbox appears in center and also some UI enhancement.

**Observed behaviour:**

The search button and search textbox are in the left hand side.

**Device and Android version:**

Realme 5
Android version 9.0

[2019-12-30 14:19] robustTechie commented on #1243
I will work on this issue.

[2019-12-31 07:07] luckyman20 commented on #1167
@laxyapahuja Yes, you are correct. Thanks for pointing it out.

[2019-12-31 07:07] #1167 closed

[2019-12-31 07:09] #1189 closed

[2019-12-31 07:11] luckyman20 commented on #596
Solved in #603

[2019-12-31 07:11] #596 closed

[2019-12-31 07:13] luckyman20 commented on #451
@laxyapahuja Yes, you can.

[2020-01-02 15:43] robustTechie commented on #1107
I will work on this issue.

[2020-01-02 16:56] robustTechie opened #1245 "Previous search result visible even if result filter is changed"
**Summary:**

Previous search result visible even if result filter is changed in Dashboard.

**Steps to reproduce:**

Search any client name in dashboard then change the filter from All to Groups then previous result is also available if searched group is not present.

**Expected behaviour:**

Previous search result disappears when any new thing is searched.

**Observed behaviour:**

Search any cl

[2020-01-02 16:57] robustTechie commented on #1245
I will work on this issue

[2020-01-03 05:54] robustTechie commented on #1231
I will work on this.

[2020-01-03 09:28] laxyapahuja commented on #939
hey @santoshconflux, [this](https://github.com/openMF/android-client/issues/1231) is the error I'm getting after trying to reproduce this issue through https://mobile.openmf.org

[2020-01-03 15:50] iamsh4shank opened #1246 "Wrong toast message appears in collection sheet"
**Summary:**

After selecting office name in collection sheet wrong toast message appears as "Please select center name"  instead of "Please select staff name"

**Steps to reproduce:**

Open nav drawer>Collection sheet>select office

**Expected behaviour:**

Show toast message as "Please select a staff"

**Observed behaviour:**

After selecting office name, toast message appears as "Please select

[2020-01-03 15:50] robustTechie commented on #1246
I will work on this issue.

[2020-01-03 21:18] iamsh4shank opened #1248 "Clear button not working"
**Summary:**

Clear button not working in Individual Collection Sheet.

**Steps to reproduce:**

Open nav drawer>Select Office and Loan Officer>Press Clear button.

**Expected behaviour:**

Clear button clear the selected choice.

**Observed behaviour:**

Clear button not working in Individual Collection Sheet.

**Device and Android version:**

Android Version 9.0
Realme 5

**Screenshots:**

![iss

[2020-01-03 21:29] robustTechie commented on #1248
I will work on this.

[2020-01-03 21:43] robustTechie opened #1249 "App crashes if special characers entered in client ID"
**Summary:**

If special characters are entered in client ID then the app crashes.

**Steps to reproduce:**

Open nav drawer>Client>Open any client>Go to options and select More client info>Click on any option>press plus button then enter special characters in client Id >Press save

**Expected behaviour:**

It shows a toast message as special character not allowed.

**Observed behaviour:**

If spe

[2020-01-03 21:44] robustTechie commented on #1249
I will work on this

[2020-01-03 21:55] robustTechie opened #1250 "Save button not working properly"
**Summary:**

After pressing Save button in charges menu save dialog button does not disappears. That affects user experience.

**Steps to reproduce:**

Open nav drawer>Clients>Press any client name>Click on options and then on Charges>Click on plus button>Enter amount then press save button

**Expected behaviour:**

After pressing save button current dialog box disappears.

**Observed behaviour:*

[2020-01-03 21:55] robustTechie commented on #1250
I will work on this.

[2020-01-03 21:58] laxyapahuja commented on #1250
It seems to a permission issue. What account are you using?

[2020-01-03 22:00] robustTechie commented on #1250
Mifos

[2020-01-03 22:03] laxyapahuja commented on #1250
The issue here is that your account doesn't have the appropriate permission to create charges. I don't think it requires an issue to be made because of it. The most you can do is make the snackbar text more comprehensible to the general user.

[2020-01-03 22:22] robustTechie commented on #1250
Yes the user don't have permissions for saving but after pressing the save button the dialog box must be closed by showing a toast notification whether it saved or not.

[2020-01-04 11:36] #1241 closed

[2020-01-04 22:03] laxyapahuja commented on #1165
@luckyman20 This issue seems to have been solved. I think it can be closed now.

[2020-01-07 14:26] iamsh4shank opened #1251 "Toast message even after selecting spinner in New Individual Collection Sheet"
**Summary:**

Wrong toast message shown in New individual collection sheet.

**Steps to reproduce:**

Open nav drawer> New Individual Collection Sheet>Select office>select load Officer

**Expected behaviour:**

After selecting loan officer it do not show any toast message.

**Observed behaviour:**

After selecting all options it is again generating the wrong toast message as "Select staff officer"

[2020-01-07 22:13] corneliuze commented on #1185
why is the issue still opened?

[2020-01-09 14:36] iamsh4shank opened #1254 "Save dialog box not closed in Charges of Loan account"
**Summary:**

After pressing save button in charges of loan accounts the dialog box was not closing. It affects the user experience

**Steps to reproduce:**
open nav drawer>clients>Click on any client>go to Loan account and open any one > Go to options and click on charges> then click on add button > and then save

**Expected behaviour:**

If there will be any error while saving charges then save

[2020-01-09 14:37] robustTechie commented on #1254
I will work on this issue

[2020-01-10 09:39] 991rajat opened #1256 "Space between Toolbar and Status bar"
**Summary:**
After navigating through fragments and coming back to dashboard unnecessary space between Toolbar and Status bar.

**Steps to reproduce:**

Dashboard > Group > Dashboard(White Space Visible) > Client (White Space Visible) etc.

**Expected behaviour:**

No unnecessary space should appear.

**Observed behaviour:**

Unnecessary space between Toolbar and Status bar.

**Device and Android

[2020-01-10 09:40] 991rajat commented on #1256
I would like to implement it.

[2020-01-10 10:41] ashu10832 opened #1258 "Lag in toolbar title change in ClientActivity"
**Summary:**

Lag in updating the toolbar title in client activity.

**Steps to reproduce:**

1. Go the client list from the sidebar.
2. Choose any client.
3. Check the toolbar title.

**Expected behaviour:**

Toolbar should show the name of the client chosen immediately because we already have that information.

**Observed behaviour:**

On choosing a client, the toolbar shows 'ClientActivity' for

[2020-01-10 10:41] ashu10832 commented on #1258
I would like to work on this issue.

[2020-01-10 15:59] iamsh4shank opened #1259 "Up Button not present in Submit Survey and Survey Question page"
**Summary:**

Up button not present in survey submit page and survey question page. It affects the user experience.

**Steps to reproduce:**
open nav drawer>clients>click on any client> click on other options then survey>fill the survey> submit

**Expected behaviour:**

Submit Survey page and Survey Question page must contain an Up button.

**Observed behaviour:**

Up button not present in survey

[2020-01-10 15:59] robustTechie commented on #1259
I will work on this.

[2020-01-10 16:21] iamsh4shank opened #1260 "Update Document failed in Recurring Account"
**Summary:**

Update document failed in Recurring account document of a client.

**Steps to reproduce:**

open nav drawer>clients>tab on any client>open any of the recurring account>click on options then on document>click on cloud shaped button>update document and then select the image.

**Expected behaviour:**

It should update the document of the client related to recurring account.

**Observed

[2020-01-10 16:22] robustTechie commented on #1260
I will work on this issue

[2020-01-10 18:05] #1185 closed

[2020-01-11 12:34] robustTechie opened #1261 "App crashes if special character entered in Bank name and account number."
**Summary:**

App crashes if special characters are entered in Bank name and account number while saving more account information in Recurring account of clients.

**Steps to reproduce:**

open nav drawer>clients>click on any client>recurring account.click on options then on more saving account information>click on any button in datatables>click on add button.

**Expected behaviour:**

It will not

[2020-01-11 12:35] robustTechie commented on #1261
I will work on this

[2020-01-12 09:47] robustTechie commented on #1081
I will work on this.

[2020-01-13 13:09] iamsh4shank opened #1264 "Upload Document not showing toast message"
**Summary:**

If uploading document failed then it do not shows a toast message as "Failed to upload document".

**Steps to reproduce:**

open nav drawer> Clients>open any client then go on more options>docment>click on plus button>save new document.

**Expected behaviour:**

If uploading document failed then it show a toast messages as "Upload document failed"

**Observed behaviour:**

If uploadi

[2020-01-13 13:09] robustTechie commented on #1264
I will work on this.

[2020-01-14 07:49] MayaDuruva commented on #462
@edcable  may i know the issue has been fixed. Because we also need the offline collection sheet.

[2020-01-15 08:46] iamsh4shank opened #1266 "Switch not closed in sync surveys in offline mode"
**Summary:**

When no internet is available then if you try to sync survey by making switch on then it will show a toast message but it does not automatically does not off the switch.

**Steps to reproduce:**

open nav drawer> switch on Offline mode> then settings>Sync Surveys

**Expected behaviour:**

After showing toast message as "Network is not available" sync survey switch must get automatica

[2020-01-15 08:47] robustTechie commented on #1266
I will work on this.

[2020-01-15 10:44] iamsh4shank opened #1268 "No toast message in wrong Username/Password"
**Summary:**

If user enters wrong username and password then no warning toast message comes.

**Steps to reproduce:**

Enter either wrong username or wrong password or both.

**Expected behaviour:**

If wrong username or password is entered then it must show a toast message as "Wrong username or password"

**Observed behaviour:**

It first start showing the dialog box for logging then dialog box

[2020-01-15 10:45] robustTechie commented on #1268
I will work on this.

[2020-01-16 04:25] 207ashu commented on #1268
I tried logging into the app with the credentials mifos and password, but didn't found any progress.
Do we need to configure anything from the connection settings tab

[2020-01-16 07:44] robustTechie commented on #1268
Yes, press connection setting then change the URL to demo.mifos.io

[2020-01-16 07:57] 207ashu commented on #1268
I tried logging in with the url you mentioned and the port was 8080 and default was the value for tenant Identifier, the dialog was visible but login wasn't successful.

[2020-01-16 07:58] 207ashu commented on #1268
Well I guess port and tenant identifier wasn't needed

[2020-01-16 08:33] laxyapahuja commented on #1268
@207ashu were you able to login?

[2020-01-16 08:37] 207ashu commented on #1268
Yes

[2020-01-16 22:49] iamuditha opened #1269 "Wrong Alignment Between the Checkbox and the Text"
**Summary:**

Wrong alignment between the checkbox and the text.

**Steps to reproduce:**

Dashboard -> top menu -> Create Client
Dashboard -> top menu -> Create Center
Dashboard -> top menu -> Create Group

**Expected behavior:**

Text should be aligned to the vertical center of the checkbox

**Observed behavior:**

Text is alignment is unusual

**Device and Android version:**

Samsung J7- Duo  |

[2020-01-16 22:50] uditha-anuranjana commented on #1269
I will work on this

[2020-01-17 08:31] iamsh4shank opened #1270 "Submit empty collection sheet"
**Summary:**

Submitting empty collection sheet, Showing toast message as " Collection sheet successfully" after pressing submit button.

**Steps to reproduce:**

nav drawer>Individual collection sheet>search any collection sheet >Press Fill now >Submit

**Expected behaviour:**

In an empty collection sheet show a toast message as "collections sheet empty" when user tries to submit empty collectio

[2020-01-17 08:32] robustTechie commented on #1270
I will work on this.

[2020-01-18 15:42] iamsh4shank opened #1272 "Group name not aligned"
**Summary:**

Group name not perfectly aligned.

**Steps to reproduce:**

open nav drawer>groups>click on any group name

**Expected behaviour:**

Group name should be aligned

**Observed behaviour:**

Group name not perfectly aligned.

**Device and Android version:**

Android version 9.0
Realme5

**Screenshots:**
![Issue21](https://user-images.githubusercontent.com/52889867/72666344-3715a880-3a37

[2020-01-18 15:42] robustTechie commented on #1272
I will work on this.

[2020-01-19 08:54] robustTechie opened #1274 "Client not added in groups"
**Summary:**

In group client option even after creating new client it is also not showing the newly created client.

**Steps to reproduce:**

open nav drawer>group and then select any group>more options> group client>create new  and activate it

**Expected behaviour:**

After creating a new client it must show in group client page.

**Observed behaviour:**

In group client option even after creat

[2020-01-19 08:54] robustTechie commented on #1274
I will work on this.

[2020-01-19 09:29] laxyapahuja commented on #1274
already fixed in #1233

[2020-01-19 09:43] #1274 closed

[2020-01-19 11:08] iamsh4shank opened #1275 "No view photo, upload photo, take photo option present in user photo"
**Summary:**

No view photo, upload photo, take photo option present in user photo.

**Steps to reproduce:**

open nav drawer

**Expected behaviour:**

It will show a option for uploading, taking a new photo and view photo.

**Observed behaviour:**

It is not showing any option like upload photo, view photo, take photo.

**Device and Android version:**

Android Version 9.0
Realme5

**Screenshots:*

[2020-01-19 11:08] robustTechie commented on #1275
I will work on this

[2020-01-19 11:10] laxyapahuja commented on #1275
You can view, upload and take photo by clicking the user icon in the clients tab.

[2020-01-19 11:11] robustTechie commented on #1275
That is only for the clients but this issue is reported for the person who is using this app

[2020-01-19 11:17] laxyapahuja commented on #1275
I think this app is just for the admin and the admin wouldn't mind if he/she didn't have a profile picture because the users can't see it but I'll let a project maintainer answer.

[2020-01-20 14:57] robustTechie opened #1276 "Dark Mode"
**Summary:**

Adding Dark Mode feature to the application.

**Expected behaviour:**

Dark mode feature

**Observed behaviour:**

No dark mode feature is available in the application.

**Device and Android version:**

Android Version:9.0
Realme5

**Want to work**
Yes

[2020-01-20 14:57] robustTechie commented on #1276
I will work on this.

[2020-01-20 15:15] robustTechie opened #1277 "Security feature enhancement"
**Summary:**

After adding required credentials like username, password, connection setting there is choice to apply a local passcode for more security. No forget passcode feature is available for the same.

**Expected behaviour:**

It will show a forget passcode option so that user can change his passcode without doing login again from his username and password after answering some questions.

**

[2020-01-20 15:16] robustTechie commented on #1277
I will work on this.

[2020-01-20 15:40] laxyapahuja commented on #1277
It's not supposed to change passcode. The passcode is there to bypass logging in again and again. If a user forgets the passcode, he/she can login with his/her account details.

[2020-01-20 16:16] robustTechie commented on #1277
So the user need to do login again but what if there would some security questions, after answering user can change that bypass password. Also there is no option for changing it again without logging out.

[2020-01-20 16:18] robustTechie commented on #1275
I am agree that the other users will not see his image but in navigation drawer there is picture icon is present so that it may show the image of admin.

[2020-01-20 16:42] robustTechie opened #1278 "No successful logout message"
**Summary:**

There should be a message when user is logged out.

**Steps to reproduce:**

Logout

**Expected behaviour:**

When user log out successfully there should be a message.

**Observed behaviour:**

There is no message displayed when user logged out successfully.

**Device and Android version:**

Android Version 9.0
Realme 5

**Screenshots:**
![Issue24](https://user-images.githubuserconte

[2020-01-20 16:43] robustTechie commented on #1278
I will work on this issue.

[2020-01-20 17:26] laxyapahuja commented on #1277
When the user logs in after clicking forgot password, the passcode automatically gets reset and the user can change it the next time he/she logs into the app.

[2020-01-21 16:13] robustTechie opened #1280 "About app enhancement"
**Summary:**

About application is missing.

**Expected behaviour:**

There must be an about me page so that user can know about app.

[2020-01-21 16:13] robustTechie commented on #1280
I will work on this.

[2020-01-23 20:05] robustTechie commented on #1277
I think it will be good if the whole logout process doesn't occur just that passcode will reopen to change the passcode after asking some security questions.

[2020-01-24 17:30] Grandolf49 opened #1281 "Null value displayed in Client Activity toolbar"
**Summary:**

Null value is displayed in Client Activity toolbar if last name of the client does not exist

**Steps to reproduce:**

1. Nav Bar -> Clients
2. Click on a client for which surname does not exist
3. Null display on the toolbar

**Expected behaviour:**

In this case first name should be displayed

**Observed behaviour:**

Instead, null value is displayed

**Device and Android version:*

[2020-01-24 17:49] Grandolf49 opened #1282 "No margins in Savings Account Details Fragment"
**Summary:**

No margins present in savings account details

**Steps to reproduce:**

1. Nav Bar -> Clients
2. Select any client
3. Expand Savings Account and select any one
4. Activity with no margins appears

**Expected behaviour:**

There should be uniform margins everywhere

**Observed behaviour:**

No margins found

**Device and Android version:**

Android 10
OnePlus 6
Stock ROM

**Screenshot

[2020-01-24 17:55] Grandolf49 opened #1283 "No margins in Recurring Accounts details"
**Summary:**

No margins present in recurring account details

**Steps to reproduce:**

1. Nav Bar -> Clients
2. Select any client
3. Expand Recurring Account and select any one
4. Activity with no margins appears

**Expected behaviour:**

There should be uniform margins everywhere

**Observed behaviour:**

No margins found

**Device and Android version:**

Android 10
OnePlus 6
Stock ROM

**Screen

[2020-01-24 18:07] Grandolf49 opened #1284 "Gender options in create client improper"
**Summary:**

The gender options available while creating a client are improper

**Steps to reproduce:**

1. Dashboard -> Options -> Create Client
2. Select gender to expand options
3. 9 options available

**Expected behaviour:**

Only 3 options are expected under gender
1. Male
2. Female
3. Not disclosing

**Observed behaviour:**

Unnecessary 9 options appear in different languages

**Device and

[2020-01-24 18:17] Grandolf49 opened #1285 "Run Reports toolbar font inconsistent"
**Summary:**

The toolbar text font in Run Report activity is larger than normal toolbar font, making it inconsistent. Options, don't go with the theme.

**Steps to reproduce:**

1. Nav bar -> RunReports
2. Toolbar font inconsistent

**Expected behavior:**

The toolbar font size should follow normal size

**Observed behavior:**

Font size is inconsistent

**Device and Android version:**

Android 1

[2020-01-25 18:05] Grandolf49 commented on #1283
Solving issue #1282  solves this as well, no need of separate issue for this

[2020-01-25 18:05] #1283 closed

[2020-01-26 10:07] robustTechie commented on #1284
Can I work on this ?

[2020-01-26 10:08] robustTechie commented on #1285
Can I work on this

[2020-01-26 13:35] Grandolf49 commented on #1285
@robustTechie Sure. Go ahead

[2020-01-26 13:37] Grandolf49 commented on #1284
@robustTechie Sure. Go ahead

[2020-02-01 15:15] robustTechie opened #1288 "Soft Keyboard not closed while saving client detail"
**Summary:**

While creating the new client automatically the soft keyboard is not closing, which affects the UX.

**Steps to reproduce:**

Create client

**Expected behaviour:**

Soft keyboard automatically close after saving the details.

**Observed behaviour:**

While creating the new client automatically the soft keyboard is not closing, which affects the UX.

**Device and Android version:**

[2020-02-01 15:15] robustTechie commented on #1288
I will work in this.

[2020-02-03 14:53] iamsh4shank opened #1291 "Writing Note option is not available enhancement"
**Summary:**

As there is notes button in overflow menu in clients but there is no such option present for writing notes or updating notes.

**Expected behaviour:**

There should be an option for writing or updating notes.

**Device and Android version:**

Android Version 9.0
Realme 5

[2020-02-03 15:02] robustTechie commented on #1291
I will work on this issue.

[2020-02-03 15:16] robustTechie opened #1292 "Generate Collection Sheet button not working"
**Summary:**

Generate Collection Sheet button not working properly. It is showing a toast message instead of generating collection sheet.

**Steps to reproduce:**

open nav drawer> Generate Collection sheet > fill all the spinner> press Generate Collection Sheet

**Expected behaviour:**

It should show collection sheet after pressing Generate Collection Button

**Observed behaviour:**

Wrong toas

[2020-02-03 15:29] #1292 closed

[2020-02-05 14:44] iamsh4shank opened #1293 "Improve UX by providing a button to directly enter the next edittext section"
**Summary:**

While creating new client a fragment comes, in its editText, no keyboard next click is present.

**Steps to reproduce:**

open create new client page > press submit button

**Expected behaviour:**

Keyboard should have feature to enter the next editText section form previous editText.

**Observed behaviour:**

While creating new client a fragment comes, in its editText, no keyboard n

[2020-02-05 14:47] robustTechie commented on #1293
I will work on this.

[2020-02-06 15:19] robustTechie opened #1295 "Wrong fragment name on closing notes"
**Summary:**

After closing notes fragment, wrong name come on titlebar. It should show client fragment but it shows notes as a name of the fragment.

**Steps to reproduce:**

open any client> click on more overflow button> select notes> click on up button (or back button)

**Expected behaviour:**

It must show correct fragment name.

**Observed behaviour:**

After closing notes fragment, wrong na

[2020-02-06 15:19] robustTechie commented on #1295
I will work on this issue.

[2020-02-06 16:21] #1295 closed

[2020-02-09 08:29] iamsh4shank opened #1296 ""All" option in Spinner not updating the search result"
**Summary:**

If Spinner in Run Reports is changed to All then it does not show all results.  It only shows the previous search result.

**Steps to reproduce:**

open nav drawer> Run reports> Change the spinner to All

**Expected behaviour:**

After changing the spinner value to All it should show everything in the search result.

**Observed behaviour:**

If Spinner in Run Reports is changed to Al

[2020-02-09 08:30] robustTechie commented on #1296
I will work on this issue.

[2020-02-10 14:58] iamsh4shank opened #1298 "Help page enhancement"
**Summary:**

In this application there is no help page which contains some frequently asked questions.

**Expected behaviour:**

The app should have help page so that user can see frequently asked questions.

[2020-02-10 14:59] robustTechie commented on #1298
I will work on this issue.

[2020-02-10 14:59] robustTechie commented on #1298
I will work on this issue.

[2020-02-10 15:00] iamsh4shank opened #1299 "No app share option present"
**Summary:**

No app share option is present in the application.

**Expected behaviour:**

It should contain app share option to share the app.

[2020-02-10 15:01] robustTechie commented on #1299
I will work on this issue.

[2020-02-10 15:14] iamsh4shank opened #1300 "Change language feature not available"
**Summary:**

Change language feature is not available which affects the UX.

**Expected behaviour:**

It would be better if the user can change the language of the application.

[2020-02-10 15:14] robustTechie commented on #1300
I will work on this issue.

[2020-02-10 15:32] iamsh4shank opened #1301 "Change passcode not present"
**Summary:**

There is no option to change the passcode, user can only change it after doing log out.

**Expected behaviour:**

There should be an option in setting to change the passcode without doing log out.

[2020-02-10 15:32] robustTechie commented on #1301
I will work on this issue.

[2020-02-12 19:01] som23ya commented on #1260
can i work on this?

[2020-02-13 22:05] som23ya opened #1302 "splashscreen"
Adding a splashscreen on start of app.

[2020-02-13 22:05] som23ya commented on #1302
I would be working on this one.

[2020-02-14 08:28] elirehema commented on #1302
@som23ya i think there is one [here]( https://github.com/openMF/android-client/blob/master/mifosng-android/src/main/java/com/mifos/mifosxdroid/SplashScreenActivity.java). Is this what you want to say ?

![GIF-200214_112100](https://user-images.githubusercontent.com/29277048/74513958-c02bdc80-4f1c-11ea-8f61-f7ac383f9807.gif)

[2020-02-15 05:34] robustTechie commented on #1302
Hey @som23ya it is there in the application.

[2020-02-15 08:19] som23ya commented on #1302
@robustTechie @elirehema i guess then there is some issues in it, becuase i have tested on 3 phones, it is not working. nexus 5, moto g6 and honor lite. Maybe we should see into this?

[2020-02-15 12:42] robustTechie commented on #1302
Try reinstalling the application or just run it on emulator, as in my case it is working.

[2020-02-16 07:47] robustTechie commented on #1256
Hey @991rajat  this issue is present there #1081

[2020-02-16 09:44] RajaVamsi11 commented on #951
@ivary43 @moksh-mahajan I am interested in working on this issue. Can I start working on this one?
@tarun0 These are examples of some dependency versions that can be added to the root project and can be fetched from there.

[code]
 ...and many more dependencies versions can be added.

[2020-02-17 12:25] RajaVamsi11 commented on #412
@tarun0 @moksh-mahajan, As @AkshGautam said there are still some hardcoded strings in the files. Can I work on this issue?

[2020-02-18 10:44] elirehema commented on #1258
@ashu10832 are you still working on this issue ?

[2020-02-18 16:55] iamsh4shank opened #1307 "Bold text in Offline Sync"
**Summary:**

In offline Sync option text are in a bold format which affects the UX.

**Steps to reproduce:**

open nav drawer> click on Offline sync> open any of the option.

**Expected behaviour:**

The text should be in normal text format.

**Observed behaviour:**

In offline Sync option text are in a bold format which affects the UX.

**Device and Android version:**

Android Version 9.0
Realme

[2020-02-18 16:56] robustTechie commented on #1307
I will work on this issue.

[2020-02-19 14:39] iamsh4shank opened #1309 "Wrong text alignment"
**Summary:**

In the client page, the wrong alignment (right side alignment) of text is present, which affects the user experience.

**Steps to reproduce:**

open any client's info

**Expected behaviour:**

Text alignment should be perfect so that the UI looks good

**Observed behaviour:**

In the client page, the wrong alignment of text is present, which affects the user experience.

**Device and

[2020-02-19 14:43] robustTechie commented on #1309
I will work on this

[2020-02-20 13:24] MayaDuruva opened #1311 "Need Journal Entry option in Mobile App"
If any one have developed a Journal entry option mobile app same as a mifos X web?

currently we need a option in mobile phone

[2020-02-20 13:27] MayaDuruva opened #1312 "document upload while offline"
I notice there is no option for upload a document in offline mode. If there is a option surely it will help to many user.

[2020-02-20 13:35] MayaDuruva opened #1313 "Add a "Notes" for Group"
There is no option for add a notes for a group.

Mifos x web app have a "Notes" data table for a group.

[2020-02-20 15:24] #1122 closed

[2020-02-21 04:48] nirmalhk7 opened #1314 "Adding shortcuts to Android"
Feature Request:

I want to introduce a feature of adding static shorts to the app for fragments/activities for quick access to users like:

Implementing this feature will increase the User Experience (UX) of the app and make parts of app much more accessible.

Feature description
App shortcuts were introduced in API 25. for the users to do their common tasks quickly.

Screenshots:
![static2](http

[2020-02-21 04:49] nirmalhk7 commented on #1314
I'd like to work on this. Please confirm if it is a good idea.

[2020-02-21 07:25] pallav12 opened #1315 "Adding more unit tests"
**Scope of unit tests can be increased further**

More unit tests should be added to make app more robust. Currently less than 10% of the app's code is under testing scope which should be increased.

[2020-02-21 07:25] pallav12 commented on #1315
I would like to work on this issue.

[2020-02-21 09:07] robustTechie commented on #1313
This issue is raised #1291 and I am working on this.

[2020-02-21 09:12] robustTechie commented on #1312
The issue is already there #1260.

[2020-02-21 09:13] robustTechie commented on #1312
I am working on this.

[2020-02-21 09:15] robustTechie commented on #1311
I think the backend for this feature is not available, so it will hard to implement.

[2020-02-21 09:45] iamsh4shank opened #1316 "Add profile page"
**Summary:**

Adding a profile page to the application so that the user will have personal information and also it will show the number of clients, groups, centers, etc.

**Expected Behaviour.**

If the application will have this type of feature then it will be very helpful for a user to maintain his records.

[2020-02-21 09:46] robustTechie commented on #1316
I will work on this issue.

[2020-02-21 09:47] #1313 closed

[2020-02-21 09:48] MayaDuruva commented on #1313
Okay. I have close now

[2020-02-21 09:50] #1312 closed

[2020-02-21 09:50] MayaDuruva commented on #1312
.

[2020-02-21 09:51] #1311 closed

[2020-02-21 09:51] MayaDuruva commented on #1311
Okay

[2020-02-21 09:57] dreadpool2 opened #1317 "Make a different branch for Auto Updated apks"
**Summary:**

Travis CI after a merge generates an Auto Update apk which we can publish in our apk branch for usage.

[2020-02-21 09:57] dreadpool2 commented on #1317
I want to work on this

[2020-02-21 14:15] dreadpool2 opened #1318 "Run reports toolbar expanded text color doesnt follow the theme"
**Summary:**

As we can see in the picture below, the UI doesnt follow theme.

**Screenshots:**

![Screenshot_20200221-194612_MifosXDroid](https://user-images.githubusercontent.com/28607714/75041881-79715000-54e3-11ea-896b-f3457e37d7d3.jpg)

**Working on it**

[2020-02-21 14:31] dreadpool2 opened #1319 "Migrate the whole codebase to Kotlin"
**Summary:**

Android's official language has become Kotlin for a quite a few days now and I think this project should also follow the same path.

**Steps to reproduce:**

It would be a step by step process as in we can't just Auto Convert the whole large codebase to Kotlin for all the files. Majority of the files can be converted with ease but some of them have to be looked onto carefully.

**Exp

[2020-02-21 14:51] dreadpool2 opened #1320 "Fix UI in Center Details Page"
**Summary:**

The padding is not correct in the page as shown in below screenshot.

**Screenshots:**

![WhatsApp Image 2020-02-21 at 20 20 01](https://user-images.githubusercontent.com/28607714/75044442-a889c080-54e7-11ea-8845-397ffeafccb4.jpeg)

[2020-02-21 21:31] Grandolf49 opened #1325 "Current default API Endpoint for login is not functional"
**Summary:**

The current default API Endpoint **demo.openmf.org** is not functional and should be changed to **demo.mifos.io**

**Steps to reproduce:**

On Login Activity, click on Connection Settings

**Screenshots:**

![api endpoint incorrect](https://user-images.githubusercontent.com/30969403/75072647-e3a6e680-551d-11ea-9d88-55e38d5c9e00.jpg)

[2020-02-21 22:22] Grandolf49 commented on #1318
This issue is already addressed #1285
Please close this issue

[2020-02-21 23:19] Grandolf49 opened #1328 "XML Code of activity_login.xml should be refactored"
**Summary:**

The XML code of activity_login.xml is very less readable and doesn't look professional. It should be refactored

[2020-02-21 23:33] Grandolf49 opened #1330 "No smooth transition after opening connection settings while logging in"
**Summary:**

There is no smooth transition of UI when user clicks **Connection Settings** on the Login Page

**Steps to reproduce:**

1. Login Activity -> Click Connection Settings
2. No transition when settings are shown or hidden

**Expected behaviour:**

There should be a smooth transition when layout changes are happening

**Device and Android version:**

Android 10
OnePlus 6
Stock ROM

**Scr

[2020-02-22 06:26] Grandolf49 commented on #1320
Hey @dreadpool2 This issue was already solved during GCI:
Issue Number: #1193
PR Number: #1207

Please close the issue

[2020-02-22 06:31] Grandolf49 commented on #1316
@robustTechie I think to work on this issue, you might have to get approval from mentors. Because this involves deciding the content of the profile page, functionalities, etc.

[2020-02-22 06:32] #1320 closed

[2020-02-22 06:33] #1318 closed

[2020-02-22 06:45] dreadpool2 opened #1332 "Wrong TextDrawable text shown in search results"
**Summary:**

The TextDrawable only shows 'C' in results. This should not happen

**Screenshots:**
![WhatsApp Image 2020-02-22 at 12 13 45](https://user-images.githubusercontent.com/28607714/75087982-ed0b6f80-556c-11ea-9bf4-1bffbd50a317.jpeg)

[2020-02-22 06:59] dreadpool2 opened #1333 "Use Timber for Logging messages"
**Summary:**

We should use Timber instead of Log messages.

[2020-02-22 07:19] robustTechie commented on #1332
Check once I think it shows the C because they all are clients and if it is a group then it will show G, etc

[2020-02-22 07:25] dreadpool2 commented on #1332
Yeah! I got a bit confused on receiving all C's. I guess we can change the UI later for ease of viewing .
Closing this

[2020-02-22 07:25] #1332 closed

[2020-02-22 07:35] iamsh4shank opened #1334 "Centers color not changes"
**Summary:**

If the center is inactive then the color is red and for active the color is green but if we activate the center then immediately its color doesn't change from red to green, we need to reopen the center activity to see the changed color.

**Steps to reproduce:**

Open nav drawer > open any inactive center.

**Expected behaviour:**

After the activation center, its color should change

[2020-02-22 07:36] robustTechie commented on #1334
I will work on this

[2020-02-22 08:51] robustTechie commented on #1333
For getting the message in logcat anyone can be used. So I think switching to timber will of use.

[2020-02-22 09:51] dreadpool2 commented on #1333
@robustTechie Timber is actually more efficient than Log as we don't require any additional TAG memory

[2020-02-24 09:34] #1282 closed

[2020-02-24 09:37] #1325 closed

[2020-02-24 09:45] robustTechie commented on #1314
Are you working on this issue?

[2020-02-24 11:01] nirmalhk7 commented on #1314
I was waiting to do it properly and get it reviewed in Mifos Mobile. Now it is done (to a degree atleast), I think I'll hold on to this.

[2020-02-25 16:51] Grandolf49 opened #1335 "feature: Search should be initiated as soon as user starts typing"
**Summary:**

Searching should be initiated as soon as user starts typing the query. Currently, user can search only after pressing the search button

**Screenshots:**

![searching not instant](https://user-images.githubusercontent.com/30969403/75267928-db4ff380-581c-11ea-89e8-dfb475c1f8dd.gif)

[2020-02-25 17:07] dddavid97 opened #1336 "Path tracker doesn't work"
**Summary:**

The path tracker doesn't load any data, just display an error message

**Steps to reproduce:**

Login in with demo account, enter path tracker

**Expected behaviour:**

The screen should display a list of path histories

**Observed behaviour:**

Only an error message "Sorry, we weren't able to load Failed to fetch path tracking details."

[2020-02-25 17:24] Grandolf49 commented on #1335
i will work on this feature

[2020-02-25 19:29] robustTechie commented on #1336
Should I work on this feature?

[2020-02-25 19:40] robustTechie opened #1337 "Floating button in dashboard"
**Summary:**

It will be good if we have a floating button instead of an overflow button on the Dashboard page. It will improve the UI.

**Expected behaviour:**

It will be a good UI if we have a floating button instead of overflow button for creating client, center, etc. It will also increase the UX.

[2020-02-25 19:40] robustTechie commented on #1337
I will work on this issue.

[2020-02-26 02:52] dddavid97 commented on #1336
I think this is not a new feature, it may be something wrong with the API request with the demo API endpoint

[2020-02-26 09:18] MayaDuruva commented on #1291
Please be tell once you have complete - we need this note option in mobile app

[2020-02-26 18:55] rohanprasadofficial opened #1339 "UI Enhanced for Login Activity"
**Summary:**

The UI for the login page is not looking so good , i tried out to revamp it with the same dependency.

**Before :**
![before login](https://user-images.githubusercontent.com/30728574/75377314-82a15900-58f7-11ea-98c7-4ef1a19ddb67.png)

**After**
![after login page](https://user-images.githubusercontent.com/30728574/75377320-892fd080-58f7-11ea-8c14-3bb9d56567a5.png)

**Device and Andro

[2020-02-26 18:55] rohanprasadofficial commented on #1339
Can i work on this ?

[2020-02-26 20:12] rohanprasadofficial opened #1340 "Conversion of Normal Toast to Material Design Toast -UI Enhancement"
**Summary:**

Normal toast are required to display any short message in the app but it doesn't tells the user it's a warning or info or error and doesn't look quite interesting , so converting normal toast to Material Design toast would be better option for wherever normal toast is there .
I have added toast ->  MD toast for dashboard activity which have TYPE_INFO toast with symbol.

**Before MD T

[2020-02-26 20:12] rohanprasadofficial commented on #1340
I want to work on this .

[2020-02-26 20:16] rohanprasadofficial commented on #1334
@robustTechie  i think the center activity is not refreshed so its causing the issue.

[2020-02-26 20:16] rohanprasadofficial commented on #1302
@som23ya  I tested it on many devices and it worked fine.

[2020-02-27 05:50] Priyansh-Kedia commented on #1330
May I work on this?

[2020-02-27 05:51] Priyansh-Kedia commented on #1063
May I work on this ?

[2020-02-27 06:07] Priyansh-Kedia commented on #1301
May I work on this issue?

[2020-02-27 06:08] Priyansh-Kedia commented on #1284
May I work on this?

[2020-02-27 06:10] Priyansh-Kedia commented on #1275
May I work on this?

[2020-02-27 06:12] Priyansh-Kedia commented on #1248
Is this issue still open?
May I work on this?

[2020-02-27 06:13] Priyansh-Kedia commented on #1246
Is this issue still open?
May I work on this?

[2020-02-27 06:20] Priyansh-Kedia commented on #1293
Is this issue still open?
May I work on this?

[2020-02-27 06:29] Priyansh-Kedia commented on #1339
Is this issue still open?
May I work on this?

[2020-02-27 06:30] rohanprasadofficial commented on #1339
@Priyansh-Kedia  i will work on it , once it gets assigned by maintainers

[2020-02-27 06:33] rohanprasadofficial commented on #1339
I am working on it @Priyansh-Kedia

[2020-02-27 06:40] Priyansh-Kedia opened #1341 "Backpressed should not exit app in client activity"
**Summary:**
It would be better if onbackpressed in create client form takes to the client page.

**Expected behaviour:**

Onbackpressed on the create client form will open the clients page.

**Screenshots:**
![WhatsApp Image 2020-02-27 at 12 08 58 PM](https://user-images.githubusercontent.com/52661249/75418677-13108580-595a-11ea-809e-f338e9e34eb4.jpeg)

[2020-02-27 06:40] Priyansh-Kedia commented on #1341
I would like to work on this issue

[2020-02-27 07:12] Priyansh-Kedia commented on #1339
@rohanprasadofficial Thanks for the update.

[2020-02-27 09:40] Siddharth-Singhs opened #1343 "Feature: Saving Account Summary to PDF"
**Summary:**

There should an option for a client to download the saving account summary as PDF.

**Screenshots:**

![issue1](https://user-images.githubusercontent.com/31280485/75431262-9c33b680-5972-11ea-9216-976af5cbb69c.jpg)

[2020-02-27 09:41] Siddharth-Singhs commented on #1343
I want to work on this issue.

[2020-02-27 10:04] robustTechie commented on #1341
I think adding back button will of no use as we can access nav drawer also from here.

[2020-02-27 10:05] robustTechie commented on #1339
What if the user clicks on connection settings?

[2020-02-27 10:05] robustTechie commented on #1334
Yes I wil resolve this.

[2020-02-27 10:09] robustTechie commented on #1301
I am working on this issue.

[2020-02-27 10:09] robustTechie commented on #1248
I sent the PR for this.

[2020-02-27 10:17] rohanprasadofficial commented on #1339
@robustTechie  its  working ,  it loads up as defined

[2020-02-27 15:49] robustTechie commented on #1015
Now the uploaded signature is showing in the signature list ?

[2020-02-27 15:50] robustTechie commented on #1339
Great

[2020-02-27 16:38] rachittt commented on #1339
hey @rohanprasadofficial, you should consider adding the screenshot of the implemented design on the **Pull Request's markdown** file and not on the Issues' markdown.

[2020-02-27 16:41] rohanprasadofficial commented on #1339
@rachittt  okay but same the as the issue one , actually i implemented it and made a issues and PR .

[2020-02-27 16:45] rachittt commented on #1339
yeah, but while reviewing a PR, the maintainer expects the screenshot on PR's md file.

Also, ideally the person should upload the picture of **proposed design on Issue** and **implemented screenshot on PR**

[2020-02-27 16:47] rohanprasadofficial commented on #1339
@rachittt  Oh really sorry , was my first issues and PRs on this platform , i will rectify this mistakes in future .

[2020-02-27 16:49] rohanprasadofficial commented on #1339
@rachittt  for this issues i implemented the feature then generated a issues , so it was a mistake next will do a proposed design in issues and implemented gif in PR ,
Thanks for the clarification , will follow from now .

[2020-02-27 16:58] rachittt commented on #1246
You should not work on the issues which already have an open PR as it awaits project maintainer's review. Please read contributor's guidelines 🙂

[2020-02-27 16:59] rachittt commented on #1284
@robustTechie are you working on it?

[2020-02-28 06:31] Siddharth-Singhs commented on #1268
@robustTechie  Can I work on this issue.

[2020-02-28 07:49] rohanprasadofficial opened #1345 "issue fix: Login activity - bottom toaster message invisible due to keyboard for wrong credentials"
**Summary:**
Whenever a user login with correct credentials its directs the user to dashboard or passcode activity and user gets the login was successful but whenever user enter any wrong credentials or incorrect password or username length , user is shown with error toaster message at bottom but due to keyboard unhidden , user cannot see error message  when he/she clicks on login button without h

[2020-02-28 07:52] Siddharth-Singhs commented on #1334
Are you working on this issue?

[2020-02-28 07:58] rohanprasadofficial commented on #1345
I am working on this.

[2020-02-28 09:53] robustTechie commented on #1334
@Siddharth-Singhs  Yes.

[2020-02-28 15:06] neeraj0403 commented on #1345
@rohanprasadofficial  are u working on this issue?

[2020-02-28 15:08] rohanprasadofficial commented on #1345
@neeraj0403  yes

[2020-02-28 16:15] neeraj0403 commented on #1275
@robustTechie  can i work upon this issue?

[2020-02-28 16:46] Siddharth-Singhs opened #1346 "Bug in Survey"
**Summary:**

When a client fills the survey, without selecting the answer of previous question it can move to the next questions of the survey

**Steps to reproduce:**

1. Login
2. Select any client.
3. Click on the survey.
4. Fill the Survey

**Expected behaviour:**

Without selecting any option client should not move to other questions of Survey.

**Observed behaviour:**

But here the client ca

[2020-02-28 16:47] Siddharth-Singhs commented on #1346
I will work on this issue.

[2020-02-28 17:36] neeraj0403 opened #1347 "App crashes when login button is clicked when username and password fields are empty"
**Summary:**

when  a user  open the app and directly click on login button the app get crashed

**Steps to reproduce:**
1.open the app
2.directly click on login button
3.app will get crashed

**Expected behaviour:**

instead of crashing of the app,the user  see a toast message to fill the details and focus on the username and password edittext to fill it

**Observed behaviour:**
but here the app

[2020-02-28 17:37] neeraj0403 commented on #1347
i am going to solve it

[2020-02-28 17:37] neeraj0403 commented on #1347
i will work on this issue .

[2020-02-28 18:11] RajaVamsi11 commented on #1347
@neeraj0403 Can you please specify the version of your Android phone because it was working fine in my device. A snack bar is being displayed when the username and password are empty.

![Screenshot_2020-02-28-23-38-56-722_com mifos mifosxdroid](https://user-images.githubusercontent.com/30550059/75573831-aa252c80-5a83-11ea-9d48-b1aa15edbed6.jpg)

[2020-02-28 18:19] RajaVamsi11 opened #1348 "Remove Groovy warnings from the project"
**Summary:**

There are some Groovy warnings present in the project in the quality. gradle file. The unnecessary semi-columns can be removed safely as they are not required.

![image](https://user-images.githubusercontent.com/30550059/75574756-df7e4a00-5a84-11ea-9359-61d23895059d.png)

@tarun0 @moksh-mahajan I am interested in working on this issue.

[2020-02-28 18:28] neeraj0403 commented on #1347
@RajaVamsi11 just simply open the app and directly click on the login button

[2020-02-28 19:30] #1347 closed

[2020-02-29 06:15] RajaVamsi11 opened #1350 "Delete unused import statements"
**Summary:**

After analyzing the project I found that there are some unused import statements on `SettingsFragment.java`. My idea is to remove those unused import statements to make code look cleaner.

I would like to work on this issue.

[2020-02-29 08:34] RajaVamsi11 commented on #1116
@moksh-mahajan When I reproduce the above issue, presently there are toasts (probably wrong toast messages) in the Create Group and Create Center when there is no Internet connection. As you said Snackbar is necessary like in Create Client. Can I work on this Issue?

I am attaching the screenshots for your reference.

![Screenshot_2020-02-29-14-00-15-427_com mifos mifosxdroid](https://user-images.

[2020-02-29 11:43] RajaVamsi11 opened #1354 "Improper Style of Spinner in Create Center Fragment"
**Summary:**

In Create Center Fragment, the background of the Spinner is a dark grey which is not suitable for the theme of the app. Due to the background color of the spinner ,  the drop-down menu of that spinner is not visible.

**Steps to reproduce:**

Go to Create Center, you can see that the background is grey for Spinner.

**Expected behaviour:**

Change the style of the Spinner so that the

[2020-02-29 13:35] rohanprasadofficial commented on #1345
@Grandolf49 @droidchef  can you please review it ?

[2020-02-29 14:16] Siddharth-Singhs opened #1357 "Keyboard pops up bug"
**Summary:**

While withdrawing the money from Group Saving Account, the keyboard pops up.

**Steps to reproduce:**

1. Login into app
2. Go the groups
2. Open any group which have a saving account and make withdrawals request.

**Expected behaviour:**

A keyboard should not pop up.

**Observed behaviour:**

Keyboard pops up after making withdrawals request.

**Screenshots:**
![ezgif-5-57702b8055b

[2020-02-29 14:16] Siddharth-Singhs commented on #1357
I will work on this issue.

[2020-02-29 16:02] robustTechie commented on #1357
#1290 is the fix for the issue. This issue is already fixed.

[2020-02-29 16:03] robustTechie commented on #1275
I am working on this issue.

[2020-02-29 16:04] robustTechie commented on #1268
I am working on this issue.

[2020-02-29 16:42] Siddharth-Singhs commented on #1357
okay @robustTechie I am closing this issue.

[2020-02-29 16:42] #1357 closed

[2020-02-29 18:37] RajaVamsi11 opened #1359 "Indefinite length time of snack bars in Login Activity"
**Summary:**

The Snack bars which are occurring in Login Activity have an indefinite length which shows the Snackbar indefinitely.

**Steps to reproduce:**

Go to Login Activity and try to login with empty or incorrect credentials. You will see the Snack bars at the bottom.

**Expected behaviour:**

The Snack bars should have either a short period of time or a long period of time but not Indefini

[2020-03-01 05:08] robustTechie opened #1361 "UI enhancement Add Savings Account"
**Summary:**

UI in add savings account is imperfect. It contains spinners witch no boundary, color issue, etc.

**Steps to reproduce:**

Open any client > in overflow button clicks on add savings account

**Expected behaviour:**

UI should be good like spinners have proper boundary and color.

**Observed behaviour:**

Here UI is imperfect. It contains spinners witch no boundary, color issue, etc.

[2020-03-01 05:09] robustTechie commented on #1361
I will work on this issue.

[2020-03-01 05:13] iamsh4shank opened #1362 "UI enhancement in Add Loan Accounts"
**Summary:**

Ui is imperfect in add loan accounts it doesn't have proper boundaries and colors.

**Steps to reproduce:**

open any client>in overflow menu press add loan accounts

**Expected behaviour:**

UI should be perfect like it should have correct boundaries.

**Observed behaviour:**

Ui is imperfect, it doesn't have proper boundaries and colors.

**Device and Android

Android Version 9.0
R

[2020-03-01 05:13] robustTechie commented on #1362
I will work on this issue.

[2020-03-01 09:53] rachittt commented on #1359
Do we really need this? As long as the user has the option to press "OK", it should be indefinite.
We can think of changing it to a material snackbar though.

[2020-03-01 09:58] RajaVamsi11 commented on #1359
In my point of view, Toasts and Snack bars are used for short time information or error messages. So I think we need this. You idea of converting them to material snackbar is also good. I can do it if it is necessary.

[2020-03-01 10:00] RajaVamsi11 commented on #1359
As we can see in the other parts of the application, Toast and Snackbar are of either Short or Long period of time but not indefinite.

[2020-03-01 11:49] rachittt commented on #1359
messages which have the option of 'confirming' should be indefinite.
So there are two options, either remove the "OK" button and make its duration long or keep the "OK" button and make the duration indefinite because if it the snackbar disappears itself after some time, we don't need the user to confirm by pressing "OK" before it.

[2020-03-01 11:50] rachittt commented on #1359
Also about the error message, don't you think the appropriate message in this case would be "Please Enter the Credentials" ?

[2020-03-01 11:53] RajaVamsi11 commented on #1359
Okay @rachittt , I will look into this. I will update the snackbar messages according to the error. According to you what will be the best option to proceed with? Either to remove Ok option or keep length indefinite.

[2020-03-01 12:00] rachittt commented on #1359
Indefinite length looks appropriate in this case until we redesign the whole application using material design.
Regarding the snackbar message, create a new issue regarding it and fix it in a different PR

[2020-03-01 12:02] RajaVamsi11 commented on #1359
Okay Thanks. I am on it.

[2020-03-01 13:10] robustTechie commented on #1359
@rachittt is correct as messages which have a confirming option are of indefinite length

[2020-03-01 17:02] RajaVamsi11 opened #1364 "Incorrect Snack bar message in Login Activity"
**Summary:**

When the user presses the login button without entering the credentials, the message shown by snack bar is incorrect.

**Steps to reproduce:**

Go to Login Activity, Try to login with empty credentials.

**Expected behaviour:**

The snack bar message should be like "Please enter the credentials"

**Observed behaviour:**

The snack bar message is "Invalid username length"

**Device an

[2020-03-01 17:20] rohanprasadofficial opened #1366 "UI enhancement of GroupDetails Fragment"
**Summary:**

The UI of GroupDetails Fragment doesn't look good with not such good color combinations

**Steps to reproduce:**
1. Go to side drawer
2. Open groups
3. Click on a group from group list.

**Expected behaviour:**
The UI should look greatly formatted with good tables format .

**Observed behaviour:**

UI is imperfect, it doesn't have proper colors and display text combination

**Device

[2020-03-01 17:26] rohanprasadofficial opened #1367 "UI enhancement of ClientDetails Fragment"
**Summary:**

The UI of ClientDetails Fragment doesn't look good with not such good color combinations

**Steps to reproduce:**

1. Go to side drawer
2. Open clients
3. Click on a client from clients list.

**Expected behaviour:**

The UI should look greatly formatted with good tables format .

**Observed behaviour:**

UI is imperfect, it doesn't have proper colors and display text combination

**

[2020-03-01 17:50] rohanprasadofficial opened #1368 "UI enhancement of CenterDetails Fragment"
**Summary:**

The UI of CenterDetails Fragment doesn't look good with not such good color combinations.

**Steps to reproduce:**

1. Go to side drawer
2. Open center
3. Click on a center from center list.

**Expected behaviour:**

The UI should look greatly formatted with good tables format.

**Observed behaviour:**

UI is imperfect, it doesn't have proper colors and display text combination.

**D

[2020-03-01 17:50] rohanprasadofficial commented on #1366
i am working on it.

[2020-03-01 17:50] neeraj0403 commented on #1366
@rohanprasadofficial can i work upon this?

[2020-03-01 17:51] rohanprasadofficial commented on #1366
@neeraj0403 i am working it.

[2020-03-01 17:52] rohanprasadofficial commented on #1367
i am working it.

[2020-03-01 17:52] rohanprasadofficial commented on #1368
i am working on it.

[2020-03-01 18:05] rohanprasadofficial opened #1369 "UI enhancement of Individual Collection Sheet Spinner"
Summary:

The UI of Individual Collection Sheet Spinner doesn't look good with transparent spinner

Steps to reproduce:

1. Go to side drawer
2. Open Individual collection sheet
3. Click on spinner

Expected behaviour:

The UI should look greatly formatted and spinner should not be transparent.

Observed behaviour:

UI is imperfect, it doesn't have proper good looking spinner.

Device and Android

[2020-03-01 18:05] rohanprasadofficial commented on #1369
i am working on it.

[2020-03-02 02:38] rachittt commented on #1367
before sending the PR, can you show us a mock-up of the design that you're going to implement? because we need to know what all changes do you think are required

[2020-03-02 04:57] rohanprasadofficial commented on #1367
@rachittt ya that will be good, sure i will add a mockup for each issues of UI , thanks for noting.

[2020-03-02 06:51] neeraj0403 opened #1370 "addition of reconfirmation dialog box while removing identifier"
**Summary:**
identifiers get deleted ,without a reconfirmation dialog box .

**Steps to reproduce:**
go to nav bar<clients<click on a entry< three dots a.k.a overflow menu and select identifiers<remove identifier

**Expected behaviour:**

when  user clicks on remove identifier option , a reconfirmation box should appear.

**Observed behaviour:**

identifiers get deleted instantly after clicking th

[2020-03-02 06:51] neeraj0403 commented on #1370
i will work on this issue

[2020-03-02 15:53] robustTechie commented on #1343
Are you working on this issue?

[2020-03-02 16:04] iamsh4shank opened #1372 "Adding app lock feature"
**Summary:**

Adding a temporary app lock feature using the passcode provided by Mifos will be helpful for locking the app without closing the app.

**Expected behaviour:**

After pressing the close button app will be temporarily closed so that there will be no need to close the app every time.

[2020-03-02 16:04] robustTechie commented on #1372
I will work on this.

[2020-03-02 16:21] robustTechie commented on #875
Are you working on this?

[2020-03-02 17:52] RajaVamsi11 opened #1374 "Alphabetical order is missing in Clients List and Centers List"
**Summary:**

Alphabetical order is missing in the Clients and Centers List. It has been implemented in the Groups List but not in the Clients List and Centers List. Alphabetical order of lists helps the user to find the desired name quickly and easily. Implementing this feature will be a great UX.

**Steps to reproduce:**

Go to Clients List and Centers List, you can see the list of items are not

[2020-03-02 17:52] RajaVamsi11 commented on #1374
I would like to work on this issue.

[2020-03-02 18:51] rohanprasadofficial commented on #1366
@rachittt  @droidchef starting it this groupdetails fragment i have created a wireframe before actual implementation , please check and review , can i proceed or not ? if any changes ?

![1](https://user-images.githubusercontent.com/30728574/75707299-ae9c5000-5ce4-11ea-876f-4b2fa4c23aef.png)

[2020-03-02 19:03] rachittt commented on #1366
@rohanprasadofficial It would be an extremely worthy contribution if you propose the redesigned mockups of all the screens of the application, all at once. If the mifos team likes it, it can be implemented!

[2020-03-02 19:10] RajaVamsi11 opened #1376 "Reformat the project files (Java and XML) using Ctrl+Alt+L"
**Summary:**

The idea is to reformat the project files using Ctrl+Alt+L because there are many files ( java and XML ) in the project which have been not refactored. It will be easy for developers to push their changes if all files are refactored ..i.e, intended properly by Ctrl+Alt+L.

For suppose If a developer made changes in one file which is already formatted, he can use Ctrl+Alt+L to reforma

[2020-03-02 19:11] RajaVamsi11 commented on #1376
I am working on this issue.

[2020-03-02 19:12] RajaVamsi11 commented on #1376
@tarun0 @moksh-mahajan @rachittt Whar is your views on this issue.

[2020-03-02 19:19] robustTechie commented on #1374
@RajaVamsi11  may be some sorting options is provided what if the user field officer want to see the client list on the basis when they are created or maybe some other filter

[2020-03-02 19:24] robustTechie commented on #1291
The thing is there is no backend available for saving the notes. I created this feature but it is saving notes temporary.

[2020-03-02 19:25] robustTechie commented on #1291
@tarun0  @moksh-mahajan what is your views on this feature?

[2020-03-02 19:26] RajaVamsi11 commented on #1374
@robustTechie As the Groups List already contains this feature, I don't think there will be any problem implementing in other lists too. If the list created by the officer is too long (for suppose more than 1000), he needs to check every name to find the desired name. Instead, it will be easy for the field officer to find the name if the list is sorted.

[2020-03-02 19:30] robustTechie commented on #1374
For just searching the app has Dashboard where the officer can search for clients, groups, etc

[2020-03-02 19:36] RajaVamsi11 commented on #1374
Yes, the dashboard has the search feature but implementing extra features will not cause any harm.
Let us take other's point of view on this issue :)
@rachittt @tarun0 @moksh-mahajan Whar are your views?

[2020-03-02 19:59] rachittt commented on #1374
instead of making it only in alphabetical order, why don't we give a filter option which let's the user decide if they want the list in 'alphabetical order' or 'Newest to Oldest' or 'Oldest to Newest,' etc.

[2020-03-02 20:25] robustTechie commented on #1374
Yes I totally agree with @rachittt adding a filter option will be perfect.

[2020-03-02 20:26] robustTechie commented on #1374
Are you working on this issue?

[2020-03-02 20:32] robustTechie opened #1377 "Not fetching external ID in Groups"
**Summary:**

In group details, it is not fetching the external Id of the group.

**Steps to reproduce:**

Open group> open any of the group

**Expected behaviour:**

It should show the external ID also.

**Observed behaviour:**

In group details, it is not fetching the external Id of the group.

**Device and Android version:**

Android Version 9.0
Realme 5

**Screenshots:**

![issue38](https://us

[2020-03-02 20:32] robustTechie commented on #1377
I am working on this issue

[2020-03-02 20:38] iamsh4shank opened #1378 "Progress Bar loading in Group Clients endlessly"
**Summary:**

In group clients, the progress bar is loading endlessly even after fetching the clients.

**Steps to reproduce:**

open any group> from overflow menu open group client

**Expected behaviour:**

After fetching the clients the progress bar should stop

**Observed behaviour:**

In group clients, the progress bar is loading continuously it is not stopping even after fetching the clients.

[2020-03-02 20:38] robustTechie commented on #1378
I will work on this.

[2020-03-03 02:33] RajaVamsi11 commented on #1374
Yes, I am working on it.

On Tue, 3 Mar, 2020, 1:56 AM Shashank Priyadarshi, <notifications@github.com>
wrote:

[2020-03-03 04:10] rohanprasadofficial commented on #1366
@rachittt  thanks , i need some guidelines for that , can i contact one of you ? I can surely design and implement that.

[2020-03-03 07:17] rachittt commented on #1366
shoot all your doubts on the gitter channel of mifos or pm me.

[2020-03-03 07:54] iamsh4shank opened #1379 "Search result not update"
**Summary:**

If we change the filter and no such search result is found then it will show the previous search result.

**Steps to reproduce:**

Search any name in the dashboard and then change the filter such that the filter doesn't have search results.

**Expected behaviour:**

If no result is found then it should clean the search result.

**Observed behaviour:**

If we change the filter and no

[2020-03-03 07:54] robustTechie commented on #1379
I will work on this issue.

[2020-03-03 11:37] Siddharth-Singhs commented on #1343
yes

[2020-03-03 15:47] #1377 closed

[2020-03-03 16:05] robustTechie opened #1380 "Improve UX by providing a button to directly enter the next edittext section in Login Activity"
**Summary:**

While Login, in the editText of password section, no keyboard next click is present, it affects the UX.

**Steps to reproduce:**

Login page

**Expected behaviour:**

The keyboard should have a feature to enter the next editText section form the previous editText.

**Observed behaviour:**

While Login, in the editText of password section, no keyboard next click is present, it affects

[2020-03-03 16:05] robustTechie commented on #1380
I will work on this issue.

[2020-03-03 17:13] maektwain commented on #1311
The backend is there, but the rationale behind developing such feature inside the mobile app is not actually useful.

[2020-03-03 17:15] maektwain commented on #1291
There is a backend for saving notes but not for groups , the notes are actually connected to a specific entity as of now, maybe first creating an issue fineract jira board,

[2020-03-04 14:48] #1245 closed

[2020-03-04 15:11] neeraj0403 opened #1381 "adding a new feature i.e. introducing first time user to the app"
**Summary:**

when a new user uses the app ,app will show the instructions and features ,so that user can get  easily familiarized with app

**Expected behaviour:**
The app will start and guide the first time user and show them all the features of the app .

[2020-03-04 15:11] neeraj0403 commented on #1381
i will work on this feature

[2020-03-04 19:27] Grandolf49 opened #1384 "Redundant public modifier in MFDatePicker.java file"
**Summary:**

There is a redundant public modifier in
`android-client\mifosng-android\src\main\java\com\mifos\mifosxdroid\uihelpers\MFDatePicker.java`
which should be removed.

**Steps to reproduce:**

1. Navigate to
`android-client\mifosng-android\src\main\java\com\mifos\mifosxdroid\uihelpers\MFDatePicker.java`

2. Check the last function
`public interface OnDatePickListener {
    public void onD

[2020-03-04 20:10] Grandolf49 opened #1386 "No progress dialog for Savings Account Activation"
**Summary:**

Progress dialog does not appear if user tries to activate savings account

**Steps to reproduce:**

1. Search for **Mifos** and apply **Savings Account** Filter.
2. Select any savings account
3. Select Activate Savings
4. Click save. There is no progress dialog after user clicks save.

**Expected behaviour:**

There should be a progress dialog after the user presses save button.

**D

[2020-03-04 20:18] robustTechie commented on #1284
Yes

[2020-03-04 20:19] robustTechie commented on #1284
What all genders I should give in the spinner?

[2020-03-04 20:20] Grandolf49 commented on #1284
@robustTechie we can have these options: 1. Male 2. Female 3. Other

[2020-03-05 11:45] robustTechie commented on #1284
Ok I wil do it ASAP.

[2020-03-05 17:55] RajaVamsi11 opened #1389 "Redundant suppressions in some files"
**Summary:**

There are redundant suppressions on methods and classes in some files with
`@SuppressWarning` annotation.
They can be safely removed because inspection they affect is no longer applicable in this context

**For example:**

[code]

**Steps to reproduce:**

Analyze the project for redundant suppression's

[2020-03-05 17:56] RajaVamsi11 commented on #1389
I will work on this issue.

[2020-03-06 09:46] Siddharth-Singhs opened #1392 "Improving UI of Form Spinner"
**Summary:**

They should be padding across the display text and spinner.
**Steps to reproduce:**

1. Create the Client
2. Enter the details
3. Click on the submit button
4. Now Associated Datatable UI is opened.

**Before UI Screenshot:**

![ui_datatable](https://user-images.githubusercontent.com/31280485/76058268-ed126300-5fa1-11ea-8e14-1b6b14f581c2.jpg)

**After UI Screenshot**

![update_databa

[2020-03-07 10:22] iamsh4shank opened #1395 "Offline Sync crash"
**Summary:**

In offline sync after adding 16th client in offline mode, if the user try to open offline crash then the page is crashed and the dashboard is opened.

**Steps to reproduce:**

create more than 15 clients in offline mode >offline sync> clients

**Expected behaviour:**

The app should show all the offline created clients without any crash.

**Observed behaviour:**

In offline sync afte

[2020-03-07 10:22] robustTechie commented on #1395
I would like to work on this issue.

[2020-03-09 09:53] MayaDuruva opened #1397 "Collection sheet in offline mode"
There is no option for collection sheet working in offline mode

[2020-03-09 09:53] RajaVamsi11 opened #1398 "Obsolete SDK_INT Version Checks"
**Summary:**

There are some Obsolete SDK_INT check versions in the project which are unnecessary. This check flags version checks that are not necessary, because the minSdkVersion (or surrounding known API level) is already at least as high as the version checked for.

Example:

![image](https://user-images.githubusercontent.com/30550059/76198274-c9eeea00-6213-11ea-9b3e-8f88e442cf6d.png)

These t

[2020-03-09 09:54] RajaVamsi11 commented on #1398
I will work on this issue.

[2020-03-09 10:51] RajaVamsi11 opened #1400 "Obsolete layout params"
**Summary:**

There are some layout_param which not defined for the given layout, meaning it has no effect.
This usually happens when you change the parent layout or move view code around without updating the layout params.

This will cause useless attribute processing at runtime and is misleading for others reading the layout so the parameter should be removed.

[2020-03-09 17:24] dreadpool2 opened #1402 "Improve Savings Account UI of Group"
**Summary:**

The UI of Savings Account Page must be improved. Alignment and padding must be improved.

**Screenshots:**
![WhatsApp Image 2020-03-09 at 22 53 42](https://user-images.githubusercontent.com/28607714/76240223-e19c9180-6258-11ea-88b6-8f2f093a85f6.jpeg)

[2020-03-09 20:13] neeraj0403 opened #1403 "hidden toaster message while creating a new client in offline mode"
**Summary:**
toaster message is not visible after saving the data ,close the keyboard after clicked  on save data.

**Steps to reproduce:**

menu bar<clients<Floating button (to add client)<enter the fields and submit<User fields <save

**Expected behaviour:**

after saving the required data the keyboard get hides automatically,so that user can see the toast
message.

**Observed behaviour:**

afte

[2020-03-09 20:18] neeraj0403 commented on #1403
i will work on this issue

[2020-03-10 05:12] RajaVamsi11 opened #1404 "ScrollView size validation warnings"
**Summary:**

There are some Scroll View size validation issues in the project. When an inspection is done on Scroll View Size the Android studio throws this:

![image](https://user-images.githubusercontent.com/30550059/76207606-1c380700-6224-11ea-8650-f2ab150f28ee.png)

**Example:**

![image](https://user-images.githubusercontent.com/30550059/76207670-3b369900-6224-11ea-96c2-f25f6cb9e0d3.png)

Th

[2020-03-10 05:17] RajaVamsi11 commented on #1402
@dreadpool2 Can I work on this issue?

[2020-03-11 13:28] RajaVamsi11 opened #1406 "Toast created but not shown in Report Fragment"
**Summary:**

A Toast is created in Report Fragment `(ReportFragment.java)` but not shown.

![image](https://user-images.githubusercontent.com/30550059/76421333-85a54a80-63c9-11ea-950a-4c1fc9dad16f.png)

`Toast.makeText()` creates a Toast but does not show it. You must call `show()` on the resulting object to actually make the Toast appear.

I would like to work on this issue.

[2020-03-12 09:21] RajaVamsi11 opened #1408 "UI enhancement in Saved Individual Collection Fragment"
**Summary:**

In the Saved Individual Collection Fragment, the text size of the message "No Saved Collection Sheet"  is 40dp. The size of the text is inappropriate and should be corrected according to the convention and also the sp is used for TextViews instead of dp.

**Steps to reproduce:**

Go to Individual Collection Sheet --> Saved Fragment

**Expected behaviour:**

The message "No Saved Coll

[2020-03-12 09:22] RajaVamsi11 commented on #1408
I will work on this issue.

[2020-03-12 18:34] RajaVamsi11 opened #1410 "Committing changes to Shared Preferences objects"
**Summary:**

We must Consider using `apply()` instead of the `commit()` to shared preferences objects. Whereas commit blocks and writes its data to persistent storage immediately, apply will handle it in the background.
Refer [here](https://developer.android.com/reference/android/content/SharedPreferences.Editor.html#apply()) for more information.

The projects use the `.commit()` method for appl

[2020-03-17 06:05] neeraj0403 opened #1414 "app goes back to main page when pressing the calendar icon twice while creating individual collection sheet"
**Summary:**

app goes directly to main page when user clicks calendar icon twice,instead of directly going to
the main page the calendar should get open and close

**Steps to reproduce:**

got to dashboard<individual collection sheet< twice click on calendar option

**Expected behaviour:**

while clicking on calendar option more than once ,the calendar should get open and close

**Observed behavi

[2020-03-17 06:09] neeraj0403 commented on #1414
i will work on this issue

[2020-03-17 08:58] francisguchie commented on #1163
i have designed 2 receipts in pentaho namely :
1- Savings Transaction
2- Loan Transaction

I would like to upload it somewhere here but the file type is not supported

[2020-03-18 10:37] bryophyllum1 commented on #1260
@robustTechie Are you sure this is a bug? You might have failed to upload the document because the backend server is not running.

[2020-03-18 17:02] robustTechie opened #1415 "Progressbar load error"
**Summary:**

When the user press the submit button in the survey then the progress bar loads in the wrong way.

**Steps to reproduce:**

Open any client > open survey > submit the survey

**Expected behaviour:**

Progressbar should load correctly when the submit button is pressed.

**Observed behaviour:**

When the user press the submit button in the survey then the progress bar loads in the wron

[2020-03-18 17:03] robustTechie commented on #1415
I would like to work on this.

[2020-03-19 09:30] MayaDuruva opened #1416 "Path Tracker issue"
Path Tracker crash the app

[2020-03-19 09:31] MayaDuruva commented on #1416
![Screenshot (531)](https://user-images.githubusercontent.com/56622978/77052247-899d2200-69f2-11ea-9280-53da17b74cab.png)

[2020-03-19 12:06] #1128 closed

[2020-03-19 15:08] Grandolf49 commented on #1416
@MayaDuruva  This issue is already created. [Issue No.](https://github.com/openMF/android-client/issues/1165)
Please close this issue.

[2020-03-20 02:44] dreadpool2 opened #1418 "Conditions can be replaced with a switch statement for clarity"
**Summary:**

The function ``addDataTableInput`` in the file DataTableRowDialogFragment.java has a lot of confusing if and elseif statements.

**Code snippet**
[code]
**Expected behaviour:**

This can be changed to a simple switch statement

[2020-03-20 03:03] dreadpool2 opened #1420 "Unnecessary variable declared"
**Summary:**

Unnecessary variable declared in LoanChargeDialogFragment.java file. We don't use the value of variable in further cases.

[2020-03-20 03:10] dreadpool2 opened #1422 "Unused conditional in function in LoanChargeDialogFragment.java"
**Summary:**

Unused conditional present in function in LoanChargeDialogFragment.java
**Code snippet**
[code]

**Expected behaviour:**
This should be modified

[2020-03-20 09:56] #1236 closed

[2020-03-20 09:57] robustTechie commented on #1260
May be that will be the issue.

[2020-03-20 12:17] Grandolf49 opened #1424 "Improper usage of switch case in Login Activity"
**Summary:**

There is a switch case in Login Activity with only case and default.
[code]
**Expected behaviour:**

If there is only one case in switch case, it should be replaced with if else statement.

[2020-03-20 12:50] Grandolf49 opened #1426 "Top Right corner TextView in Center List Fragment is not understandable"
**Summary:**

There is a textview in CenterListFragment which is not understandable as there is no description for it

**Steps to reproduce:**

1. Navigate to Centers from Navigation Drawer
2. Notice the number on top right corner of any item

**Expected behaviour:**

There should be an indicator to describe that the particular number is the center id.

**Observed behaviour:**

TextView without de

[2020-03-20 14:31] nirmalhk7 opened #1428 "Add Client Submit crashes when you have no Internet connection"
**Summary:**
I face the following error when I try adding a client in offline mode.
`java.lang.NullPointerException: Attempt to invoke interface method 'boolean java.util.List.isEmpty()'
on a null object reference`

Also note the weird looking dropdowns.
**Steps to reproduce:**
- Log in to the app.
- Switch of your mobile data.
- Try adding a client. You might see a loading spinner.
  - If you do:

[2020-03-20 14:43] robustTechie opened #1429 "Wrong text alignment in charges"
**Summary:**

In the charges page, the wrong alignment of text is present, which affects the user experience.

**Steps to reproduce:**

open any client>open charges

**Expected behaviour:**

Text alignment should be perfect so that the UI looks good

**Observed behaviour:**

In the charges page, the wrong alignment of text is present, which affects the user experience.

**Device and Android versio

[2020-03-20 14:43] robustTechie commented on #1429
I would like to work on this.

[2020-03-20 14:58] #1330 closed

[2020-03-20 15:26] Grandolf49 opened #1430 "Redundant namespace declaration in row_center_list_item.xml file"
**Summary:**

The namespace declaration in row_center_list_item.xml file is completely redundant and must be removed

**Steps to reproduce:**

1. Navigate to `android-client\mifosng-android\src\main\res\layout\row_center_list_item.xml`
2. Line number 23: There is a redundant namespace declaration

**Expected behaviour:**

No need of the namespace declaration

**Device and Android version:**

Andro

[2020-03-20 15:45] Grandolf49 opened #1432 "Redundant namespace declarations in multiple files"
**Summary:**

There are several xml files where redundant namespace declarations are present

**Expected behaviour:**

There is no need of redundant namespace modifiers

[2020-03-20 15:47] #1250 closed

[2020-03-20 15:50] #1249 closed

[2020-03-20 15:51] #1261 closed

[2020-03-20 16:11] Grandolf49 opened #1434 "dp used instead of sp for defining textSize"
**Summary:**

In the file `android-client\mifosng-android\src\main\res\layout\fragment_saved_collection_sheet.xml` there is a line
[code]
While defining text size, strictly **sp** must be used instead of **dp**.

[2020-03-20 16:20] dreadpool2 commented on #1424
Actually a switch case should be used here, even if there is one condition, as this is present under onOptionItemSelected function. Here it analyzes that there might be more options to be added in the future.

[2020-03-21 00:35] casyazmon opened #1436 "Using double quotes when substituting a dependency version variable in build.gradle app file"
**Summary:**

In Gradle, when substituting a version variable for a dependency, double quotes are been used. For Groovy string interpolation, we must use double quotes to avoid errors or any warning when syncing the build.gradle

**Steps to reproduce:**

In the build.gradle file of the app, at the dependencies section  on line 181-184

**Expected behaviour:**

For Groovy string interpolation, when

[2020-03-21 00:36] casyazmon commented on #1436
I am working on this.

[2020-03-21 02:39] #1434 closed

[2020-03-21 05:39] #1416 closed

[2020-03-21 07:40] iamsh4shank opened #1439 "Wrong backstack fragment"
**Summary:**

When the user presses fill now button after searching individual collection sheet a new fragment opens but if the user presses the up button then it doesn't reopen the individual collection sheet properly.

**Steps to reproduce:**

open new individual collection sheet> generate any collection sheet> new fragment will open> press up button

**Expected behaviour:**

On pressing up butt

[2020-03-21 07:40] robustTechie commented on #1439
I would like to work on this.

[2020-03-22 13:59] gauravdewat commented on #1163
upload it in a drive and post the link here

[2020-03-22 15:27] iamsh4shank opened #1441 "No toast message while switching between offline and online mode."
**Summary:**

No toast message while switching between offline and online mode by the provided spinner in navigation drawer.

**Steps to reproduce:**

open navigation drawer>switch between offline and online mode.

**Expected behaviour:**

There should be a toast message while switching between offline and online mode.

**Observed behaviour:**

There is no such notification provided while switchin

[2020-03-22 15:27] robustTechie commented on #1441
I would like to work on this.

[2020-03-22 23:02] Sachit1137 opened #1443 "Keyboard does not hide when we open the app and click the hamburger menu."
**Summary:**

Keyboard does not hide when we open the app and click the hamburger menu. Ideally it should hide automatically on clicking the menu button.

**Steps to reproduce:**
1. Open the app
2. Click the menu button
3. Keyboard is still there

**Expected behaviour:**

The Keyboard should hide automatically.

**Observed behaviour:**

As the keyboard does not hide itself the user has to manually

[2020-03-23 01:29] Sachit1137 opened #1444 "Sync Survey dialog box Bug"
**Summary:**

On hiding Sync Survey dialog box, it should disappear from the main screen and should appear in the notification panel. However, it disappears entirely.

**Steps to reproduce:**
1. Goto Settings in Online Mode
2. Toggle Sync Surveys on
3. Hide the Dialog box which appears by clicking the hide button

**Expected behaviour:**

On hiding the dialog box, it should disappear from main act

[2020-03-23 06:52] robustTechie commented on #1444
Are you working on this?

[2020-03-23 06:53] robustTechie commented on #1443
#1234 is the same issue.

[2020-03-23 07:50] Sachit1137 commented on #1443
Already Resolved.

[2020-03-23 07:50] #1443 closed

[2020-03-23 07:51] Sachit1137 commented on #1444
Yes. I am working on it.

[2020-03-23 12:47] gauravdewat opened #1445 "Print button for client's receipt"
**Summary:**

Field staff collects the amount from clients and issuing receipts for the amount collected and then enters the amount in mifos mobile app. Instead of it, after entering details in mifos, automatically receipts printed using Bluetooth, the time of field staff can be saved. So printing button in mobile app.

**Steps to reproduce:**

How can we reproduce the issue?

**Expected behaviour

[2020-03-23 19:14] casyazmon opened #1446 "Android X migration warnings"
**Summary:**

Warning when extending custom views (ImageView, TextView) in the project

**Steps to reproduce:**

We can see this warning in the "FontTextView" class found in the "com.mifos.mifosxdroid.views" package. there are other classes which extend the custom view in the project as well.

**Expected behaviour:**
Since the project is been migrated to androidx, custom view should extend import

[2020-03-23 19:15] casyazmon commented on #1446
I am working on this.

[2020-03-24 10:32] RajaVamsi11 opened #1447 "Keyboard inaccessible widgets"
**Summary:**

A widget that is declared to be `clickable` but not declared to be `focusable` is not accessible via the keyboard.
It means that we can go to the next widget by clicking next on the soft keyboard. we must add the `focusable` attribute as well to gain the access of that widget through the keyboard.

In our project, this type of inaccessible widget ( 5 widgets ) must be removed.

Examp

[2020-03-24 10:32] RajaVamsi11 commented on #1447
I will work on this issue.

[2020-03-24 12:23] Grandolf49 opened #1449 "android:src used instead of app:srcCompat"
**Summary:**

When we are using vector drawable for an image, **app:srcCompat** must be used instead of **android:src**. In the file `android-client\mifosng-android\src\main\res\layout\view_nav_drawer_header.xml` at line 24, **android:src** is used which is not advisable
[code]

**Expected behaviour:**

The code should be replaced with this:
[code]

[2020-03-24 12:34] Grandolf49 opened #1451 "Hard coded text size in simple_spinner_item.xml file"
**Summary:**

In the file, `android-client\mifosng-android\src\main\res\layout\simple_spinner_item.xml` hard text size value is hard coded.
[code]

**Expected behaviour:**

This value must be first registered in `dimens.xml` file and then be referenced from there.

[2020-03-24 13:24] shambu2k opened #1453 "Keyboard not hiding in Login page"
**Summary:**

Keyboard not hiding if incorrect credentials are entered and Snackbar comes behind keyboard

**Steps to reproduce:**

Just open the app and enter wrong credentials.. the keyboard stays there and the error snackbar is not visible as it is behind the keyboard. This happens in the main page also, everywhere the hideKeyboard method is called.

**Expected behaviour:**

Irrespective of whe

[2020-03-24 13:24] shambu2k commented on #1453
I want to work on this..

[2020-03-24 13:41] robustTechie commented on #1453
#1352  is the fix for this. Please close this.

[2020-03-24 14:03] shambu2k commented on #1453
Has it not been merged??

[code]

[2020-03-24 14:03] #1453 closed

[2020-03-24 15:16] shambu2k opened #1454 "App 'Press again to exit Toast' issue"
**Summary:**

The toast doesn't disappear immediately even after the app closes.

**Steps to reproduce:**

Just try exiting from the dashboard. The toast persists for a few seconds even after the app exits

**Expected behaviour:**

The toast should get cancelled when app is closed

**Observed behaviour:**

 The 'Press again to exit' toast persists for a few seconds even after the app exits

**Devi

[2020-03-24 15:16] shambu2k commented on #1454
I have a simple one line fix for this.. Can I give PR?

[2020-03-24 17:38] Sachit1137 commented on #1428
I am working on it.

[2020-03-24 18:15] Sachit1137 opened #1458 "Feature: Display Alert Dialog Box instead of Toast in Settings Activity"
**Summary:**
When the user toggle's on the Sync Survey button without the internet, a Toast is displayed. Instead, it should prompt the user to switch on the internet in order to sync surveys.

**Steps to reproduce:**

1. Open App
2. Goto Settings
3. Switch off the internet
4. Toggle on the Sync Survey button

**Expected behaviour:**

Instead of showing Toast message, the user should be prompted t

[2020-03-24 18:16] Sachit1137 commented on #1458
I am working on it

[2020-03-25 03:03] RajaVamsi11 commented on #1444
@Sachit1137 Please open this Issue as this issue is not solved at. Why did you close this issue?

[2020-03-25 08:12] nirmalhk7 commented on #1428
I'm waiting for the mentors to give a green-flag to this issue, because it isn't a very big necessity.

I actually intended to work on it, but never mind. Let me know if you face any problems.

[2020-03-25 08:22] Grandolf49 commented on #1444
@Sachit1137 as @RajaVamsi11 said, please open the issue

[2020-03-25 12:22] Sachit1137 commented on #1444
Ok. will do. @Grandolf49 @RajaVamsi11. It was my first time so I thought after resolving it and creating the pull request, I should close it.

[2020-03-25 12:30] RajaVamsi11 commented on #1444
@Sachit1137 You can close the issue if any Pull Request solves the issue.

[2020-03-25 14:11] casyazmon opened #1459 "Error uploading client Signature"
**Summary:**
An error occurs when uploading a client's signature. the file is been saved on the device but it is not been uploaded to the server. There is a 403 error thrown by the server. this can be seen on the logcat console

**Steps to reproduce:**

1. Nav drawer
2. Clients
3. Select a client
4. click on the option menu
5. select upload signature
6. upload/sign the signature
7. Click the uploa

[2020-03-25 16:40] Sachit1137 commented on #1444
@RajaVamsi11 Pull request #1457 solves this issue. Shall I close it now?

[2020-03-25 17:36] RajaVamsi11 commented on #1444
@Sachit1137 You can close the issue once the Pull Request gets merged.

[2020-03-25 18:06] casyazmon commented on #1459
I am working on this.

[2020-03-25 18:06] Sachit1137 commented on #1444
ok

[2020-03-25 18:12] RajaVamsi11 opened #1460 "Code style issues of String conversions"
**Summary:**

This issue focuses on removing unnecessary conversions to String statements.

**Example:**

![image](https://user-images.githubusercontent.com/30550059/77570335-9ee1e700-6ef1-11ea-9e5c-b9664a1b6c77.png)

Reports on any calls to static methods like **String.valueOf()** or **Integer.toString()** used in string concatenations and as arguments to the print() and println() methods of **ja

[2020-03-25 18:31] RajaVamsi11 opened #1462 "Unnecessary interface modifiers in RecyclerItemClickListener.java file"
**Summary:**

There is a redundant public modifiers in
`android-client\mifosngandroid\src\main\java\com\mifos\mifosxdroid\core\ RecyclerItemClickListener.java`
which should be removed.

Since all fields in an interface are implicitly public, static and final, there is no need for an explicit public modifier.

[2020-03-25 20:08] Sachit1137 opened #1464 "Sync Clients, Groups and Centers Bug"
**Summary:**

On hiding Sync dialog box for Clients, Groups and Centers, it should disappear from the current activity and should appear in the notification panel. However, it disappears entirely.

**Steps to reproduce:**

1. Goto Groups in Online Mode
2. Select the groups you want to sync
3. Press the Sync Button in the top right of the screen
4. Hide the Dialog box which appears by clicking the

[2020-03-25 20:09] Sachit1137 commented on #1464
I am working on it

[2020-03-27 07:40] Sachit1137 commented on #1428
Oh..ok..sure

[2020-03-27 07:40] Sachit1137 commented on #1428
Oh..ok..sure

[2020-03-27 09:08] neeraj0403 opened #1465 "keyboard does not close when creating clients"
**Summary:**

Summarize your issue in one sentence (what goes wrong, what did you expect to happen)

**Steps to reproduce:**

How can we reproduce the issue?

**Expected behaviour:**

What did you expect the app to do?

**Observed behaviour:**

What did you see instead?  Describe your issue in detail here.

**Device and Android version:**

What make and model device (e.g., Samsung Galaxy S3) did y

[2020-03-27 09:08] #1465 closed

[2020-03-27 11:20] casyazmon opened #1466 "App doesn't supports landscape mode"
**Summary:**

Currently, the android-client app doesn't support landscape mode and the tablet UI needs improvement.

[2020-03-27 11:23] casyazmon commented on #1466
@droidchef @tarun0 I think it will be a nice idea if this app can support landscape. I don't know if this feature is was left out intentionally.
I will like to work on it.

[2020-03-28 05:08] EstherBrown1 commented on #1420
Currently working on addressing this ticker: Remove unnecessary variable declartion #1421

[2020-03-28 05:17] EstherBrown1 commented on #1420
The current variable declation is:
if (chargeId != -1) {

                } else {

                    Toast.makeText(getActivity(), getString(R.string.error_select_charge)
                            , Toast.LENGTH_SHORT).show();

                }

[2020-03-30 18:22] HaripriyaB opened #1469 "The keyboard hides navigation drawer"
**Summary:**
The keyboard hides the navigation drawer when we click on the drawer while keyboard is open

![UIbug](https://user-images.githubusercontent.com/34762451/77947271-52c3e780-72e1-11ea-9e15-db55256cc53b.gif)

**Expected behaviour:**
Fix is to pull down the keyboard when navigation menu is opened.
**Device and Android version:**
Android 9
Oppo A9 2020

[2020-03-30 18:23] HaripriyaB commented on #1469
I've fixed this issue, PR review is pending.

[2020-03-30 19:29] HaripriyaB commented on #1469
Review required...

[2020-03-30 20:28] Grandolf49 commented on #1469
Hi @HaripriyaB This issue has already been addressed and solved by @robustTechie #1234  Please close the issue

[2020-03-31 05:03] robustTechie commented on #1469
@HaripriyaB please close this issue as this issue is duplicate of #1234

[2020-03-31 06:53] #1469 closed

[2020-04-01 04:13] Sachit1137 opened #1472 "Start Date and End Date bug"
**Summary:**

Date fields should not take alphanumeric strings as input

**Steps to reproduce:**
1. Go to RunReports
2. Go to Funds
3. Click any row
4. Enter text in the Start and End Date fields

**Expected behaviour:**

The user should not be able to enter anything except for date

**Observed behaviour:**

Besides date, Start Date and End Date fields are taking alpha numeric strings as input as

[2020-04-01 04:14] Sachit1137 commented on #1472
I am working on it.

[2020-04-01 06:55] bryophyllum1 commented on #1090
I am working on this issue.

[2020-04-01 09:08] casyazmon opened #1473 "Remove unnecessary button when generating new individual collection sheet"
**Summary:**

Inactive and unnecessary button when generating new individual collection sheet. the clear button is unnecessary since we only have few fields which are predefined.

**Steps to reproduce:**

1. Nav drawer
2. Individual collection sheet
3. You will see a "Generate" and a "Clear" button. The clear button is not necessary.

**Expected behaviour:**
The clear button should become active w

[2020-04-01 09:09] casyazmon commented on #1473
I am working on this.

[2020-04-03 04:58] robustTechie commented on #1473
Clear button is not unnecessary button  now it is not interactive, check the fix in #1253 . Please close this issue.

[2020-04-03 05:06] robustTechie commented on #1459
In my case it is working, to which server are you connected?

[2020-04-03 05:19] robustTechie commented on #1445
I would like to work on this is issue.

[2020-04-03 06:56] bryophyllum1 commented on #1090
@harshitbansal05 can you please help me with this- when I run ```./gradlew check``` it gives the error that it can't find DaggerApplicationComponent and build fails.
![Screenshot from 2020-04-03 12-21-36](https://user-images.githubusercontent.com/51085133/78332716-2b517100-75a6-11ea-810e-1074bc8a677c.png)

[2020-04-03 10:22] casyazmon commented on #1473
ok @robustTechie the button remains inactive throughout. i  think it should be active when the fields are filled.

[2020-04-03 10:24] casyazmon commented on #1473
ok @robustTechie. I didn't notice

[2020-04-03 10:25] #1473 closed

[2020-04-05 01:35] Sachit1137 opened #1477 "Keyboard does not get dismissed itself"
**Summary:**

Keyboard does not hide itself on clicking submit button after creating client, group and center.

**Steps to reproduce:**

1. Go to Clients
2. Click the "+" button
3. Enter details but do not dismiss the keyboard manually
4. Click submit and then save button
5. Repeat steps 1 to 4 for reproducing this issue for group and center

**Expected behaviour:**

The keyboard should get dismis

[2020-04-06 09:46] casyazmon commented on #1459
am connected to this:    https://demo.mifos.io/fineract-provider/api/v1/

[2020-04-06 20:49] robustTechie commented on #1477
@Sachit1137  #1288 is a similar issue and PR is already sent for the same. So please close the duplicate issues.

[2020-04-06 21:46] #1381 closed

[2020-04-07 05:43] Sachit1137 commented on #1477
@robustTechie , thanks for pointing it out. I checked #1288, it does not include create groups and create center activities whereas #1477 does.

[2020-04-07 05:43] Sachit1137 commented on #1477
So,is it still required to close this issue?

[2020-04-07 08:05] robustTechie commented on #1477
@Sachit1137 in my case after successfully creating a new group and center, the keyboard is automatically closed. Check once.

[2020-04-07 10:14] RajaVamsi11 opened #1480 "Duplicate branches in Switch statements"
**Summary:**

This issue focuses on the `switch` statements containing the same code in different branches. The redundant cases can be removed as they are of no use and cause code redundancy.   These types of switch cases are present in `SyncCenterPayloadsFragment` and `SyncPayloadsAdapter`.

`Example:`
![image](https://user-images.githubusercontent.com/30550059/78656330-d9ca1e80-78e4-11ea-9151-ed

[2020-04-07 11:03] RajaVamsi11 opened #1482 "Explicit type can be replaced with <>"
**Summary:**

This issue focuses on replacing the explicit type with diamond type <>. The inspection gives the following result.

![Screenshot from 2019-03-20 16-15-22](https://user-images.githubusercontent.com/30550059/54678628-8b0be400-4b2b-11e9-9e71-adb4216075da.png)

This line of code :

                        this.startDate = new ArrayList<Integer>();
can be converted into:

[2020-04-07 14:46] iamsh4shank opened #1484 "Approve button in recurring account and saving account"
**Summary:**

On pressing approve button in the recurring account it opens another page for approving it and after successfully approving it, again the approve button is there on clicking it again the confirm page reopens. Similar in the savings account.

**Steps to reproduce:**

Open any client detail> click on any recurring account > press approve button> press save button

**Expected behaviour:

[2020-04-07 14:47] robustTechie commented on #1484
I would like to work on this.

[2020-04-08 00:57] Sachit1137 commented on #1477
@robustTechie I have tested it on another device as well. Besides creating new Client, the issue persists for creating new Group and center as well.

[2020-04-08 05:06] robustTechie commented on #1477
@Sachit1137 it would be great if you upload the screen recording for the same.

[2020-04-08 05:43] Sachit1137 commented on #1477
uploaded

[2020-04-08 07:23] robustTechie commented on #1477
@Sachit1137 see as in center and groups, when it is created the keyboard is automatically closed but the problem could be only found in clients.

[2020-04-08 07:30] robustTechie opened #1485 "Showing search result in offline mode"
**Summary:**

As if the offline mode is selected and mobile connectivity is on then also the search result is visible.

**Steps to reproduce:**

Select offline mode>search anything in dashboard

**Expected behaviour:**

As if the offline mode is selected then it should not show any result and return a toast notification like "Network not found" or " failed to fetch resources"

**Observed behaviour

[2020-04-08 07:31] robustTechie commented on #1485
I would like to work on this.

[2020-04-08 14:17] Sachit1137 commented on #1477
Ideally the keyboard should get dismissed immediately after pressing the submit button(which is not the case) and it should not appear while the screen is loading.

[2020-04-09 21:11] robustTechie opened #1489 "No successful Toast for Sync Survey"
**Summary:**

On successful completion of the sync survey, no toast notification is raised.

**Steps to reproduce:**

Open side drawer and click on settings> click on sync survey

**Expected behaviour:**

It should generate a toast on the successful completion of the sync survey.

**Observed behaviour:**

On successful completion of the sync survey, no toast notification is raised.

**Device and A

[2020-04-09 21:11] robustTechie commented on #1489
I would like to work on this issue.

[2020-04-09 21:14] iamsh4shank opened #1490 "Sync Survey not disable automatically"
**Summary:**

On successful completion of the sync survey switch doesn't disable automatically.

**Steps to reproduce:**

settings> sync survey

**Expected behaviour:**

After a successful completion switch should close automatically.

**Observed behaviour:**

On successful completion of the sync survey switch doesn't disable automatically.

**Device and Android version:**

Android Version 9.0
Rea

[2020-04-09 21:15] robustTechie commented on #1490
I would like to work on this issue.

[2020-04-10 03:13] Grandolf49 opened #1491 "Missing text input type for instance URL Edit Text in Login Activity"
**Summary:**

The InstanceURL EditText in Login Activity does not contain the `inputType` attribute which should be set to `textUri`

**Expected behaviour:**

Following attribute must be set for the edit text
[code]

[2020-04-10 03:18] Grandolf49 commented on #1491
I will work on this

[2020-04-10 11:43] RajaVamsi11 opened #1493 "Java code style issues"
**Summary:**

There are Java code style issues in the project which must be removed for clean code. Those issues include:

1. **Unnecessary Enum modifiers:** Redundant modifiers on enumerated classes or components of
                                                     enumerated classes.
2. **Unnecessary semicolon:** unnecessary semicolons, whether between class members, inside block statements,

[2020-04-11 06:46] RajaVamsi11 opened #1495 "Dynamic Gradle Version"
**Summary:**

In our project, we are using one dynamic gradle version which is not recommendable at all.

![image](https://user-images.githubusercontent.com/30550059/78990874-2f0c6700-7b55-11ea-86c2-44b13ca35f9a.png)

Using + in dependencies lets you automatically pick up the latest available version rather than a specific, named version.

However, this is not recommended; your builds are not repe

[2020-04-12 07:30] RajaVamsi11 opened #1497 "compare() method can be used to compare numbers"
**Summary:**

In the `PaymentTypeOption.java` file, there is a method named `compareTo(PaymentTypeOption another)` which is comparing numbers using if-else conditions. This same functionality can be achieved effectively by using the `compare()` method. For more info please refer[ here](https://www.geeksforgeeks.org/java-integer-compareto-method/).

**Present Code:**

[code]

Code Using compare() m

[2020-04-13 11:29] RajaVamsi11 opened #1499 "addAll() method call can be replaced with parameterized constructor call"
**Summary:**

The method calls such as **Collection.addAll()** and **Map.putAll()** after instantiation of a collection using a constructor call without arguments.

Such constructs can be replaced with a single call to a parameterized constructor which simplifies code. Also for some collections, the replacement might be more performant.
For example:
[code]
can be replaced with:

`Set<String> set =

[2020-04-13 20:45] neeraj0403 opened #1501 "App crashes when clicked on calendar textview twice while creating new client"
**Summary:**

when clicked on calendar textview twice app get crashed

**Steps to reproduce:**

Dashboard<menu<create client<press on calendar textview twice<App crashes

**Expected behaviour:**
After pressing the calendar textview twice calendar gets open or close instead of crashing of the app

**Observed behaviour:**
After pressing the calendar textview twice the calendar gets opened and after

[2020-04-13 20:46] neeraj0403 commented on #1501
i will work on this issue

[2020-04-18 14:32] iamsh4shank opened #1503 "Collection sheet submits in offline mode in Individual collection sheet"
**Summary:**

If we enable the offline mode then also the collection sheet is submitted in individual collection sheet.

**Steps to reproduce:**

Click on individual collection sheet> Fill the fields> click on generate> click on fill now>then press submit

**Expected behaviour:**

On offline mode it should show an error message or a toaster for notifying that the user is in offline mode.

**Observ

[2020-04-18 14:32] robustTechie commented on #1503
I would like to work on this.

[2020-04-19 12:46] RajaVamsi11 opened #1504 "User Interface testing with Espresso"
**Summary:**

Writing UI tests for the application. One should get into the habit of creating a user interface (UI) tests if they need to verify that the UI of your app is functioning correctly.

Currently, there are some ​UI [tests](https://github.com/openMF/android-client/tree/master/mifosng-android/src/instrumentTest/java/com/mifos/mifosxdroid/tests)​ present in the project which are not workin

[2020-04-19 12:46] RajaVamsi11 commented on #1504
I am currently working on the UI testing part.

[2020-04-21 04:22] iamsh4shank opened #1506 "App crashes if user clicks twice on date textView anywhere in the app."
**Summary:**

If the user clicks on date textView twice then the app crashes. This bug could be found anywhere in the app wherever the date textView is present.

**Steps to reproduce:**

In any date, TextView just click twice

**Expected behaviour:**

It shouldn't crash as it is affecting the UX.

**Observed behaviour:**

If the user clicks on date textView twice then the app crashes. This bug cou

[2020-04-21 04:22] robustTechie commented on #1506
I would like to work on this issue.

[2020-04-24 17:21] iamsh4shank opened #1508 "Wrong message in document of identifier"
**Summary:**

The wrong message is visible in the document screen of the identifier. If the user adds some documents then also it shows that "There is No Document to show".

**Steps to reproduce:**

Open any client> click on document>press add document>then add a new document

**Expected behaviour:**

When the list is empty then it will show "No document to show"  otherwise it doesn't show this.

[2020-04-24 17:21] robustTechie commented on #1508
I would like to work on this issue.

[2020-04-24 17:56] robustTechie opened #1509 "Delete elements from document list in identifier"
**Summary:**

When we have more than 1 document then it can delete and update the list but when it has only one document remaining then it will show the toast message for successful deletion but the recycler view doesn't update.

**Steps to reproduce:**

open any client>click on overflow menu> click on idenetifiers> press add documents> add few documents and delete them

**Expected behaviour:**

o

[2020-04-24 17:56] robustTechie commented on #1509
I would like to work on this issue.

[2020-05-01 01:01] Sachit1137 opened #1515 "Cannot add notes for individual clients"
**Summary:**

There is no button to add new notes for individual clients. A Floating Action Button (FAB) should be shown to do so.

**Steps to reproduce:**

1. Goto Clients
2. Click on any client
3. Click 3 dot menu and chose Notes
4. No button to add new Notes

**Expected behaviour:**

There should be a Floating Action Button to add new Notes

**Observed behaviour:**

FAB should be displayed.

**

[2020-05-01 17:14] robustTechie commented on #1515
Hey, @Sachit1137 issue #1291 is the same issue as this, please close this issue.

[2020-05-01 18:03] Sachit1137 commented on #1515
ok

[2020-05-01 18:03] #1515 closed

[2020-05-21 06:49] #1364 closed

[2020-05-22 06:52] #1126 closed

[2020-05-22 08:26] #1124 closed

[2020-05-22 11:17] #1491 closed

[2020-05-22 14:32] #891 closed

[2020-06-12 08:40] developersamuelakram opened #1520 "3 Fragments how to handle progress bar visibility"
I am using ListView (which means I am using only one xml layout for my three fragments) and the visibility of the progressbar is not working. Can someone please help. I am posting the code of one of the 3 fragments ( code in other two frag looks the same)

Please tell me what I should add and should I add to each fragment, what am I missing. Can someone help.

Earlier I had tried adding code and s

[2020-06-15 19:19] #1460 closed

[2020-06-15 19:44] #1497 closed

[2020-06-16 04:36] #1462 closed

[2020-06-16 05:34] #1380 closed

[2020-06-16 05:45] #1446 closed

[2020-06-16 05:49] #1415 closed

[2020-06-16 05:52] #1420 closed

[2020-06-16 07:10] #1422 closed

[2020-06-16 07:13] #1430 closed

[2020-06-16 07:16] #1281 closed

[2020-06-16 07:17] #1429 closed

[2020-06-16 07:23] #1384 closed

[2020-06-16 07:59] #918 closed

[2020-06-16 08:16] #1029 closed

[2020-06-16 09:32] #1081 closed

[2020-06-16 09:35] #1134 closed

[2020-06-16 10:05] #1432 closed

[2020-06-16 10:11] #1406 closed

[2020-06-16 10:23] #1350 closed

[2020-06-16 11:47] #1398 closed

[2020-06-17 05:56] #565 closed

[2020-06-17 06:07] AbhilashG97 commented on #1003
I am closing this issue as it has been resolved.

[2020-06-17 06:07] #1003 closed

[2020-06-17 06:24] #1026 closed

[2020-06-17 17:55] #1055 closed

[2020-06-24 09:39] #879 closed

[2020-07-28 13:00] #1489 closed

[2020-07-28 13:04] #652 closed

[2020-08-10 15:14] iamsh4shank opened #1531 "Enhancement: Bottom Navigation and Fab support in Dashboard"
**Summary:**

For increasing user experience, using bottom navigation will be more preferred over side navigation to reach the top-level destinations. So, it will contain 4 frequent destinations i.e. dashboard, client, center, and group lists. FAB is a good way to prioritize the most important actions the user should take. Here in our app, it will provide quick access to create a new client, cente

[2020-08-10 15:20] #1277 closed

[2020-08-11 07:52] robustTechie opened #1532 "Enhancement: UI enhancement in login, dashboard and other activities"
**Summary:**

UI enhancement is required in the dashboard, login, client details, and individual collection sheets
**Steps to reproduce:**

**Device and Android version:**
Android Version: 9.0
Model: Redmi Note 4

[2020-08-11 09:13] iamsh4shank opened #1534 "Java to Kotlin conversion: Create new Client"
**Summary:**

Java to Kotlin conversion of the Create new client feature in the android client app. Kotlin is much more beneficial as compared to Java. Its features include - interoperable, adios null pointer exception, and multi-platform.

[2020-08-12 20:54] iamsh4shank opened #1537 "Enhancement: No identifier status"
**Summary:**

As client identifiers are classified into two types: "Active" and "Inactive", but these details are not visible on the identifier list which makes two same identifiers with different status difficult to classify.

**Steps to reproduce:**
open any client details> go-to identifier>create new idenifier

**Expected behaviour:**

It should show the identifier type to avoid confusion.

**O

[2020-08-14 14:44] iamsh4shank opened #1538 "Java to Kotlin conversion: Groups related fragments and activities"
**Summary:**

Java to Kotlin conversion of all the activities and fragments related to groups feature in the android client app. Kotlin is much more beneficial as compared to Java. Its features include - interoperable, adios null pointer exception, and multi-platform.

[2020-08-17 16:10] #1509 closed

[2020-08-17 16:26] #1278 closed

[2020-08-17 16:58] #1386 closed

[2020-08-17 17:13] AbhilashG97 commented on #907
This issue has been fixed. Thank you for your contribution.

[2020-08-17 17:13] #907 closed

[2020-08-17 18:06] AbhilashG97 commented on #1129
This issue has been resolved. Thank you for your contribution.

[2020-08-17 18:06] #1129 closed

[2020-08-17 18:15] #1079 closed

[2020-08-24 06:39] sachin-0102 commented on #1506
Can I work on this issue?

[2020-08-26 06:50] sachin-0102 commented on #940
If the issue is still open, Can I work on this?

[2020-08-26 06:59] robustTechie commented on #1506
Yeah sure go ahead:)

[2020-08-26 09:39] sachin-0102 commented on #1506
Is there a demo account through which I can login into the app. If not please provide me with the credentials because there is no such thing as create account

[2020-08-27 03:52] sachin-0102 commented on #1506
@robustTechie , would you review the PR that I made and tell me why is the build failing continuously because I ran it on 4 different APIs and it worked fine on all the devices.

[2020-08-27 04:07] sachin-0102 commented on #776
Can I work on this issue?

[2020-08-27 04:08] sachin-0102 commented on #451
Can I work on this issue? @luckyman20

[2020-08-27 04:13] robustTechie commented on #1506
I had commented a few things just check it and fix those errors.

[2020-08-27 06:13] sachin-0102 commented on #1490
Hey @robustTechie , are you working on this issue. If not, can I take it up?

[2020-08-27 06:37] sachin-0102 opened #1549 "Enhancement :The keypad should disappear when opening another menu"
**Summary:**

The keypad should disappear when the user opens another menu on the screen

**Steps to reproduce:**

1. Open the app and tap on the text field that appears
2. Click on the menu option at the top-left corner
3. The keyboard doesn't disappear.

**Expected behaviour:**

The keyboard should disppear as soon as the menu is oppened

**Observed behaviour:**

The keyboard doesn't disappear

[2020-08-27 06:38] sachin-0102 commented on #1549
I would like to work on this issue.

[2020-08-27 07:08] sachin-0102 commented on #1501
Duplicate of #1506 . I've already created a PR on this issue

[2020-08-28 10:26] sachin-0102 commented on #1268
@robustTechie , are you still working on this issue or the PR was generated?. If none is the case, can I work on this issue?

[2020-09-04 03:36] luckyman20 commented on #451
@sachin-0102 Sure, you may work on this issue. Sorry for delayed response.

[2020-09-04 04:05] sachin-0102 commented on #451
It's alright @luckyman20 . I'll start working on it in sometime

[2020-09-04 04:48] sachin-0102 commented on #451
@luckyman20 , would you please ellaborate what details about the user should I add?

[2020-09-18 18:21] sachin-0102 commented on #1520
Hi @developersamuelakram , what are you trying to create here... please ellaborate..

[2020-09-19 04:54] sachin-0102 opened #1553 "Please merge the pending pull requests..."
@AbhilashG97, @robustTechie  would you be so kind so as to merge all the pending PRs because the issues that I'm finding already have a PR.... It would be really helpful to get unnoticed issues without having a issue already created and PR linked to it

[2020-09-19 10:44] sachin-0102 commented on #1508
This doesn't happen in my device @robustTechie . Please check if the issue was resolved

[2020-09-19 18:50] robustTechie commented on #1549
@sachin-0102 This issue is already reported #1234. Please close duplicate issues.

[2020-09-19 19:12] sachin-0102 commented on #1549
Oh okay. I'll close this issue @robustTechie. Thanks for the update

[2020-09-19 19:12] #1549 closed

[2020-09-20 19:41] The-Anton commented on #1466
can I work on this?

[2020-09-21 08:02] sachin-0102 commented on #1439
@robustTechie have you created a PR on this. If not, I would like to work on it.

[2020-09-21 15:52] robustTechie commented on #1439
@sachin-0102 this issue is not an issue because it takes time to load as it fetches data from API. One thing you can do is, add a progress bar so that when it loads so it will show the progress bar instead of endless loading.

[2020-09-21 15:55] sachin-0102 commented on #1439
Okay @robustTechie . I'll do that

[2020-09-21 15:58] robustTechie commented on #1439
Sure go ahead

[2020-09-21 16:04] robustTechie commented on #1508
@sachin-0102 it is still there as the screen is not directly updated if you add a new document. Once check it :)

[2020-09-21 16:46] The-Anton commented on #1508
I would like to work upon this

[2020-09-21 17:16] sachin-0102 commented on #1508
@The-Anton I'm already working on this issue

[2020-09-22 03:02] sachin-0102 opened #1555 "The gender dropdown menu includes spammed unexisting genders"
**Summary:**

In the create new client activity the gender dropdown menu includes a lot of spammed genders

**Steps to reproduce:**

Open create a new client activity> Open gender dropdown menu

**Expected behaviour:**

Their should be only 3 kinds of genders.

**Observed behaviour:**

There are about 10 non existing genders

**Device and Android version:**
Realme 7
Android 10

**Screenshots:**

!

[2020-09-22 03:04] sachin-0102 commented on #1555
@robustTechie please check this issue. I would like to work on it.

[2020-09-22 03:33] robustTechie commented on #1555
This is not a valid issue as it is fetching the genders from the clients template. So whatever it is showing is only for demo. So no need of doing this.

[2020-09-22 03:38] sachin-0102 commented on #1555
Alright...

[2020-09-22 03:38] #1555 closed

[2020-09-22 10:40] sachin-0102 commented on #1508
@robustTechie Please close this issue. This issue has been resolved.

[2020-10-06 11:58] RavirajMhalsekar commented on #1183
Hi. I'm Raviraj
I'm a first year engineering student and  I have just  started with  android development.
I want to fix this issue. but I don't know how.
Can u help by pointing me in a right  direction?

[2020-10-09 05:20] shubham048 commented on #1269
Hey @iamuditha, can I take this issue?

[2020-10-16 02:20] asaikarthikeya commented on #1183
Hello Ravi,
This is a test issue. there is nothing to work on this. Search for another issue that needs to be worked upon.

[2020-10-30 17:09] aryanharitsh123 opened #1556 "Gradle Sync Failed, Plugin with Id "findbugs" not found."
Trying to build the project But getting Gradle sync failed Plugin with ID "findbugs" not found.
![Error](https://user-images.githubusercontent.com/37960580/97735586-84639200-1b00-11eb-88e3-7cf0ee63ba1c.png)

[2020-11-08 15:59] Grandolf49 opened #1557 "Set up GitHub Actions as CI/CD for Android Client"
## Summary

We are planning to set up **GitHub Actions** as a CI/CD tool for all mobile repositories of Mifos. Creating this issue for tracking the progress on this.

##  Description

As mentioned by @edcable on the mailing lists, getting proper CI/CD for our mobile apps such that the community could easily generate APKs from the builds has been a long-standing priority and given the high degree o

[2020-11-11 04:03] robustTechie commented on #1553
Hello @sachin-0102 we are working on this you will soon see the merged PRs :)

[2020-11-11 04:07] robustTechie commented on #1556
Hello, @aryanharitsh123 is the project successfully built?

[2020-11-11 04:08] aryanharitsh123 commented on #1556
Nope.

[2020-11-14 16:19] Saral-code commented on #1503
I would like to work on this.

[2020-11-15 03:16] robustTechie commented on #1556
Hey @aryanharitsh123 can you once check this file `android-client/config/quality/quality.gradle` is this contain something like `apply plugin: 'findbugs'` and `task findbugs...`

[2020-11-15 06:22] aryanharitsh123 commented on #1556
@robustTechie Yes These lines are present in the above-mentioned file. I tried recloning but  still the same error.
![buildfailed](https://user-images.githubusercontent.com/37960580/99178432-02e34500-2739-11eb-8d10-dfdd6da0f781.png)

[2020-11-15 17:29] danishjamal104 opened #1559 "Invalid toast in absence of internet connectivity while loading client info."
**Summary:**
After disconnecting from the internet invalid toast message is shown `Client not found`.

**Steps to reproduce:**
* Step1- search for any clients on the dashboard page with has some result.
* Step2- when the result is shown disconnect the device from the internet.
* Step3- now click on any client and observe the toast.

**Expected behaviour:**
A proper message describing the issue mus

[2020-11-15 17:30] danishjamal104 commented on #1559
I would like to work on this.

[2020-11-15 18:25] robustTechie commented on #1556
Can you once check the last commit

[2020-11-15 19:58] aryanharitsh123 commented on #1556
Yes, now it is working fine on Gradle version "4.10.1".

[2020-11-15 19:59] #1556 closed

[2020-11-18 10:20] danishjamal104 opened #1561 "Unable to update client image"
**Summary:**

Unable to upload client image in clientInfo page.

**Steps to reproduce:**
* **Step1-** Go to `dashboard` and search for any client.
* **Step2-** Click on client to see his/her info.
* **Step3-** On info page click on profile image and select `upload new photo`.
* **Step4-** Select any image and observe the message in snackbar `Unable to update image`.

**Expected behaviour:**
Update

[2020-11-19 05:11] robustTechie commented on #1561
@danishjamal104 this issue is because of the API endpoints we are currently using.

[2020-11-19 07:45] danishjamal104 opened #1562 "Enhancement: Improvement of UI of client info in fragment_client_details.xml"
**Summary:**
Enhance UI of the client details screen

**Steps to reproduce:**
Visit client info page.

**Expected behaviour:**
* Better padding and margin between components
* Better font size and colors to emphasize important things

**Observed behaviour:**
* Very basic color
* Common font size for all components

**Device and Android version:**
* Device: Pixel 2 XL Emulator
* Android Version: AP

[2020-11-19 07:46] danishjamal104 commented on #1562
I am working on this

[2020-11-19 19:24] danishjamal104 opened #1564 "Create feature-issue template"
**Summary:**
Create a separate issue template for reporting new feature
Also, add current template to the new convention location of `ISSUE_TEMPLATE/bug_report.md`

[2020-11-20 06:00] danishjamal104 commented on #1564
@robustTechie please review the changes

[2020-11-20 10:47] danishjamal104 opened #1566 "Add user info section"
**Summary:**
Their is no section in app where user can see his/her details like instance url, user Id etc.

**Steps to reproduce:**
* Open `navigation drawer` by clicking on the `top-left` icon in the dashboard
* Click On user image in a drawer header.
* Nothing happens on clicking the user image

**Expected behaviour:**
Clicking on the user image should open a user detail window with all the nece

[2020-11-20 10:49] danishjamal104 commented on #1566
I am working on this

[2020-11-21 15:13] danishjamal104 opened #1568 "Swipe refresh goes into infinite refresh in Centers section"
**Summary:**
On returning to Centers Section after pressing the back button on any screen leads to infinite refresh with no change in data, also the same happens when we disconnect the internet and return back.

**Steps to reproduce:**
1. Navigate to `Centers` using the option in `Navigation Drawer`
2. After data is loaded click on `FAB` in the bottom right.
3. Now press the back button twice to r

[2020-11-21 15:32] danishjamal104 commented on #1568
I am working on this

[2020-11-22 18:39] danishjamal104 opened #1570 "SwipeRefreshLayout goes into infinite loop in Groups section"
**Summary:**
In Groups section `swipeRefreshLayout` goes into infinite loop as it is not set to false when returned back to the Fragment.

**Steps to reproduce:**
1. Navigate to `Groups` using the option in `Navigation Drawer`
2. After data is loaded click on `Plus FAB` in the bottom right.
3. Now press the back button twice to return back to `Groups Screen`
4. Observe the refresh icon on `Center-

[2020-11-22 18:40] danishjamal104 commented on #1570
I am working on this

[2020-11-25 07:10] danishjamal104 opened #1572 "Pressing back button on Groups/Clients/Centers section shows invalid toast."
**Summary:**

Pressing the back button on Groups/Clients/Centers section shows an invalid toast `Please press back again exit`. Also pressing back twice exits the app instead it should redirect to `Dashboard`.

**Steps to reproduce:**

1. Go to the `Centers` section by navigating through the drawer.
2. Press back and observe the toast.
3. Press the back button twice, this will make the app close.

[2020-11-25 07:10] danishjamal104 commented on #1572
I am working on this

[2020-11-25 07:37] danishjamal104 opened #1573 "Hardcoded text (android:text=`saving account`) is used in client details"
**Summary:**

Hardcoded text (android:text=`saving account`) is used in client details. Hence when user disconnects from internet then `Saving Accounts` is shown throughout in all the three accounts section in Client Details page.

**Steps to reproduce:**

1. Search for any client.
2. Once the client search result list is loaded disconnect the internet.
3. Now click the list item to see client det

[2020-11-25 07:37] danishjamal104 commented on #1573
I am working on this

[2020-11-26 16:56] bharathcgowda opened #1576 "Unable to create client when client address is enabled"
**Summary:**

Unable to create a client when the client address configuration is enabled
**Steps to reproduce:**
go to the system/ configuration in your instance  and then enable the "Enable-Address "
this configuration helps to add the address at the time of client creation itself.

But this address addition feature is missing in the app, because of which the client creation fails with the error

[2020-11-26 17:29] danishjamal104 commented on #1576
I am working on this

[2020-11-26 17:59] danishjamal104 opened #1577 "Invalid toast on group details page when no internet connnectivity"
**Summary:**
After disconnecting from the internet invalid toast message is shown `Failed to fetch group and accounts`.

**Steps to reproduce:**
* Step1- search for any groups on the dashboard page which has some results.
* Step2- when the result is shown, disconnect the device from the internet.
* Step3- now click on any group and observe the toast.

**Expected behaviour:**
A proper message descr

[2020-11-26 21:17] danishjamal104 commented on #1577
i am working on this

[2020-11-27 15:32] bharathcgowda commented on #1576
Hi, @danishjamal104 Thank you for taking initiative in looking into this issue.
The feature has been implemented in the web front end, but missing only on the App front,
as these are open-source projects contributions come from many contributors and I guess it was missed on this app.

[2020-11-28 16:43] danishjamal104 commented on #1576
ok @bharathcgowda , Thanks :) for letting me know.

[2020-11-29 14:28] danishjamal104 opened #1579 "Invalid toast in loan Account Summary page when device is not connected to internet"
**Summary:**
After disconnecting from the internet invalid toast message is shown `Loan Account not found`.

**Steps to reproduce:**
* Step1- search for any loan account on the dashboard page.
* Step2- when the result is shown disconnect the device from the internet.
* Step3- now click on any account and observe the toast.

**Expected behaviour:**
A proper message describing the issue must be disp

[2020-11-29 14:28] danishjamal104 commented on #1579
I am working on this

[2020-11-29 16:19] danishjamal104 opened #1580 "Dashboard doesn't show proper toast when the user is not connected to the network."
**Summary:**
Dashboard doesn't show proper toast when the user is not connected to the network.

**Steps to reproduce:**
Search anything in the dashboard while you are disconnected from the internet.

**Expected behaviour:**
`No internet connection` toast should be displayed for no internet connectivity case.

**Observed behaviour:**
Invalid toast `Failed to fetch resource` toast is shown.

**Devi

[2020-11-30 04:05] PatelVatsalB21 commented on #1490
hey! if anyone don't mind I would like to suggest that why don't you add Imagebutton with sync symbol as it is for momentary use only.

[2020-11-30 12:53] PatelVatsalB21 opened #1583 "Feature: Adding a network receiver for online/offline mode"
**Summary:**
There are many problems occuring due to User status switch(online/ offline). It needs to be manually turned on and off when network changes, instead of this i would i like to suggest that making a **Network Broadcast Receiver** that would listen any change in network and update User Status preference accordingly along with a snackbar showing like "Internet connected/disconnected" like

[2020-11-30 12:54] PatelVatsalB21 commented on #1583
I would like to work on it, if somebody approves.

[2020-11-30 18:40] danishjamal104 commented on #1583
@PatelVatsalB21 could please follow the issue template, mentioning the details to reproduce this. Thanks

[2020-11-30 18:45] PatelVatsalB21 commented on #1583
It's not an issue but I am suggesting a new feature that can solve many issues. I will take care of size of gif from next time. Thanks 😊

[2020-12-01 05:30] PatelVatsalB21 commented on #1583
It is one of the problem,  while syncing even if connection is there and it is offline mode by user it shows network not available, but actually it is switched to offline mode and internet is connected. That was what I wanted to show in gif. That's why I suggested automatic switching will help user.

[2020-12-01 06:48] danishjamal104 commented on #1583
Broadcast receivers can be used for auto toggling offline mode. But for checking if the user is online or offline use Network utils.

[2020-12-01 06:55] danishjamal104 opened #1584 "New Feature: Disconnecting the internet should auto-trigger offline mode and vice versa."
**Summary:**

Disconnecting the internet should auto-trigger offline mode and vice versa. So if the user is using the app online mode then if he disconnects from the network then the app automatically switches to offline mode

**Expected behaviour:**

Disconnecting from the internet should auto toggle offline mode.

**Observed behaviour:**

Disconnect device from the internet doesn't automatically

[2020-12-01 06:58] danishjamal104 commented on #1584
I am working on this issue

[2020-12-01 16:20] danishjamal104 commented on #1584
I think that we should give an option to the user where he can opt for the automatic transition between offline and online.
Because for some user it may be annoying that app automatically switches whenever he disconnects from the internet.
What do all say??

[2020-12-01 17:07] PatelVatsalB21 commented on #1584
I would like to work on it, but someone needs to approve first.

[2020-12-01 17:08] PatelVatsalB21 commented on #1584
Also i think this issue will be redundant. I have already open it on this topic what do you say @danishjamal104 ?

[2020-12-01 17:24] PatelVatsalB21 commented on #1584
I thought I was waiting for approval to work on. This isn't fair @danishjamal104 😐

[2020-12-03 07:02] PatelVatsalB21 opened #1586 "Datepicker doesn't retain user selected date throughout the app."
**Summary:**
When date is selected from datepicker it is updated in textview but not in datepicker, when user again clicks datepicker it opens with current date.

**Steps to reproduce:**

 Select date in any activity and again open datepicker

**Expected behaviour:**

Datepicker should show user selected date.

**Observed behaviour:**

Datepicker shows current date

**Device and Android version:**

[2020-12-03 07:20] danishjamal104 opened #1588 "Auto trigger reload when filter is changed in SearchFragment"
**Summary:**

In `SearchFragment` whenever the user searches for any keyword and after the data is loaded changing the filter should automatically trigger the reload instead the user has to press search again for it to work.

**Steps to reproduce:**

1. Go to `Dashboard`
2. Search for any keyword
3. Now from the dropdown change the filter
4. Now you have to press search for it to work

**Expected

[2020-12-03 07:21] danishjamal104 commented on #1588
I am working on this

[2020-12-03 07:31] danishjamal104 commented on #1584
Your issue is regarding the sync service which is based on network receiver, so please be more descriptive and clear in your issue about what you are trying to implement next time. Also, I haven't resolved your issue I simply added a new feature of auto-trigger offline and online mode. If still anything bothers you please feel free to ping me. Thank You

[2020-12-03 08:24] PatelVatsalB21 commented on #1584
i have no issues with your work but i was ready to work and as i am new i have less opportunities to work on. No worries. 👍

[2020-12-03 08:39] danishjamal104 opened #1590 "Invalid toast in Savings Account Summary page when no internet connectivity"
**Summary:**
After disconnecting from the internet invalid toast message is shown `Failed To Fetch SavingsAccount`.

**Steps to reproduce:**
* Step1- search for any saving account on the dashboard page.
* Step2- when the result is shown disconnect the device from the internet.
* Step3- now click on any saving account and observe the toast.

**Expected behaviour:**
A proper message describing the i

[2020-12-03 08:40] danishjamal104 commented on #1590
I am working on this

[2020-12-03 08:54] PatelVatsalB21 opened #1591 "New Feature: Adding Initial letter based avatar bitmap to circular image view"
**Summary:**
Currently all circular image view in navigation view, client adapter, and client details have no icon in that image view.
![Screenshot_20201203-140910](https://user-images.githubusercontent.com/70195106/100985468-061c6480-3572-11eb-899d-edeaafb5a3e7.jpeg)
![Screenshot_20201203-140925](https://user-images.githubusercontent.com/70195106/100985478-09afeb80-3572-11eb-8bbb-9c9c9e9d2ceb.jpe

[2020-12-03 08:54] PatelVatsalB21 commented on #1591
Should i start working on this feature?

[2020-12-03 11:17] danishjamal104 commented on #1591
Nice observation @PatelVatsalB21 , keep going :)

[2020-12-04 05:31] ritish099 opened #1595 "Invalid Toast message in Checker Inbox"
**Summary:**

On deleting and rejecting a request wrong toast is shown

**Steps to reproduce:**

Open the app and open Checker Inbox & Tasks and then open checker inbox. Then try to delete and reject some request to see the toast message

**Expected behaviour:**

Toast Message should be "Entry Rejected" and "Entry Deleted" respectively

**Observed behaviour:**

Toast Message is showing "ENTRYREJEC

[2020-12-04 05:31] ritish099 commented on #1595
Can i work on it ?

[2020-12-04 08:21] danishjamal104 commented on #1595
Hey @ritish099 , please reduce the size of screen shot since its really big. You can use below syntax if you want. Thanks :)
[code]

[2020-12-04 08:33] danishjamal104 opened #1596 "Auto trigger reload when exact match is checked in SearchFragment"
**Summary:**

In `searchFragment` after searching for some keyword when user opt for `Exact Match` then he has to press search button once again. In these type of scenarios it should automatically the search using existing keyword.

**Steps to reproduce:**

1. Search for any Keyword in searchFragment.
2. Now opt for exact match by checking checkbox.
3. Now user has to press search again for result

[2020-12-04 08:33] danishjamal104 commented on #1596
I am working on this.

[2020-12-04 08:34] danishjamal104 commented on #1595
Good to go.

[2020-12-05 06:37] ritish099 commented on #1595
@danishjamal104 kindly check it out.

[2020-12-05 06:55] PatelVatsalB21 commented on #1490
hey @robustTechie can i work on this issue, please read my previous comment.

[2020-12-05 07:20] robustTechie commented on #1490
@PatelVatsalB21 yes you can work on this :)

[2020-12-05 14:52] danishjamal104 commented on #1334
@robustTechie Can I work on this as I can't find any PR linked with this??

[2020-12-05 15:19] robustTechie commented on #1334
yeah @danishjamal104 go ahead

[2020-12-06 08:28] robustTechie commented on #1490
Hey @PatelVatsalB21 can you do something like if the sync is complete it will automatically disable the switch preference?

[2020-12-06 09:32] PatelVatsalB21 commented on #1490
Actually I removed switch preference that needs extra boolean check if sync is complete, and place button if clicked shows sync dialog, but if you want i can undo to switch preference, and as per you said i can make a static boolean in setting fragment which turns off when  **showSurveysSyncSuccessfully()** method in sync dialog fragment is called. So please tell me what to do. Also dont forget to

[2020-12-06 11:36] danishjamal104 commented on #1334
Ok I am working on this

[2020-12-06 11:43] danishjamal104 commented on #1596
@robustTechie please review the Changs thanks:)

[2020-12-06 11:44] danishjamal104 opened #1601 "UI enhancement in Centers details page"
**Summary:**

UI improvement in centres page. Right now the data is just displayed without any padding.

**Device and Android version:**

* Any

**Screenshots:**

<img width="333" alt="ss" src="https://user-images.githubusercontent.com/31315800/101279127-25232c80-37e6-11eb-86e1-8f53e9f75a4c.jpeg">

[2020-12-06 11:44] danishjamal104 commented on #1601
I am working on this

[2020-12-07 11:55] danishjamal104 opened #1604 "New Feature: Adding audio based search in search fragment"
**Summary:**

User has option in searchFragment to make a search using audio. Providing user a button to trigger audio search feature and then speak out clear what he wants to search.

**Steps to reproduce:**

User has no option for audio search in seaarchFragment.

**Expected behaviour:**

User can speak to make a search.

**Observed behaviour:**

No audio search feature.

**Device and Android ve

[2020-12-07 11:55] danishjamal104 commented on #1604
I am working on this.

[2020-12-07 16:47] danishjamal104 opened #1606 "No option in app for searching centres"
**Summary:**

No option in app for searching centres. Neither inn search fragment nor in Centers Activity.

**Steps to reproduce:**

User can't search for centres.

**Expected behaviour:**

An option in centres activity or a filter in searchFragment for searching centres should be there.

**Observed behaviour:**

No option to search for centres.

**Device and Android version:**

* ANY

[2020-12-07 16:47] danishjamal104 commented on #1606
I am working on this

[2020-12-08 08:40] robustTechie commented on #1490
yeah ig for now we can go with the switch

[2020-12-08 14:46] PatelVatsalB21 opened #1608 "New Feature: Adding FAB on dashboard for client, groups and centres."
**Summary:**
Instead of menu on Right top of screen Floating Action Button can be added on dashboard that makes screen more beautiful and less confusing.

**Expected behaviour:**
New client, group or centre can be added from this FAB from dashboard activity.

**Device and Android version:**
ANY

[2020-12-08 14:47] PatelVatsalB21 commented on #1608
I am working on this feature.

[2020-12-08 19:35] robustTechie commented on #1608
Hey, @PatelVatsalB21 this issue is already raised in issue number #1337 and the fix is already sent in PR #1521

[2020-12-09 05:52] PatelVatsalB21 commented on #1608
Ok 👍

[2020-12-09 06:14] #1608 closed

[2020-12-09 08:24] PatelVatsalB21 commented on #1490
Hey @robustTechie i tried many ways making static boolean or switch but it gave no resu. Its working in mobile but didn't passed gradle check anytime. It failed gradle check with gc overhead memory limit and if not so findbugs error shown as a bad practice.
![findBugs](https://user-images.githubusercontent.com/70195106/101603550-bfbd7e80-3a25-11eb-9e94-36facabe65ba.PNG)

[2020-12-09 11:23] danishjamal104 opened #1610 "No option for user to change instance url when signed in"
**Summary:**

Once any user has signed in the app. He/she cannot change the instance url. Although there should be a way to do so without resigning and reconfiguring the network setting.

**Expected behaviour:**

In settings there should be option for changing the instance url.

**Observed behaviour:**

No option in the app for changing instance url after signing in.

**Device and Android version:

[2020-12-09 11:23] danishjamal104 commented on #1610
I am working on this

[2020-12-09 12:21] PatelVatsalB21 opened #1611 "onBackPressed error"
**Summary:**
When user is on create client, group or centre screen, if he presses back Toast comes up and then if again clicks back it navigates to search fragment.

**Steps to reproduce:**
1 Go to Create Client, Group or Center
2 Press back 2 times

**Expected behaviour:**

It should first navigate to search fragment on one back press then on 2nd backpress it should show toast

**Device and Andro

[2020-12-10 17:12] PatelVatsalB21 commented on #1050
For me also stop tracking isn't working. Niether does contentIntent nor ActionIntent. Even though my android version is 7 (Nougat)

![GIF-201210_222556 1](https://user-images.githubusercontent.com/70195106/101805127-66923f80-3b38-11eb-8313-23c0a968cfb8.gif)

[2020-12-10 17:27] PatelVatsalB21 commented on #1050
Stop tracking is not working for me also. My device is Lenovo Tab 7 and Android 7

![GIF-201210_225058 1](https://user-images.githubusercontent.com/70195106/101807227-e3beb400-3b3a-11eb-975b-1c290b3f3a6d.gif)

[2020-12-10 17:35] danishjamal104 opened #1614 "Adding quick guide in the app when user open the app first time"
**Summary:**

No guide to the user is provided describing what all the laid out and what's the purpose of them. So adding a small guide when user first opens the app would be much better in context with user experience.

**Expected behaviour:**

Basic guide on first time app startup.

**Observed behaviour:**

No guide on first startup.

**Device and Android version:**

* ANY

[2020-12-10 17:35] danishjamal104 commented on #1614
I am working on this.

[2020-12-11 12:47] PatelVatsalB21 opened #1617 "Field tv_checker_task_options not aligned"
**Summary:**
Field tv_checker_task_options not aligned in item_checker file isn't aligned with option buttons

**Expected behaviour:**
3 buttons and tv_checker_task_options should be in one row

**Device and Android version:**
Any

**Screenshots:**
![checker error 2](https://user-images.githubusercontent.com/70195106/101905214-14efc080-3bdd-11eb-9392-ace6709a85bd.jpeg)

[2020-12-11 12:56] PatelVatsalB21 opened #1619 "Selected flag of checker task is not made FALSE after batch mode is complete"
**Summary:**

When items are selected from checker task list and done nothing to them, then after dismissing batch mode (action mode callback), if again long pressed any item for batch mode **selected items show 0 selected and previously selected items are still checked** .

**Expected behaviour:**
Selected flag boolean of every item selected should be made false before clearing list

**Device and

[2020-12-11 13:11] PatelVatsalB21 opened #1621 "Visibility of Checker options is changed by checkbox during batch mode"
**Summary:**

Visibility of tools gets changed during batch mode if checker task item is clicked or checkbox is ticked. Clicking item should not open options in batch mode and checkbox tick should have no effect on options visibility but checking checkbox changes options Linear layout visibility.

**Expected behaviour:**
During batch mode visibility of options should be GONE and should not change

[2020-12-11 17:17] danishjamal104 opened #1623 "Minor fixes in navigation drawer menu item"
**Summary:**

Icons for `IndividualCollectionSheet` and `CollectionSheet` is same which makes difficult to distinguish. Typo in Run Reports it should be `Run Reports` instead it is `RunReports`.

**Expected behaviour:**

1. Different icon for different menu items.
2. It should be `Run Reports`

**Observed behaviour:**

1. Same icons for `IndividualCollectionSheet` and `CollectionSheet`.
2. Typo in

[2020-12-11 17:17] danishjamal104 commented on #1623
I am working on this.

[2020-12-12 07:01] PatelVatsalB21 opened #1625 "Progress bar of Checker Inbox does not go on Backpressed"
**Summary:**
When back button is pressed on Checker Inbox fragment if recyclerview is still loading then progress bar appears even if fragment is closed and remains indefinetly. If done multiple times multiple dialogs appear floating for no reason and even if again Checker Inbox fragment is open if recyclerview is loaded respective progress bar goes off but rest of them keeps rotating

**Steps to

[2020-12-12 07:09] PatelVatsalB21 commented on #1625
i am working on this issue

[2020-12-12 07:34] PatelVatsalB21 opened #1627 "Overscroll effect in Navigation Bar"
**Summary:**
If we slide finger vertically in navigation bar, overscroll effect is visible even though menu isn't scrolling. This should be avoided.

**Expected behaviour:**
No effects should be visible to user when scrolling vertically

**Device and Android version:**

Any

**Screenshots:**

![GIF-201212_130108 1](https://user-images.githubusercontent.com/70195106/101978370-5aae9680-3c7a-11eb-952

[2020-12-12 07:34] PatelVatsalB21 commented on #1627
I am working on this issue

[2020-12-12 10:44] PatelVatsalB21 opened #1629 "App crashes continuously after passcode activity"
**Summary:**
Sometimes randomly app crashes after passcode activity with evernote jobs error that it cannot schedule more than 100 distinct jobs and then continuosly crashes in every launch and user cannot go ahead of passcode activity. This error does not occur frequently but might be a severe one as app needs re-install after this error. Can we replace **Evernote jobs** with [Work Manager](https

[2020-12-12 10:48] PatelVatsalB21 commented on #1629
@robustTechie have look at this error , I would like to work on this error if we migrate to Work Manager.

[2020-12-14 16:47] francisguchie commented on #1162
@junbetterway  Yes this is true - i tested it with the latest app from google play

[2020-12-15 14:59] PatelVatsalB21 opened #1632 "UI enhancements required in fragment_add_savings_account"
**Summary:**

fragment_add_savings_account has following UI flaws. No padding on whole layout, spinner background colors does not match background checkbox text not aligned properly, spacing between some elements are not consistent

**Expected behaviour:**

Padding on main layout should be applied such that scrollbar remains at right corner, checkbox text should be aligned properly and spacing sho

[2020-12-15 14:59] PatelVatsalB21 commented on #1632
I am working on this issue.

[2020-12-15 15:28] PatelVatsalB21 opened #1634 "ClientDetail Fragment option menu and progress bar error"
**Summary:**

In ClientDetail Fragment if any menu item is clicked and backpressed, then before client details are loaded, menu is inflated and if now any menu item is clicked again then Client detail progress bar keeps showing as shown in GIF.

![GIF-201215_204235 1](https://user-images.githubusercontent.com/70195106/102234486-56eb7000-3f17-11eb-9641-4c86761ba8eb.gif)

**Steps to reproduce:**

1

[2020-12-15 15:29] PatelVatsalB21 commented on #1634
I am working on this.

[2020-12-16 14:56] PatelVatsalB21 opened #1636 "UI enhancements required in fragment_add_loan"
**Summary:**

fragment_add_loan has following UI flaws. No padding on whole layout, spinner background colors does not match background checkbox text not aligned properly, spacing between some elements are not consistent

**Expected behaviour:**

Padding on main layout should be applied such that scrollbar remains at right corner, checkbox text should be aligned properly and spacing should be cons

[2020-12-16 14:57] PatelVatsalB21 commented on #1636
i am working on this issue

[2020-12-16 16:45] PatelVatsalB21 opened #1638 "Error in Disburment datepicker in Loan Account fragment"
**Summary:**

Disburment datepicker in Loan Account fragment has max date as present time ( opening time ). So as per disburment purpose it should have today or opening time as minimum day.

![GIF-201216_221501 1](https://user-images.githubusercontent.com/70195106/102378985-638dc800-3fec-11eb-976e-e050ae8ba66b.gif)

**Steps to reproduce:**

1 Open Client details
2 Open menu and select Add Loan Acc

[2020-12-17 10:37] danishjamal104 commented on #1627
Hey @PatelVatsalB21 , I think that over scroll effect is necessary to indicate that scrolling is over and also it adds to UX(user experience). And this is for what we have ever scrolling effect. I don't think this change is required. What do you say @robustTechie ?

[2020-12-17 10:41] danishjamal104 commented on #1629
Yes @PatelVatsalB21 , I have also faced the same issue but think it should be handled in passcode module rather than app. I haven't explored it much because once I faced this issue but clearing app from RAM and relaunching remove the issue. So @robustTechie please look into this and suggest the changes to @PatelVatsalB21 he will fix this.

[2020-12-17 10:42] danishjamal104 commented on #1632
@PatelVatsalB21 please use the smaller size for screenshot to make it easy for developers to see what are you trying to point to.

[2020-12-17 10:43] danishjamal104 commented on #1632
`<img width='333' alt='ss' src='<enter url here>'>`
use the above tag to set image in md

[2020-12-17 11:29] danishjamal104 commented on #1638
I am not able to exactly get this issue, can you explain in detail please what is it about?

[2020-12-17 11:37] danishjamal104 opened #1640 "Invalid text in path tracker error"
**Summary:**

Text is badly aligned in the error message in the path tracker

**Expected behaviour:**

Text should be center aligned

**Observed behaviour:**

Text is left aligned

**Device and Android version:**

* ANY

**Screenshots:**

<img width='333' alt='ss' src='https://user-images.githubusercontent.com/31315800/102483095-43144b00-408a-11eb-8b46-da573c5af55e.jpeg'>

[2020-12-17 11:37] danishjamal104 commented on #1640
I am working on this

[2020-12-17 11:47] danishjamal104 opened #1641 "OnClick is not working on Reschedule Loan"
**Summary:**

On Checker Inbox & Tasks page `Reschedule Loan` is non-clickable unlikely Checker Inbox.

**Steps to reproduce:**

1. Open navigation drawer.
2. Click On `Checker Inbox`.
3. Now click on `Reschedule Loan`.

**Expected behaviour:**

The new page displaying loan info.

**Observed behaviour:**

Nothing happens when clicked

**Device and Android version:**

* Samsung Tab A7
* Android 10

[2020-12-17 11:48] danishjamal104 commented on #1641
I am working on this issue

[2020-12-17 12:27] PatelVatsalB21 commented on #1638
@danishjamal104 Disbursement time is repayment time, but max repayment time in datepicker is set as current time which is not possible or else whats point of giving loan with instant repayment.