[2020-12-17 12:42] PatelVatsalB21 commented on #1629
It's possible that on higher android and hardware based model it might be an RAM based issue but for my specified devise it is much frequent almost occurs every 15-20 launches and need to be reinstalled. If we extend support till API version 15 this might be bigger problem for smaller devices

[2020-12-17 12:48] PatelVatsalB21 commented on #1627
@danishjamal104 i agree with if it was recyclerview or listview or if menu is big and actually scrolls, but as you can see in above GIF, menu is limited and fits screen and not scrolling, showing over scroll indicators not serves the point, atleast that what i think and have seen in various app with limited menu.

[2020-12-17 16:25] danishjamal104 commented on #1640
To resolve this issue we need to modify the external library layout file `layout_sweet_exception_handler` hence I can't send PR for it what should I do @robustTechie.

Below is the screenshot after resolving the issue.

Before | After
---|---
<img width='333' alt='ss' src='https://user-images.githubusercontent.com/31315800/102483095-43144b00-408a-11eb-8b46-da573c5af55e.jpeg'>|<img width='333' alt=

[2020-12-17 16:31] danishjamal104 commented on #1638
Got it. Thanks, @PatelVatsalB21

[2020-12-17 16:32] danishjamal104 commented on #1629
Which API level you faced this issuee??

[2020-12-17 17:00] PatelVatsalB21 commented on #1629
I have problem on android 7.0 (API lvl 24)

[2020-12-17 20:17] robustTechie commented on #1627
Yeah, it's fine @PatelVatsalB21, also as we are going to merge the bottom nav feature so it would be good to remove scroll for very fewer menu :)

[2020-12-17 20:18] robustTechie commented on #1629
Hey @PatelVatsalB21 as for shifting to work manager may solve this issue but we need to discuss over it once :)

[2020-12-18 04:04] thisrahul commented on #1632
can i work on this??

[2020-12-18 05:57] PatelVatsalB21 commented on #1632
@thisrahul this has been solved in #1633.

[2020-12-18 14:36] danishjamal104 opened #1643 "Empty screen on returning back to Individual Collection Sheet"
**Summary:**

When we return back to the individual collection then an empty white screen is displayed.

**Steps to reproduce:**

1. Go to the individual collection sheet page by navigating through the drawer.
2. Select office and loan officer and click `Generate`.
3. Now click `Fill Now`from the popup.
4. Finally Press the back button.

**Expected behaviour:**

Proper UI must be shown.

**Observe

[2020-12-18 14:36] danishjamal104 commented on #1643
I am working on this

[2020-12-19 13:36] PatelVatsalB21 opened #1645 "Unnecessary logout option in every fragment"
**Summary:**
Alongwith Search fragment on Dashboard, logout option is visible everywhere if it is clients, centers or groups and also in other activities. Logot is used less frequently so its visibility in every fragment does not suits with menu.

**Expected behaviour:**
Instead of placing logout option in menu it is good to place it in Navigation Drawer

**Device and Android version:**
Any

https

[2020-12-19 16:02] danishjamal104 commented on #1645
@PatelVatsalB21 , how did you ember video in md? It will help me alot.

[2020-12-19 16:04] PatelVatsalB21 commented on #1645
@danishjamal104 its new feature in github addition of support for .mp4 and .MOV files

[2020-12-19 16:11] danishjamal104 opened #1647 "UI enhancements in client identifier"
**Summary:**

The client identifier is very badly laid out it makes very unclear what things are depicting what.

**Steps to reproduce:**

1. Visit the client details page.
2. Click on 3 dots on the top right to expand menu.
3. Select `identifier`.
4. UI of identifier item is unorganised.

**Expected behaviour:**

Organized material UI

**Observed behaviour:**

Unorganised and unclear UI.

**Devic

[2020-12-19 18:29] PatelVatsalB21 opened #1648 "Icon display error in Loan transaction items"
**Summary:**
Icon of items of Loan Transactions has error which does not show proper icon, in both expanded and collapsed mode.

**Steps to reproduce:**
1 Open Client Details
2 Expand Loan accounts and click any item
3 Open menu and click Transactions

**Expected behaviour:**
It should show + and - symbols in circle

**Observed behaviour:**
x is visible in textview

**Device and Android version:**

[2020-12-19 19:05] PatelVatsalB21 commented on #1647
@danishjamal104 that might be due to you are using 10 inch tablet as for me its normal.

[2020-12-19 19:41] danishjamal104 commented on #1647
I have checked on multiple devices

[2020-12-19 19:48] danishjamal104 commented on #1647
Also its not only about orientation, padding and margins are also not looking good

[2020-12-20 07:23] PatelVatsalB21 opened #1651 "Product name field of Recurring Account Summary remains blank"
**Summary:**
When Recurring account is open from client details, product name field remains blank. As getter from savings account with association gives null for product name.

**Steps to reproduce:**
1 Open Client details
2 Expand recurring accounts
3 Open any one recurring account

**Expected behaviour:**
Recurring Account should be written instead of blank field

**Observed behaviour:**
Blank f

[2020-12-21 05:28] danishjamal104 opened #1653 "Info text disappeared while adding payment info in individual collection sheet"
**Summary:**

In the individual collection sheet while adding payment info there is an info text `No Payment Added` which gets dissapear when the user clicks on `ADD PAYMENT DETAIL` and saves the empty form.

**Steps to reproduce:**

1. Go to the individual collection sheet filling page.
2. Click on `ADD PAYMENT DETAIL`.
3. Now without adding details click on the `SAVE` button.
4. It will make the

[2020-12-21 05:39] danishjamal104 commented on #1653
I am working on this

[2020-12-21 05:48] danishjamal104 opened #1654 "UI enhancement of individual collection sheet list item"
**Summary:**

UI enhancement of `individual collection sheet list item`.

**Steps to reproduce:**

Visit individual collection sheet page.

**Expected behaviour:**

Soothing material UI

**Observed behaviour:**

Disoriented text ratios and orientation.

**Device and Android version:**

* Gionee S6
* Android M-6.0

**Screenshots:**

<img width='333' alt='ss' src='https://user-images.githubuserconte

[2020-12-21 05:49] danishjamal104 commented on #1654
I am working on this

[2020-12-21 16:25] PatelVatsalB21 opened #1656 "Client details toolbar title lags while returning from other fragment"
**Summary:**
In client details fragment if any menu item is opened that changes toolbar name and if user goes back then toolbar title does not changes for long time.

**Steps to reproduce:**
1 Open Client Details
2 Open any menu item
3 Go back

**Expected behaviour:**
Toolbar title should change immediately

**Device and Android version:**
Lenovo Tab 7
Android 7

https://user-images.githubusercont

[2020-12-21 16:25] PatelVatsalB21 commented on #1656
I am working on this issue

[2020-12-21 17:41] PatelVatsalB21 opened #1658 "Error handling missing in Savings Account Summary fragment"
**Summary:**
When and if some error occurs while loading saving or recurring account in Savings Account Summary fragment, layout without details but with buttons are shown. Now if buttons are clicked they will show other errors. So instead of this all, if error handling is taken care of only error layout will be visible to user.

**Expected behaviour:**
Error layout should be visible if error occu

[2020-12-21 18:13] PatelVatsalB21 opened #1660 "Progress bar error in Create Center Fragment"
**Summary:**
If Create Center fragment is stopped or pause before it is loaded then progress bar remains visible for infinite time

https://user-images.githubusercontent.com/70195106/102808403-4854fb00-43e6-11eb-90a4-fff59daf37fe.mp4

**Steps to reproduce:**
1 Open Dashboard and select Create Center from menu
2 Immediately go to dashboard from Navigation bar

**Expected behaviour:**
Progress bar s

[2020-12-21 18:26] PatelVatsalB21 opened #1662 "Error handling missing in Loan Account Summary fragment"
**Summary:**
When and if some error occurs while loading loan account in LoanAccount Summary fragment, layout without details is shown. Now if transactions or other items are clicked they will show other errors. So instead of this all, if error handling is taken care of only error layout will be visible to user.

https://user-images.githubusercontent.com/70195106/102809495-147ad500-43e8-11eb-9eb5-

[2020-12-21 18:39] PatelVatsalB21 commented on #1662
I am working on this error

[2020-12-22 07:57] PatelVatsalB21 opened #1664 "UI enhancement required in Create New Group fragment"
**Summary:**
When error occurs or internet is not available, office spinner shrinks and it looks bad, also checkbox text is not aligned properly

**Expected behaviour:**
Office spinner should have a dummy office selected and text of checkbox should be center vertically aligned

**Device and Android version:**
Lenovo Tab 7
Android 7

**Screenshots:**
<img width='333' alt='ss' src='https://user-imag

[2020-12-22 17:54] PatelVatsalB21 opened #1666 "UI enhancement required in Create New Center fragment"
**Summary:**
When error occurs or internet is not available, office spinner shrinks and it looks bad, also checkbox text is not aligned properly

**Expected behaviour:**
Office spinner should have a dummy office selected and text of checkbox should be center vertically aligned

**Device and Android version:**
Lenovo Tab 7
Android 7

**Screenshots:**
<img alt="ss" width="333" src="https://user-imag

[2020-12-22 18:23] PatelVatsalB21 opened #1668 "Error handling missing in Create New Client fragment"
**Summary:**
When and if some error occurs while creating client in Create New Client fragment, layout without details is shown. Now if submit button is clicked app crashes . So instead of this all, if error handling is taken care of only error layout will be visible to user.

https://user-images.githubusercontent.com/70195106/102920383-b7972180-44b0-11eb-93f8-baf0fec653fc.mp4

**Expected behaviou

[2020-12-24 09:43] danishjamal104 opened #1671 "Adding search option in dropdown on individual collection sheet page"
**Summary:**

Its really hard to find the items from the dropdown when the list is large for example in `individualCollectionSheet` page the list is really long and the user needs to scroll to find the right head office. It would be much convenient if we provide users with a search feature as soon as the list grows beyond a certain limit.

**Steps to reproduce:**

1. Navigate to `individual collec

[2020-12-24 17:08] danishjamal104 commented on #1671
I am working on this

[2020-12-25 13:26] deepak-prajapatii commented on #412
@therajanmaurya Can I work on this issue?

[2020-12-25 13:29] deepak-prajapatii commented on #1580
@danishjamal104 Can I work on this issue?

[2020-12-25 13:30] deepak-prajapatii commented on #1532
@robustTechie Can I work on this issue?

[2020-12-25 14:04] danishjamal104 commented on #1532
There is already a PR send by @robustTechie

[2020-12-25 14:05] danishjamal104 commented on #1580
This issue is already resolved in PR #1582

[2020-12-25 15:20] deepak-prajapatii commented on #1580
@danishjamal104 okay

[2020-12-25 15:24] deepak-prajapatii commented on #1532
@danishjamal104 okay. Can you help me in contributing? I am new to open source and want to contribute to "The Mifos Initiative". I researched a lot about "The Mifos Initiative" for a week. I look at many issues on this repo but most of them are solved already or there is already a PR  regarding that issue. Please help me.

[2020-12-25 17:28] PatelVatsalB21 opened #1672 "Padding absent in table header in Loan Repayment Schedule fragment"
**Summary:**
If user opens Loan Repayment Schedule fragment for loan account it can be seen that corner text is touched to screen.

**Steps to reproduce:**
1 Open loan account
2 Open Loan Repayment Schedule from menu

**Expected behaviour:**
Padding should be applied

**Device and Android version:**
Lenovo Tab 7
Android 7

**Screenshots:**
<img width="333" alt="ss" src="https://user-images.githubu

[2020-12-25 17:30] PatelVatsalB21 commented on #1672
I am working on this issue

[2020-12-25 18:29] PatelVatsalB21 opened #1674 "Padding absent for group name in Group Details Fragment"
**Summary:**
Group name has no padding so it touches toolbar

**Expected behaviour:**
Group name should have `paddingTop` of atleast `8dp`

**Device and Android version:**
Lenovo Tab 7
Android 7

**Screenshots:**

<img src="https://user-images.githubusercontent.com/70195106/103140507-4607df00-470d-11eb-9f94-e1659406654b.jpeg" alt="ss" width="333">

[2020-12-25 18:51] PatelVatsalB21 opened #1676 "GroupDetail Fragment option menu and progress bar error"
**Summary:**
In GroupDetail Fragment if any menu item is clicked and backpressed, then before client details are loaded, menu is inflated and if now any menu item is clicked again then Group detail progress bar keeps showing .

https://user-images.githubusercontent.com/70195106/103140722-14444780-4710-11eb-8d94-71ed0e18dc28.mp4

**Steps to reproduce:**
1 Open any group detail page
2 Click add savi

[2020-12-25 19:07] PatelVatsalB21 commented on #1676
I am working on this issue

[2020-12-26 07:07] PatelVatsalB21 opened #1679 "BackPress problem in fragments"
**Summary:**
When any fragment is selected from dashboard via navigation bar or menu and back is pressed it shows Toast of press again. It should go back to Dashboard ideally.

https://user-images.githubusercontent.com/70195106/103147030-d595a800-4776-11eb-8731-0042b2955de2.mp4

**Steps to reproduce:**
Go to any page(client, group etc.) and press back

**Expected behaviour:**
It should navigate to

[2020-12-26 10:07] UjjwalDeep commented on #1556
How you solved the issue please explain. I am having the same issue.

[2020-12-27 13:05] danishjamal104 opened #1682 "Progress bar disappears and the app freezes when generating client reports"
**Summary:**

Progress bar disappears and the app freezes when generating client reports.

**Steps to reproduce:**

1. Go to `Run Reports` from the navigation drawer.
2. Select `Active Clients` from the list after its loaded.
3. Now click on `RUN REPORT` in the toolbar top right.

**Expected behaviour:**

The progress bar should be displayed throughout.

**Observed behaviour:**

The progress bar d

[2020-12-27 13:05] danishjamal104 commented on #1682
I am working on this

[2020-12-27 13:11] danishjamal104 opened #1683 "EXPORT CSV not working on the Run Report client result"
**Summary:**

`EXPORT CSV` not working on the Run Report client result nor it is displaying any toast for failure or success.

**Steps to reproduce:**

Generate a report for the clients when clicked on `EXPORT CSV` in the toolbar top right.

**Expected behaviour:**

Should export CSV and display proper toats in case of failure or success.

**Observed behaviour:**

Nothing happens when clicked on `

[2020-12-27 13:12] danishjamal104 commented on #1683
I am working on this

[2020-12-27 16:42] PatelVatsalB21 opened #1684 "Menu option error for Image in Client Details Fragment"
**Summary:**
When user uploads client image, after successful upload if client touches image again it does not show remove image untill opened fragment again. Also when user removes image and touches agin remove option does not hide until opening fragment again.

https://user-images.githubusercontent.com/70195106/103175500-51374800-4890-11eb-88a8-6b01e341d08c.mp4

**Expected behaviour:**
After upl

[2020-12-28 18:13] PatelVatsalB21 opened #1688 "Withdrawal and Saving date error in SavingsAccountTransactionFragment"
**Summary:**
As shown in video below before transaction user can change date of transaction even though date in transactions are crucial for reference. As we see in banking app transaction date should not be editable, it is for reference purpose only.

https://user-images.githubusercontent.com/70195106/103234521-e5bfaa00-4965-11eb-92ae-076e34acbe1c.mp4

**Steps to reproduce:**
1 Go to Client Detai

[2020-12-28 18:21] PatelVatsalB21 commented on #1688
I am working on this issue

[2020-12-29 04:40] danishjamal104 opened #1690 "Saving Account Transaction details not displayed properly"
**Summary:**

Transaction details are not displayed properly. When the user clicks on any transaction only limited info is shown that also in a Toast which makes it very uncomfortable to see transactions detail.

**Steps to reproduce:**

Go to `Saving Account Summary` page and click on any transaction to see its details.

**Expected behaviour:**

Proper dialog box should be open to display the req

[2020-12-29 17:59] PatelVatsalB21 commented on #1690
@danishjamal104 can i work on it?

[2020-12-29 18:04] PatelVatsalB21 opened #1691 "Offline Sync icon change required"
**Summary:**
As we can see icon used for Offline sync is meant for Power On/Off

**Expected behaviour:**
New icon required for Offline sync

**Device and Android version:**
Any

**Screenshots:**
<img alt="ss" width="333" src="https://user-images.githubusercontent.com/70195106/103304249-2682f600-4a2e-11eb-9341-4033123312b7.jpeg">

[2020-12-29 18:05] PatelVatsalB21 commented on #1691
I am working on it

[2020-12-29 18:47] PatelVatsalB21 opened #1693 "Unreachable transactions in Savings Account Summary"
**Summary:**
If any saving account associated to client is opened by user, number of transactions in transaction list are limited to 5 and also user is currently unable to load next 5 transactions which might create problem for user if he/she wants to refer old transactions.

**Steps to reproduce:**
1 Open Client Details
2 Open Saving Account

**Expected behaviour:**
Transaction list should contai

[2020-12-30 07:16] danishjamal104 commented on #1690
I have already started working on it, sorry I missed commenting here

[2020-12-31 06:05] danishjamal104 opened #1696 "Invalid date format in client charges list item"
**Summary:**

The client's charges list item shows the date as an array it instead should be displayed in a user-readable format, not as a raw data type from the backend.

**Steps to reproduce:**

1. Navigate to `Clients`.
2. Click on the top result from the list of clients.
3. Expand the menu by clicking on top right 3 dot icon, and select `Charges`.
4. Now observe the date field.

**Expected beh

[2020-12-31 06:05] danishjamal104 commented on #1696
I am working on it

[2020-12-31 17:06] PatelVatsalB21 opened #1698 "UI enhancements required in ChargeDialogFragment"
**Summary:**
Edittexts have grey background that does not looks good and colour of save button does not match with theme colour. Also dialog does not have heading

**Steps to reproduce:**
1 Open Client Details
2 Open Charges from menu
3 Tap on + symbol

**Expected behaviour:**
Editexts should be in transparent or white background. Also heading should be added and button color should be changed

**

[2020-12-31 17:07] PatelVatsalB21 commented on #1698
I am working on this issue

[2020-12-31 18:15] PatelVatsalB21 opened #1700 "New Feature: Adding legends to Savings and Loans List in ClientDetails"
**Summary:**
When user open opens client details and if anyone of list is opened from loan, savings and recurring type there are different notations as colour against each items and usually there is legend that shows which colour indicates which type. So a layout should be added at top of each list that shows up when respective list is opened

**Expected behaviour:**
Legend should be added

**Devi

[2020-12-31 18:16] PatelVatsalB21 commented on #1700
I am working on this feature

[2021-01-01 09:18] francisguchie opened #1702 "Offline Synchronization - Ability to search for clients and then sync them for offline transactions"
**Summary:**
The offline Synchronization works perfectly, but it has one major limitation. For a user to be able to work offline, they have to follow the steps below as shared by Mallikarjun in the link below
https://discourse.mifos.org/t/offline-sync-for-loan-and-savings-transaction-not-possible/6854

**Steps to reproduce:**
When you are online,
1- User has to browse to client list
![MifosXDroid

[2021-01-04 16:43] PatelVatsalB21 opened #1704 "Unnecessary visibility of List of loan, savings or recurring accounts"
**Summary:**
When user opens a client and if user does not have any associated accounts either any one or more than one of loan, savings, recurring, then also those division shows up with 0 (Number of associated accounts) at end of view.

https://user-images.githubusercontent.com/70195106/103556059-32136880-4ed7-11eb-9027-d5d22a25aee6.mp4

**Steps to reproduce:**
1 Open Client List
2 Open Client D

[2021-01-05 15:55] PatelVatsalB21 opened #1706 "Absence of No Transactions view in Savings Account Details"
**Summary:**
When user opens Savings Account and if there are no transactions available, then also transactions textview is visible and also transactions list is empty which might be confusing and not also serves purpose. Instead of it there should be a No Transactions view which indications user of no transactions

https://user-images.githubusercontent.com/70195106/103667250-b0d1d980-4f9b-11eb-94

[2021-01-05 17:30] PatelVatsalB21 opened #1708 "Unnecessary visibility of List of accounts in Group Details Fragment"
**Summary:**
When user opens a group and if user does not have any associated accounts either any one or more than one of loan, savings, recurring, then also those division shows up with 0 (Number of associated accounts) at end of view.

https://user-images.githubusercontent.com/70195106/103678094-22fceb00-4fa9-11eb-87eb-24acf4802c0b.mp4

**Steps to reproduce:**
1 Open Group List
2 Open Group Deta

[2021-01-06 16:00] PatelVatsalB21 opened #1710 "Lag in toolbar title change in GroupActivity"
**Summary:**
Lag in updating the toolbar title in group activity.

https://user-images.githubusercontent.com/70195106/103789575-2efab280-5066-11eb-9971-1d98a99aaa73.mp4

**Steps to reproduce:**
1 Go the group list
2 Open group details.
3 Check the toolbar title.

**Expected behaviour:**
Toolbar should show the name of the group chosen immediately because we already have that information.

**Observ

[2021-01-08 19:01] Pratham2305 commented on #1690
@danishjamal104 are you still working on this issue?

[2021-01-09 04:32] PatelVatsalB21 commented on #1690
@Pratham2305 he has already made or #1695 for this issue.

[2021-01-09 16:47] danishjamal104 commented on #1702
Why did you close the PR @francisguchie ?

[2021-01-09 17:13] danishjamal104 commented on #1690
Yes, I have already solved this issue. Thanks for asking I made a typo in the tag that's why no PR was linked with this issue.

[2021-01-11 09:13] francisguchie commented on #1702
@danishjamal104  - I think I am confused between the mifos-mobile and mifos-client repos

[2021-01-11 09:15] francisguchie commented on #1702
@danishjamal104   I have gotten help from a friend and we have the PR ready soon too.
I am testing it now

[2021-01-12 18:05] PatelVatsalB21 opened #1712 "UI enhancement possible in Login Activity"
**Summary:**
As visible in image attached username and password fields in Login Activity are plain edittext but as we see nowadays drawables are added with edittext. Similarly we can add drwables to user name and password

**Observed behaviour:**
Plain edittext without drawables

**Device and Android version:**
ANY

**Screenshots:**
<img width="333" src="https://user-images.githubusercontent.com/7

[2021-01-16 10:50] NikunjGarg2000 opened #1714 "New small update: Done or enter key on app keyboard can also be made to search"
**Summary:**

Done or enter key on app keyboard can also be made to search in dashboard activity.
Since many of us press that before search button when we have finished writing.

**Expected behaviour:**

Automatically search starts on pressing done without pressing search button.

**Observed behaviour:**

It doesn' t happen previously.

**Device and Android version:**

Any

[2021-01-16 12:18] NikunjGarg2000 opened #1716 "UI bug in ClientListFragmentItem"
**Summary:**

UI bug in ClientListFragmentItem
In row_center_list_item.xml, if center name is large then center id moves to next line which doesn't looks good.

**Steps to reproduce:**

Just some changes in xml file can make it easily.

**Device and Android version:**

ALL

**Screenshots:**

<img width="300" height="450" src="https://user-images.githubusercontent.com/67901968/104811600-c4463580-58

[2021-01-17 08:00] NikunjGarg2000 opened #1718 "WARNING Observed in fragment_client.xml"
**Summary:**

Android Studio shows that for vector drawables srcCompat is used.

**Steps to reproduce:**

Just change android:src to app:srcCompat

**Device and Android version:**

 ALL

**Screenshots:**

![1](https://user-images.githubusercontent.com/67901968/104834810-d8903e00-58c7-11eb-8ec3-a94654ff7d0e.png)

[2021-01-17 13:35] Abhinavtdk opened #1720 "UI Enhancement in Center details fragment"
**Summary:**

The details shown in center details fragment are aligned towards the ends without any padding. Adding padding to this makes the whole page look more appealing.

**Steps to reproduce:**

1)Go to the centers option in right menu
2)Click on any center.

**Observed behaviour:**

Center details are aligned to the end, not so appealing to a user.

**Device and Android version:**

ANY

**Sc

[2021-01-17 14:17] danishjamal104 commented on #1716
@NikunjGarg2000 , the issue title and summary don't match please verify it.

[2021-01-17 14:23] danishjamal104 commented on #1718
Avoid creating issues for such small things if you want to resolve warnings then create an issue targeting more xmls since there are many files which have warning and it needs to be removed.
So what you can do is fix the warning in 2-5 XML in this way this issue would play a significant role.
But for now, this is fine. Just keep this thing in mind for next time. Thank you.:)

[2021-01-17 14:27] danishjamal104 commented on #1720
Please explore the already created issues since a similar issue is already created at #1601 and is resolved at #1603 , so its always better to discuss before sending PR.

[2021-01-17 14:54] Abhinavtdk commented on #1720
Oh, Sorry for that, I'll close this pr

[2021-01-17 14:54] #1720 closed

[2021-01-17 15:26] danishjamal104 commented on #1720
NP, Thanks

[2021-01-17 16:09] NikunjGarg2000 commented on #1718
Ok @danishjamal104 , Thank you I will definitely improve on this.

[2021-01-17 16:20] NikunjGarg2000 commented on #1716
Thanks @danishjamal104 , I modified it.

[2021-01-18 09:35] NikunjGarg2000 opened #1722 "Lag in seeing Group clients in GroupDetailsFragment"
**Summary:**

Lag in seeing Group clients in GroupDetailsFragment
While seeing clients previous screen appears in between.

**Steps to reproduce:**

1. Go to groups from Navigation drawer.
2. Open any group and select Group clients from its menu.
3. The clients screen is visible and while loading it previous group details screen appears.

**Expected behaviour:**

After clicking for clients, group

[2021-01-19 15:10] Abhinavtdk opened #1724 "Issue related to keyboard"
**Summary:**

In create client page, clicking next at the last edit text doesn't close

https://user-images.githubusercontent.com/52701183/105052615-1773ee80-5a96-11eb-8966-a42bc97ad904.mp4

**Steps to reproduce:**

Go to Create Client from Dashboard

**Expected behaviour:**

After using the last edit text, keyboard should close

**Observed behaviour:**

After using the last edit text and pressing

[2021-01-21 07:43] #1724 closed

[2021-01-21 07:48] Abhinavtdk opened #1726 "Keyboard related issue"
**Summary:**

Soft keyboard doesn't close after the last edit text in create client, center and group fragments.

**Steps to reproduce:**

1)Go to any of create client, create group or create center fragments.
2)Type anything in the last edit text available and press next.

**Expected behaviour:**

On pressing next, keyboard should collapse and the last edit text shouldn't be in focus

**Observed

[2021-01-21 08:14] kartikeysaran commented on #1726
Can i work on this issue

[2021-01-26 07:00] PatelVatsalB21 opened #1728 "Invalid toast message in Datatables"
**Summary:**
On opening specific Datatable if there is error, toast is shown which has a typing error.

**Steps to reproduce:**
1 Open Client or Group Details
2 Open Datatables
3 Open Specific Datatable

**Expected behaviour:**
Toast should be : "Failed to fetch DataTable Info"

**Observed behaviour:**
Toast shown : "Failed to fetch DataTableInfo"

**Device and Android version:**
Any

**Recording:

[2021-01-26 07:47] PatelVatsalB21 opened #1730 "Text overlaps Toggle button in Datatable dialog"
**Summary:**
When user tries to create new datatable entry and if dialog contains toogle button field then text that indicates state of button overlaps button.

**Steps to reproduce:**
1 Open Client or Group Details
2 Open Data Tables
3 Open specific Data Table
4 Create new entry in Data Table

**Expected behaviour:**
Simple toogle button should be visible

**Device and Android version:**
Any

**R

[2021-01-26 11:56] NikunjGarg2000 opened #1732 "Edit Text isn't focusing in CreateNewCenterFragment"
**Summary:**

Edit Text isn't focusing in CreateNewCenterFragment.
requestFocus not working.

**Steps to reproduce:**

1. Select Centers from Navigation Drawer.
2. Click on add floating action button in bottom right.

Or just Select "Create center" from menu in Dashboard Activity.

**Expected behaviour:**

Center name edit text should be focused and soft keyboard should open.

**Observed behaviour

[2021-01-26 12:19] NikunjGarg2000 opened #1734 "Chat option is unnoticeable in README"
**Summary:**

Chat option is unnoticeable in README and it isn't readily seen in the first go under "STATUS".
I personally discovered it after 2 weeks.

**Device and Android version:**
ANY

[2021-01-27 07:21] danishjamal104 commented on #1728
@PatelVatsalB21 , I think their is type in below section of your issue description, please cross check once.
[code]

[2021-01-27 08:03] PatelVatsalB21 commented on #1728
@danishjamal104 thanks for informing. I updated comment.

[2021-01-27 11:21] danishjamal104 commented on #1728
NP

[2021-01-28 10:59] NikunjGarg2000 opened #1736 "Small Feature : Modify search results on Spinner items clicked in Dashboard"
**Summary:**

In Dashboard Activity, selecting new item from spinner can be made to modify search results itself according to new filters without the need of pressing search button again.

**Steps to reproduce:**

1. Search something in Dashboard Activity.
2. Change filter from spinner.
3. It do not modify search results according to new filter.

**Expected behaviour:**

It should modify search re

[2021-01-28 13:11] NikunjGarg2000 opened #1738 "Previous search results showing unnecessarily in Search Fragment."
**Summary:**

Previous search results showing unnecessarily if there is no current search result found along with alert dialog in Search Fragment.

**Steps to reproduce:**

1. Search for something in search Fragment of Dashboard Activity.
2. Once, results are visible search for something else which don't have any matches.

**Expected behaviour:**

Previous results should clear and alert dialog app

[2021-01-29 14:54] NikunjGarg2000 commented on #1736
This issue has been already raised by Danish Jamal in #1588 and also solved in #1589. Therefore closing it.

[2021-01-29 14:54] #1736 closed

[2021-01-30 09:00] NikunjGarg2000 opened #1740 "UI enhancement possible in Search Fragment"
**Summary:**

UI enhancement possible in Search Fragment. If we search for something in Search Fragment of Dashboard Activity and no search results are found then an alert dialog box is shown. If instead of alert dialog, snackbar is shown it will look more good since it will match UI of app.

**Steps to reproduce:**

1. Open the app.
2. In search Fragment search something for which no search resul

[2021-02-01 08:03] Arjun2905 commented on #1698
is this issue still open .
If yes then I would like to work on it .

[2021-02-01 08:19] PatelVatsalB21 commented on #1698
@Arjun2905 this issue has been solved in #1699

[2021-02-01 08:25] Arjun2905 commented on #703
is this issue still open ?
if yes I would like to work on it .

[2021-02-03 14:06] PatelVatsalB21 opened #1742 "Improper dimensions of text view and absent padding in Payment Details"
**Summary:**
As we see in payment details layout Total charges textview is wraped text and it has no bottom padding. It has fixed sized of 120 dp which makes it look like this even though no charges are present.

**Steps to reproduce:**
1 Open Individual Collection sheet
2 Fill New Collection Sheet
3 Open any one item from list

**Expected behaviour:**
Width of this textview should be `wrap conten

[2021-02-03 14:34] PatelVatsalB21 opened #1744 "Improper text of Add payment details button in Payment Details"
**Summary:**
Add payment details button is used to make payment details visible and also it hides the layout but with same text. Instead it should show `Hide Payment Detail` when details are visible.

**Steps to reproduce:**
Go to Payment details and click the button

**Expected behaviour:**
It should show `Hide Payment Detail` when details are visible.

**Device and Android version:**
Any

**Reco

[2021-02-04 17:09] PatelVatsalB21 opened #1746 "Cancel button not working properly in Payment Details"
**Summary:**
As shown in video below after user enters values in fields of payment details, if user presses cancel layout hides and according to code it resets all values to null. But if fails to clear values from edittexts.

**Steps to reproduce:**
1 Open Payment Details
2 Enter values in Add payment details fields

**Expected behaviour:**
Values entered in edittexts should be cleared.

**Device

[2021-02-04 18:10] AhwiniMirajkar commented on #1746
I want to work on this

[2021-02-04 18:12] AhwiniMirajkar commented on #1744
I want to work on this

[2021-02-05 03:06] PatelVatsalB21 commented on #1746
@AhwiniMirajkar this issue has been solved by #1747

[2021-02-05 03:08] PatelVatsalB21 commented on #1744
@AhwiniMirajkar this issue has been solved in #1745. However you can submit a new error and can work on it

[2021-02-05 10:03] NikunjGarg2000 opened #1748 "Lag on Adding Savings Account in SavingsAccountFragment"
**Summary:**

As shown in video there is a lag on adding savings account from CenterDetailsFragment in SavingsAccountFragment.
Basically it shows one screen before final loading completes.

Same issue occurs if we try to add saving account from GroupDetailsFragment and ClientDetailsFragment.

**Steps to reproduce:**

1. Select Centers from Navigation Drawer in Dashboard Activity.
2. Choose any cen

[2021-02-05 13:50] AhwiniMirajkar commented on #1744
Okay

[2021-02-05 18:24] PatelVatsalB21 commented on #1744
@AhwiniMirajkar welcome to open source and Mifos community. Please select Mifos app with which you are comfortable and then you can start development by forking that repo. For better guidance please joi on Gitter from here [Mifos Android Client Gitter community](https://gitter.im/openMF/android-client?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge)

[2021-02-06 14:31] NikunjGarg2000 opened #1750 "Lag on Adding Loan Account in LoanAccountFragment and GroupLoanAccountFragment"
**Summary:**

Summarize your issue in one sentence (what goes wrong, what did you expect to happen)

**Steps to reproduce:**

How can we reproduce the issue?

**Expected behaviour:**

What did you expect the app to do?

**Observed behaviour:**

What did you see instead?  Describe your issue in detail here.

**Device and Android version:**

What make and model device (e.g., Samsung Galaxy S3) did y

[2021-02-07 08:02] NikunjGarg2000 commented on #1629
Yes @PatelVatsalB21, @danishjamal104 , @robustTechie I am facing this error continuously in Realme X running on Android 10. I have to run project and reinstall app every single time I want to open it. Without running it crashes every time.

[2021-02-07 08:35] NikunjGarg2000 opened #1752 "Unnecessary running of Spinner.OnItemSelectedListener on first time"
**Summary:**

Unnecessary running of Spinner.OnItemSelectedListener in NewIndividualCollectionSheetFragment and GenerateCollectionSheetFragment on the first time as user enters.
As shown in video onItemSelectedListener checks for office and staff  and calls presenter too as soon as user enters which is not necessary since user hasn't selected anything yet.

**Steps to reproduce:**

1. Select Indiv

[2021-02-08 04:46] NikunjGarg2000 opened #1754 "Last item in offices and staff spinner not selecting in NewIndividualCollectionSheetFragment"
**Summary:**

Last item in offices and staff spinner not selecting in NewIndividualCollectionSheetFragment.
As shown in video attached it says select an office even on selecting last item in office spinner and select a staff on selecting last item in staff spinner.

**Steps to reproduce:**

1. Select Individual collection Fragment from Navigation Drawer.
2. Select the last item in office spinner o

[2021-02-08 04:57] mananvirmani611 commented on #1712
Hi @PatelVatsalB21, May you please tell can I  work on this ??

[2021-02-08 05:02] NikunjGarg2000 commented on #1374
Hey @RajaVamsi11, have you done resolving it? If you are not working on this, I would like to. Thanks.

[2021-02-08 05:06] PatelVatsalB21 commented on #1712
@mananvirmani611 solutions for this pr has been already made in #1713

[2021-02-08 05:07] mananvirmani611 commented on #1712
@PatelVatsalB21 ok, thanks for replying

[2021-02-08 08:20] mananvirmani611 commented on #1742
@PatelVatsalB21 , this issue is shown as an open issue, although you had already fixed it, may you please tell me why this is shown as open ?? (and this is the case with many similar issues, which had been fixed, but are still showing open)

[2021-02-08 09:03] PatelVatsalB21 commented on #1742
@mananvirmani611 these issues are still there because pull request is made but not merged. Once it gets merged that specific issue resolves. It to all issues.

[2021-02-08 09:08] mananvirmani611 commented on #1742
@PatelVatsalB21 So, can I also make changes in the code, and post them in the comments of a particular issue ??

[2021-02-08 09:12] PatelVatsalB21 commented on #1742
@mananvirmani611 if you found issue that hasn't been raised before then you can creat new issue and make changes locally on your system in new branch and then make pr for that issue. You should go through how GitHub works and for better guidance from community please join on Gitter from here Mifos Android Client Gitter community

[2021-02-08 09:19] mananvirmani611 commented on #1742
@PatelVatsalB21 thanks sir !!

[2021-02-08 12:55] mananvirmani611 commented on #1726
Hi @Abhinavtdk , can I work on this issue ??

[2021-02-08 13:05] Abhinavtdk commented on #1726
I've already worked on this, #1727 fixes it

[2021-02-08 13:07] mananvirmani611 commented on #1726
@Abhinavtdk So isn't it merged with the master branch ??

[2021-02-08 17:37] PatelVatsalB21 opened #1756 "Feature: Adding scrolling behaviour to searchbar of Checker Inbox fragment"
**Summary:**
As user scroll through the items of Checker Inbox Fragment it is noticable that searchbar appears though user wants it or not , also some extra white space is visble to user between searchbox and recyclerview. Better is to apply scrolling behaviour to it so it hides when not needed.

**Steps to reproduce:**
1 Go to Checker Inbox & Tasks from Navigation
2 Select Checker Inbox option
3

[2021-02-08 17:55] PatelVatsalB21 opened #1758 "Main navigation bar menu item name inappropriate"
**Summary:**
As shown in screenshot below name of item in navigation bar is `Checker Inbox` while in other screenshot as heading of toolbar of that activity text is `Checker Inbox & Tasks`. It is necessary to change name of menu item as `Checker Inbox` is also name of sub item of this activity

**Expected behaviour:**
Item name should be changed to `Checker Inbox & Tasks`

**Device and Android ver

[2021-02-08 18:32] mananvirmani611 commented on #1466
hi @The-Anton @casyazmon , have you made any pull request regarding this particular issue ??

[2021-02-08 18:55] casyazmon commented on #1466
No I haven't

[2021-02-08 19:06] mananvirmani611 commented on #1334
@robustTechie @danishjamal104  May I work on this, as there is no pull request yet ??

[2021-02-08 19:16] mananvirmani611 commented on #451
@therajanmaurya @luckyman20  May I work on this particular issue, as there is no pull request yet ??

[2021-02-09 03:02] Abhinavtdk commented on #1726
Not yet

[2021-02-09 06:08] mananvirmani611 commented on #1231
@robustTechie Are you able to find any solution to this issue ??

[2021-02-09 06:26] mananvirmani611 opened #1760 "Documents are not uploading"
**Summary:**
While uploading client's documents
list of clients -> any client -> menu -> documents -> plus sign on top -> unable to add any document
Summarize your issue in one sentence (what goes wrong, what did you expect to happen)

**Steps to reproduce:**

How can we reproduce the issue?

**Expected behaviour:**
It should upload the documents selected
What did you expect the app to do?

**Obse

[2021-02-09 07:39] mananvirmani611 commented on #1140
@shivakanthsujit Is this issue resolved ??

[2021-02-09 08:45] mananvirmani611 opened #1761 "Progress bar is not stopping after loading the clients in any group"
**Summary:**
Progress bar does not stops even after the information of clients is loaded.

**Expected behaviour:**
Progress bar should stop, once the name of clients is displayed.

**Observed behaviour:**
from navigation drawer -> groups -> click on any group -> top menu -> group clients ->
detail of clients is shown, but the progress bar doesn't stops.
**Device and Android version:**
any
What mak

[2021-02-09 09:51] mananvirmani611 commented on #1648
@PatelVatsalB21 I think, on clicking anywhere on the entire row, not only on the +/- button, it is expanding/collapsing, can I work on improving this ??

[2021-02-09 09:54] PatelVatsalB21 commented on #1648
@mananvirmani611 Its working correctly by clicking anywhere on row it should expand. And this issue has been fixed in #1649. You can try any issue whose pr is not made.

[2021-02-09 10:00] mananvirmani611 commented on #1503
@robustTechie @Saral-code are you presently working on this issue ??

[2021-02-09 10:33] danishjamal104 commented on #1334
go ahead

[2021-02-09 11:36] danishjamal104 commented on #1744
ask your doubts on the Gitter channel which @PatelVatsalB21 has provided in the last comment.

[2021-02-09 16:26] danishjamal104 commented on #1761
@mananvirmani611 upload a smaller screenshot so that it is visible within the scroll limit. If an image is a large use the below syntax.
`<img width='333' alt='ss' src='[image src]'>`

[2021-02-09 17:17] mananvirmani611 commented on #1761
![download](https://user-images.githubusercontent.com/72332463/107401355-cac98380-6b28-11eb-8153-0ac096be7ea0.png)
@danishjamal104

[2021-02-09 19:25] NikunjGarg2000 commented on #1761
Hey @mananvirmani611 , this issue is already opened #1378 and solved #1412 by @robustTechie.

[2021-02-09 19:37] NikunjGarg2000 commented on #1760
Hey @mananvirmani611 can you upload video just by drag and drop since there is no issue on my device(REALME X, ANDROID 10) while uploading documents. Also I think you are referencing the same issue #982 which may be solved by #1060.

[2021-02-09 19:38] NikunjGarg2000 commented on #1760
Also, I suggest you go through some issues, it will help you creating good and well described issues in the beginning.

[2021-02-10 02:47] PatelVatsalB21 commented on #1761
@mananvirmani611 if you have found an issue or finding solutions of other's issue make sure to confirm that no one has made that issue before. This might save your and reviewers time. There are many errors whose solutions are made but not merged so they exist in app. Hope you got it.

[2021-02-10 04:10] mananvirmani611 commented on #1761
@NikunjGarg2000 ok, thanks for telling.

[2021-02-10 04:12] mananvirmani611 commented on #1761
@PatelVatsalB21 yeah I got it.
can you please tell one more thing,
Is there any way to search that issue if it is already been listed, or I have to look at all the issues to check ??

[2021-02-10 04:14] PatelVatsalB21 commented on #1761
@mananvirmani611 if you open GitHub in chrome there is a searchbar in 'Issues' section. Type keyword related to your issue and if there is issue created before it will be visible.

[2021-02-10 04:15] mananvirmani611 commented on #1761
@PatelVatsalB21 OKk, thanks !

[2021-02-10 04:26] danishjamal104 commented on #1761
edit the first comment of yours itself, instead of sending a new one.
Also for finding issues use the filter option viz available in the search box just above the issue listing. Refer [this](https://docs.github.com/en/github/searching-for-information-on-github/searching-issues-and-pull-requests) link if you aren't familiar with it.

[2021-02-11 06:05] robustTechie commented on #1761
@mananvirmani611 you can close this pull request

[2021-02-11 06:07] robustTechie commented on #1503
@Saral-code you can work on this

[2021-02-12 03:44] Saral-code commented on #1503
No, I am not.

[2021-02-12 10:56] NikunjGarg2000 opened #1762 "UI Enhancement required in item_checker_task.xml"
**Summary:**

UI Enhancement required in item_checker_task.xml

**Steps to reproduce:**

1. Open Navigation Drawer and choose Checker Inbox.
2. Choose checker inbox.

Observed Behaviour
tv_checker_task_entity (ProvisionalEntities) overlapping cb_checker_task (checker box)

**Device and Android version:**

Any

<img width="300" height="550" src="https://user-images.githubusercontent.com/67901968/10

[2021-02-12 15:35] PatelVatsalB21 commented on #1762
@NikunjGarg2000 you need to describe exactly what changes are required or which elements require enhancement

[2021-02-12 18:17] Edward1919 commented on #1762
I want to work on this issue please.

[2021-02-13 04:02] NikunjGarg2000 commented on #1762
Ok @PatelVatsalB21, updated the comment.

[2021-02-13 04:03] NikunjGarg2000 commented on #1762
@Edward1919 this is solved by #1763 , you could raise issue about some other changes in ui or anything and could solve. Best of luck.

[2021-02-13 05:25] NikunjGarg2000 opened #1764 "Absence of No Task view in CheckerInboxFragment"
**Summary:**

When user apply filters in search bar of Checker Inbox Fragment and dialog returns a null list then there should be a no task view telling no task available according to filters applied.

**Steps to reproduce:**

1. Open Navigation drawer and select checker inbox.
2. Select checker inbox again and apply filters for which nothing is available.

**Expected behaviour:**

It should show

[2021-02-14 15:31] PatelVatsalB21 opened #1766 "Toast Redundancy in Saving Account Activate fragment"
**Summary:**
When user activates saving or recurring account, after successful activation, to notify it to user both Toast and Snackbar are made.

**Steps to reproduce:**
1 Open Saving Account Details
2 Activate Account

**Expected behaviour:**
Only one of Toast or Snackbar should be visible

**Device and Android version:**
Any

**Recording:**

https://user-images.githubusercontent.com/70195106/10

[2021-02-14 15:56] PatelVatsalB21 opened #1768 "UI Enhancements required in SavingsAccountActivateFragment"
**Summary:**
When user approves or activates layout are visible as attached in images below. It is visible that there is no padding applied on sides, no margin between fields and also background of date is not looking good

**Steps to reproduce:**
1 Open  Savings Account details
2 Approve or Activate Account (if not activated)

**Expected behaviour:**
Padding should be applied in parent layout, ma

[2021-02-14 16:29] danishjamal104 commented on #1762
@NikunjGarg2000 , please be more clear about the issue description since it is difficult to get what the actual issue is.

[2021-02-14 17:00] PatelVatsalB21 opened #1770 "Error handling missing in ClientDetails"
**Summary:**
When user opens client details and something unexpected occurs like no internet connection, progress bar of user image continuously shows rotating with all fields empty

**Steps to reproduce:**
1 Open clients
2 Turn off Internet
3 Open any client

**Expected behaviour:**
Simple error layout should be visible.

**Device and Android version:**
Any

**Recording:**

https://user-images.gi

[2021-02-14 17:21] PatelVatsalB21 opened #1772 "Error handling missing in GroupDetails"
**Summary:**
When user opens group details and something unexpected occurs like no internet connection, all fields are shown empty.

**Steps to reproduce:**
1 Open groups
2 Turn off Internet
3 Open any group

**Expected behaviour:**
Simple error layout should be visible.

**Device and Android version:**
Any

**Recording:**

https://user-images.githubusercontent.com/70195106/107883735-a13c9d80-6f16

[2021-02-14 21:01] francisguchie opened #1774 "Recurring Deposit Application Missing"
**Summary:**

As a field staff, I wish to be able to apply for a new Recurring Deposit Account, just like one can apply for a new loan or savings account

**Steps to reproduce:**
login into the android client, select a client of your choice, click on the hamburger icon on the top right corner, you will not see Add Recurring Deposit Account

**Expected behaviour:**
one should see "Add Recurring Dep

[2021-02-14 21:03] francisguchie commented on #1774
@danishjamal104 I would like to hear your comments

[2021-02-15 04:16] danishjamal104 commented on #1772
@PatelVatsalB21 I think it would be better to merge this issue with #1770 since both are similar. This way number of PRs will be less and it would be easy for maintainers while merging the PR.

[2021-02-15 04:24] danishjamal104 commented on #1774
Hey @francisguchie, how about not giving an option for adding `Recurring Deposit Account` but adding the feature to make account's current account a recurring account.?

[2021-02-15 11:46] francisguchie commented on #1774
@danishjamal104
There are 4 product types available in FINERACT that need to be applied for differently since they take different forms
1-Loans
2- Savings
3- Fixed Deposits
4- Recurring Deposits

at the moment the app has 1 and 2 only available at the Client Drop Down (hamburger menu). So no need to change what is available. We need to add the 2 missing

[2021-02-15 17:22] PatelVatsalB21 opened #1775 "Spinner error in Run Report Fragment"
**Summary:**
When user opens Run Report section from Nav Bar, list of report items are visible. On this page spinner is visible in Toolbar. When user clicks any item then it enters in Report Details fragment, there also spinner is visible which serves no purpose. Also if user opens spinner then if **he opened item of Client then on clicking client in spinner reloads list items while on clicking an

[2021-02-15 18:40] danishjamal104 commented on #1774
Fine, then we can go ahead. what do you say @robustTechie

[2021-02-16 06:44] PatelVatsalB21 opened #1778 "Typo in Saving Account Summary"
**Summary:**
Typo is present in type of account field written as **Fixed Depsotis** which should be **Fixed Deposits**.

**Steps to reproduce:**
1 Open Client details
2 Open any FD account

**Expected behaviour:**
It should be `Fixed Deposits`.

**Device and Android version:**
Any

**Screenshots:**
<img src="https://user-images.githubusercontent.com/70195106/108027228-d6004000-704f-11eb-8c8d-b463a

[2021-02-16 07:42] sakshi-1604 commented on #1778
On it

[2021-02-16 07:42] sakshi-1604 commented on #1778
Working on it

[2021-02-17 03:22] sakshi-1604 commented on #1778
@PatelVatsalB21 can you please tell me where Client details is (path)?
I am not able to find it in the clone while running the app in android studio.
It would help a lot ..if you share video.

[2021-02-17 03:52] NikunjGarg2000 commented on #1778
@sakshi-1604 open clients from navigation drawer then select any client and you will be in client details fragment.

[2021-02-17 03:58] sakshi-1604 commented on #1778
@NikunjGarg2000  thanks!
But I tried searching there ..but there is no such page as displayed in screenshot....I guess the code in app(not updated) and  code fork is (updated) due to which I am not able to find that page

[2021-02-17 04:14] NikunjGarg2000 commented on #1778
This is how you get there. Probably you have this.
https://user-images.githubusercontent.com/67901968/108155265-98112380-7104-11eb-81d3-d357fdb3eb6f.mp4

[2021-02-17 04:16] NikunjGarg2000 commented on #1778
@sakshi-1604 probably your code is updated too this is how you get there.
https://user-images.githubusercontent.com/67901968/108155459-eaeadb00-7104-11eb-9547-22be6f8f35a1.mp4

[2021-02-17 05:03] PatelVatsalB21 commented on #1778
@sakshi-1604 though you can try learn and find new  errors, but this one seems backend, I too tried a lot but didn't found solution. But still you can try, All the best 😊.

[2021-02-17 05:47] sakshi-1604 commented on #1778
@NikunjGarg2000  yes ..my code was updated

[2021-02-17 05:49] sakshi-1604 commented on #1778
@PatelVatsalB21 I have found some small issues ,I will work on them now.

[2021-02-17 09:26] robustTechie commented on #1774
Yeah, this looks good to me we can add the recurring and fixed deposit feature too in the app.

[2021-02-18 14:13] Abhinavtdk opened #1779 "Toast message in ClientDetailsFragment"
**Summary:**

When changing the client picture, if you click any of take new photo or upload new photo and go back without clicking or uploading respectively, the toast message which appears disappears too fast

**Steps to reproduce:**

Go to client list from side navigation -> Click on any client -> Click on client profile picture -> Choose either of teake new photo or upload new photo -> Go back

[2021-02-18 14:13] Abhinavtdk commented on #1779
I'm working on this

[2021-02-19 17:11] #1557 closed

[2021-02-25 17:43] PatelVatsalB21 opened #1788 "UI enhancements required in Create NewIndividualCollectionSheetFragment"
**Summary:**
  Title and subtitle are not aligned with other elements, also textsize of subtitle is too small. Arrows of spinner are not in center_vertical and same applies to calendar icon

**Expected behaviour:**
  Title should be in center, textsize of subtitle should be increased. Arrows of spinner and calendar icon should be in center_vertical alignment

**Device and Android version:**
Lenovo

[2021-02-26 05:53] PatelVatsalB21 opened #1790 "Error in Checker Task Filter dialog"
**Summary:**
When user opens Checker Task list and opens Filter dialog, dialog appears but spinners are not loaded yet and arrows of spinners are misaligned, also during that interval of time spinners are not responsive. Instead progress bar should be visible until dialog is fully loaded.

**Steps to reproduce:**
1 Open  Checker Inbox & Task
2 Open  Checker Inbox
3 Open Filter Dialog

**Expected b

[2021-02-26 06:37] PatelVatsalB21 opened #1792 "Clear Filter option needed in CheckerTaskFilterDialogFragment"
**Summary:**
When user applys any filter in Checker Inbox list, and if no results match to applied keyword, empty screen appears but now if user want to see original list, there is no specific button available to clear filters.

**Steps to reproduce:**
1 Open Checker Inbox & Task
2 Open Checker Inbox
3 Apply Filters

**Expected behaviour:**
There should be clear filters button in Filter dialog

**

[2021-02-26 07:17] PatelVatsalB21 opened #1794 "No Result view for keyboard input in Checker Inbox"
**Summary:**
When user enters keyword and searches for task in Checker Inbox, if no Task is available for input, it shows blank screen instead it should show some indicator like No Task found etc.

**Steps to reproduce:**
1 Open Checker Inbox & Task
2 Open Checker Inbox
3 Type Something that is not available

**Expected behaviour:**
<img src="https://user-images.githubusercontent.com/70195106/1092

[2021-02-27 18:12] PatelVatsalB21 opened #1796 "Feature: Adding scrolling behaviour to FAB"
**Summary:**
When user scrolls through list of Clients, Groups and Centers it is visble that FAB remains still, which is not responsive with UI.  There is difference between Image btn and FAB, as FAB is available with some features to `show()` and `hide()`. It should be implemented for better User Experience.

**Steps to reproduce:**
1 Open Clients
2 Scroll the List

**Expected behaviour:**
Fab sh

[2021-03-02 04:51] #1532 closed

[2021-03-02 13:22] danishjamal104 commented on #1788
@PatelVatsalB21 , have you checked that this issue is not addressed previously? Can you please cross-verify it? Thanks

[2021-03-02 13:49] PatelVatsalB21 commented on #1788
@danishjamal104 I searched for this type of error but I didn't found any.

[2021-03-05 14:53] PatelVatsalB21 opened #1798 "Fab behaviour rectification in Accounts"
**Summary:**

As attached in video below when user scrolls down fab hides but does not show up itself. Also special file is made for it. It can be done with handful of code

**Steps to reproduce:**
1 Open Accounts
2 Scroll. List

**Expected behaviour:**
Fab should show itself

**Device and Android version:**
Any

**Screenshots:**

https://user-images.githubusercontent.com/70195106/110131778-87dd91

[2021-03-05 14:57] #1798 closed

[2021-03-05 23:04] aaddven opened #1799 "Keyboard doesn't hides in Login Screen"
**Summary:**

In login screen keyboard doesn't hides when you click on screen or login button.

**Expected behaviour:**

Whenever you click somewhere other than Username EditText and Password EditText , keyboard should hide.
I used red mark like on mifos image , background or login button.

**Device and Android version:**

Redimi Note 7 Pro
Android 9 : Pie

**Screenshots:**

![WhatsApp Image 2021-

[2021-03-05 23:05] GITrandhir commented on #1799
I'm working on it also it will be very helpful if any mentor can add their valuable comments.

[2021-03-06 05:14] sreyans01 opened #1800 "Swipe Refresh Layout is refreshing when pressed back button(twice) while creating groups"
**Summary:**

When user tries to create a group and presses back button, the refresh layout is set to refreshing which should not be done when no new group is created.

**Steps to reproduce:**

1) Go to Groups
2) Click on '+' button
3) Press back button twice

**Expected behaviour:**

https://user-images.githubusercontent.com/47531297/110196101-3f61ba80-7e68-11eb-9da5-dd0d821a2357.mp4

**Observed

[2021-03-06 05:15] sreyans01 commented on #1800
I'm working on it also it will be very helpful if any mentor can add their valuable comments.

[2021-03-06 09:53] elirehema commented on #1800
@sreyans01 in my understanding it refresh to update group list, for it is multi user application someone on the other side may have updated or created a new group.

[2021-03-06 13:15] sreyans01 commented on #1800
I understand your point completely, but the refreshing icon is running indefinitely. I tried and waited more than 5 minutes for multiple times, after which I finally raised the issue. I would suggest you also give it a try, if it works for your case, please share the recording, and I will close the issue.

[2021-03-06 14:54] danishjamal104 commented on #1800
@sreyans01 I have already created the issue regarding this please check #1570. Thanks :)

[2021-03-06 17:52] sreyans01 commented on #1800
Yes, I didn't notice it, I will close my issue #1800 then.

On Sat, Mar 6, 2021 at 8:24 PM danishjamal104 <notifications@github.com>
wrote:

[2021-03-06 17:55] sreyans01 commented on #1800
Please check, I have corrected the title for my pull request :
https://github.com/openMF/android-client/pull/1802

On Sat, Mar 6, 2021 at 8:24 PM danishjamal104 <notifications@github.com>
wrote:

[2021-03-06 17:59] #1800 closed

[2021-03-08 10:35] #1280 closed

[2021-03-08 12:52] danishjamal104 commented on #1799
Sure @GITrandhir , whats the progress.

[2021-03-09 08:37] vinayak0505 opened #1803 "login button shadow not appearing correctly"
**Summary:**
When the button in login page is pressed then shadow is cut down

**Steps to reproduce:**
just open the app ( logout if logged in ) press and hold login button

**Expected behaviour:**
the shadow should not be cut when the button is pressed

**Observed behaviour:**
cutting of shadow

**Device and Android version:**
it will appear on every device

**Screenshots:**
![error_LI](https://u

[2021-03-09 14:43] PatelVatsalB21 commented on #1799
@danishjamal104 I don't find it issue as there are only 2 default focusable elements on screen. What do you say?

[2021-03-09 15:22] vinayak0505 opened #1805 "wrong toast while starting the app"
**Summary:**
Every time I open the app it ask me to set pin code and pressing skin shows login successful which must be removed.

**Steps to reproduce:**
1. open app.
2. log in
3. close app and remove it from recants
4. open app again
5. press skip

**Expected behavior:**
I think there must be no toast there just leave it idle

**Observed behavior:**
I am seeing the toast instead
**Device and Andr

[2021-03-09 16:42] vinayak0505 opened #1806 "making 100 jobs more than once"
**Summary:**
there is a for loop while creating creating a job which creates more than 100 jobs and causes app to crash sometimes

**Steps to reproduce:**
enter pin again and again , sometimes it appears but most of the time android handles that

**Expected behaviour:**
there are at max requirement of 6 jobs but loop takes it around 142 which is very poor use of resources

**Observed behaviour:**

[2021-03-10 23:26] #1276 closed

[2021-03-13 14:28] sreyans01 commented on #1805
Could you please upload a screen recording of this issue

[2021-03-13 14:35] vinayak0505 commented on #1805
![Screenshot_20210313-200450.png](https://user-images.githubusercontent.com/56196007/111033472-62c3d100-8437-11eb-8d15-fe8e2a9d9952.png)
App is also crashing as I have made another issue about threads

[2021-03-13 14:48] vinayak0505 commented on #1805
screen recording

https://user-images.githubusercontent.com/56196007/111033874-3f018a80-8439-11eb-8c51-e80c4c0f71cf.mp4

[2021-04-01 06:20] #828 closed

[2021-04-01 06:21] robustTechie commented on #828
I found this issue doesn't exist now. Thankyou for your contribution :)

[2021-04-05 16:20] #1243 closed

[2021-04-05 16:21] robustTechie commented on #1337
Already mentioned in issue #1531

[2021-04-05 16:21] #1337 closed

[2021-04-06 06:18] #1485 closed

[2021-04-06 06:23] #887 closed

[2021-05-04 12:11] AnubhavPabby commented on #1799
@danishjamal104 Hey can i work on this issue? If it's still open.

[2021-05-27 08:46] pmugabi opened #1811 "App sends incorrect login API"
App sends incorrect login API

App is unable to login and triggers an exception on Fineract mentioning invalid JSON as per issue FINERACT-726

**Steps to reproduce:**
Attempt to login to version 1.5.0 of Fineract with the mobile app

**Expected behaviour:**

To login

**Observed behaviour:**

Returns a blank notification message

**Device and Android version:**

Xiaomi Mi 9T running Android 10

[2021-05-27 08:54] pmugabi commented on #1811
First time contributor, have already fixed it on code I pulled down, if it's fine, I'd like to make a pull request and add it to the main code base.

[2021-05-28 00:27] francisguchie commented on #1774
@danishjamal104
would you like to help?

[2021-06-01 00:44] francisguchie opened #1812 "I need to collaborate with someone to add some offline features to Android Client"
**Summary:**

Summarize your issue in one sentence (what goes wrong, what did you expect to happen)

**Steps to reproduce:**

How can we reproduce the issue?

**Expected behaviour:**

What did you expect the app to do?

**Observed behaviour:**

What did you see instead?  Describe your issue in detail here.

**Device and Android version:**

What make and model device (e.g., Samsung Galaxy S3) did y

[2021-06-01 00:45] francisguchie commented on #1812
Anyone interested to work with me on add a few features
i need a seasoned code star at android / kotlin

[2021-06-02 15:54] #1300 closed

[2021-06-02 19:49] #1301 closed

[2021-06-10 00:41] francisguchie commented on #1556
Changed the gradle version to 4.10.1

[2021-06-10 00:45] francisguchie opened #1813 "Plugin with id 'findbugs' not found"
**Summary:**

Building the latest master branch"
------------------------------------------------------------
Gradle 6.7.1
------------------------------------------------------------
Kotlin:       1.3.72
Groovy:       2.5.12
Ant:          Apache Ant(TM) version 1.10.8 compiled on May 10 2020
JVM:          1.8.0_231 (Oracle Corporation 25.231-b11)
OS:           Windows 10 10.0 amd64

**Steps to re

[2021-07-02 10:58] danishjamal104 opened #1815 "[sdk-client] refactor pref manager to support mifos sdk architecture"
**Summary:**
This issue focuses on migrating already created `PrefManager.java` to Kotlin and also refactor the code to support mifos-sdk-arch design.

[2021-07-02 11:01] danishjamal104 commented on #1815
I am working on this.
Also @iamsh4shank, please assign this to me and if possible add the label of `GSoC'21`. Thanks 😄

[2021-07-13 05:12] #1690 closed

[2021-07-13 05:13] #1815 closed

[2021-07-13 05:14] #1654 closed

[2021-07-13 05:14] #1647 closed

[2021-07-13 05:14] #1614 closed

[2021-07-13 05:15] #1601 closed

[2021-07-13 05:15] #1596 closed

[2021-07-13 05:15] #1573 closed

[2021-07-13 05:15] #1562 closed

[2021-07-13 05:16] #1248 closed

[2021-07-13 05:17] #1259 closed

[2021-07-13 05:20] #1531 closed

[2021-07-13 05:20] #1534 closed

[2021-07-13 05:20] #1538 closed

[2021-07-13 05:20] #1537 closed

[2021-07-13 05:23] #1272 closed

[2021-07-14 00:44] danishjamal104 opened #1817 "[sdk-client] update dependency and implement auth using SDK"
**Summary:**
This issue focuses on adding the latest release of [mifos-android-sdk-arch](https://jitpack.io/#openMF/mifos-android-sdk-arch/1.0.0-alpha) library. And make use of it for authenticating user.

[2021-07-14 00:44] danishjamal104 commented on #1817
I am working on it, @iamsh4shank please assign this to me.

[2021-07-14 05:13] mukundpradhan-inndata opened #1819 "File google-services.json is missing"
**Summary:**

I am getting error for File google-services.json is missing, after downgrade the gradle version to 5.6.4;

**Steps to reproduce:**

1. Clone the repository.
1. Open the project in android studio
1. Getting error for build gradle so downgrade the gradle version to 5.6.4
1. Then Rebuild the project then getting **_File google-services.json is missing_**

**Expected behaviour:**

The ap

[2021-07-16 02:35] #1817 closed

[2021-07-17 15:01] #1568 closed

[2021-07-20 16:06] #1561 closed

[2021-07-27 06:31] #1653 closed

[2021-07-27 06:31] #1696 closed

[2021-07-27 06:31] #1740 closed

[2021-07-27 06:31] #1588 closed

[2021-07-27 06:31] #1590 closed

[2021-07-27 06:31] #1610 closed

[2021-07-27 06:31] #1682 closed

[2021-07-27 06:31] #1671 closed

[2021-07-28 07:52] iamsh4shank opened #1826 "Update Readme"
**Summary:**

Update the readme with the current changes.

Here we need to update the details such as -
* Features added in the application but not there in the `README.MD`
* More descriptive and helpful documentation

[2021-08-03 06:15] iamsh4shank opened #1830 "Add support to ktlint"
**Summary:**

As the project is also ported to Kotlin and the new code is written in Kotlin, so adding Ktlint would be good option.

[2021-08-16 13:13] DHIRAJJADAV opened #1833 "login issue, I have installed latest APK version for Mifos xDroid when i have enter user ID pass and hit on login i am not able to login, and also not showing any error massage screen shot attached for verification"
![Mifos Xdroid 2021-08-16 at 6 04 51 AM](https://user-images.githubusercontent.com/88222055/129569163-085506b6-311c-49e1-8ae4-bfabfc0bfa24.jpeg)
[**Summary:**](url)

Summarize your issue in one sentence (what goes wrong, what did you expect to happen)

**Steps to reproduce:**

How can we reproduce the issue?

**Expected behaviour:**

What did you expect the app to do?

**Observed behaviour:**

Wha

[2021-08-16 14:16] bharathcgowda commented on #1833
login issue is happening on the fineract 1.5 release version

[2021-08-16 14:27] DHIRAJJADAV commented on #1833
So what is the resolution for this

[2021-08-17 01:38] danishjamal104 commented on #1833
Hey @DHIRAJJADAV,
Can you confirm which version of fineract this ` https://52.220.107.255/fineract-provider/api/v1` is running?

[2021-08-17 01:44] danishjamal104 commented on #1833
You are trying to use the instance url of fineract `1.5.0`, but the app is based on older version.
In older version of api the username and password was send as a query parameter, but as of version `1.5.0` we need to send username and password field as a body parameter. Hence this is causing an error.
For fixing this issue try using the instance url which is running 1.0.x version of fineract api.

[2021-08-17 01:47] danishjamal104 commented on #1833
Also @DHIRAJJADAV , the username your using as shown in SS is wrong based on the instance url `https://52.220.107.255/fineract-provider/api/v1`. It should be `mifos` not `Mifos`.

[2021-08-17 01:53] danishjamal104 commented on #1833
for interacting with the `1.5.0` version of api use [`sdk-client branch`](https://github.com/openMF/android-client/tree/sdk-client) since it uses fineract-android-sdk which is based on fineract 1.5.0, just make sure that the api is not completely migrated so many feature won't work, but all the basic feature would definelty work.

[2021-08-17 08:35] bharathcgowda commented on #1833
thanks for all the information and the lead @danishjamal104  could you help us with the APK  of sdk-client branch?
We shall test it and share it with the users of the community- it would be easier for them to download and install.

[2021-08-19 09:23] theVernon124 opened #1834 "Clients list doesn't load more clients"
**Summary:**

Clients list doesn't load more clients even after scrolling to the very end of the list

**Steps to reproduce:**

1. Log in to app with total clients > 100 (or greater than the default limit used by `loadClients()`)
2. Go to the Clients screen
3. Scroll to the very bottom of the list

**Expected behaviour:**

Next page of clients will be loaded below

**Observed behaviour:**

Still t

[2021-08-20 08:43] iamsh4shank commented on #1833
@DHIRAJJADAV if you want to test the client app then you can try using the demo.mifos.io endpoint, but the above-mentioned endpoint won't work as @danishjamal104 and @bharathcgowda suggested it is in 1.5.0, the SDK is still in the development phase and it will be integrated soon to support 1.5.0.

[2021-08-25 05:04] renovate[bot] opened #1838 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.

## Repository problems

Renovate tried to run on this repository, but found these problems.

 - WARN: Package lookup failures

## Rate-Limited

These updates are currently rate-limited. Click on a checkbox below to force their creat

[2021-08-31 14:21] duttabhishek0 commented on #1838
Hey,
Can I work on this issue?

[2021-08-31 14:28] surajkamblesk commented on #1813
@francisguchie did you resolve the issue??
im still not able to figure it out

[2021-08-31 21:15] francisguchie commented on #1813
@surajkamblesk I did not figure it out
In fact i dropped this and moved to another challenge the mifos-mobile app which i managed to work with

[2021-08-31 21:20] surajkamblesk commented on #1813
Were you able to run the app locally??
Because without resolving this issue I'm not able to build the app.

[2021-08-31 21:24] surajkamblesk commented on #1813
Actually  'findbugs' plugin is deprecated and no more supported by gradle. Have to use 'spotbugs'

[2021-09-01 00:26] francisguchie commented on #1813
No not at all

[2021-09-01 00:27] francisguchie commented on #1813
Yes @surajkamblesk
And when I tried to use spotbugs i got more errors but as of now the whole code has been changed to kotlin so i think this is better now

[2021-09-01 00:55] danishjamal104 commented on #1813
@francisguchie and @surajkamblesk, take care that you don't update the Gradle plugin while setting up the project. On initial setup of project on android studio their is pop saying `Gradle plugin ready to be update` simply ignore that and use the older version in order the project to be build successfully and work as expected. Hope this helps

[2021-09-01 06:36] duttabhishek0 commented on #1830
Can I work on this?

[2021-09-01 11:32] danishjamal104 commented on #1830
Currently we are more focus on releasing newer version of the app, and lot of code conversion is left which may cause errors so currently we are moving ahead with the legacy check style and pmd rules. Better you work on some issues that are related to the new release, Thanks :)

[2021-09-01 11:35] surajkamblesk commented on #1813
@danishjamal104  ok.  I understood where I went wrong. I actually updated the gradle to latest version when the pop up asked.
Thank you for clarifying.

[2021-09-01 13:19] duttabhishek0 commented on #1830
Sure I would love to. So one question, the issues which are related to the new release would be available here only, right?

[2021-09-01 13:54] francisguchie commented on #1813
@danishjamal104
Yes this helps a lot, one has to be very vigilant and yet this kind of information is not as documented as for fineract. we need to look into this. I wish you comments could be part of the readme

[2021-09-01 14:15] surajkamblesk commented on #1813
@francisguchie exactly

[2021-09-02 06:17] iamsh4shank commented on #1830
@duttabhishek0 yes they are available here, meanwhile, you can also build the project and test the app if there are some bugs or issues.

[2021-09-12 17:19] luckyman20 commented on #1826
@iamsh4shank Please elaborate on your issue. As of now, I am closing this. I would be happy to re-open this if you comment on this issue.

[2021-09-12 17:28] #1768 closed

[2021-09-12 17:30] luckyman20 commented on #835
Fixed in PR #836

[2021-09-12 17:30] #835 closed

[2021-09-12 19:29] iamsh4shank commented on #1826
Hey, @luckyman20 we are planning for the Android client release, so updating the Readme with all current changes would help the new contributors.

[2021-09-13 04:03] luckyman20 commented on #1826
@iamsh4shank would you like to take this issue?

[2021-09-13 20:26] iamsh4shank commented on #1826
yes @luckyman20

[2021-09-13 20:26] iamsh4shank commented on #1826
I am reopening the issues :)

[2021-09-15 05:41] danishjamal104 opened #1854 "Convert data managers source code language to Kotlin"
**Summary:**

This issue focuses on converting the DataManager classes to Kotlin. Since their is ongoing migration of APIs to SDK, it would be easier to convert the language to Kotlin too.
Their will be multiple PRs referring this issue.

[2021-11-15 12:52] danishjamal104 commented on #1838
We are focusing more on releasing version 1.1, so you can focus on fixing other related issues. Since updating dependency will introduce some major bugs in application. Thanks

[2021-11-15 12:53] danishjamal104 commented on #1834
@theVernon124  Are you sure about this error, since it worked fine in my device.

[2021-11-15 18:02] duttabhishek0 commented on #1838
Cool. Any issues for me, on which I can work?

[2021-12-02 05:46] ashwinkey04 opened #1861 "Multiple empty extension functions declared and used, needs to be replaced."
**Summary:**

Multiple empty extension functions are used for overcoming lint errors, which are potential sources of crashes. Some of them are linked here: [[1]](https://github.com/openMF/android-client/blob/438f48a50ada5ef27a7f329a74b4d92ef3ebbc48/mifosng-android/src/main/java/com/mifos/mifosxdroid/online/clientcharge/ClientChargeFragment.kt#L250) [[2]](https://github.com/openMF/android-client/bl

[2021-12-09 13:52] Ashwin-George commented on #1806
i would like to start working on the issue
i have knowledge of android development
would that be enough??

[2022-01-18 11:23] avinash14022002 commented on #1861
hello,
wanted to contribute to this issue..!!
can you clarify more on the issue since I am beginner in contribution.

[2022-02-02 18:59] Grandolf49 opened #1862 "Upgrade project gradle version and dependency bumps"
## Summary

The project uses Gradle version `3.3.2` which is quite old. Moreover, there are several external libraries that are required to be upgraded. In this process, it is necessary that the app remains stable and none of the existing functionality is breaking.

## Action Item

Upgrade all the dependencies and Gradle to use their respective latest versions

[2022-02-02 19:03] Grandolf49 opened #1863 "Kotlin conversion"
## Summary

Migrating the codebase to use Kotlin was started earlier. However, the conversion is only 30% completed. Remaining 70% of the Java files need to be converted to Kotlin

## Action Item

Convert all the files to Kotlin while making sure the app is stable

[2022-03-03 13:01] avinash14022002 commented on #1863
Hi @Grandolf49 ,
Wanted to work on the issue can we create a detail checkbox listing for the task?

[2022-03-13 06:42] Anshul-9923 commented on #1779
@Abhinavtdk Can you please assign me this issue? I would like to work on this issue.

[2022-03-13 06:43] Anshul-9923 commented on #1854
@danishjamal104 Can you please assign me this issue? I would like to work on this issue.

[2022-03-13 06:44] Anshul-9923 commented on #1862
@Grandolf49 Can you please assign me this issue? I would like to work on this issue.

[2022-03-13 09:42] danishjamal104 commented on #1854
@Grandolf49 or @iamsh4shank can you please assign this.

[2022-03-18 04:34] Grandolf49 opened #1864 "Build fails due to a dependency on bintray"
# Summary

As of May 1st, 2021, Bintray is no longer in service. Refer [this](https://jfrog.com/blog/into-the-sunset-bintray-jcenter-gocenter-and-chartcenter/) article. Since one of the libraries in the project depend on Bintray (refer [this](https://github.com/openMF/android-client/blob/15616d3dd507b17050e9c933303c104cd4d9ddc2/mifosng-android/build.gradle#L31)) the build is throwing the following

[2022-03-19 09:43] #1237 closed

[2022-03-22 06:01] avinash14022002 opened #1865 "activity_login .xml showing error while launching application"
**Summary:**
Runtime error while launching application in activity_login.xml

**Steps to reproduce:**
[How can we reproduce the issue?](https://github.com/xamarin/AndroidX/issues/207)

**Expected behaviour:**
The application should be build successfully.

**Observed behaviour:**

What did you see instead?  Describe your issue in detail here.
The application is not getting build and throwing the er

[2022-04-04 11:39] avinash14022002 opened #1867 "Warnings on xml files for row regex and utils xml"
**Summary:**
Warnings on xmls files for row regex and utils xml

**Steps to reproduce:**
By adding respective tags assignments

**Observed behaviour:**
Removed warnings from XMLs

[2022-04-04 12:22] avinash14022002 opened #1869 "Warnings on xmls files for item regex"
**Summary:**
Warnings on xmls files for item regex

**Steps to reproduce:**
By adding respective tags assignments

**Observed behaviour:**
Removed warnings from XMLs

[2022-04-04 13:06] avinash14022002 opened #1871 "Warnings on xmls files for fragment regex"
**Summary:**
Warnings on xmls files for fragment regex

**Steps to reproduce:**
By adding respective tags assignments

**Observed behaviour:**
Removed warnings from XMLs

[2022-04-04 18:03] avinash14022002 opened #1873 "Warnings on xmls files for activity regex and dialog"
**Summary:**
Warnings on xmls files for activity regex and dialog

**Steps to reproduce:**
By adding respective tags assignments

**Observed behaviour:**
Removed warnings from XMLs

[2022-04-16 20:58] UnleashedMors commented on #1865
I have got the same error, i am using material 3 with material 1.5.0 and Theme.Material3.DayNight.NoActionBar. On my emulator the app works fine but on my pixel6p it will crash immidately on launch.

[2022-04-17 05:45] avinash14022002 commented on #1865
Hi @UnleashedMors,
You may reflect same [changes ](https://github.com/openMF/android-client/pull/1866/commits/2123ae127e70bfd0bc81b347fd8734a03a3d9ccd) on your local codebase and test it once.

[2022-05-09 20:03] UnleashedMors commented on #1865
You mean I should undo all changes up to the status where it was still working?

[2022-05-09 20:04] UnleashedMors commented on #1865
You mean I should undo all changes up to the status where it was still working?

[2022-05-11 19:17] UnleashedMors commented on #1865
Now it works.
I remade my styles.xml so all themes inherite from

`
    <style name="BaseTheme" parent="Theme.Material3.Light.NoActionBar">`

and i controlled every view to use only material 3 styles and wont use any view with material 2 and now i am able to install without any crash.

` <com.google.android.material.textfield.TextInputLayout
                android:id="@+id/menu_input_layout"

[2022-06-18 11:53] tapaswenipathak opened #1875 "[mifosx wiki][usablility+design docs] Update Product Roadmap"
1. Should this be in the README.md of this repo be deleted?
2. Either move this[^1] information to internal docs of `android-client` or to the website or update it or rename or recategorie?

<img width="735" alt="Screenshot 2022-06-18 at 5 16 29 PM" src="https://user-images.githubusercontent.com/4143778/174436051-7181568a-6350-4006-ad95-33488516a9fd.png">
<img width="818" alt="Screenshot 2022-06-1

[2022-06-18 12:07] tapaswenipathak opened #1876 "[android-client][ github wiki] Standardize Documentation"
- [ ] Use GitHub wiki for internal to org/project documentation and move everything else to:
      1. end-user documentation
      2. developers documentation
- [ ] Do not redirect to dead mifos wiki, apache wiki, or archived repository wiki.
      1. Link to existing documentation entry points
      2. delete dups
      3. add to end-user or developer documentation.

<img width="1532" alt="Screen

[2022-06-18 12:15] tapaswenipathak opened #1877 "[docs.mifos.org] Create/Update empty pages"
Add/create/update information on **empty** docs.mifos.org pages:

- [ ] https://docs.mifos.org/general-contributing-guidelines/contribution-guidelines-for-an-android-project
       **Outline**: https://paper.dropbox.com/doc/Outline-Contribution-Guidelines-Android-Project--BlQXMiKlL1toy20xnFYPmQk8AQ-2U7I0Zr3mDM6fVNOCQCN1
- [ ] https://docs.mifos.org/getting-started/getting-started-with-git-github

[2022-07-08 10:21] avinash14022002 opened #1878 "Build fails due to a dependency on DBFlow"
**Summary:**
Since one of the libraries in the project build is throwing the following error

**Steps to reproduce:**
Open the project in the latest version of Android Studio and build the application.
How can we reproduce the issue?

**Expected behaviour:**
After cloning, the app should build successfully without any issues

**Screenshots:**

![image](https://user-images.githubusercontent.com/664

[2022-07-14 10:36] qe360-vrucenzon commented on #1878
Was able to fix it by looking up DBFlow in Jitpack: https://jitpack.io/#agrosner/DBFlow/3.1.1 (seems the maintainer changed?)

Update `build.gradle` (DBFlow dependencies) with:

`implementation 'com.github.agrosner.DBFlow:dbflow:3.1.1'`
`kapt "com.github.agrosner.DBFlow:dbflow-processor:3.1.1"`

Commented out all other Raizlabs dependencies and build succeeded.

[2022-07-20 14:42] #1864 closed

[2022-07-25 18:14] josephgodwinkimani commented on #1833
demo.mifos.io endpoint doesn't work using `mifos` : `password`. I had to test the master branch and kotlin-conversion branch

[2022-07-30 18:13] josephgodwinkimani opened #1880 "Trying to login with demo user doesnt work"
**Summary:**

Trying to login with demo user doesnt work:

[![screenshot-github-com-2022-07-30-21-08-59.png](https://i.postimg.cc/TYRMngBc/screenshot-github-com-2022-07-30-21-08-59.png)](https://postimg.cc/XXDzbGjZ)

**Steps to reproduce:**

In app set instance URL: `demo.mifos.io`
Port: keep this empty
Tenant Identifier: keep this empty

**Expected behaviour:**

Successful Login or a toast messag

[2022-08-01 10:42] #1867 closed

[2022-08-01 10:48] #1878 closed

[2022-08-05 14:37] avinash14022002 commented on #1865
PR merged #1866

[2022-08-05 14:37] #1865 closed

[2022-08-06 09:51] #1862 closed

[2022-08-09 15:57] #1873 closed

[2022-08-09 15:57] #1871 closed

[2022-08-09 15:57] #1869 closed

[2022-08-10 13:47] avinash14022002 opened #1883 "PMD fails when `./gradlew pmd` and `./gradlew build` is executed."
**Summary:**
PMD fails when `./gradlew pmd` and `./gradlew build` is executed.

**Expected behaviour:**
PMD passes when `./gradlew pmd` and `./gradlew build` is executed.

**Observed behaviour:**
19 PMD rule violations were found which include
1. ClassNamingConventions
2. UnnecessaryFullyQualifiedName

**Screenshots:**
![image](https://user-images.githubusercontent.com/66490629/183917376-0bcfc3cd-

[2022-08-10 17:25] #1883 closed

[2022-08-10 17:33] avinash14022002 opened #1885 "Checkstyle fails when `./gradlew checkstyle` and `./gradlew build` is executed."
**Summary:**
Checkstyle fails when `./gradlew checkstyle` and `./gradlew build` is executed.

**Expected behaviour:**
Checkstyle passes when `./gradlew checkstyle` and `./gradlew build` is executed.

**Observed behaviour:**
1. Checkstyle files with violations: 4
2. Checkstyle violations by severity: [error:56]

**Screenshots:**
![image](https://user-images.githubusercontent.com/66490629/183978643-

[2022-08-10 18:52] #1885 closed

[2022-08-14 06:12] avinash14022002 opened #1889 "Remove Findbugs from GitHub Actions"
**Summary:**
Remove FindBugs from GitHub Actions since migrated to SpotBugs.

**Expected behaviour:**
Passing of GitHub Actions workflow.

**Observed behaviour:**
Failing of GitHub Actions while GH Actions are triggered.

[2022-08-14 06:24] #1889 closed

[2022-10-04 20:12] AyushUnleashed commented on #1796
So When the user is scrolling the FAB should not be visible.
But when the user is not scrolling should FAB be visible?

Did I interpret it correctly?

[2022-11-15 09:04] Smarshal21 commented on #1805
@Nayan @siebrand @vinayak0505 @sreyans01 can i work on this issues please?

[2022-11-23 07:12] houdesampath commented on #1803
Can I work on this issue?

[2022-11-23 13:31] danishjamal104 commented on #1803
There are other priority issue you can explore that first.

[2022-11-24 08:18] houdesampath commented on #1863
Can I work on this, if this is not assigned to anyone