[2014-06-29 06:16] droidchef opened #10 "ClientDetailsFragment.java line 261"
#### in com.mifos.mifosxdroid.online.ClientDetailsFragment.onPrepareOptionsMenu
- Number of crashes: 1
- Impacted devices: 1

There's a lot more information about this crash on crashlytics.com:
[https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/53afaf50e3de5099ba6a8804](https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/53afaf50e3de5099ba6a8804)

[2014-06-29 06:20] droidchef opened #11 "ClientDetailsFragment.java line 262"
#### in com.mifos.mifosxdroid.online.ClientDetailsFragment.onPrepareOptionsMenu
- Number of crashes: 1
- Impacted devices: 1

There's a lot more information about this crash on crashlytics.com:
[https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/53afb03ce3de5099ba6a88af](https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/53afb03ce3de5099ba6a88af)

[2014-06-29 06:31] #11 closed, assigned to nobody

[2014-06-29 06:31] #10 closed, assigned to nobody

[2014-06-30 07:42] droidchef opened #12 "MFDatePicker.java line 55"
#### in com.mifos.mifosxdroid.uihelpers.MFDatePicker.onAttach
- Number of crashes: 1
- Impacted devices: 1

There's a lot more information about this crash on crashlytics.com:
[https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/53b114e0e3de5099ba6baaf5](https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/53b114e0e3de5099ba6baaf5)

[2014-06-30 07:48] droidchef opened #13 "MFDatePicker.java line 41"
#### in com.mifos.mifosxdroid.uihelpers.MFDatePicker.onDateSet
- Number of crashes: 1
- Impacted devices: 1

There's a lot more information about this crash on crashlytics.com:
[https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/53b1164ae3de5099ba6bac13](https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/53b1164ae3de5099ba6bac13)

[2014-06-30 08:09] #12 closed, assigned to nobody

[2014-06-30 08:09] #13 closed, assigned to nobody

[2014-07-01 12:51] droidchef opened #14 "ClientListFragment.java line 137"
#### in com.mifos.mifosxdroid.online.ClientListFragment$2.failure
- Number of crashes: 1
- Impacted devices: 1

There's a lot more information about this crash on crashlytics.com:
[https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/53b2aeb4e3de5099ba6d495c](https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/53b2aeb4e3de5099ba6d495c)

[2014-07-02 11:41] droidchef opened #15 "LoginActivity.java line 217"
#### in com.mifos.mifosxdroid.LoginActivity.validateInstanceUrl
- Number of crashes: 1
- Impacted devices: 1

There's a lot more information about this crash on crashlytics.com:
[https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/53b3efd6e3de5099ba6e9b07](https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/53b3efd6e3de5099ba6e9b07)

[2014-07-02 20:33] #14 closed, assigned to nobody

[2014-07-02 20:34] #15 closed, assigned to nobody

[2014-07-03 03:37] droidchef opened #16 "CentersActivity.java line 71"
#### in com.mifos.mifosxdroid.online.CentersActivity.loadClientsOfGroup
- Number of crashes: 1
- Impacted devices: 1

There's a lot more information about this crash on crashlytics.com:
[https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/53b4cfe2e3de5099ba6f9549](https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/53b4cfe2e3de5099ba6f9549)

[2014-07-04 05:35] #16 closed, assigned to nobody

[2014-07-04 08:50] droidchef opened #17 "DocumentDialogFragment.java line 152"
#### in com.mifos.mifosxdroid.dialogfragments.DocumentDialogFragment.onActivityResult
- Number of crashes: 1
- Impacted devices: 1

There's a lot more information about this crash on crashlytics.com:
[https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/53b66ad3e3de5099ba71496c](https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/53b66ad3e3de5099ba71496c)

[2014-07-04 09:48] #17 closed, assigned to nobody

[2014-07-04 12:19] droidchef opened #18 "DataTableDataFragment.java line 80"
#### in com.mifos.mifosxdroid.online.DataTableDataFragment$1.success
- Number of crashes: 1
- Impacted devices: 1

There's a lot more information about this crash on crashlytics.com:
[https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/53b69bdee3de5099ba717e7f](https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/53b69bdee3de5099ba717e7f)

[2014-07-04 12:27] droidchef opened #19 "DataTableUIBuilder.java line 79"
#### in com.mifos.utils.DataTableUIBuilder.getDataTableLayout
- Number of crashes: 1
- Impacted devices: 1

There's a lot more information about this crash on crashlytics.com:
[https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/53b69d99e3de5099ba71807a](https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/53b69d99e3de5099ba71807a)

[2014-07-04 13:40] #18 closed, assigned to nobody

[2014-07-04 13:40] #19 closed, assigned to nobody

[2014-07-07 10:07] droidchef opened #20 "ClientDetailsFragment.java line 710"
#### in com.mifos.mifosxdroid.online.ClientDetailsFragment.onConnected
- Number of crashes: 1
- Impacted devices: 1

There's a lot more information about this crash on crashlytics.com:
[https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/53ba7155e3de5099ba74f0d1](https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/53ba7155e3de5099ba74f0d1)

[2014-07-07 20:00] droidchef opened #21 "LoginActivity.java line 169"
#### in com.mifos.mifosxdroid.LoginActivity.failure
- Number of crashes: 1
- Impacted devices: 1

There's a lot more information about this crash on crashlytics.com:
[https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/53bafc5be3de5099ba758cfe](https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/53bafc5be3de5099ba758cfe)

[2014-07-08 04:18] droidchef opened #22 "LoginActivity.java line 143"
#### in com.mifos.mifosxdroid.LoginActivity.failure
- Number of crashes: 1
- Impacted devices: 1

There's a lot more information about this crash on crashlytics.com:
[https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/53bb7125e3de5099ba75f8af](https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/53bb7125e3de5099ba75f8af)

[2014-07-08 06:55] droidchef opened #23 "ClientDetailsFragment.java line 871"
#### in com.mifos.mifosxdroid.online.ClientDetailsFragment$ImageLoadingAsyncTask.doInBackground
- Number of crashes: 1
- Impacted devices: 1

There's a lot more information about this crash on crashlytics.com:
[https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/53bb95c6e3de5099ba7619fd](https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/53bb95c6e3de5099b

[2014-07-08 07:18] droidchef opened #24 "LoginActivity.java line 191"
#### in com.mifos.mifosxdroid.LoginActivity.failure
- Number of crashes: 1
- Impacted devices: 1

There's a lot more information about this crash on crashlytics.com:
[https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/53bb9b27e3de5099ba761ebb](https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/53bb9b27e3de5099ba761ebb)

[2014-07-08 07:28] #22 closed, assigned to nobody

[2014-07-08 07:28] #24 closed, assigned to nobody

[2014-07-08 07:28] #21 closed, assigned to nobody

[2014-07-08 08:57] droidchef opened #25 "LoanAccountSummaryFragment.java line 197"
#### in com.mifos.mifosxdroid.online.LoanAccountSummaryFragment$1.success
- Number of crashes: 1
- Impacted devices: 1

There's a lot more information about this crash on crashlytics.com:
[https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/53bbb27fe3de5099ba7634bf](https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/53bbb27fe3de5099ba7634bf)

[2014-07-08 09:16] #25 closed, assigned to nobody

[2014-07-08 09:21] #20 closed, assigned to nobody

[2014-07-08 10:02] droidchef opened #26 "ClientDetailsFragment.java line 796"
#### in com.mifos.mifosxdroid.online.ClientDetailsFragment.saveLocation
- Number of crashes: 1
- Impacted devices: 1

There's a lot more information about this crash on crashlytics.com:
[https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/53bbc1c7e3de5099ba7644ea](https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/53bbc1c7e3de5099ba7644ea)

[2014-07-08 10:09] #26 closed, assigned to nobody

[2014-07-08 10:36] #23 closed, assigned to nobody

[2014-07-08 10:41] droidchef opened #27 "ClientListFragment.java line 129"
#### in com.mifos.mifosxdroid.online.ClientListFragment$2.failure
- Number of crashes: 1
- Impacted devices: 1

There's a lot more information about this crash on crashlytics.com:
[https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/53bbcad2e3de5099ba764e94](https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/53bbcad2e3de5099ba764e94)

[2014-07-08 10:43] #27 closed, assigned to nobody

[2014-07-08 10:55] droidchef opened #28 "SavingsAccountTransactionFragment.java line 225"
#### in com.mifos.mifosxdroid.online.SavingsAccountTransactionFragment.onReviewTransactionButtonClicked
- Number of crashes: 1
- Impacted devices: 1

There's a lot more information about this crash on crashlytics.com:
[https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/53bbce11e3de5099ba765227](https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/53bbce11e

[2014-07-09 03:25] droidchef opened #29 "ClientListAdapter.java line 106"
#### in com.mifos.mifosxdroid.adapters.ClientListAdapter$EditFocusChangeListener.onFocusChange
- Number of crashes: 1
- Impacted devices: 1

There's a lot more information about this crash on crashlytics.com:
[https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/53bcb62be3de5099ba774fa4](https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/53bcb62be3de5099ba

[2014-07-09 14:13] droidchef opened #30 "ClientDetailsFragment.java line 226"
#### in com.mifos.mifosxdroid.online.ClientDetailsFragment.onDetach
- Number of crashes: 1
- Impacted devices: 1

There's a lot more information about this crash on crashlytics.com:
[https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/53bd4e26e3de5099ba77ed30](https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/53bd4e26e3de5099ba77ed30)

[2014-07-09 18:04] droidchef opened #31 "ClientListFragment.java line 72"
#### in com.mifos.mifosxdroid.online.ClientListFragment.onCreateView
- Number of crashes: 1
- Impacted devices: 1

There's a lot more information about this crash on crashlytics.com:
[https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/53bd8430e3de5099ba782f94](https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/53bd8430e3de5099ba782f94)

[2014-07-09 18:07] droidchef opened #32 "ClientListFragment.java line 71"
#### in com.mifos.mifosxdroid.online.ClientListFragment.onCreateView
- Number of crashes: 1
- Impacted devices: 1

There's a lot more information about this crash on crashlytics.com:
[https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/53bd84cae3de5099ba78302b](https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/53bd84cae3de5099ba78302b)

[2014-07-09 19:31] #31 closed, assigned to nobody

[2014-07-09 19:31] #32 closed, assigned to nobody

[2014-07-09 19:31] #30 closed, assigned to nobody

[2014-07-09 19:37] #29 closed, assigned to nobody

[2014-07-10 05:08] droidchef opened #33 "SwipeRefreshLayout.java line 441"
#### in android.support.v4.widget.SwipeRefreshLayout.startRefresh
- Number of crashes: 1
- Impacted devices: 1

There's a lot more information about this crash on crashlytics.com:
[https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/53be1fe0e3de5099ba78c879](https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/53be1fe0e3de5099ba78c879)

[2014-07-10 05:24] #33 closed, assigned to nobody

[2014-07-10 11:19] ishan1604 opened #34 "IdentifierListAdapter.java line 94"
#### in com.mifos.mifosxdroid.adapters.IdentifierListAdapter$1$1.failure

* Number of crashes: 1
* Impacted devices: 1

There's a lot more information about this crash on crashlytics.com:
[https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/53be76b2e3de5099ba79235a](https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/53be76b2e3de5099ba79235a)

[2014-07-14 19:15] droidchef opened #35 "GenerateCollectionSheetFragment.java line 263"
#### in com.mifos.mifosxdroid.online.GenerateCollectionSheetFragment$3$1.onItemSelected
- Number of crashes: 1
- Impacted devices: 1

There's a lot more information about this crash on crashlytics.com:
[https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/53c42c60e3de5099ba7e9c9e](https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/53c42c60e3de5099ba7e9c9e)

[2014-07-15 03:31] ishan1604 opened #36 "DateHelper.java line 57"
#### in com.mifos.utils.DateHelper.getDateAsString

* Number of crashes: 1
* Impacted devices: 1

There's a lot more information about this crash on crashlytics.com:
[https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/53c4a09fe3de5099ba7f0b7f](https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/53c4a09fe3de5099ba7f0b7f)

[2014-07-15 07:05] ishan1604 opened #37 "AsyncFileDownloader.java line 175"
#### in com.mifos.utils.AsyncFileDownloader.onPostExecute

* Number of crashes: 1
* Impacted devices: 1

There's a lot more information about this crash on crashlytics.com:
[https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/53c4d2a5e3de5099ba7f3c43](https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/53c4d2a5e3de5099ba7f3c43)

[2014-07-15 17:32] #35 closed, assigned to nobody

[2014-07-16 11:18] ishan1604 opened #38 "ClientDetailsFragment.java line 925"
#### in com.mifos.mifosxdroid.online.ClientDetailsFragment$ImageLoadingAsyncTask.doInBackground

* Number of crashes: 1
* Impacted devices: 1

There's a lot more information about this crash on crashlytics.com:
[https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/53c65f7ee3de5099ba80e70d](https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/53c65f7ee3de5099

[2014-07-17 12:30] droidchef opened #39 "AbsListView.java line 2277"
#### in android.widget.AbsListView.obtainView
- Number of crashes: 1
- Impacted devices: 1

There's a lot more information about this crash on crashlytics.com:
[https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/53c7c1e5e3de5099ba82815f](https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/53c7c1e5e3de5099ba82815f)

[2014-07-17 12:56] droidchef opened #40 "CollectionListAdapter.java line 116"
#### in com.mifos.mifosxdroid.adapters.CollectionListAdapter.getChildView
- Number of crashes: 1
- Impacted devices: 1

There's a lot more information about this crash on crashlytics.com:
[https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/53c7c816e3de5099ba8289bf](https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/53c7c816e3de5099ba8289bf)

[2014-07-17 17:31] #40 closed, assigned to nobody

[2014-07-18 12:36] droidchef opened #41 "CollectionListAdapter.java line 120"
#### in com.mifos.mifosxdroid.adapters.CollectionListAdapter.getChildView
- Number of crashes: 1
- Impacted devices: 1

There's a lot more information about this crash on crashlytics.com:
[https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/53c914dde3de5099ba83fe2c](https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/53c914dde3de5099ba83fe2c)

[2014-07-18 21:40] droidchef opened #42 "SafeUIBlockingUtility.java line 40"
#### in com.mifos.utils.SafeUIBlockingUtility.safelyUnBlockUI
- Number of crashes: 1
- Impacted devices: 1

There's a lot more information about this crash on crashlytics.com:
[https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/53c99308e3de5099ba849063](https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/53c99308e3de5099ba849063)

[2014-07-19 08:44] droidchef opened #43 "LoanTransactionAdapter.java line 41"
#### in com.mifos.mifosxdroid.adapters.LoanTransactionAdapter.<init>
- Number of crashes: 1
- Impacted devices: 1

There's a lot more information about this crash on crashlytics.com:
[https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/53ca3007e3de5099ba851fb7](https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/53ca3007e3de5099ba851fb7)

[2014-07-22 11:16] droidchef opened #44 "MFDatePicker.java line 49"
#### in com.mifos.mifosxdroid.uihelpers.MFDatePicker.newInsance
- Number of crashes: 1
- Impacted devices: 1

There's a lot more information about this crash on crashlytics.com:
[https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/53ce47ffe3de5099ba88e9e0](https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/53ce47ffe3de5099ba88e9e0)

[2014-07-22 11:32] droidchef opened #45 "CollectionSheetFragment.java line 180"
#### in com.mifos.mifosxdroid.online.CollectionSheetFragment$1.failure
- Number of crashes: 1
- Impacted devices: 1

There's a lot more information about this crash on crashlytics.com:
[https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/53ce4bcee3de5099ba88efd8](https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/53ce4bcee3de5099ba88efd8)

[2014-07-22 11:41] droidchef opened #46 "CollectionListAdapter.java line 115"
#### in com.mifos.mifosxdroid.adapters.CollectionListAdapter.getGroupView
- Number of crashes: 1
- Impacted devices: 1

There's a lot more information about this crash on crashlytics.com:
[https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/53ce4de9e3de5099ba88f312](https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/53ce4de9e3de5099ba88f312)

[2014-07-22 20:36] #39 closed, assigned to nobody

[2014-07-22 20:36] #41 closed, assigned to nobody

[2014-07-22 20:36] #42 closed, assigned to nobody

[2014-07-22 20:36] #43 closed, assigned to nobody

[2014-07-22 20:36] #44 closed, assigned to nobody

[2014-07-22 20:36] #45 closed, assigned to nobody

[2014-07-22 20:36] #46 closed, assigned to nobody

[2014-07-24 06:25] ishan1604 opened #47 "ClientFragment.java line 133"
#### in com.mifos.mifosxdroid.fragments.ClientFragment.calculateTotalDueAmount

* Number of crashes: 1
* Impacted devices: 1

There's a lot more information about this crash on crashlytics.com:
[https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/53d0a6ece3de5099ba8b9f7d](https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/53d0a6ece3de5099ba8b9f7d)

[2014-07-24 06:44] ishan1604 opened #48 "SaveOfflineDataHelper.java line 133"
#### in com.mifos.utils.SaveOfflineDataHelper.saveOfflineCenterData

* Number of crashes: 1
* Impacted devices: 1

There's a lot more information about this crash on crashlytics.com:
[https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/53d0ab64e3de5099ba8ba40a](https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/53d0ab64e3de5099ba8ba40a)

[2014-07-24 06:52] ishan1604 opened #49 "SugarDb.java line 76"
#### in com.orm.SugarDb.getDomainClass

* Number of crashes: 1
* Impacted devices: 1

There's a lot more information about this crash on crashlytics.com:
[https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/53d0ad48e3de5099ba8ba5ea](https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/53d0ad48e3de5099ba8ba5ea)

[2014-07-27 17:44] droidchef opened #50 "CollectionSheetLoanAccountListAdapter.java line 99"
#### in com.mifos.mifosxdroid.adapters.CollectionSheetLoanAccountListAdapter$1.afterTextChanged
- Number of crashes: 1
- Impacted devices: 1

There's a lot more information about this crash on crashlytics.com:
[https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/53d53a92e3de5099ba90410a](https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/53d53a92e3de5099b

[2014-07-27 18:30] droidchef opened #51 "CollectionSheetFragment.java line 243"
#### in com.mifos.mifosxdroid.online.CollectionSheetFragment$2.failure
- Number of crashes: 1
- Impacted devices: 1

There's a lot more information about this crash on crashlytics.com:
[https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/53d54545e3de5099ba904a40](https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/53d54545e3de5099ba904a40)

[2014-07-27 20:19] droidchef opened #52 "MFErrorParser.java line 36"
#### in com.mifos.utils.MFErrorParser.ParseError
- Number of crashes: 1
- Impacted devices: 1

There's a lot more information about this crash on crashlytics.com:
[https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/53d55ec0e3de5099ba905ed8](https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/53d55ec0e3de5099ba905ed8)

[2014-07-27 20:30] droidchef opened #53 "MFErrorParser.java line 37"
#### in com.mifos.utils.MFErrorParser.ParseError
- Number of crashes: 1
- Impacted devices: 1

There's a lot more information about this crash on crashlytics.com:
[https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/53d5614ee3de5099ba9060f2](https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/53d5614ee3de5099ba9060f2)

[2014-07-27 20:39] #51 closed, assigned to nobody

[2014-07-27 20:39] #52 closed, assigned to nobody

[2014-07-27 20:39] #53 closed, assigned to nobody

[2014-07-27 20:51] #50 closed, assigned to nobody

[2014-07-28 07:10] droidchef opened #54 "ClientDetailsFragment.java line 289"
#### in com.mifos.mifosxdroid.online.ClientDetailsFragment.onPrepareOptionsMenu
- Number of crashes: 1
- Impacted devices: 1

There's a lot more information about this crash on crashlytics.com:
[https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/53d5f778e3de5099ba90d9d1](https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/53d5f778e3de5099ba90d9d1)

[2014-07-29 19:00] ishan1604 opened #55 "HardwareRenderer.java line 1173"
#### in android.view.HardwareRenderer$GlRenderer.chooseEglConfig

* Number of crashes: 1
* Impacted devices: 1

There's a lot more information about this crash on crashlytics.com:
[https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/53d7ef68e3de5099ba92f891](https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/53d7ef68e3de5099ba92f891)

[2014-07-31 06:10] droidchef opened #56 "ClientDetailsFragment.java line 294"
#### in com.mifos.mifosxdroid.online.ClientDetailsFragment.onPrepareOptionsMenu
- Number of crashes: 1
- Impacted devices: 1

There's a lot more information about this crash on crashlytics.com:
[https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/53d9ddc3e3de5099ba950c37](https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/53d9ddc3e3de5099ba950c37)

[2014-08-01 13:38] droidchef opened #57 "DataTableDataRowFragment.java line 68"
#### in com.mifos.mifosxdroid.dialogfragments.DataTableDataRowFragment.onCreate
- Number of crashes: 1
- Impacted devices: 1

There's a lot more information about this crash on crashlytics.com:
[https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/53db9867e3de5099ba96fcb1](https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/53db9867e3de5099ba96fcb1)

[2014-08-01 13:40] droidchef opened #58 "DataTableDataRowFragment.java line 73"
#### in com.mifos.mifosxdroid.dialogfragments.DataTableDataRowFragment.onCreateDialog
- Number of crashes: 1
- Impacted devices: 1

There's a lot more information about this crash on crashlytics.com:
[https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/53db98c7e3de5099ba96fd2d](https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/53db98c7e3de5099ba96fd2d)

[2014-08-01 14:00] #57 closed, assigned to nobody

[2014-08-01 14:00] #58 closed, assigned to nobody

[2014-08-01 17:14] droidchef opened #59 "DataTableDataRowFragment.java line 151"
#### in com.mifos.mifosxdroid.dialogfragments.DataTableDataRowFragment.createForm
- Number of crashes: 1
- Impacted devices: 1

There's a lot more information about this crash on crashlytics.com:
[https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/53dbcb0fe3de5099ba973fe1](https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/53dbcb0fe3de5099ba973fe1)

[2014-08-01 17:17] droidchef opened #60 "FormSpinner.java line 39"
#### in com.mifos.mifosxdroid.formwidgets.FormSpinner.getValue
- Number of crashes: 1
- Impacted devices: 1

There's a lot more information about this crash on crashlytics.com:
[https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/53dbcb9ee3de5099ba9740b5](https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/53dbcb9ee3de5099ba9740b5)

[2014-08-01 17:23] droidchef opened #61 "DataTableDataRowFragment.java line 174"
#### in com.mifos.mifosxdroid.dialogfragments.DataTableDataRowFragment.onSaveActionRequested
- Number of crashes: 1
- Impacted devices: 1

There's a lot more information about this crash on crashlytics.com:
[https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/53dbcd10e3de5099ba974298](https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/53dbcd10e3de5099ba97

[2014-08-01 17:23] droidchef opened #62 "DataTableDataRowFragment.java line 177"
#### in com.mifos.mifosxdroid.dialogfragments.DataTableDataRowFragment.onSaveActionRequested
- Number of crashes: 1
- Impacted devices: 1

There's a lot more information about this crash on crashlytics.com:
[https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/53dbcd25e3de5099ba9742ad](https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/53dbcd25e3de5099ba97

[2014-08-01 17:46] droidchef opened #63 "DataTableDataRowFragment.java line 196"
#### in com.mifos.mifosxdroid.dialogfragments.DataTableDataRowFragment.onSaveActionRequested
- Number of crashes: 1
- Impacted devices: 1

There's a lot more information about this crash on crashlytics.com:
[https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/53dbd25ee3de5099ba9748b4](https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/53dbd25ee3de5099ba97

[2014-08-01 18:38] #59 closed, assigned to nobody

[2014-08-01 18:38] #60 closed, assigned to nobody

[2014-08-01 18:38] #61 closed, assigned to nobody

[2014-08-01 18:38] #62 closed, assigned to nobody

[2014-08-01 18:38] #63 closed, assigned to nobody

[2014-08-01 19:01] droidchef opened #64 "DataTableDataRowFragment.java line 260"
#### in com.mifos.mifosxdroid.dialogfragments.DataTableDataRowFragment$2.failure
- Number of crashes: 1
- Impacted devices: 1

There's a lot more information about this crash on crashlytics.com:
[https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/53dbe413e3de5099ba975c3b](https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/53dbe413e3de5099ba975c3b)

[2014-08-02 05:28] droidchef opened #65 "GroupFragment.java line 74"
#### in com.mifos.mifosxdroid.fragments.GroupFragment.onCreateOptionsMenu
- Number of crashes: 1
- Impacted devices: 1

There's a lot more information about this crash on crashlytics.com:
[https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/53dc76f5e3de5099ba97e7f4](https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/53dc76f5e3de5099ba97e7f4)

[2014-08-02 07:45] droidchef opened #66 "Android App not working on 2.3"
Reported by Subramanya.

[2014-08-03 16:33] #64 closed, assigned to nobody

[2014-08-04 09:32] ishan1604 opened #67 "ClientFragment.java line 156"
#### in com.mifos.mifosxdroid.fragments.ClientFragment.hideKeyboard

* Number of crashes: 1
* Impacted devices: 1

There's a lot more information about this crash on crashlytics.com:
[https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/53df5348e3de5099ba9a71ee](https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/53df5348e3de5099ba9a71ee)

[2014-08-04 10:31] #66 closed, assigned to nobody

[2014-08-06 04:45] ishan1604 opened #68 "MFErrorParser.java line 36"
#### in com.mifos.utils.MFErrorParser.parseError

* Number of crashes: 1
* Impacted devices: 1

There's a lot more information about this crash on crashlytics.com:
[https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/53e1b2f7e3de5099ba9d5f70](https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/53e1b2f7e3de5099ba9d5f70)

[2014-08-06 05:14] droidchef opened #69 "DataTableRowDialogFragment.java line 202"
#### in com.mifos.mifosxdroid.dialogfragments.DataTableRowDialogFragment.onSaveActionRequested
- Number of crashes: 1
- Impacted devices: 1

There's a lot more information about this crash on crashlytics.com:
[https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/53e1b99ce3de5099ba9d6625](https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/53e1b99ce3de5099ba

[2014-08-07 13:25] droidchef opened #70 "RestMethodInfo.java line 469"
#### in retrofit.RestMethodInfo.validatePathName
- Number of crashes: 1
- Impacted devices: 1

There's a lot more information about this crash on crashlytics.com:
[https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/53e37e43e3de5099ba9f5f1b](https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/53e37e43e3de5099ba9f5f1b)

[2014-08-07 13:56] ishan1604 opened #71 "DataTableUIBuilder.java line 131"
#### in com.mifos.utils.DataTableUIBuilder$2$1.success

* Number of crashes: 1
* Impacted devices: 1

There's a lot more information about this crash on crashlytics.com:
[https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/53e3858ce3de5099ba9f698b](https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/53e3858ce3de5099ba9f698b)

[2014-08-07 14:00] ishan1604 opened #72 "DataTableUIBuilder.java line 129"
#### in com.mifos.utils.DataTableUIBuilder$2$1.success

* Number of crashes: 1
* Impacted devices: 1

There's a lot more information about this crash on crashlytics.com:
[https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/53e38699e3de5099ba9f6afd](https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/53e38699e3de5099ba9f6afd)

[2014-08-07 14:20] #69 closed, assigned to nobody

[2014-08-07 14:20] #70 closed, assigned to nobody

[2014-08-11 07:20] droidchef opened #73 "ClientDetailsFragment.java line 965"
#### in com.mifos.mifosxdroid.online.ClientDetailsFragment$ImageLoadingAsyncTask.doInBackground
- Number of crashes: 1
- Impacted devices: 1

There's a lot more information about this crash on crashlytics.com:
[https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/53e86eb2e3de5099baa45224](https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/53e86eb2e3de5099b

[2014-08-22 11:22] droidchef opened #74 "CenterListFragment.java line 136"
#### in com.mifos.mifosxdroid.fragments.CenterListFragment$1.failure
- Number of crashes: 1
- Impacted devices: 1

There's a lot more information about this crash on crashlytics.com:
[https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/53f72808e3de5099bab46460](https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/53f72808e3de5099bab46460)

[2014-08-27 10:34] droidchef opened #75 "ClientSearchFragment.java line 185"
#### in com.mifos.mifosxdroid.online.ClientSearchFragment.onViewStateRestored
- Number of crashes: 1
- Impacted devices: 1

There's a lot more information about this crash on crashlytics.com:
[https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/53fdb43ae3de5099babb7c32](https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/53fdb43ae3de5099babb7c32)

[2014-08-27 10:48] #75 closed, assigned to nobody

[2014-08-27 11:08] #74 closed, assigned to nobody

[2014-08-27 11:14] #73 closed, assigned to nobody

[2014-08-30 09:41] ishan1604 opened #78 "GroupListFragment.java line 144"
#### in com.mifos.mifosxdroid.online.GroupListFragment$1$1$1.success

* Number of crashes: 1
* Impacted devices: 1

There's a lot more information about this crash on crashlytics.com:
[https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/54019c3fe3de5099bac00190](https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/54019c3fe3de5099bac00190)

[2014-09-26 14:39] ishan1604 opened #79 "CenterListFragment.java line 164"
#### in com.mifos.mifosxdroid.fragments.CenterListFragment$1.failure

* Number of crashes: 1
* Impacted devices: 1

There's a lot more information about this crash on crashlytics.com:
[https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/54257a97e3de5099baebe3d5](https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/54257a97e3de5099baebe3d5)

[2014-10-15 18:11] ishan1604 opened #80 "GroupListAdapter.java line 35"
#### in com.mifos.mifosxdroid.adapters.GroupListAdapter.<init>

* Number of crashes: 1
* Impacted devices: 1

There's a lot more information about this crash on crashlytics.com:
[https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/543eb8d3e3de5099ba0eb84b](https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/543eb8d3e3de5099ba0eb84b)

[2014-10-17 01:22] droidchef opened #81 "LoanRepaymentFragment.java line 293"
#### in com.mifos.mifosxdroid.online.LoanRepaymentFragment$4.success
- Number of crashes: 1
- Impacted devices: 1

There's a lot more information about this crash on crashlytics.com:
[https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/54406f51e3de5099ba114011](https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/54406f51e3de5099ba114011)

[2014-10-17 15:19] droidchef opened #82 "SavingsAccountTransactionFragment.java line 199"
#### in com.mifos.mifosxdroid.online.SavingsAccountTransactionFragment$1.success
- Number of crashes: 1
- Impacted devices: 1

There's a lot more information about this crash on crashlytics.com:
[https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/54413386e3de5099ba125bcf](https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/54413386e3de5099ba125bcf)

[2014-10-24 12:45] droidchef opened #83 "ClientSearchFragment.java line 167"
#### in com.mifos.mifosxdroid.online.ClientSearchFragment.onSaveInstanceState
- Number of crashes: 1
- Impacted devices: 1

There's a lot more information about this crash on crashlytics.com:
[https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/544a49cce3de5099ba1f5268](https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/544a49cce3de5099ba1f5268)

[2014-11-15 08:17] droidchef opened #84 "SavingsAccountTransactionFragment.java line 230"
#### in com.mifos.mifosxdroid.online.SavingsAccountTransactionFragment.onReviewTransactionButtonClicked
- Number of crashes: 1
- Impacted devices: 1

There's a lot more information about this crash on crashlytics.com:
[https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/54670c1765f8dfea1518be8f](https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/54670c176

[2014-11-19 21:24] #83 closed, assigned to nobody

[2014-11-19 23:36] droidchef opened #85 "API.java line 205"
#### in com.mifos.services.API.getInstanceUrl
- Number of crashes: 1
- Impacted devices: 1

There's a lot more information about this crash on crashlytics.com:
[https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/546d296a65f8dfea1521c290](https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/546d296a65f8dfea1521c290)

[2014-11-20 09:06] #82 closed, assigned to nobody

[2014-11-20 09:31] #65 closed, assigned to nobody

[2014-11-20 09:35] #81 closed, assigned to nobody

[2014-11-20 09:39] #56 closed, assigned to nobody

[2014-11-20 09:40] #85 closed, assigned to nobody

[2014-11-20 09:48] #54 closed, assigned to nobody

[2014-11-20 10:02] #28 closed, assigned to nobody

[2014-11-20 10:03] #84 closed, assigned to nobody

[2014-11-20 22:42] droidchef opened #87 "ActivityThread.java line 3658"
#### in android.app.ActivityThread.performDestroyActivity
- Number of crashes: 1
- Impacted devices: 1

There's a lot more information about this crash on crashlytics.com:
[https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/546e6e6b65f8dfea1523e6db](https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/546e6e6b65f8dfea1523e6db)

[2014-11-20 23:02] droidchef opened #88 "Utils.java line 108"
#### in retrofit.Utils.validateServiceClass
- Number of crashes: 1
- Impacted devices: 1

There's a lot more information about this crash on crashlytics.com:
[https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/546e72ea65f8dfea1523ee51](https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/546e72ea65f8dfea1523ee51)

[2014-11-20 23:17] droidchef opened #90 "SavingsAccountSummaryFragment.java line 240"
#### in com.mifos.mifosxdroid.online.SavingsAccountSummaryFragment$1.failure
- Number of crashes: 1
- Impacted devices: 1

There's a lot more information about this crash on crashlytics.com:
[https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/546e769265f8dfea1523f42e](https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/546e769265f8dfea1523f42e)

[2014-11-20 23:21] droidchef opened #91 "RestMethodInfo.java line 201"
#### in retrofit.RestMethodInfo.parsePath
- Number of crashes: 1
- Impacted devices: 1

There's a lot more information about this crash on crashlytics.com:
[https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/546e778165f8dfea1523f5cf](https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/546e778165f8dfea1523f5cf)

[2014-11-20 23:31] droidchef opened #92 "SavingsAccountTransactionFragment.java line 254"
#### in com.mifos.mifosxdroid.online.SavingsAccountTransactionFragment.onReviewTransactionButtonClicked
- Number of crashes: 1
- Impacted devices: 1

There's a lot more information about this crash on crashlytics.com:
[https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/546e79dd65f8dfea1523f9a9](https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/546e79dd6

[2014-11-21 06:45] droidchef opened #94 "SavingsAccountSummaryFragment.java line 248"
#### in com.mifos.mifosxdroid.online.SavingsAccountSummaryFragment$1.failure
- Number of crashes: 1
- Impacted devices: 1

There's a lot more information about this crash on crashlytics.com:
[https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/546edf7665f8dfea15248ece](https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/546edf7665f8dfea15248ece)

[2014-11-21 07:45] #94 closed, assigned to nobody

[2014-11-21 07:46] #87 closed, assigned to nobody

[2014-11-21 07:46] #88 closed, assigned to nobody

[2014-11-21 07:46] #90 closed, assigned to nobody

[2014-11-21 07:46] #91 closed, assigned to nobody

[2014-11-21 07:46] #92 closed, assigned to nobody

[2014-11-24 13:25] ishan1604 opened #95 "API.java line 136"
#### in com.mifos.services.API.createRestAdapter

* Number of crashes: 1
* Impacted devices: 1

There's a lot more information about this crash on crashlytics.com:
[https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/547331db65f8dfea152ae014](https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/547331db65f8dfea152ae014)

[2014-11-24 14:45] ishan1604 opened #96 "KeyStoreUtil.java line 82"
#### in com.mifos.utils.KeyStoreUtil.getOkHttpClient

* Number of crashes: 1
* Impacted devices: 1

There's a lot more information about this crash on crashlytics.com:
[https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/5473448665f8dfea152b01fd](https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/5473448665f8dfea152b01fd)

[2014-11-25 06:02] ishan1604 opened #97 "LoanAccountSummaryFragment.java line 181"
#### in com.mifos.mifosxdroid.online.LoanAccountSummaryFragment.inflateLoanAccountSummary

* Number of crashes: 1
* Impacted devices: 1

There's a lot more information about this crash on crashlytics.com:
[https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/54741b8165f8dfea152c4689](https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/54741b8165f8dfea152c46

[2014-11-25 10:50] ishan1604 opened #98 "ClientDetailsFragment.java line 407"
#### in com.mifos.mifosxdroid.online.ClientDetailsFragment$2.success

* Number of crashes: 1
* Impacted devices: 1

There's a lot more information about this crash on crashlytics.com:
[https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/54745eff65f8dfea152ca68b](https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/54745eff65f8dfea152ca68b)

[2014-11-25 11:01] ishan1604 opened #99 "Picasso.java line 194"
#### in com.squareup.picasso.Picasso.load

* Number of crashes: 1
* Impacted devices: 1

There's a lot more information about this crash on crashlytics.com:
[https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/5474618765f8dfea152caaae](https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/5474618765f8dfea152caaae)

[2014-11-25 16:24] ishan1604 opened #100 "API.java line 583"
#### in com.mifos.services.API$MifosRestErrorHandler.handleError

* Number of crashes: 1
* Impacted devices: 1

There's a lot more information about this crash on crashlytics.com:
[https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/5474ad3965f8dfea152d3c93](https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/5474ad3965f8dfea152d3c93)

[2014-11-25 16:32] ishan1604 opened #101 "API.java line 572"
#### in com.mifos.services.API$MifosRestErrorHandler.handleError

* Number of crashes: 1
* Impacted devices: 1

There's a lot more information about this crash on crashlytics.com:
[https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/5474af3b65f8dfea152d4075](https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/5474af3b65f8dfea152d4075)

[2014-11-27 00:47] droidchef opened #102 "CustomMarkerClusteringDemoActivity.java line 261"
#### in com.mifos.mifosxdroid.smartpay.maps.CustomMarkerClusteringDemoActivity.onCreate
- Number of crashes: 1
- Impacted devices: 1

There's a lot more information about this crash on crashlytics.com:
[https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/5476748b65f8dfea153037bb](https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/5476748b65f8dfea153037bb)

[2014-11-27 00:47] droidchef opened #103 "LocationFragment.java line 92"
#### in com.mifos.mifosxdroid.smartpay.wizardpager.wizard.ui.LocationFragment$1.onClick
- Number of crashes: 1
- Impacted devices: 1

There's a lot more information about this crash on crashlytics.com:
[https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/5476748b65f8dfea153037bd](https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/5476748b65f8dfea153037bd)

[2014-11-27 00:47] droidchef opened #104 "DashboardFragment.java line 125"
#### in com.mifos.mifosxdroid.smartpay.ui.DashboardFragment$3.onClick
- Number of crashes: 1
- Impacted devices: 1

There's a lot more information about this crash on crashlytics.com:
[https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/5476748c65f8dfea153037bf](https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/5476748c65f8dfea153037bf)

[2014-11-27 00:47] droidchef opened #105 "CustomMarkerClusteringDemoActivity.java line 425"
#### in com.mifos.mifosxdroid.smartpay.maps.CustomMarkerClusteringDemoActivity.addItems
- Number of crashes: 1
- Impacted devices: 1

There's a lot more information about this crash on crashlytics.com:
[https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/5476748e65f8dfea153037c3](https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/5476748e65f8dfea153037c3)

[2014-11-27 01:01] droidchef opened #106 "DashboardFragment.java line 117"
#### in com.mifos.mifosxdroid.smartpay.ui.DashboardFragment$2.onClick
- Number of crashes: 1
- Impacted devices: 1

There's a lot more information about this crash on crashlytics.com:
[https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/547677d165f8dfea15303c83](https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/547677d165f8dfea15303c83)

[2014-11-27 01:02] droidchef opened #107 "ClientDetailsFragment.java line 447"
#### in com.mifos.mifosxdroid.online.ClientDetailsFragment$3.success
- Number of crashes: 1
- Impacted devices: 1

There's a lot more information about this crash on crashlytics.com:
[https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/5476783165f8dfea15303d16](https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/5476783165f8dfea15303d16)

[2014-11-27 02:19] droidchef opened #108 "ReviewFragment.java line 76"
#### in com.mifos.mifosxdroid.smartpay.wizardpager.wizard.ui.ReviewFragment.onCreateView
- Number of crashes: 1
- Impacted devices: 1

There's a lot more information about this crash on crashlytics.com:
[https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/54768a1865f8dfea1530569c](https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/54768a1865f8dfea1530569c

[2014-11-27 03:04] droidchef opened #109 "SavingsAccountTransactionFragment.java line 335"
#### in com.mifos.mifosxdroid.online.SavingsAccountTransactionFragment$4.success
- Number of crashes: 1
- Impacted devices: 1

There's a lot more information about this crash on crashlytics.com:
[https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/547694cb65f8dfea153065fb](https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/547694cb65f8dfea153065fb)

[2014-11-27 03:32] droidchef opened #110 "SavingsAccountTransactionFragment.java line 339"
#### in com.mifos.mifosxdroid.online.SavingsAccountTransactionFragment$4.success
- Number of crashes: 1
- Impacted devices: 1

There's a lot more information about this crash on crashlytics.com:
[https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/54769b3e65f8dfea15306f5a](https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/54769b3e65f8dfea15306f5a)

[2014-11-27 03:48] droidchef opened #111 "SavingsAccountTransactionFragment.java line 341"
#### in com.mifos.mifosxdroid.online.SavingsAccountTransactionFragment$4.success
- Number of crashes: 1
- Impacted devices: 1

There's a lot more information about this crash on crashlytics.com:
[https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/54769f1b65f8dfea1530750f](https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/54769f1b65f8dfea1530750f)

[2014-11-27 04:16] droidchef opened #112 "AdapterView.java line 308"
#### in android.widget.AdapterView.performItemClick
- Number of crashes: 1
- Impacted devices: 1

There's a lot more information about this crash on crashlytics.com:
[https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/5476a5a665f8dfea15307e95](https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/5476a5a665f8dfea15307e95)

[2014-11-27 07:13] #102 closed, assigned to nobody

[2014-11-27 07:13] #103 closed, assigned to nobody

[2014-11-27 07:13] #104 closed, assigned to nobody

[2014-11-27 07:13] #105 closed, assigned to nobody

[2014-11-27 07:13] #106 closed, assigned to nobody

[2014-11-27 07:13] #107 closed, assigned to nobody

[2014-11-27 07:13] #108 closed, assigned to nobody

[2014-11-27 07:13] #109 closed, assigned to nobody

[2014-11-27 07:13] #110 closed, assigned to nobody

[2014-11-27 07:13] #111 closed, assigned to nobody

[2014-11-27 07:13] #112 closed, assigned to nobody

[2014-11-27 07:41] droidchef opened #113 "Main.java line 66"
#### in com.mifos.mifosxdroid.smartpay.bluetoothprinter.Main$1.onClick
- Number of crashes: 1
- Impacted devices: 1

There's a lot more information about this crash on crashlytics.com:
[https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/5476d5a765f8dfea1530c237](https://crashlytics.com/openmf/android/apps/com.mifos.mifosxdroid/issues/5476d5a765f8dfea1530c237)

[2014-11-27 09:20] #113 closed, assigned to nobody

[2014-12-10 12:38] okelekemike opened #116 "Gradlew Build Fails"
C:\xampp\tomcat\webapps\ROOT\android-client>gradlew build
Download http://download.crashlytics.com/maven/com/crashlytics/tools/gradle/crashlytics-gradle/1.14.7/crashlytics-gradle-1.14.7.pom
Download http://download.crashlytics.com/maven/com/crashlytics/tools/gradle/crashlytics-gradle/1.14.7/crashlytics-gradle-1.14.7.jar
:mifosng-android:preBuild FAILED

FAILURE: Build failed with an exception.
- W

[2014-12-10 15:32] #116 closed, assigned to nobody

[2015-01-13 09:40] ishan1604 opened #125 "Detect cause of a Failed Login Attempt"
Many customers have complaint about a problem while logging in. Due to some failure the App Throws a toast that says "There was some error processing the request."

It would be helpful if could implement a simple Logging module that user can review and contact the developers with in case there is some sort of an error.

Currently this use case only applies to the Login system, it can be extended f

[2015-10-19 02:44] chhavip commented on #125
I just compiled the code on my system and am facing a SSL certificate problem on the login page, what are the demo values or how can i sign in?

[2015-10-21 09:49] chhavip opened #134 "Recurring Accounts Option goes off-screen"
In ClientDetailsFragment, the recurring accounts option goes off-screen of savings account is opened.

[2015-10-21 09:51] ishan1604 commented on #134
@chhavip Will you be able to add a screenshot here in the issue ? please :)

[2015-10-21 09:54] #125 closed

[2015-10-21 09:54] #95 closed

[2015-10-21 09:54] #100 closed

[2015-10-21 09:54] #101 closed

[2015-10-21 09:56] chhavip commented on #134
![screenshot_20151021-152241](https://cloud.githubusercontent.com/assets/7212638/10633411/15ab343a-7808-11e5-90e8-d9a25704dc0e.png)

[2015-10-21 09:56] chhavip commented on #134
that is the maximum scroll down possible after savings have been opened

[2015-10-21 10:01] ishan1604 commented on #134
Quick Fix : Change `Account Number` text to `Account No#` this should probably created some space for us.

Or if you could come up with any other solution, feel free to suggest/implement it.

[2015-10-21 10:36] chhavip commented on #134
done, please review

On Wed, Oct 21, 2015 at 3:31 PM, Ishan Khanna <notifications@github.com>
wrote:

[2015-10-21 10:47] ishan1604 commented on #134
It would be awesome if you could Squash your commits. If you need help in squashing let me know.

[2015-10-21 10:48] chhavip commented on #134
I would need some help with that and what newline are you referring to in
the commit?

Chhavi P. Gupta
On 21-Oct-2015 4:17 PM, "Ishan Khanna" <notifications@github.com> wrote:

[2015-10-21 10:49] chhavip commented on #134
Got the newline error, removing it

Chhavi P. Gupta
On 21-Oct-2015 4:18 PM, "chhavi gupta" <coolaqua12@gmail.com> wrote:

[2015-10-22 18:59] chhavip opened #138 "How is loan cycle calculated: https://mifosforge.jira.com/browse/MIFOSAC-81"
As given in the bug, I have successfully displayed the loan officer name and the groups but not being able to figure out how loan cycle is calculated from the json response:
'{"id":12,"accountNo":"000000012","externalId":"40300","status":{"id":300,"code":"clientStatusType.active","value":"Active"},"subStatus":{},"active":true,"activationDate":[2013,7,16],"firstname":"chemonges","lastname":"innn","

[2015-10-30 18:22] bnasim opened #146 "Client Image delete api doesn't work"
Even if it says deleted but it's not permanently deleted.

[2015-11-05 03:05] chhavip opened #147 "Recurring Accounts withdrawl or payment crashes application"
Choosing Make Repayment or Make Deposit in an active recurring account leads to a crash in the application.
Log of the error:

![recurring account crash](https://cloud.githubusercontent.com/assets/7212638/10958784/dd1713aa-8397-11e5-996d-6bfabb484d34.png)

[2015-11-07 17:53] chhavip opened #149 "Implement Material Design"
With reference to https://mifosforge.jira.com/projects/MIFOSAC/issues/MIFOSAC-84?filter=allopenissues
I have created this issue so we can discuss material design implementation on the application screen by screen and everyone can give their opinion.
We can take pointers from the [provided mock-ups ](https://mifosforge.jira.com/wiki/download/attachments/34111558/Mifos%20Android%20Mockups.pdf?versio

[2015-12-22 14:02] chhavip opened #155 "Improve Information displayed for Centers"
Compared to Community App, less amount of information is accessible in mobile application and also no indications are present if any information is missing.
Aim to include the following:
 1) Status of Center
 2) Indication if no groups are present in a center
 3) Account Id for Center
 4) Next meeting of a particular group

These are the issues I thought were needed, are they significant enough to

[2016-02-14 03:51] tdjogi010 commented on #80
@ishan1604  I would like to look into this issue. It would be great if you can add me to the organisation on crashlytics.

[2016-02-15 09:44] #80 closed

[2016-02-15 09:44] #34 closed

[2016-02-15 09:44] #36 closed

[2016-02-15 09:44] #37 closed

[2016-02-15 09:44] #38 closed

[2016-02-15 09:44] #47 closed

[2016-02-15 09:44] #48 closed

[2016-02-15 09:44] #49 closed

[2016-02-15 09:44] #67 closed

[2016-02-15 09:44] #68 closed

[2016-02-15 09:44] #71 closed

[2016-02-15 09:44] #72 closed

[2016-02-15 09:44] #78 closed

[2016-02-15 09:44] #79 closed

[2016-02-15 09:44] #96 closed

[2016-02-15 09:44] #97 closed

[2016-02-15 09:44] #98 closed

[2016-02-15 09:44] #99 closed

[2016-02-15 09:44] #134 closed

[2016-03-04 06:17] mayank-kgp commented on #55
Hi Ishan,
    I am not able to find this class in project.
Can you please help me out?
Kind Regards,

[2016-03-08 04:55] Sreedev opened #185 "App crashes on selecting documents from toolbar."
- Select a client from the list of clients.
     - Select the documents from the toolbar.
     - App crashes. (Resources$NotFoundException exception)

    03-07 23:24:45.419    2185-2185/? E/AndroidRuntime﹕ FATAL EXCEPTION: main Process: com.mifos.mifosxdroid, PID: 2185 android.content.res.Resources$NotFoundException: String resource ID #0xe2c0
            at android.content.res.Resources.getText(

[2016-03-08 04:57] Sreedev commented on #185
I am working on this.

[2016-03-09 06:38] Sreedev opened #190 "NullPointerException when coming back from Add savings account page."
- Click a client from client list.
- From toolbar select Add Savings Account.
- Without entering any data just press back button.
Sometimes app crashed, sometimes not.

03-09 12:06:27.364  22635-22635/com.mifos.mifosxdroid E/AndroidRuntime﹕ FATAL EXCEPTION: main
    Process: com.mifos.mifosxdroid, PID: 22635
    java.lang.NullPointerException: Attempt to invoke virtual method 'java.lang.Object and

[2016-03-09 06:39] Sreedev commented on #190
I am working on this.

[2016-03-09 20:23] yvssssssssss opened #197 "Upload an Image from gallery to update client's profile picture."
It would be good to have an upload function on the image instead of using camera in the client's page

![2016-03-09](https://cloud.githubusercontent.com/assets/17710616/13649741/1ecaa94e-e665-11e5-9117-cd866f782740.png)

[2016-03-09 20:28] pandilladivya commented on #197
Yeah!
That is actually a great Idea!

I will work on it :)
ThankYou.

[2016-03-09 20:29] pandilladivya commented on #197
Yeah!
That is actually a great Idea!

I will work on it :)
ThankYou.

[2016-03-10 09:22] therajanmaurya commented on #146
It is working for me, may be you are seeing the default image. Can you post a screenshot?

[2016-03-10 10:28] Swethaldsm opened #199 "Profile pictures for client is not shown in the Dashboard."
When we open the list of clients...their profile pics are not shown

![2016-03-10](https://cloud.githubusercontent.com/assets/17761684/13666701/86c55fcc-e678-11e5-9f48-4239978b6687.png)

[2016-03-10 11:33] therajanmaurya commented on #197
I have opened a [PR](200) for this feature.

[2016-03-10 12:01] yvsssantosh commented on #199
I'm working on this issue!

[2016-03-10 19:52] championswimmer opened #204 "Link to APK on cloudbees is broken"
This link on README  https://vorburger.ci.cloudbees.com/job/MifosX_Android/ is broken.

[2016-03-10 20:54] ishan1604 commented on #204
The broken link has been removed.

[2016-03-10 20:54] #204 closed

[2016-03-10 21:08] therajanmaurya commented on #199
@Swethaldsm Please review #205 and close this issue.

[2016-03-11 05:17] therajanmaurya opened #206 "Remove ImageLoadingAsyncTask for Image Loading in main Thread to Picasso with OkHttp3"
Remove ImageLoadingAsyncTask for Image Loading in `ClientDetailsFragment` that is working in main thread, That makes Application glitchy.

![12834788_999474940173480_1452022370_n](https://cloud.githubusercontent.com/assets/5724482/13693894/f9521c30-e775-11e5-8928-9ed119864f07.jpg)

Load the Image in new thread using [Picasso](https://github.com/JakeWharton/picasso2-okhttp3-downloader) with [OkHttp

[2016-03-11 06:31] therajanmaurya commented on #206
This issue is fixed here #207

[2016-03-11 06:48] pandilladivya commented on #197
The link to the PR is  https://github.com/openMF/android-client/pull/203

Please review my code.

Thank you!

[2016-03-11 09:54] yvssssssssss commented on #197
@therajanmaurya  please follow the coding style given by mifos and don't do unnecessary changes by just indentation...and also ur code has bugs in it so please verify as u applied for another ticket regard with the same bug

@pandilladivya Good job with the ticket! :)

[2016-03-11 09:54] #197 closed

[2016-03-11 10:30] therajanmaurya commented on #197
@yvssssssssss Please Tell me bugs and i will correct the indentation.

[2016-03-11 11:50] Vatsal-Bajpai opened #208 "Overlapping of Fragments"
•The fragments that are being replaced and while backstack poping when pressed back button to move back to previous fragment, it gets overlapped.
•Also the survey fragment is being replaced in the DashboardFragmentActivity, but when the ClientChooseFragment calls the replace for SurveyListFragment it gets replaced behind it on the second call(when client selected again from the list) and the fragm

[2016-03-11 12:11] mayank-kgp commented on #208
Hi Vatsal,
               Overlapping problem is already resolved.
You can look into jira if you want to confirm about any issue.

On Fri, Mar 11, 2016 at 5:20 PM, Vatsal Bajpai <notifications@github.com>
wrote:

[2016-03-11 12:13] Vatsal-Bajpai commented on #208
Thank you @mayank-kgp. I'll close it :)

[2016-03-11 12:13] #208 closed

[2016-03-12 05:48] Swethaldsm opened #214 "View conflicts in Create Group and Create Center."
The below images are screenshots from Mifos Webpage

![create_group_with_actdate](https://cloud.githubusercontent.com/assets/17761684/13721199/8587972e-e844-11e5-88f9-a9b126f79c50.PNG)

![create_group_without_actdate](https://cloud.githubusercontent.com/assets/17761684/13721197/7f63ed0c-e844-11e5-9a4a-afdc8fc38990.PNG)

![create_center_with_actdate](https://cloud.githubusercontent.com/assets/17761

[2016-03-12 05:57] #199 closed

[2016-03-12 06:47] yvsssantosh commented on #214
Hi,

I've gone through the issue reported here.
I'm working on it :)

[2016-03-12 07:57] yvsssantosh commented on #214
Hi,

I've created a PR #215

Kindly review my code

Thank You

[2016-03-12 11:41] Swethaldsm commented on #214
@yvsssantosh
I have gone through this code...

Everything works fine :)

[2016-03-12 11:41] #214 closed

[2016-03-13 00:08] vjs3 opened #217 "Using timber library"
Log class provided by android is used in mifos client to keep track of logs. As log requires TAG , it is tedious to add redundant tag in every class we write so I suggest we should use Timber for easier logging and we don't have to write any boilerplate TAG strings.

Timber has other features as well and as we are using crashalytics it works well with it too.
@ishan1604 please let me know about yo

[2016-03-13 14:06] prempalsingh commented on #185
I have already fixed this in #195 and it has been merged. This can be closed.

[2016-03-13 20:28] ishan1604 commented on #217
Not needed at the moment! I'll be getting rid of the Logging calls from the code very soon.

[2016-03-13 20:28] #217 closed

[2016-03-13 20:30] vjs3 commented on #217
sure :) Let me know if i can help in that!

[2016-03-13 20:35] ishan1604 commented on #217
A Pull request is welcome. If you can get rid of the Log.methodName calls in the code.

[2016-03-13 20:50] vjs3 commented on #217
@ishan1604 I can do that but then how will be do logging any more? Does this not decrease readability in terms of testing code? Forgive me if I am asking a basic question.

[2016-03-15 15:07] RowlandOti commented on #190
@Sreedev , have you solved this?

[2016-03-15 15:13] RowlandOti opened #228 "Master - Detail Layout for Tablets"
I have noticed the app does not currently support tablets properly, especially tablets with  7 inches and above. The screen 'estate' is poorly utilised and is a possible candidate for improvement.

I will create a pull request, once am done optimizing it for tablets.

Thanks

[2016-03-16 07:46] Sreedev commented on #190
@RowlandOti  No, You can take this forward.

[2016-03-16 07:49] Sreedev commented on #190
@RowlandOti  Sorry for late reply. I am out of station, you can work on this.

[2016-03-19 18:54] RowlandOti opened #233 "Offline Mode - App crash in case user doesn't enter a valid Branch or Staff ID Integer"
In offline mode app crashes due to NumberFormatException in case the user doesn't enter a valid Integer for Branch or Staff ID.

[2016-03-23 13:27] xiprox commented on #190
I think I see what the issue here is. The Fragment is probably no longer attached to an Activity by the time the `success` method is executed. This causes `null` to be passed to the `ArrayAdapter` which in turn causes the `java.lang.NullPointerException: Attempt to invoke virtual method 'java.lang.Object android.content.Context.getSystemService(java.lang.String)' on a null object reference` except

[2016-03-23 15:37] RowlandOti commented on #190
I don't know why,  but I can't just be able to reproduce this issue!
On Mar 23, 2016 4:27 PM, "İhsan Işık" <notifications@github.com> wrote:

[2016-03-23 15:44] xiprox commented on #190
Hmm. I haven't tried to reproduce it myself yet.

Do you have a fast connection? It could be that the crash happens on slow connections. If we assume that the following happens: `API request is sent` —> `user exits Fragment` —> `Fragment is detached` —> `success is called` —> `Crash`, we could say that you should be able to reproduce the crash if you can exit the fragment before the request comple

[2016-03-23 16:13] RowlandOti commented on #190
@xiprox , yes my internet is quite fast. I will try to throttle it and see what happens.

[2016-03-23 18:35] xiprox commented on #190
Ok, I got to reproduce the crash by:
1. Tapping `Add Savings Account`.
2. Tapping back button repeatedly.

[2016-03-24 21:19] #190 closed

[2016-03-24 21:20] #233 closed

[2016-03-28 12:40] RowlandOti opened #241 "NumberFormatException inSavingsAccountTransactionFragment"
![device-2016-03-28-153615](https://cloud.githubusercontent.com/assets/8356008/14078082/470eef92-f4fb-11e5-9065-4c1315d1a662.png)
![numberformat](https://cloud.githubusercontent.com/assets/8356008/14078083/473b326e-f4fb-11e5-8f44-46047a6ec781.png)

When you click "Make WithDrawal" or "Make Deposit" the app will crash with the above error. Is the Savings Account No. (savingsAccountNumber) supposed

[2016-03-28 12:46] RowlandOti commented on #241
@ishan1604 , could help give an answer to question, so I can proceed to fix this?

[2016-04-04 19:16] nellyk commented on #241
@RowlandOti  sorry i took time to respond , yes you can work on this issue , thank you for finding it out, i have added it on Jira and assigned it to you https://mifosforge.jira.com/browse/MIFOSAC-140

[2016-04-04 20:03] nellyk commented on #241
@RowlandOti please note that this only occurs when the account has no savings amount, so their is no money to withdraw, you can investigate why this happens to this savings accounts only?

[2016-04-06 10:40] RowlandOti commented on #241
@nellyk ,thank you.

[2016-04-07 15:06] xiprox opened #253 "NPE when navigating back from SavingsAccountSummaryFragment"
[code]

Same thing as #190. Same changes should fix this too. If anyone is up, please do it. Otherwise I'll take a look at it once I'm done with [MIFOSAC-139](https://mifosforge.jira.com/browse/MIFOSAC-139).

**UPDATE:** Realized that this crash does not happen with the current code since ProgressDialogs are blocking user interaction (i.e., navigating back). It only happens because [MIFOSAC-139](h

[2016-04-07 17:18] xiprox opened #254 "No progress indication when fetching groups list"
As the title suggests, there is no indication that anything is happening in Groups List.

I found out about this while working on [MIFOSAC-139](https://mifosforge.jira.com/browse/MIFOSAC-139). I was just going to use the same method I'm using for everything else (centered ProgressBar - see below) but I saw that SwipeRefresLayout is already there. Now, we could just fix SwipeRefreshLayout and use t

[2016-04-07 17:46] nellyk commented on #254
Hi @xiprox ,

This should not appear have you pulled the latest code, because this what you should see , check this pull request out https://github.com/openMF/android-client/pull/245

[2016-04-07 18:40] xiprox commented on #254
Oh, I didn't realize it was being used in Clients List too. Actually, they weren't really being *used*. The layout code might have been there but the ProgressDialogs were what were being shown.

in either case, I wouldn't mind using SwipeRefresh in Groups List if it'll also be used in Clients List. I'll be fixing SwipeRefresh indicators in a future PR then.

As for [MIFOSAC-139](https://mifosforge

[2016-04-07 18:40] #254 closed

[2016-06-08 06:38] therajanmaurya opened #285 "Add API Response Model"
On some places, the API response is the Retrofit Response, Deserialize POJO is not coming by default, Need to add POJO of CallBack Retrofit Request.

Here is the Files.
1. **Done** GroupLoanAccountFragment : Same Type Multiple API request. No POJO of API response.
2. **Done** LoanAccountFragment : Same Type Multiple API request. No POJO of API response.
3. ChargeDialogFragment : No POJO of API res

[2016-06-09 08:37] ishan1604 opened #287 "Handle Errors gracefully for Data calls from the API"
Toast messages should not be thrown from Data Helpers etc. Since it is an android component we must abstract that layer out.

Possibly create a layer that throws Toasts from the stored error messages.

[2016-06-12 06:07] therajanmaurya opened #289 "Document upload is failing"
Failed to upload Documents

[code]

[2016-06-19 19:18] therajanmaurya opened #296 "NPE OnDatePicked in CenterListFragment (Centers Collection Sheet Offline feature)"
Centers Collection Sheet Offline feature

[code]

[2016-06-19 19:56] ishan1604 commented on #149
Fixed!

[2016-06-19 19:56] #149 closed

[2016-06-28 10:11] therajanmaurya opened #300 "LoadMore not Working at one case."
LoadMore not woking when we scroll down and load more till the last element and back to top and when we again scrolling to down then LoadMore not working

[2016-06-29 07:37] therajanmaurya commented on #296
@ishan1604 Please look this scenario and suggest me.

Center Collection Sheet is dependent to the [demo.openmf.org/fineract-provider/api/v1/centers/{centerId}?associations=groupMembers,collectionMeetingCalendar](demo.openmf.org/fineract-provider/api/v1/centers/{centerId}?associations=groupMembers,collectionMeetingCalendar).

response collectionMeetingCalendar, Which is not coming from REST API for

[2016-07-19 11:22] therajanmaurya opened #308 "Feature addition in Group Creation"
**Show Image and Text after successful or Failed during creation of Group**
Description : When the user creates the New Group then according to the response from response APIs from Database or retrofit response then setVisibilty of Group form "InVisible" and show an ImageView and TextView at the center of Group Creation Status.

**A button to Continue or Finish the GroupCreatio**
A button below th

[2016-07-21 13:34] therajanmaurya opened #309 "Rx onError crashed During Syncing Client Offline"
[code]

[2016-07-28 08:38] therajanmaurya commented on #309
Fix #310

[2016-07-28 08:38] #309 closed

[2016-07-28 09:21] therajanmaurya opened #312 "ClientTemplate saving every time and data duplicacy in Tables"
Every Time Whenever user Fetch the Client Template It's saving in Table with duplicacy data.

It seems Primary Key is not well Managed .

[2016-07-28 09:56] therajanmaurya commented on #312
Fix #311

[2016-07-28 09:56] #312 closed

[2016-08-01 08:30] therajanmaurya opened #315 "Add DataTable Names in Constants.java."
Add DataTable Names in Constants.java and parse from Constant.java, While loading Loan, Client, Savings DataTable

[2016-08-07 14:25] chashmeetsingh opened #316 "Delete an identifier"
After Deleting an identifier it still shows the same identifier, instead it should be removed.
Since its there clicking on remove again gives a 404

Steps to Reproduce:
- Login
- Clients
- Select a client (with an identifier)
- Select Identifiers from the dropdown menu
- Click Remove

[2016-08-07 14:28] therajanmaurya commented on #316
Please Add also how others can generate the same bug.
Example Open App and click somewhere like.

[2016-08-07 15:58] therajanmaurya commented on #316
Thats good. You can work on this.

[2016-08-08 06:28] therajanmaurya opened #317 "Remove com.mifos.objects.db dependency"
`com.mifos.objects.db` dependency was written  for Sugar Orm.
But now Sugar Orm is replaced by DBFlow and com.mifos.objects.db have the dependency in many files. Removed com.mifos.objects.db  dependency as working in features.

For resolving this issue, look to models of db package if that are already exist in any other package then replace with that model. and if does not exist then shift db mode

[2016-08-08 07:45] ishan1604 commented on #316
@chashmeetsingh Thanks for reporting the bug!

We'd love to welcome you to the Mifos Developer Community! You can start working on this issue and if you need any help feel free to write back!

[2016-08-08 15:28] chashmeetsingh commented on #316
@therajanmaurya how to test this? As I can't create a client

[2016-08-08 16:02] chashmeetsingh commented on #316
[code]

I changed onComplete to this but since for the new instance go `ClientIdentifiersFragment` no attached view it throws an exception. So should I reference the instance of `ClientIdentifiersPresenter` in `ClientIdentifiersFragment` to do so? @therajanmaurya

[2016-08-08 16:17] therajanmaurya commented on #316
you do not need to call this method in onComplete(). make a method in MvpView class and implement in Fragment and call in onNext() and reload the identifiers list by using mClientIdentifiersPresenter.loadIdentifiers(clientId) in implemented method in fragment class.

[2016-08-08 16:49] chashmeetsingh commented on #316
@therajanmaurya but we don't have an instance of the fragment in the adapter right?

[2016-08-09 04:45] therajanmaurya commented on #316
No this is not good.

[2016-08-09 05:25] therajanmaurya commented on #316
Here I have written some architecture guidelines
First look here : https://github.com/openMF/android-client/wiki/Architecture-Guidelines

Here what you have to do for completing this PR

Make Interface in Adapter

[code]

and make Object of the interface in adapter like this.

```private deleteIdentifierListener mDeleteIdentifierListener;```

and call onClickRemoveIdentifier onClick remove button

[2016-08-14 17:29] therajanmaurya opened #318 "NumberFormat Exception In LoanRepayment"
[code]

[2016-08-18 19:48] therajanmaurya opened #325 "Dashboard Offline SwitchButton not showing correct User Status"
Dashboard Offline SwitchButton not showing correct User Status.

Description : Whenever the user is in offline mode and go to sync his offline client groups or LoanRepayment then user got a dialog that "You are in Offline, Before syncing go online".
When Click ''Go Online" Dialog Button Clients Groups LoanRepayment Syncing Good but when User gets back to Dashboard Activity and open NavigationDrawe

[2016-08-18 19:52] therajanmaurya commented on #325
It looks. there is some problem on User Toggle Switch Button.

[2016-08-18 19:58] therajanmaurya commented on #325
Yap find it, No need to implement ```setOnCheckedChangeListener``` that is being called whenever ```setChecked()``` is called.

Remove ```setOnCheckedChangeListener``` with ```setOnClickListener```
Done

[2016-08-18 19:59] therajanmaurya commented on #325
Done Fixed.

[2016-08-19 16:25] therajanmaurya commented on #325
Fix #326

[2016-08-19 16:25] #325 closed

[2016-08-19 16:25] therajanmaurya commented on #318
@chashmeetsingh Do you want to pick this issue?

[2016-08-19 16:30] therajanmaurya commented on #318
In ```com.mifos.objects.templates.loans.LoanRepaymentTemplate```  ```feeChargesPortion```
is defined as Integer and server response comming in Double.

[2016-08-19 16:44] chashmeetsingh commented on #318
yes but please never disclose how's that to be done @therajanmaurya thanks!

[2016-08-25 21:57] therajanmaurya commented on #318
fix #331

[2016-08-25 21:57] #318 closed

[2016-09-05 20:02] #55 closed

[2016-09-11 15:05] therajanmaurya commented on #289
fix #336

[2016-09-11 15:05] #289 closed

[2016-09-11 15:10] therajanmaurya commented on #185
All Error resolved during uploading Documents in #335 and #336.
@ishan1604 Please close this issue.

[2016-09-11 15:49] therajanmaurya opened #338 "Fix Group DataTable"
**Summary:**

Right now GroupDetailsPresenter Loading the Group DataTable successfully
But DataTable is not accessible from Group Menu actionBar.
Need to add the Group DataTable accessibility in Menu ActionBar

**Steps to reproduce:**

Click on Navigation Drawer home button and select `Groups`  from the list.
now you are able to look group list and click on any group from the list and then click o

[2016-09-13 21:47] #185 closed

[2016-09-17 20:04] therajanmaurya opened #339 "Save User Model in Shared Preference"
**Summary:**

When the user is logging(Login.Activity) into the app then server response is user model. this need to be saved into the shared preference using the PrefManager and make a method to  deserilize  the user model json string into the PrefManager and show the user credentials in Navigation Drawer header(Dashdoard.Activity).

and remove the REST API call from the Dashboard that is fetchin

[2016-09-18 17:00] SKrPl commented on #339
How to handle the profile picture of User (that logged in) as there is no attribute for profile picture in User class ?

[2016-09-18 17:27] therajanmaurya commented on #339
Yes, I know that profile picture is not present. I had looked. So, for now, leave the profile picture staff and save User Model in Pref.

[2016-09-18 17:47] therajanmaurya commented on #316
done in #324, @ishan1604 Please close.

[2016-09-18 18:14] #316 closed

[2016-09-19 07:47] ishan1604 commented on #339
Why do you think do we need to store it in SharedPreferences ?

[2016-09-19 08:24] therajanmaurya commented on #339
Because it is faster.

[2016-09-24 00:14] edcable opened #344 "Can't Save New Client Because of Validation on Middle Name Field"
**Summary:**

Can't successfully create a client with the middle name blank because it states "Middle name should contain only ALPHABETS

Copied over from https://mifosforge.jira.com/projects/MIFOSAC/issues/MIFOSAC-157

**Steps to reproduce:**

Create client, don't fill out middle name, press submit.

**Expected behavior:**
Successfully save client

**Observed behavior:**

Just an error message bu

[2016-09-24 00:16] edcable commented on #344
![screenshot_20160923-165557](https://cloud.githubusercontent.com/assets/823454/18804564/7db87bd8-81b1-11e6-9edd-8a639d4debfe.png)

[2016-09-24 00:26] edcable opened #345 "Can't Save New Group Because of ALPHABETS validation"
**Summary:**

Can't save a group because of the validation which says Group Name should contain only ALPHABETS.

**Steps to reproduce:**

Enter a group name with spaces, press submit.
**Expected behavior:**

Successfully save.

**Observed behavior:**

Error message

**Device and Android version:**
HTC One M8 with Android 6.0
**Screenshots:**

[2016-09-24 00:27] edcable commented on #345
![screenshot_20160923-165905](https://cloud.githubusercontent.com/assets/823454/18804672/01d5a82c-81b3-11e6-86f7-e3487191aa38.png)

[2016-09-24 00:28] edcable opened #346 "Can't Save New Center Because of ALPHABETS validation"
**Summary:**

Just like issue #345 but for Centers
![screenshot_20160923-165845](https://cloud.githubusercontent.com/assets/823454/18804676/2859458a-81b3-11e6-843c-2429595bfbde.png)

[2016-09-24 00:31] edcable opened #347 "Can't Save New Client - Try Again Error Message"
**Summary:**

When attempting to create a new client, even with all fields completed, can't successfully save.
**Steps to reproduce:**

Create a new client and click submit.

**Expected behavior:**
Successfully save new client
**Observed behavior:**
Error message which says Try Again. Upon re-submitting nothing occurs.
**Device and Android version:**
HTC One M8 with Android 6.0
**Screenshots:**
![

[2016-09-24 00:34] edcable opened #348 "More Client Info link goes nowhere"
**Summary:**

More client info link from More Menu goes nowhere
**Steps to reproduce:**

Click more menu, click more client info
**Expected behavior:**

Display additional client details
**Observed behavior:**
Nothing happens
**Device and Android version:**
Demo3 tenant on HTC One M8 with Android 6.0
**Screenshots:**

[2016-09-24 00:46] edcable opened #349 "Can't add new savings account"
**Summary:**
With all the available fields added, can't successfully save the savings account. It might be related to MIFOSAC-133 (https://mifosforge.jira.com/projects/MIFOSAC/issues/MIFOSAC-133) where not all the savings fields are available.
**Steps to reproduce:**
Fill in available fields and click submit

**Expected behavior:**
Expect to save

**Observed behavior:**
Error message of failed to

[2016-09-25 06:31] therajanmaurya commented on #339
Done #343

[2016-09-25 06:31] #339 closed

[2016-09-25 17:31] therajanmaurya commented on #315
Done. In regular commits.

[2016-09-25 17:31] #315 closed

[2016-09-26 05:30] therajanmaurya commented on #345
Fix in #351

[2016-09-26 05:30] #345 closed

[2016-09-26 06:45] therajanmaurya commented on #344
Fix in #352. Now no need to create fresh client if any validation fails and middle name can be empty fix.

[2016-09-26 06:45] #344 closed

[2016-09-26 06:47] therajanmaurya commented on #347
This was the server error. I had talked to Shreyaank and It is resolved now.

[2016-09-26 06:47] #347 closed

[2016-09-26 07:35] therajanmaurya commented on #346
Fix in #353

[2016-09-26 07:35] #346 closed

[2016-09-26 21:13] javmcre commented on #347
Hi, What was wrong with the server??. I'm having the same problem.

[2016-09-27 04:41] therajanmaurya commented on #347
@javmcre
somebody enable the "account number preferences"  for client. So that problem was coming during creation of client.

[2016-09-27 09:03] DanCarl857 opened #356 "Need a better way for syncing clients for offline use"
**Summary:**

Selecting clients one by one when syncing for offline use is really tedious if the client has a lot of clients.

**Expected behavior:**

Expected a button to sync all clients for offline use or some other mechanism to select a lot of clients at once.

**Observed behavior:**

Instead, one has to do this by selecting one client at a time.

[2016-09-27 21:52] edcable opened #357 "Can't retrieve/view documents stored at client record"
**Summary:**

I tried to both click and download PDFs or image documents that have been uploaded as documents to a client.
**Steps to reproduce:**

Navigate to R Smith, click more menu, click Documents, click various documents

**Expected behavior:**

View document or be prompted to download document

**Observed behavior:**

For the PDF, My PDF viewer opens but it says can't be displayed. For the

[2016-09-27 22:13] edcable opened #358 "Drop-down values when creating loan account at group level aren't available"
**Summary:**

Drop downs associated with a loan product at the individual level aren't available when trying to create same loan product at the group level.
**Steps to reproduce:**

Go to group, Santa Maria Group 2, from more menu, select Add Loan Account, select income generating loan as product type. Try to fill out

**Expected behavior:**

Be able to fill out all fields and successfully submit

[2016-09-27 22:28] edcable opened #359 "App doesn't displayed logged in user info, incorrectly displays client info (MIFOSAC-158)"
**Summary:**

When you log in, name/photo/profile should be that of authenticated user but it's that of a client (R Smith)

**Steps to reproduce:**

Log in and go to dashboard

**Expected behavior:**

See name, avatar of the logged in user.

**Observed behavior:**

 Name/avatar of a client (R Smith) is displayed
**Device and Android version:**

Demo Server on HTC One M8 with Android 6.0

**Screens

[2016-09-27 22:44] edcable commented on #359
![screenshot_20160927-151952](https://cloud.githubusercontent.com/assets/823454/18894696/3b5b56d2-84c9-11e6-8e83-98ecadf0b792.png)

[2016-09-27 22:45] edcable commented on #358
![screenshot_20160927-150106](https://cloud.githubusercontent.com/assets/823454/18894708/538c1282-84c9-11e6-9150-7eeecb211f79.png)

[2016-09-27 23:02] edcable opened #360 "There are 2 input fields for Nominal Annual Interest"
**Summary:**

There should only be one field but there are two - Nominal Annual Interest and Nominal Annual Interest per year.
**Steps to reproduce:**

Attempt to create a new loan
**Expected behavior:**

Should only have one field as in the Community App which is based on the length of the term. So it should be Nominal Interest Rate (per year or per month)
**Observed behavior:**
2 different input

[2016-09-27 23:05] edcable opened #361 "Pinpoint location causes app to crash"
**Summary:**

When trying to do the pinpoint location, the app just crashes with the "Unfortunately, MifosX Droid has stopped" error
**Steps to reproduce:**
Navigate to a client and click more menu and then pinpoint location
**Expected behavior:**
Bring up a map to drop a pin
**Observed behavior:**
Just the error
**Device and Android version:**
Demo Server on HTC One M8 with Android 6.0
**Screensh

[2016-09-27 23:07] edcable opened #362 "Path tracker causes app to crash"
**Summary:**
When trying to run the path tracker, the app just crashes with the "Unfortunately, MifosX Droid has stopped" error
**Steps to reproduce:**
From Dashboard, just click Path Tracker

**Expected behavior:**
Bring up a map that will track location of worker and turn on GPS tracking
**Observed behavior:**
Just the error
**Device and Android version:**
Demo Server on HTC One M8 with Android

[2016-09-27 23:17] edcable opened #363 "Path tracker causes app to crash"
**Summary:**

Summarize your issue in one sentence (what goes wrong, what did you expect to happen)

**Steps to reproduce:**

How can we reproduce the issue?

**Expected behavior:**

What did you expect the app to do?

**Observed behavior:**

What did you see instead?  Describe your issue in detail here.

**Device and Android version:**

What make and model device (e.g., Samsung Galaxy S3) did you

[2016-09-27 23:24] edcable opened #364 "Add new charges should support all options for creating a new charge"
**Summary:**

Based on the charge selected from the first drop down, there shouldn't be different options that can be filled out.

**Steps to reproduce:**

Go to client, then add charge, then click the + sign

**Expected behavior:**
Select a charge from the first dropdown and based on that charge, the input fields should change i.e. Charge calculation. Charge time type, Due for collection on

**Ob

[2016-09-27 23:30] edcable opened #365 "Add Ability to Add New Identifiers from Android App"
**Summary:**

Right now you can just view identifiers and upload new docs or remove docs from them, there should be the ability to add a new identifier with a plus sign on the right to add new identifier and upload a document
**Steps to reproduce:**
Navigate to client and then go to identifiers
**Expected behavior:**
Have the option to add a new identifier

**Observed behavior:**
Can just view ide

[2016-09-28 09:16] mayank-kgp commented on #360
@edcable  I am working on this. I should remove "Nominal Interest Rate" field. Am I right?

[2016-09-28 09:29] mayank-kgp commented on #358
@edcable  I am working on this.

[2016-09-28 10:17] #363 closed

[2016-09-28 15:07] therajanmaurya commented on #359
Fix in #343

[2016-09-28 15:07] #359 closed

[2016-09-29 12:50] therajanmaurya commented on #357
I am working on this Issue

[2016-09-29 17:07] therajanmaurya commented on #365
I am working in this Issue

[2016-09-30 07:35] mayank-kgp commented on #358
@edcable  @therajanmaurya  This is happening because empty response is coming from the server side. I think there is no bug in android code. It is because values are not available. Please see the screenshot.
<img width="1280" alt="screen shot 2016-09-30 at 13 16 11" src="https://cloud.githubusercontent.com/assets/11210887/18984163/80ce8008-870e-11e6-86e8-23c31a7ddd7e.png">

[2016-09-30 07:36] mayank-kgp commented on #360
@therajanmaurya  can u clarify my doubt?

[2016-09-30 14:27] edcable commented on #358
@mayank-kgp @therajanmaurya @ishan1604 hmmm...the values are present there for an individual loan on the last three and the first three, amortization, interest calculation period, and repayment strategy are system-generated drop-downs and should have values.

[2016-09-30 16:49] edcable commented on #360
I would leave the Nominal Interest Rate and remove the other since the Interest rate can be specified per year or per month based on what is configured at the product level.

[2016-09-30 16:55] edcable commented on #360
@rajuan @ishan1604 What would you suggest here based on how the APIs are actually consumed. Interest at the product level is specified either per month or per year and then at the account level one just specified the rate (per month or per year is configurable only when setting up the product.

@mayank-kgp so the input field should be for the rate but per month or per year should be different base

[2016-10-01 03:03] therajanmaurya commented on #357
Document Update and Remove Feature Added.
This Issue Completed

[2016-10-01 15:38] therajanmaurya commented on #365
@edcable @ishan1604 I did not understand  work of the "Upload" button.
neither found any API to upload.

[2016-10-02 05:38] top-gun007 commented on #206
Is this issue fixed?...if not I can

[2016-10-02 06:54] top-gun007 commented on #361
@edcable i think the issuse is resolved as when I tried the app on moto E2 it is not crashing and is bringing up a map

[2016-10-02 07:11] therajanmaurya commented on #206
@top-gun007 Welcome to the community.

Yes you can work in this issue.
But little changes is, Here we are not using Picasso, We are using Glide.
So You can open new issue to fix this.

[2016-10-02 07:12] #206 closed

[2016-10-02 07:23] therajanmaurya opened #370 "Remove ImageLoadingAsyncTask for Image Loading with Glide. In ClientDetailsFragment."
**Summary:**

Remove ImageLoadingAsyncTask for Image Loading to Glide.
In ClientDetailsFragment.

**Steps to reproduce:**
Navigate to Client Details.

**Expected behavior:**
Client Image should load in different Thread other than Main thread.

What did you expect the app to do?
Client Image should load in different Thread other than Main thread.

**Observed behavior:**
Client Image Loading using A

[2016-10-02 07:24] therajanmaurya commented on #206
@top-gun007 Here you go #370.

[2016-10-02 07:24] top-gun007 commented on #356
@DanCarl857 I am working on this issue.
What I am planning on doing is to simply add a button(Sync All) and when the user taps on it all the clients are synced.
Please correct me if I am wrong

[2016-10-02 07:25] therajanmaurya commented on #370
@top-gun007 You can work in this Issue.

[2016-10-02 08:22] top-gun007 commented on #370
Thanks @therajanmaurya I'll start right away

[2016-10-02 09:14] therajanmaurya commented on #365
Create New Identifier Done.

[2016-10-02 14:40] therajanmaurya commented on #365
Sorry, I got the Identifier Document Upload and It's done.
Working on Update identifier.

[2016-10-02 17:00] therajanmaurya commented on #364
@edcable Demo server is reset, So Charge Template have no Charge Options, That's why i am unable to test this.

[2016-10-03 13:48] rajuan commented on #360
API expects the per month/year param to come individually for interest rate as well. But UI can copy the same from the product level and silently send it for interest rate as well.

[2016-10-06 13:16] top-gun007 commented on #370
hey @therajanmaurya should I convert the downloaded image into bitmap

[2016-10-06 14:36] therajanmaurya commented on #370
do you mean to save in local, So answer is No.
Here we have to show client profile in ImageView using Glide.

[2016-10-06 14:53] top-gun007 commented on #370
ok..thanks for being so helpful @therajanmaurya

[2016-10-07 17:22] top-gun007 commented on #370
@therajanmaurya i have fixed the issue will send a pull request soon
just to confirm you wanted to implement in the following snap only na?
![screenshot_1475860584](https://cloud.githubusercontent.com/assets/15179401/19199169/5a834b7c-8ce0-11e6-8de4-b22064fba919.png)

[2016-10-07 17:28] top-gun007 commented on #370
the image quality was a bit down as glide uses RGB565

[2016-10-07 18:03] top-gun007 commented on #370
and one more thing do i need to create a work around for onDetach() method in ClientDetailsFragment.
which is currently relying on async task
Regards
Ashu

[2016-10-07 18:11] therajanmaurya commented on #370
@top-gun007 good to know that you have fixed the issue.
It's very difficult to suggest you here without looking, What you have changed and what not.
So Please open the PR then I will review that will best.

Great work 👍

[2016-10-08 01:56] top-gun007 commented on #370
@therajanmaurya i have submitted a pull request please review it

[2016-10-08 02:10] top-gun007 commented on #370
@therajanmaurya I didn't run gradelew before submitting pull request and it failed.

[2016-10-08 02:12] therajanmaurya commented on #370
So run and when all check will pass, send PR again.

On 08-Oct-2016 7:40 AM, "Ashutosh Dadhich" <notifications@github.com> wrote:

@therajanmaurya <https://github.com/therajanmaurya> I didn't run gradelew
before submitting pull request and it failed.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/openMF/android-client/issue

[2016-10-08 09:13] therajanmaurya commented on #365
Added in #373

[2016-10-08 09:13] therajanmaurya commented on #357
Added in #373

[2016-10-09 06:42] top-gun007 opened #376 "Keyword "tap" should be used instead of "click""
**Summary:**

On many instances across the device where user interaction is required some text is displayed which says for eg. click to refresh/click to open file instead it should be "tap to refresh" etc.

**Steps to reproduce:**

Just change the values in strings.xml.

**Expected behavior:**

The app should direct the user to tap instead of click as it gets confusing

**Observed behavior:**

The

[2016-10-10 09:07] ishan1604 commented on #376
@therajanmaurya why was this issue closed without a reason in the comment below ?

[2016-10-11 12:33] mayank-kgp commented on #241
@RowlandOti  @nellyk The app is not crashing in my device.
Please give an update on this issue. Is it resolved or @RowlandOti  is still working on this?

[2016-10-11 12:35] mayank-kgp commented on #155
@chhavip  Please give an update on this.
Is it resolved or are u still working on this?

[2016-10-11 12:38] mayank-kgp commented on #146
@bnasim  Please give an update on this issue.

[2016-10-11 12:45] mayank-kgp commented on #285
@therajanmaurya I will work on this issue in detail once my PR is reviewed and merged successfully.
I have tried to correct the implementation of GroupLoanAccountFragment.

[2016-10-11 12:47] therajanmaurya commented on #146
@mayank-kgp It's working now, I think this issue should be closed.
@mayank-kgp try to delete user profile image and let me know because it's working in devices.

[2016-10-11 12:47] mayank-kgp commented on #287
@ishan1604
Can you please explain this issue in detail?
@therajanmaurya  Can u help me in this issue?

[2016-10-11 12:50] mayank-kgp commented on #349
@edcable
It is working on my device(Android version 5.1.1) .
Is it due to specific android version?

[2016-10-11 12:51] mayank-kgp commented on #364
@therajanmaurya  Is it done? :)

[2016-10-11 12:55] mayank-kgp commented on #146
@therajanmaurya  It is deleted. But when we go back to client list, then image is appearing in clientList.
Because the list is not reloading. But when I reload the list, then image is not appearing.

[2016-10-11 12:59] therajanmaurya commented on #241
@mayank-kgp It's already resolved by me during code refactoring. I have just looked into the code and found. Sorry, my bad. Closing now.

[2016-10-11 12:59] #241 closed

[2016-10-11 13:03] mayank-kgp commented on #241
Thanks @therajanmaurya

[2016-10-11 13:09] therajanmaurya commented on #146
Thanks @mayank-kgp, So this issue is already resolved. I will open new issue for "when we go back to client list, then image is appearing in clientList Because the list is not reloading"

Thanks

[2016-10-11 13:09] #146 closed

[2016-10-11 13:14] mayank-kgp commented on #146
Thanks @therajanmaurya
Pls open it.

[2016-10-11 13:19] therajanmaurya opened #380 "Refresh Client List after finishing ClientDetailsFragment"
**Summary:**

When we open any Client Details and delete the client profile image and come back to client list.
client profile image is deleted successfully but the image is visible because client list is not refreshed, the image coming from the cache.

Is this good to refresh client list?

[2016-10-11 15:57] mayank-kgp commented on #317
I am taking this issue. But I need guidance for this.
I have found in project. Dependencies are -
com.mifos.object.db.MifosGroup,
com.mifos.object.db.CollectionSheet,
com.mifos.object.db.Client,
com.mifos.object.db.Loan,
com.mifos.object.db.OfflineCenter
and Do I need to delete db package after replacing?

[2016-10-11 16:02] therajanmaurya commented on #317
@mayank-kgp wait. in this issue, we need to just shift the Pojo to object directory.
and this will create conflicts, So that I am stopped.
Wait till the open PR merge.

[2016-10-11 16:04] mayank-kgp commented on #317
@therajanmaurya  ok

[2016-10-11 16:19] mayank-kgp commented on #253
@xiprox  Please give an update on this issue.
Is it resolved?

[2016-10-13 10:05] xiprox commented on #253
Oh. I'm sorry. Somehow forgot to close this I guess. Yes, it's been fixed with https://github.com/openMF/android-client/pull/255/commits/3abacafd709d95aff68da659aad8e2610305a314

[2016-10-13 10:05] #253 closed

[2016-10-14 01:43] ishan1604 commented on #376
Since tap is not required here, this is not a valid issue.
Thanks for clarification @therajanmaurya

[2016-10-14 01:43] #376 closed

[2016-10-15 18:13] top-gun007 commented on #338
hi @therajanmaurya can I do it?

[2016-10-19 14:35] aakashkhatter1296 opened #382 "Add 'Show Password' button in Password field in the Login Form"
**Summary:**
Add 'Show Password' button in Password field in the Login Form

[2016-10-20 17:19] mayank-kgp commented on #300
@therajanmaurya Can you please elaborate this issue as I am not able to visualize the issue?

[2016-10-20 18:02] mayank-kgp opened #383 "NumberFormatException While fetching LoanAccount Template"
**Summary:**

When trying to add loan account for any client , app shows toast with message "Failed to Loan Account Template".

**Steps to reproduce:**

Go to clients, Smith R, from menu , select add loan account.

**Expected behavior:**

Be able to see form for adding loan account with proper fields in all spinners.

**Observed behavior:**

Not able to fill the form.

**Device and Android version

[2016-10-20 18:25] mayank-kgp commented on #285
@therajanmaurya
GroupLoanAccountFragment - corrected in pr #381
LoanAccountFragment - POJO of "Loans" is required but it has no annotation - @SerializedName
ChargeDialogFragment - one POJO is made but it has dbflow implemetation as @primarykey, @column annotation . Annotation should be replace by @SerializedName . Another POJO required. And Subscription should be replaced by CompositeSubscription.

[2016-10-20 18:34] therajanmaurya commented on #285
@mayank-kgp This is not a single PR, you have to break this Issue in multiple.
Please open issue for LoanAccountFragment. I will assign to you.

[2016-10-20 18:36] mayank-kgp commented on #285
@therajanmaurya  Sure.

[2016-10-20 18:38] mayank-kgp opened #385 "Add API Response Model in LoanAccountFragment"
In LoanAccountFragment, the API response is the Retrofit Response, Deserialize POJO is not coming by default, Need to add POJO of CallBack Retrofit Request.

[2016-10-21 08:04] mayank-kgp commented on #358
@therajanmaurya  PR has been merged
Please close it.

[2016-10-21 08:09] mayank-kgp commented on #383
@therajanmaurya PR has been merged.
I am closing this issue.

[2016-10-21 08:09] #383 closed

[2016-10-21 08:25] therajanmaurya commented on #370
fixed #379

[2016-10-21 08:27] #370 closed

[2016-10-23 06:00] sosnickm commented on #348
When using a different device this doesn't happen for me, could you try and reproduce and see if this still happens? If not, I can try to look into why this happened to you.

[2016-10-23 06:18] sosnickm commented on #362
<img width="405" alt="screen shot 2016-10-23 at 2 18 25 am" src="https://cloud.githubusercontent.com/assets/12140915/19624491/0154fc2e-98c7-11e6-977f-92c6f79ec09f.png">

[2016-10-23 06:20] sosnickm commented on #362
This is what I get when I click Path Tracker (Android 4.1.1), can you try clicking on it again and seeing if this is just a problem with your version?

[2016-10-23 07:33] sosnickm commented on #361
@edcable do you have Google play services on whatever device you are using? (the error that I have coming up for me when I try to run this is that I don't have Google play services)

[2016-10-24 04:40] mayank-kgp commented on #285
@therajanmaurya May I open the issue for ChargeDialogFragment?

[2016-10-24 05:58] therajanmaurya commented on #285
ChargeDialogFragment issue already opened #364.
If you wanna work I will assign to you.

[2016-10-24 07:46] mayank-kgp commented on #285
@therajanmaurya  Please assign it to me.

[2016-10-24 07:53] therajanmaurya commented on #364
@mayank-kgp Go ahead and fix this issue. If you need any help, feel free to ask.

[2016-10-24 16:42] top-gun007 commented on #356
@therajanmaurya can I fix this?

[2016-10-24 21:49] ishan1604 commented on #356
@top-gun007 Sure, could you tell us what approach do you have in mind for this improvement ?

[2016-10-25 09:22] top-gun007 commented on #356
I would like create a option in action bar(Sync All) along side sync when the user presses long press.

[2016-10-25 09:40] ishan1604 commented on #356
Ok and how many clients do you think are there (or can be there that you might try to sync) ? If I give you a number it could go touch 100K easily for big organisations.

[2016-10-25 09:47] top-gun007 commented on #356
ok in that case we can show the user a dialog box warning him if it exceeds a specified limit and if he still wants to proceed.

[2016-10-25 09:56] top-gun007 commented on #356
I would like to add one more thing @ishan1604 if the list is large enough then it won't be possible for the user to handpick and sync his clients. I think we should  group them alphabetically(like the way windows phone categorises its apps).

[2016-10-25 10:19] ishan1604 commented on #356
The grouping needs to be on some other criteria not Alphabetical order of names.

[2016-10-25 20:41] top-gun007 commented on #356
@ishan1604 currently the list is sorted according to account numbers so you want to keep it that way right?

[2016-10-25 20:47] top-gun007 commented on #356
ishan i have following ideas related to syncing the clients please let me know if you like any of them:

- Sync account on the basis of account details like for eg: sync those clients whose account balance is more than a specified amount.

- Sync clients in groups like 25-25 at a time if the numbers are large.

Thank you
Ashu

[2016-10-26 08:41] ishan1604 commented on #356
@top-gun007 Syncing can be done by grouping clients in groups or centers or all the clients for a given staff, its just that we need to provide filters and query the API based on that to fetch the list of clients.

It would be much better to ask the community on the mailing list about what is the desired functionality, instead of assuming things on our own.

[2016-10-27 06:22] top-gun007 commented on #356
ok @ishan1604 i will ask the community members of their views on this and then let you know about it and thanks for helping me out on this :smile:

[2016-10-28 01:51] sosnickm commented on #308
Can you explain more what you mean here? I can try to work on this if no one has.

[2016-10-28 01:57] sosnickm commented on #296
Is this still a problem?

[2016-10-28 08:49] therajanmaurya commented on #296
Yes, If you wanna work, you can.
Feel free to ask any question regarding the issue!

[2016-10-28 09:31] therajanmaurya commented on #308
Yes, you are welcome.
right now, when the user is creating the group, you have to enter the group name and other details and submit.
There is two way to create the group.
1. Submitting Group to the server using retrofit.
2. Save the group to the database and sync later to the server, if the user does not have good
    internet connection. you have to switch in offline from navigation drawer.

In t

[2016-11-01 15:20] #365 closed

[2016-11-01 15:20] #357 closed

[2016-11-02 19:33] therajanmaurya commented on #287
This issue was about to handle the Toast message in SaveOfflineDataHelper in the [commit](https://github.com/openMF/android-client/commit/e3dc5c76495b60c01b4194d8a184bd3a856ef5b2#diff-3894850408456c9624080ec09afad09fR182).
This helper class has been removed because I have written the Database layer separately that is binded with the DataManager, that's why this helper class making no sense and no

[2016-11-02 19:33] #287 closed

[2016-11-05 17:23] chiragw15 opened #389 "No Response for Invalid username/password in login activity"
When a user enters wrong username or password, there is no response.

**Expected behavior:**

There should be a message if user enters invalid username/password.

These are some implementations, I tried.

1.) SnackBar
![screenshot_20161105-220253](https://cloud.githubusercontent.com/assets/16978820/20032088/e540ba68-a3a8-11e6-9b3c-4a5fbca24dc0.png)

2.)Toast
![screenshot_20161105-214433](https://c

[2016-11-05 17:57] therajanmaurya commented on #389
The first approach looks good 👍

[2016-11-05 18:19] chiragw15 commented on #389
Okay sure. I'll be sending a PR for this soon.

[2016-11-09 14:35] mayank-kgp opened #390 "CenterList UI Enhance"
**Summary:**

UI enhancement of Center List Activity

**Steps to reproduce:**

Go to Centers

**Expected behavior:**

Summary of each center should be properly displayed.

**Observed behavior:**

Display of information is not well separated and not presentable.

**Device and Android version:**

Demo Server on YUREKA with Android 5.1.1

**Screenshots:**

Proposed Design -

![centerlist](https://clo

[2016-11-10 10:05] top-gun007 commented on #308
is someone working on it @therajanmaurya

[2016-11-13 11:47] tarun0 opened #394 "Hide (Soft) Keyboard on clicking search"
**Summary:**

The softkeyboard should hide once the user clicks on 'Search' button (or taps on NavigationBar) in ClientSearchFragment but it doesn't.

**Steps to reproduce:**

On the first screen after login, the ClientSearchFragment is shown. Type anything there and press search (without tapping on the 'Done' button on the soft keyboard). The keyboard will still be there. Now if the user taps on

[2016-11-13 12:00] therajanmaurya commented on #394
Looks good, Go ahead.
Feel free to ask anything.

[2016-11-14 12:11] tarun0 opened #396 "Search menu Item in Centers List finishes the activity"
**Summary:**

In the Centers list fragment, the Menu Item `Search` finishes the activity.

**Steps to reproduce:**

Open Navigation Bar, tap on `Centres`. On the Toolbar, tap the menu item `Search`. The activity finishes.

**Expected behavior:**

Should have shown the list of centres which match (or contain) the string entered.

**Observed behavior:**

The activity finishes.

**Device and Android

[2016-11-14 14:01] reverie-ss opened #397 "Overlapping of Dashboard screen"
**Summary:**

Summarize your issue in one sentence (what goes wrong, what did you expect to happen)

**Steps to reproduce:**

options-> create client -> groups(nav bar) -> back button

**Expected behavior:**

To show only the dashboard

**Observed behavior:**

The dashboard was overlapped on previous page

**Device and Android version:**

Device- YU Yureka+
Android Version - 6.0.1 Marshmallow (Cus

[2016-11-16 13:36] reverie-ss commented on #361
If the location permission is not enabled, then the app crashes.

[2016-11-21 15:31] therajanmaurya commented on #147
It is fixed in #279, So I am closing this issue.

[2016-11-21 15:31] #147 closed

[2016-11-21 15:34] therajanmaurya commented on #155
This issue continues Here #390

[2016-11-21 15:34] #155 closed

[2016-11-21 15:39] therajanmaurya commented on #397
@reverie-ss Good Job, Feel free to open PR. Thanks for finding Bug 👍.

[2016-11-21 17:00] top-gun007 commented on #296
@therajanmaurya can you tell me more about this issue..thank you

[2016-11-22 05:25] edcable opened #401 "Add Button to Create Client from Listing of Group Clients"
**Summary:**

Just as you can do in the web app, it'd be good to be able to add a client directly to a group from the app mobile app. Currently when you view a list of clients within a group.

Summarize your issue in one sentence (what goes wrong, what did you expect to happen)

**Steps to create**

* Navigate to Groups. Select a group
* Click the More Menu, select Group clients
* Both when there

[2016-11-22 16:06] edcable opened #402 "Add labels for Submitted On and Disbursement On for Create Loan View (Individual & Group)"
**Summary:**

These input fields are currently just the date picker without any label.
**Steps to reproduce:**

Navigate to any client or any group and add a loan account. You'll see the date fields without a label.

**Expected behavior:**
Have a clearly placed label to identify what date is being selected.

**Observed behavior:**

Just the date field

**Screenshots:**
![screenshot_20161122-072027

[2016-11-22 16:15] edcable opened #403 "Include proper input field for nominal interest rate for create loan view"
**Summary:**

Nominal Interest Rate should be specified in one input field as a rate that's either per month or per year (based on product configuration.

For the create loan view for the individual clients and groups, it presents the user two different input fields for the nominal interest rate. Both are incorrect.
**Steps to reproduce:**

Navigate to any client or group and click to add loan.

*

[2016-11-22 16:25] edcable opened #404 "Remove fields that should only be configurable at Loan Product Level"
**Summary:**

Within the web app, while configuring a product you can control which parameters can be over-ridden at time of loan account creation. This makes parameters that should only be controlled by administrative staff non-editable by users.  If this override configuration can't get passed down to mobile app, I propose we just don't include these fields in the loan create form for better usa

[2016-11-22 16:55] edcable opened #405 "Ideal Create Loan Account Fields & Layout [was MIFOSAC-153]"
**Summary:**

Ideally the loan creation field should contain only those fields that a field officer should be able to edit for a new loan account. All the options available in the web app won't be made available but those that are necessary to be performed in the field should be supported.

I propose the following input fields and order of display (based on web app UI):

- [ ] Product
- [ ] Loan P

[2016-11-22 18:49] edcable opened #406 "Typo in nominal annual interest field for Create Savings"
**Summary:**

The field for nominal annual interest should be spelled correctly but actually reads "nominal annual intrest"

![screenshot_20161122-104604](https://cloud.githubusercontent.com/assets/823454/20537262/52dd374a-b0a1-11e6-8e0e-32ca4c3b3c2e.png)

[2016-11-22 18:50] edcable opened #407 "Typo in Interest Compounding Period Label"
**Summary:**

It should read Interest Compounding Period but it reads "Intrest Compounding Period"

![screenshot_20161122-104604](https://cloud.githubusercontent.com/assets/823454/20537286/6213aa46-b0a1-11e6-8589-67deed7690ff.png)

[2016-11-22 19:16] edcable opened #408 "Add following fields to the Create Savings Account form"
Based on the most typical use case of creating a savings account from the mobile app, we should include the following fields.
- [ ] Savings Product*
- [ ] Field Officer
- [ ] Submitted On*
- [ ] External ID
- [ ] Nominal Annual Interest*

For the following four required fields, I would propose they don't get included in the savings creation form and they just inherit the default values that are sp

[2016-11-22 19:29] edcable commented on #408
See https://mifosforge.jira.com/browse/MIFOSAC-133 and possible PR

[2016-11-22 19:38] edcable opened #409 "Unable to view Center Details"
**Summary:**

The Centers navigation workflow still is of the old format in which it's just a navigational aid and it's not possible to actually navigate to and view and edit a center's details.

**Steps to reproduce:**

One should be able to navigate to a center and then view its details:

- [ ] link form more menu to list of groups
- [ ] activation date
- [ ] Meeting details (if assigned)
- [ ]

[2016-11-22 19:40] edcable opened #410 "Add ability to create group savings account [MIFOSAC-130]"
**Summary:**

From the group view, from the more menu, there should be a link to add/create savings account that belongs to a group. The savings account application should contain the same fields as that of a client savings application.

[2016-11-22 19:44] edcable opened #411 "Add ability to create center savings account [MIFOSAC-129]"
**Summary:**

From the center view, from the more menu, there should be a link to add/create savings account that belongs to a center. The savings account application should contain the same fields as that of a client or group savings application.

[2016-11-24 16:31] mayank-kgp opened #412 "Replace all the hardcoded strings with @string resource"
**Summary:**

All the hardcoded string in code should be replaced with separate string resource in string.xml file.
For example - In  mifosng-android/src/main/res/menu/client_save_pin.xml "Save pin" is written. Instead of that, this string should be in different string.xml files according to different languages.

**Steps to reproduce:**

Start Run Inspect By Name and see all the hard coded strings

[2016-11-24 23:58] top-gun007 commented on #408
can i work on it @edcable thank you

[2016-11-25 07:33] therajanmaurya commented on #408
Yeah, Go ahead.

[2016-11-25 13:22] top-gun007 commented on #408
just to make sure we are on the same page you want me to implement changes here right?
![screenshot_1480077041](https://cloud.githubusercontent.com/assets/15179401/20626513/373f0e40-b340-11e6-948a-c2022a7e1e0b.png)

[2016-11-25 13:44] therajanmaurya commented on #408
Yeah :)

[2016-11-26 05:51] tarun0 commented on #405
Can I start working on this? @edcable @therajanmaurya

[2016-11-26 13:53] yvsssantosh commented on #412
@mayank-kgp

I'd like to work on this issue
Please assign it to me

[2016-11-26 14:18] therajanmaurya opened #413 "Add RTL Support"
**Summary:**

Android now offers several APIs that allow you to build user interfaces that gracefully transform layout orientation to support languages that use right-to-left (RTL) UIs and reading direction, such as Arabic and Hebrew.

To begin supporting RTL layouts in your app, set the android:supportsRtl attribute to the ```<application>``` element in your manifest file and set it “true". Once

[2016-11-26 17:31] top-gun007 commented on #408
ok @therajanmaurya here is the approach which I am going to follow:

- for the first part I am going to create the necessary field in the xml and the  use SavingsPayload.java to post the parameters as I there are already some unimplemented methods in it.

- for the second part I am going to remove the fields and post directly the parameters using SavingsPayload.java

- and for the third part I am

[2016-11-27 05:54] therajanmaurya opened #414 "Update Login and Logout User Guide"
**Summary:**

Update this [Login User Guide](https://mifosforge.jira.com/wiki/pages/viewpage.action?pageId=76873782) with the Latest screenshot and describe the how login feature is working with brief description.

**Steps to reproduce:**

Open app and  [Login User Guide](https://mifosforge.jira.com/wiki/pages/viewpage.action?pageId=76873782), look that user guide is out dated.

**Expected behavio

[2016-11-27 06:01] therajanmaurya opened #415 "Update User Guide of Search Feature"
**Summary:**

Update this [Search User Guide](https://mifosforge.jira.com/wiki/pages/viewpage.action?pageId=76873791) with the Latest screenshot and describe the how login feature is working with a brief description.

**Add screenshot and brief description:** If the user forgets to enter search query or if the search query is not found any client.

**Steps to reproduce:**

Open the app and  [Searc

[2016-11-27 06:39] therajanmaurya opened #416 "Update Client List User Guide"
**Summary:**
Update this [Client List User Guide](https://mifosforge.jira.com/wiki/display/docs/Working+with+center+lists) with the Latest screenshot and describe the how Client List feature is working with a brief description.
The current documentation is the outdated, Now the whole client list feature changes with new working design.

Please look Present User guide and Run the app and check the

[2016-11-27 06:50] therajanmaurya opened #417 "Add User Guide for Syncing the Clients Offline"
**Summary:**

Syncing Client offline is the new feature in which User can syncing clients to view if the user does not have an internet connection.

**How's the Offline Client sync works**
You have to look this [video](https://www.youtube.com/watch?v=QIpG-NtM6_s).

**Device and Android version:**

What make and model device (e.g., Samsung Galaxy S3) did you encounter this on?  What Android
version

[2016-11-27 15:49] yvsssantosh commented on #416
@therajanmaurya
I'd like to work on this so kindly assign it to me

[2016-11-27 17:14] therajanmaurya commented on #416
@yvsssantosh Sorry I forget to add the GCI tag, These are a very simple issue for School Children.
Thanks.

[2016-11-27 17:20] therajanmaurya commented on #408
@top-gun007 In 2nd point which fields you are going to remove and rest of things looks fine.

[2016-11-27 18:31] yvsssantosh commented on #416
@therajanmaurya
Never mind  then I will look for another issue 👍
Thanks for the reply :)

[2016-11-27 23:12] edcable commented on #405
Yes. Please go ahead @tarun0. All the fields included in this list should be able to be overridden while creating an account and not just at the product level. The fields that aren't exposed in the account creation process aren't listed here.

[2016-11-28 00:55] top-gun007 commented on #408
The following fields rajan:
 - Interest calculated using*
-  Interest compounding period*
-  Interest posting period*
-  Days in year*

**or should I just show their default values but the user would not be able to edit them**

Please correct me if I am wrong.
Thanks

[2016-11-29 18:19] mayank-kgp opened #419 "Update Center List User Guide"
Summary:
Update this [Center List User Guide](https://mifosforge.jira.com/wiki/display/docs/Working+with+center+lists)  with the Latest screenshot and describe the how Center List feature is working with a brief description.
The current documentation is the outdated, Now the whole center list feature changes with new working design.

Please look Present User guide and Run the app and check the cen

[2016-12-04 05:44] sagarchoudhary96 commented on #413
@therajanmaurya can i fix this ?

[2016-12-04 05:45] sagarchoudhary96 commented on #412
@therajanmaurya can i work on it ?

[2016-12-04 10:01] vishwesh3 opened #423 "App is crashing"
**Summary:**

Runtime permission.

**Steps to reproduce:**

Add runtime permission

**Expected behavior:**

When app is trying to get location (and storage) first it should for permission, if granted then proceed else ask permission .

**Observed behavior:**

If permission is not granted it doesn't  ask for permission and crashes.

**Device and Android version:**

Tested on ASUS Zenfone selfie And

[2016-12-04 19:01] tarun0 commented on #411
Some description:

   `Center view` stated above refers to the screen shown
      In [webapp](https://demo.openmf.org), by clicking on

In android app, by opening

In the webapp's center view, there's an option named `Center Saving Application`. The same feature has to be implemented in the android app's center view.

For reference see the implementation in Client's Loan Application by opening

 F

[2016-12-05 16:16] reverie-ss commented on #423
The issue has been raised #362

[2016-12-06 10:11] yvsssantosh commented on #397
@therajanmaurya @reverie-ss
Is this issue open..? If yes i'd like to work on it

Thanks

[2016-12-06 10:14] reverie-ss commented on #397
@yvsssantosh
Yes, this is open!
I am working on it. I will continue once my exams are over.
Please feel free to contribute!

[2016-12-06 10:18] vishwesh3 commented on #423
@reverie-ss Sorry, I didn't know that it is already open.

[2016-12-06 11:08] #406 closed

[2016-12-06 11:08] #407 closed

[2016-12-07 08:15] vishwesh3 opened #427 "Show Correct ActionBar Title While Creating Center or Client"
**Summary:**

Some items in menu (`client_search.xml`) are redundant.

**Steps to reproduce:**

Open menu in `DashboardActivity`.

**Expected behavior:**

For example if **Create Centre** page is opened, then it should not show **Create Centre** option in menu. Same for **Create Client**.

**Observed behavior:**

It is showing **Create Centre** option in **Create Centre** page. Same for **Create C

[2016-12-07 09:26] #423 closed

[2016-12-07 19:48] vishwesh3 commented on #427
@therajanmaurya  Please review it.

[2016-12-07 20:08] therajanmaurya commented on #427
@vishwesh3 Looks good,
I want two change in this PR
1. Change the Actionbar title like "Create Client", "Create Center".
2. Rename the ```client_search.xml``` to ```menu_main.xml```

[2016-12-07 20:13] vishwesh3 commented on #427
Ok I will send PR soon.

[2016-12-07 20:28] therajanmaurya commented on #414
This issue is completed and reviewed by @edcable.
We can find work here : https://mifosforge.jira.com/wiki/pages/viewpage.action?pageId=76873782

[2016-12-07 20:28] #414 closed

[2016-12-07 20:48] therajanmaurya opened #431 "Translation of Strings of different Languages that we are supporting"
**Summary:**

We are supporting the different languages and their strings.xml is present but all strings do not have string translation.
 You can find the better understanding here : https://travis-ci.org/openMF/android-client/builds/175134636#L2104

**Expected behavior:**

All strings.xml's strings should have their translation in different values-ca/strings.xml etc

**Device and Android version:

[2016-12-07 21:03] vishwesh3 commented on #427
@therajanmaurya
Now we are updating title for each page, so should I remove "Create client" (marked in red) from the xml?

![whatsapp image 2016-12-08 at 2 30 43 am](https://cloud.githubusercontent.com/assets/18511177/20986379/74c025f8-bcee-11e6-9d22-d8a3d6593bcb.jpeg)

[2016-12-08 16:40] vishwesh3 commented on #427
@therajanmaurya waiting for your review.

[2016-12-08 17:33] therajanmaurya commented on #427
@ishan1604 @edcable What do you think about the "Create Client" in the red circle. we want that or not.

[2016-12-09 13:45] tarun0 opened #433 "Can't create client - 'client classification' not loaded"
**Summary:**

Can't create a new client from the Dashboard.

**Steps to reproduce:**

From Dashboard, open 'More Menu' -> Create Client.

**Expected behavior:**

All the values in the template should have loaded correctly.

**Observed behavior:**

The 'Gender' and 'Client' values take significant time in loading and the `Client Classification` value is not loaded. As a result of which the error `T

[2016-12-09 13:53] tarun0 opened #434 "ActionBar obstructed by Status Bar in Kitkat API 19"
**Summary:**

Appbar is being obstructed by StatusBar.

**Steps to reproduce:**

 Install the app on Kitkat device

**Expected behavior:**

ActionBar should be below the status bar.

**Observed behavior:**

Appbar is being obstructed by StatusBar.

**Device and Android version:**

Redmi Note 1S - Kitkat (4.4)  MIUI 8 - API 19

**Screenshots:**

![xiaomi note 1s kitkat](https://cloud.githubusercont

[2016-12-09 14:00] tarun0 opened #435 "App crashes on setting visiting date to center"
**Summary:**

App crashes on setting a visiting date to any center.

**Steps to reproduce:**

From NavigationDrawer, tap on 'Centers'. Long tap any center. Date picker will show up. Select any date. It crashes with NullPointerException.

**Expected behavior:**

The date should have been selected successfully and the subsequent screen of all the meetings should have been shown, [as explained here](

[2016-12-09 19:13] prathmeshranaut commented on #348
**Before** clicking `More Info` on the clients page.
<img width="368" alt="screen shot 2016-12-10 at 12 41 38 am" src="https://cloud.githubusercontent.com/assets/3950603/21061242/7a417598-be71-11e6-80ac-3e8ad3d979e5.png">
**After** clicking the `More Info` button
<img width="367" alt="screen shot 2016-12-10 at 12 41 45 am" src="https://cloud.githubusercontent.com/assets/3950603/21061265/8a0cc9dc-b

[2016-12-13 04:31] top-gun007 commented on #408
should I remove the fields in the second part?
Thank you

[2016-12-13 05:08] top-gun007 opened #441 "Process Dialog should appear when client views his/her Loan/Saving/Recurring account information"
**Summary:**

When we view client's account information in Client fragment a process dialog should pop up so at least we know that the app is trying to retrieve information instead of giving the perception that the following feature is not working

**Expected behavior:**

Process Dialog should appear when we select loan/savings/recurring account.

**Observed behavior:**

The corresponding account

[2016-12-13 14:23] mayank-kgp commented on #364
@edcable In post request for creating charge, the defined parameters are "amount", "chargeId", "dateFormat", "dueDate", "locale".
So there is no meaning of Charge calculation. Charge time type, Due for collection on.
API Link-  https://demo.openmf.org/api-docs/apiLive.htm#add_clientCharge
@therajanmaurya  However I am adding proper pojo. :)

[2016-12-13 16:48] mayank-kgp commented on #385
@therajanmaurya issue has been solved in https://github.com/openMF/android-client/pull/386
I am closing this issue.

[2016-12-13 16:48] #385 closed

[2016-12-13 18:31] therajanmaurya commented on #435
Fixed in #440

[2016-12-13 18:31] #435 closed

[2016-12-13 18:32] therajanmaurya commented on #296
Fixed in #440

[2016-12-13 18:32] #296 closed

[2016-12-13 18:36] therajanmaurya commented on #427
Fixed in #439

[2016-12-13 18:36] #427 closed

[2016-12-13 18:38] therajanmaurya commented on #394
Fixed in #440

[2016-12-13 18:38] #394 closed

[2016-12-14 09:46] mayank-kgp opened #446 "Add API Response Model in LoanAccountDisbursement"
**Summary:**

In LoanAccountDisbursement, the API response is the Retrofit Response, Deserialize POJO is not coming by default, Need to add POJO of CallBack Retrofit Request.

[2016-12-17 19:38] tarun0 commented on #405
@edcable I've fixed this and the other issues with it -  #403 and #402 in https://github.com/openMF/android-client/pull/449
I've added `Link Saving` options, `Repaid Every` and reordered the fields. Below are screenshots of the same. Haven't removed the already added fields, though. Please let me know if they must be removed. I thought it'd be fine to provide a webapp like experience.

![screensho

[2016-12-18 19:45] FleetAdmiral commented on #441
Hey! I'm new to the project and would like to start working on it with this issue, could it take it up?

[2016-12-19 03:23] top-gun007 commented on #441
I was thinking of working on it myself. Once it gets approved.
@therajanmaurya is this issue approved?

[2016-12-19 13:32] therajanmaurya commented on #411
Added in #425

[2016-12-19 13:32] #411 closed

[2016-12-19 15:24] jainkuniya opened #451 "Add Client Detail info feature"
**Summary:**

Add Client Detail Info Feature.

**Expected behavior:**

In web app we have a division which contain info of the client. It would me better if we make such division in client activity.

Info like
![mifos](https://cloud.githubusercontent.com/assets/18511177/21317882/05eb4642-c62d-11e6-9b64-026edafaa286.png)

**Note: Add the button for "Client Detail info" and make fragment transaction

[2016-12-20 08:32] vishwesh3 commented on #434
@tarun0 I would like to work on this.

[2016-12-20 09:12] therajanmaurya commented on #434
Yeah, Go ahead 👍

On 20-Dec-2016 2:04 PM, "Vishwesh Jainkuniya" <notifications@github.com>
wrote:

[2016-12-20 09:38] tarun0 opened #453 "Ideal Group Loan Application Layout and Default values for the fields"
**Summary:**

The android app currently doesn't have all the fields for Loan Account fields like in WebApp.

**Expected behavior:**

It should provide all the options provided in the webapp, or at least those proposed by Ed in https://github.com/openMF/android-client/issues/405
The following tasks need to be done:

- Default values for the fields
- Reordering (clarification needed, though) of fiel

[2016-12-20 09:39] tarun0 commented on #453
@edcable @therajanmaurya If it's good enough to be worked upon now, should I start working on this?

[2016-12-20 18:33] TypicalGitHubUser opened #455 "Incorrect app`s behavior in some locales."
**Summary:**

Incorrect app`s behavior in group and client screens, if, for example, katalian or russian locale is set on device.

**Steps to reproduce:**

1. Launch an Android Emulator
2. Choose katalian (ca) locale.
3. Launch the app.
4. Choose any client or group.

**Expected behavior:**

Information about client or group.

**Observed behavior:**

In client screen : error message "Client not fo

[2016-12-21 08:37] tarun0 opened #457 "Crash on Selecting Centers from Navigation Drawer"
**Summary:**

App crashes on selecting Centers from Navigation Drawer.

**Steps to reproduce:**

From Navigation Drawer select Centers.

**Expected behavior:**

Center List should have appeared.

**Observed behavior:**

App Crashes.

**Device and Android version:**

AVD - Marshmallow API 23

**Screenshots:**

[2016-12-21 12:04] SafeFatNoob commented on #416
hi! I am doing this task for GCI. I have updated all steps besides the [final step](https://mifosforge.jira.com/wiki/display/docs/Working+with+center+lists) which I am not able to get to.

[2016-12-21 12:27] therajanmaurya commented on #416
Why are you editing document of center list because in this task you have
to edit the documentation of client list.

On 21-Dec-2016 5:35 PM, "hashir" <notifications@github.com> wrote:

[2016-12-21 14:25] SafeFatNoob commented on #416
my bad, I assumed that was a typo as all hyperlinks on this issue and on GCI link to the centers page. is [https://mifosforge.jira.com/wiki/display/docs/View+Accounts+of+a+Client](https://mifosforge.jira.com/wiki/display/docs/View+Accounts+of+a+Client) the correct one?

[2016-12-21 19:46] therajanmaurya commented on #416
Yes It is right link
https://mifosforge.jira.com/wiki/display/docs/View+Accounts+of+a+Client

On 21-Dec-2016 7:55 PM, "hashir" <notifications@github.com> wrote:

[2016-12-22 15:41] edcable opened #459 "Add support for bulk collection sheet for loan repayments (online)"
**Summary:**

Just as the Mifos X web app has a collection sheet module to support the bulk entry of loan repayments (https://mifosforge.jira.com/wiki/display/docs/Collection+sheet) this functionality is necessary in the Android field officer app too.

I believe a proof of concept of this has been done and is in the codebase.

This bulk collections module should also support bulk collection of dep

[2016-12-22 15:43] edcable opened #460 "User Stories & Wireframes for bulk collection sheet"
**Summary:**

This feature could also benefit from some dedicated design input as the collection sheet is one of the important modules in the Android app and needs to efficiently use screenspace since so much data is being presented at one time - it must also have an intuitive navigation and workflow so that the user can rapidly proceed through the bulk entry of transactions.  For this project, we

[2016-12-22 15:45] edcable opened #461 "Add support for bulk collection of savings deposits (for SUSU clubs, etc) (Online)"
**Summary:**

SUSU accounts are a common way for individuals to securely save on a regular basis in Ghana and other countries in Africa and the Caribbean. It involves a SUSU collector who visits each client on a daily basis and collects their deposit for their account. There are a number of features we must build into the Mifos X Android App to make it the primary device used by a SUSU collector i

[2016-12-22 15:46] edcable opened #462 "Add offline support for collection sheet (savings and loans)"
Often when a loan officer goes out into the field, they will be in areas without data connectivity. They need to the ability to download the collection sheet for the respective groups and centers they're visiting that day along with expected repayments and deposits so they can store the payments while offline in the field and then when they return to a connection, synchronize their data when onlin

[2016-12-23 02:41] mayank-kgp commented on #462
@edcable I would like to work on this.
notified @therajanmaurya .

[2016-12-24 06:44] sm86 commented on #404
Is this issue still open?

[2016-12-24 10:42] vishwesh3 commented on #457
@tarun0 I would like to work on this.

[2016-12-24 11:17] tarun0 commented on #457
Hi, @vishwesh3 This has been fixed already.

[2016-12-25 12:56] tarun0 commented on #459
Currently, the app doesn't have _Attach Meeting_ feature in either of the two - group and center.  Shouldn't we provide this functionality first?

[2016-12-27 18:20] edcable commented on #459
Good catch Tarun. Can you please create a ticket for that.

@ishan1604 Was attach meeting functionality added when you were working on collection sheet prototype?

[2016-12-28 09:14] tarun0 opened #463 "Enhancement: Add 'Attach Meeting' feature"
**Summary:**

One of the major enhancements in the pipeline is the support of online as well as offline _Collection Sheets_ (#459). However, to use them with center or group, it's mandatory to provide the _Attach Meeting_ feature in both - center as well as the groups screen.

**Expected behavior:**

Open Groups from Navigation Drawer and select any group from the list. In the More menu, there sho

[2016-12-29 06:30] tarun0 commented on #431
@therajanmaurya The check shows warning for the English language as well. Are the English resources really required when the default resources are already there in English?

[2016-12-29 08:56] ishan1604 commented on #459
@edcable No, it wasn't

[2016-12-29 11:26] therajanmaurya commented on #413
Added in #430

[2016-12-29 11:26] #413 closed

[2016-12-29 14:38] mayank-kgp commented on #459
If this issue is ready to work on then I can start on working this issue.

[2016-12-30 22:18] edcable commented on #457
@therajanmaurya if you could build an API that has this fix, I will test and we can close

[2016-12-30 22:20] edcable commented on #403
@therajanmaurya, I know you already know but this is critical for release.

[2016-12-30 22:25] edcable commented on #362
@therajanmaurya, is this fix included in latest build? My app still crashes when I press start tracking.

[2016-12-31 01:21] edcable commented on #408
Yes those fields don't need to be exposed during savings creation. How is work going on this? It would be nice to ship as part of the release.

[2016-12-31 02:30] top-gun007 commented on #408
@edcable the work is mostly done only one field(Field Officer) was left unimplemented as I was not sure how to implement it. I asked on channel many times but nobody replied.

If you could help me with it I can complete it.

The problem I was facing was:
Weather Field Officer is an edit text field or a spinner. If its a spinner where should I get the values from.

_Thank you_

[2017-01-01 09:38] souljaboy764 commented on #463
I was going through the code and I think I have an idea of what to do.
What I got by looking through the code is that I need to provide an option in Centers and Groups to add a meeting by inserting a CollectionMeetingCalendar with the meeting date and repetition details set by the user. I was planning on implementing it along the lines of what is already in place for adding new centers/clients/gro

[2017-01-01 11:03] therajanmaurya commented on #463
You have to these this thing
1. Make a package ```attachmeeting``` in ```online```
2. Add a Fragment with name ```AttachMeatingFragment```
3. Make AttachMeetingMvpView and AttachMeetingPresenter

Load the Group Calendar Template(Every Group have his calender)
https://demo.openmf.org/fineract-provider/api/v1/groups/{groupId}/calendars/template

You will get this type of response
[code]
Now you have

[2017-01-02 13:07] SKrPl commented on #397
@therajanmaurya @reverie-ss I solved the issue but while doing the ./gradlew check, I am getting an error "Dodgy coding warning" i.e. Write to static field from instance method. What should I do so that i don't get that error ??

![screenshot_20170102_183523](https://cloud.githubusercontent.com/assets/12163892/21589677/5839aaae-d11a-11e6-8bd2-a22b7e0fe0e9.png)

[2017-01-06 09:31] therajanmaurya commented on #457
I have reviewed the PR.

[2017-01-06 09:51] #457 closed

[2017-01-10 12:38] tarun0 opened #466 "Loan Application fails on device if DataTables are added"
**Summary:**

If datatables are added in any 'Product' then in the _WebApp_, another screen is shown on clicking the submit button. But there is no such feature in the app currently. Hence, for such Products, the loan application fails in the android app.

**Steps to reproduce:**

Open any client. From more menu, click _New Loan Application_. For the 'Product'  field, select _Income Generating Loa

[2017-01-10 12:52] tarun0 commented on #466
@edcable @therajanmaurya Please let me know if I can work upon it.

The datatables' info (array) is retrieved from the corresponding loan template.
My approach would be to add a Linear layout in the Loan Application xml and then add the corresponding views at runtime.

Also, I'd request you to review #449 as it would help in working efficiently.

[2017-01-11 07:55] therajanmaurya commented on #441
No need for Progress Dialog while fetching the Client Accounts because we are not sharing any information that most important for us. It simple @Get request.

[2017-01-11 07:55] #441 closed

[2017-01-12 10:25] mayank-kgp opened #468 "Add message for no groups available associated with a center"
**Summary:**

Showing message that no group is available after clicking on a center

**Steps to reproduce:**

Click on a specific center from center list.

**Expected behavior:**

If there is no group associated with a center, a message should be shown that "No group associted with this center"

**Observed behavior:**

Empty page is shown. It is very confusing as it seems that loading is not finis

[2017-01-12 18:39] daveo30 opened #470 "Feature Addition in Center Creation"
Summary:  Similar to issue #308, on creating a new Center the page remains as it is without refreshing. A dialog should appear notifying the status and giving an option to create a new Center or go back to search fragment.

Expected Behaviour: A dialog gets displayed on successful creation of a Center which asks to create a new Center or not. On click of create new Center, the  previously entered

[2017-01-12 20:44] TypicalGitHubUser commented on #468
Hi,
I fixed this issue. Please, review.

[2017-01-13 07:59] mayank-kgp commented on #468
@TypicalGitHubUser I was working on this issue. You have done the same work. Please get it assigned by @therajanmaurya if you are working on issue that is opened by someone else. This will prevent duplicate work. :)

[2017-01-13 17:03] TypicalGitHubUser commented on #468
@mayank-kgp Sorry. I will close this PR.

[2017-01-13 20:44] mayank-kgp commented on #468
@TypicalGitHubUser No need to close PR now. Get it reviewed.
:)

[2017-01-16 06:52] therajanmaurya commented on #403
fix in #445

[2017-01-16 06:52] #403 closed

[2017-01-17 06:02] tarun0 commented on #360
The issue is similar to (actually, comprised in) https://github.com/openMF/android-client/issues/403 and has been solved as well as merged in  https://github.com/openMF/android-client/pull/445

@therajanmaurya @edcable Please verify and close the issue. Below is the current state of the create loan application now.
![360](https://cloud.githubusercontent.com/assets/12914286/22009318/4f0212de-dca8-1

[2017-01-17 10:01] therajanmaurya commented on #402
fix in #473

[2017-01-17 10:01] #402 closed

[2017-01-17 10:02] therajanmaurya commented on #361
fix in #472

[2017-01-17 10:02] #361 closed

[2017-01-17 10:04] therajanmaurya commented on #390
fix in #392

[2017-01-17 10:04] #390 closed

[2017-01-17 12:47] tarun0 commented on #408
@top-gun007 I guess your query would have been resolved by now. If not, I'll try to help you. The _Field Officer field_ in the question should be the one below.

![screenshot_3](https://cloud.githubusercontent.com/assets/12914286/22020749/f04a19de-dcdf-11e6-961f-225ac35c23cf.png)

Yes, it's a spinner and the values are retrieved from the array `fieldOfficerOptions` from the `https://demo.openmf.or

[2017-01-17 12:53] tarun0 commented on #348
@edcable I too can't see any issue in this either. Could you please elaborate what should be the expected behaviour?

![348](https://cloud.githubusercontent.com/assets/12914286/22021223/f861e60e-dce1-11e6-9108-9cf252f688a6.gif)

[2017-01-18 16:03] mayank-kgp commented on #433
@tarun0 https://demo.openmf.org/fineract-provider/api/v1/clients/template?tenantIdentifier=default
This api is giving empty Json Array of clientClassificationOptions. I think this is the reason of issue.
@therajanmaurya Please give a comment on this.

[2017-01-18 16:06] mayank-kgp commented on #396
@tarun0  Are you working on this issue?
If not, can I work on this?

[2017-01-18 16:10] therajanmaurya commented on #433
In new version of fineract. there is the functionality of adding data table that why It is failing. we have to add feature,  adding datatable values during creating the client.

BTW this issue I have been fixed in #450

[2017-01-18 16:10] #433 closed

[2017-01-18 16:24] mayank-kgp commented on #401
@therajanmaurya Please assign it to me if it can be worked.

[2017-01-18 16:45] therajanmaurya commented on #401
you can work.

[2017-01-19 07:30] mayank-kgp commented on #380
@therajanmaurya Is there any way to remove cache from Glide?
If not, there can be only option as you suggested.
What do you think?

[2017-01-19 07:48] mayank-kgp commented on #401
@therajanmaurya what would be better between "Having a button as Sync is there after long press on any client" and "creating an option menu and putting Create Client in that option menu".

[2017-01-19 07:48] tarun0 commented on #396
@mayank-kgp  No, I've not started working on it yet but would like to, once @therajanmaurya clears that the proposed behaviour by me is indeed the expected behaviour.

[2017-01-20 17:15] edcable commented on #405
Great work @tarun0!

[2017-01-22 12:23] k4wel opened #475 "Incorrect content in client screen, if data are not available."
**Summary:**

3 same rows ''Saving Accounts' in client screen.

**Steps to reproduce:**

1. Go to the list of clients.
2. Turn off the Internet
3. Select any client

**Expected behavior:**

Normally, we should see lists of loan, saving and recurring accounts.  And even when data are not available, we should see the same with zeros.

**Observed behavior:**

We see 3 lines "Saving accounts"

**Scree

[2017-01-22 17:03] mayank-kgp commented on #475
@TypicalGitHubUser  Are you working on it or should I try?

[2017-01-22 17:19] TypicalGitHubUser commented on #475
@mayank-kgp I think you can try. I`m not sure I can take care of it in the short run.

[2017-01-22 17:32] mayank-kgp commented on #475
@TypicalGitHubUser I think we can't see the details because details would be fetched from API when we click on any client from the list.  If we turn off the internet before clicking on any item, the details are not available.
Please give a comment.

[2017-01-22 17:49] TypicalGitHubUser commented on #475
@mayank-kgp 3 lines with exatcly the same name instead of 3 diffferent looks odd and may create negative impression of app. Either correct names or hide them at all would be more appropriate.

[2017-01-22 17:52] mayank-kgp commented on #475
I think we should take a suggestion of @therajanmaurya

[2017-01-23 12:27] mayank-kgp opened #476 "Items in option menu are not stable"
**Summary:**

If we click on any menu item in Dashboard Activity and come back then menu item is disappeared that was clicked before.

**Steps to reproduce:**

1. Click on menu item in dashboard activity. There are 4 menu items.
2. Come back to dashboard activity. Now only three menu items are there.

**Expected behavior:**

Menu items should not change.

**Observed behavior:**

The clicked menu i

[2017-01-23 12:28] mayank-kgp commented on #476
@therajanmaurya I would like to work on.

[2017-01-23 15:39] therajanmaurya commented on #348
@edcable You have encountered this issue because whenever we are opening the client. Request for fetching client data table is going at last. So if you will click every quickly on the ```More Info``` after opening the client. It will not show anything but If you will wait for 2-3 second everything will be fine and will work great.

Closing this Issue ###

[2017-01-23 15:39] #348 closed

[2017-01-23 15:55] mayank-kgp commented on #408
@top-gun007 Please tell about the work status asap as this is going to be a part of the release tomorrow.

[2017-01-23 16:22] tarun0 commented on #476
It was implemented as the fix for https://github.com/openMF/android-client/issues/427 in https://github.com/openMF/android-client/pull/439 But yes, I also think that it's a potential bug.

[2017-01-23 16:31] top-gun007 commented on #408
Hi sorry I stopped working on it long ago but if it's urgent can do it by morning

[2017-01-23 16:58] mayank-kgp commented on #408
@top-gun007 I am working on it. I will take your help if required. :)

[2017-01-24 03:16] #405 closed

[2017-01-24 23:07] edcable commented on #475
Just confirming that I'm facing the same issue. I will let @therajanmaurya make the final call but agree with @TypicalGitHubUser that it shouldn't display 3 rows of savings accounts but rather the same account headings you would see if online, simply with no data.

[2017-01-25 00:01] edcable opened #479 "Can't change both the submission and disbursement date while creating loan"
**Summary:**

As reported by Sifiso on the mailing list, when you create a loan, you can't select different dates for submission and disbursement date. Changing one changes the other.

**Steps to reproduce:**

Navigate to any client and create a new loan. Attempt to change the submission or disbursement date.

**Expected behavior:**

Be able to change the dates to any date irrespective of what dat

[2017-01-25 00:30] CloudyPadmal commented on #479
Can I look into this matter??

[2017-01-25 00:35] edcable commented on #479
Certainly @CloudyPadmal

[2017-01-25 00:36] edcable commented on #479
Just assign it to yourself so the community knows somebody is working on it. Send along any questions in our Gitter chatroom.

[2017-01-25 00:38] CloudyPadmal commented on #479
I've forked and downloaded the project! How can I assign this to myself?

[2017-01-25 00:43] edcable opened #480 "Long press on center view brings up calendar"
**Summary:**

Do a long press on any center form the list of centers and it brings up the date picker
**Steps to reproduce:**

See above

**Expected behavior:**

Not sure really but typically you could select a group or client for syncing.

**Observed behavior:**

Date picker gets displayed
**Device and Android version:**

Le Eco S3 with Android 6.0

**Screenshots:**

![screenshot_20170124-153651]

[2017-01-25 01:48] CloudyPadmal commented on #479
I found how this happens. In `GroupLoanAccountFragment.java` in the overridden method for picking date, it will set the same date for both _Submitted on Date_ and _Disbursement on Date_ once a date is chosen. If we implement the views separately to select dates, this will be resolved :)

[2017-01-25 01:50] CloudyPadmal commented on #479
I'll make a fix to it and send you a pull request? @edcable

[2017-01-25 03:47] tarun0 commented on #480
The expected behaviour, most probably, should be to check visits and update payments on that day. Here's some related info: https://mifosforge.jira.com/wiki/display/docs/Working+with+center+lists

[2017-01-25 06:30] therajanmaurya commented on #362
fix in #478

[2017-01-25 06:30] #362 closed

[2017-01-25 07:14] therajanmaurya commented on #416
Updated User guide At here https://mifosforge.jira.com/wiki/display/docs/View+Accounts+of+a+Client

[2017-01-25 07:14] #416 closed

[2017-01-25 08:07] therajanmaurya commented on #415
Completed here https://mifosforge.jira.com/wiki/pages/viewpage.action?pageId=76873791

[2017-01-25 08:07] #415 closed

[2017-01-25 08:13] therajanmaurya commented on #419
Completed here https://mifosforge.jira.com/wiki/display/docs/Working+with+center+lists

[2017-01-25 08:13] #419 closed

[2017-01-25 08:15] therajanmaurya commented on #417
Completed here https://mifosforge.jira.com/wiki/display/docs/Syncing+Offline

[2017-01-25 08:15] #417 closed

[2017-01-25 12:30] therajanmaurya commented on #475
@TypicalGitHubUser you are right. If network request failed for some reason. App show should
"Failed to fetch client details and account." and hide the whole UI and show instead of an ImageView and TextView with a message and on swipe refresh user can make the request again for data.

If anyone wants to pick who can. Please be careful ClientDetailsFragment code.

[2017-01-25 12:34] therajanmaurya commented on #480
@edcable right now center feature does not have support for syncing the center and their group's client. It only shows a dialog picker to pick date and check their is any meeting is schedule or not.

[2017-01-25 16:07] mayank-kgp commented on #475
@therajanmaurya I would like to work on this issue.
Any suggestion or something that you want to tell about before working?

[2017-01-26 00:29] CloudyPadmal commented on #479
@therajanmaurya I've reverted those system files and pushed only the java files! Is it correct now?

[2017-01-26 08:04] therajanmaurya commented on #479
@CloudyPadmal Looks good. I will review PR soon 👍

[2017-01-26 09:10] dilpreet96 opened #483 "each item takes full height of the screen"
**Summary:**

Each list-item for ClientNameListAdapter,GroupNameListAdapter,CentersListAdapter takes the full height of the screen. Each list-item should take enough height of its content.

**Steps to reproduce:**

Click on Clients or Groups or Centers from the Navigation Drawer. Each list-item takes full length of screen

**Expected behavior:**

list-item should take enough height of its content

[2017-01-26 11:25] Siltech opened #484 "Error Creating a client account"
Hello,

There is an issue when i try to create a client account through the android app. Please help me understand how i can go around this. Kindly help me with the logic to this, maybe also by removing the Current Address block.

On the save dialog, I'm getting::
#

![photo5787646668664055724](https://cloud.githubusercontent.com/assets/25096223/22329645/086922ec-e377-11e6-8844-26ef6a588a85.jpg)

[2017-01-26 14:17] CloudyPadmal commented on #479
@therajanmaurya thank you!!

[2017-01-26 14:28] therajanmaurya commented on #484
@Siltech Right now the app does not support. @tarun0 is working in this feature.
BTW you can create client easily without the DataTable. Do one thing remove data table attached to client.
Look this doc, how to attached and remove DataTable : https://mifosforge.jira.com/wiki/display/docs/Entity+Data+Table+Checks#suk=ff8080813fbbb4b9013fbbb6235e0008

[2017-01-26 14:30] therajanmaurya commented on #483
@dilpreet96 are you working on latest build?
Can you please test in other device and If you are getting the same issue or not?

[2017-01-26 14:33] therajanmaurya commented on #475
@mayank-kgp Go ahead.

[2017-01-26 14:52] dilpreet96 commented on #483
@therajanmaurya ,Yes I am working on latest build . (Checked again by fetching from upstream/master)
Got same result on Micromax Canvas 2 Colours ,
Android Version:4.4.2
Shall I work on it ?

[2017-01-26 14:58] therajanmaurya commented on #483
It's strange because I am working on the latest build and I can't reproduce this issue.
My device is Moto G turbo 3 API 24

[2017-01-26 15:01] therajanmaurya commented on #483
@edcable @tarun0 @mayank-kgp Can you please confirm about this issue.

[2017-01-26 15:06] mayank-kgp commented on #483
@therajanmaurya App is working fine on my device. My device is Micromax yureka with android version 5.1.1

[2017-01-26 16:13] therajanmaurya commented on #483
@dilpreet96 Ok If you are really getting this issue, send a PR and let me look closely why this is happening.

[2017-01-26 17:18] dilpreet96 commented on #483
@therajanmaurya PR sent.
<View/> in row_client_name and row_group_name where causing problem even after making the parent as wrap_content so removed the <View/> and added the isSelected() logic to linearLayout background for multiple selections.

[2017-01-26 18:17] tarun0 commented on #483
I too observed this behaviour once. However, I could not replicate the issue after one or two times and it was like 1-2 months ago and never observed that again.
Tried again now with Kitkat and Marshmallow and the app works fine for me as well.

[2017-01-26 19:50] therajanmaurya commented on #408
fix in #477

[2017-01-26 19:50] #408 closed

[2017-01-27 16:35] therajanmaurya commented on #479
fix in #487

[2017-01-27 16:35] #479 closed

[2017-01-29 05:51] tarun0 commented on #484
@therajanmaurya Since I'm working on this already, can this issue be assigned to me?

[2017-01-29 11:48] tarun0 opened #489 "DatePicker storing wrong date"
**Summary:**

The generic DatePicker is sending wrong date.

**Steps to reproduce:**

Open any field that requires date input. As an example:
Open any client -> More Menu -> Add Loan Account. You'll find two fields to select date. Tap on those fields and choose the dates. Sometimes, they'll be correct. Most of the times, they are wrong, even invalid (23-50-2017 !).

**Expected behavior:**

Correct

[2017-01-29 11:51] tarun0 commented on #489
The changes done in `MFDatePicker.java` in the PR #479 are resulting in this behaviour.

[2017-01-29 12:16] therajanmaurya commented on #489
Yeah I have tested, Feel free to send PR.

[2017-01-29 18:12] tarun0 opened #491 "Can't change both the submission and disbursement date while creating loan for Client"
**Summary:**

On setting one of the two dates - submission or disbursement, both the dates gets set to the same picked date.

**Steps to reproduce:**

Go to client. From More menu, select Add New Loan. Select the dates.

**Expected behavior:**

Dates should be selected independently.

**Observed behavior:**

Dates are the same.

[2017-01-30 09:22] Siltech commented on #484
That's kind of you @tarun0 . Though I'm wondering, through the code, is there a way to get around the data-table requirement. I've been trying this using the procedure given by @therajanmaurya and its not working out as it should work.

[2017-01-30 10:01] Siltech commented on #484
@therajanmaurya it your solution works. However, the client name is replicated without a unique identifier. So you may enter values for one person multiple times.

[2017-01-30 12:30] tarun0 commented on #484
@Siltech Could you please elaborate the issue of replicated client names that you are facing - maybe with screenshots/gif and/or with steps to reproduce it?
If you feel that's something independent of this issue (unable to create client because of datatables), please consider making a separate issue.

Alternatively, you can discuss it on the Gitter channel as well: https://gitter.im/openMF/android

[2017-01-31 09:24] shobhitagarwal1612 commented on #489
I'd like to work on this issue

[2017-01-31 10:09] shobhitagarwal1612 commented on #491
I'd like to work on this issue.

[2017-02-02 17:34] #466 closed

[2017-02-02 17:42] #491 closed

[2017-02-03 02:03] CloudyPadmal commented on #489
@therajanmaurya this issue is fixed and it is merged! This can be closed now :)

[2017-02-03 05:39] shobhitagarwal1612 commented on #470
I'd like to tackle this bug

[2017-02-03 13:37] harshitagupta30 opened #496 "Edittext in add documents dialog under the account summary screen has no text limit."
**Summary:**

Edittext in add documents dialog under the account summary screen has no text limit which is resulting into bad view.

**Steps to reproduce:**

1. Under the clients, click on any of the client .
2. In action bar click on the menu, then click on documents and then finally add new document.

**Expected behavior:**

The edittext should be restricted to a few lines instead of it taking e

[2017-02-04 01:15] edcable opened #499 "Client image doesn't display in client view, only in clients list"
**Summary:**

Clients with an image (uploaded not taken via webcam) don't display image in client view only in clients list.
**Steps to reproduce:**
Click and view a client.

**Expected behavior:**

Client image to be displayed

**Observed behavior:**

Only see Mifos X logo.
**Device and Android version:**

Le Eco Android 6.0

On demo 4 server Mifos/MifosAdmin

**Screenshots:**

Can be created by

[2017-02-04 01:20] edcable commented on #499
![screenshot_20170203-171119](https://cloud.githubusercontent.com/assets/823454/22614270/dbbc9534-ea34-11e6-8ba1-063da2b6b59b.jpg)
![screenshot_20170203-171126](https://cloud.githubusercontent.com/assets/823454/22614290/fff7448a-ea34-11e6-9296-16136a38290d.jpg)

[2017-02-05 09:31] rhari991 opened #502 "Incorrect navigation in CentersActivity"
**Summary:**
Clicking the back button present in the Toolbar of CentersActivity takes the user back to DashboardActivity, even if the fragment backstack is not empty.

**Steps to reproduce:**
1) From DashboardActivity, open the Navigation Drawer and select Centers to open CentersActivity.
2) Select a centre from the list which has at least one Group.
3) Select a Group from the list.
4) Press the b

[2017-02-05 13:31] therajanmaurya commented on #484
@Siltech It is fixed now. You can create client offline and online.
fix in #501

[2017-02-05 13:31] #484 closed

[2017-02-05 13:51] therajanmaurya commented on #499
fix in #504

[2017-02-05 13:51] #499 closed

[2017-02-05 19:19] therajanmaurya commented on #409
fix in #506

[2017-02-05 19:19] #409 closed

[2017-02-07 11:11] #502 closed

[2017-02-07 11:25] tarun0 commented on #489
Fixed and merged in https://github.com/openMF/android-client/pull/493
Closing.

[2017-02-07 11:25] #489 closed

[2017-02-08 05:47] shobhitagarwal1612 commented on #434
@therajanmaurya Since this issue has not been fixed yet, can I work on this?

[2017-02-10 09:39] mayank-kgp commented on #396
@tarun0 @therajanmaurya I was curious to know about this issue. This is pending since a long time in android client. Is anyone working on this issue?

[2017-02-10 09:40] mayank-kgp commented on #468
@TypicalGitHubUser Are you working on this?

[2017-02-11 06:59] shobhitagarwal1612 commented on #396
@mayank-kgp I would like to work on this

[2017-02-11 20:46] TypicalGitHubUser commented on #468
Sorry for delay. I`ve already sent PR #471

[2017-02-15 13:56] edcable opened #522 "Show Connection Status"
**Summary:**

As reported by Mayank in https://mifosforge.jira.com/browse/MIFOSX-2568, Add snackbar for showing connction status at the time of login replacing that "There was some error processing your request".
Because it would be better if there is a seperate message for users about connection status.
![screenshot_2016-03-05-16-04-43](https://cloud.githubusercontent.com/assets/823454/22977467/8

[2017-02-15 14:02] mayank-kgp commented on #522
@edcable I would like to work on this issue.

[2017-02-15 14:38] edcable commented on #522
Go right ahead.

[2017-02-15 20:23] therajanmaurya commented on #522
@mayank-kgp It's great. If you will look this [PR](https://github.com/openMF/android-client/pull/393) and make your own PR + this PR.

[2017-02-16 12:36] devkhan opened #524 "Feature Request: Option to make password visible on home screen."
**Summary:**

The password is hidden, and there is no option to make it visible

**Steps to reproduce:**

NA

**Expected behavior:**

Option to show/hide password.

![image](https://cloud.githubusercontent.com/assets/8049092/23021482/37678b22-f472-11e6-822d-1a1806d116cc.png)

**Observed behavior:**

![image](https://cloud.githubusercontent.com/assets/8049092/23021542/7a90e3b2-f472-11e6-8d3e-29935d

[2017-02-16 12:40] devkhan opened #525 "UX: `Connection Settings` on login screen doesn't feel clickable."
**Summary:**

The `Connection Settings` on the login screen allows to change connection option, but it feels like a plain `TextView` when it should be a `Button` or `ImageButton`.

**Steps to reproduce:**

NA

**Expected behavior:**

NA

**Observed behavior:**

NA

**Device and Android version:**

Device independent.

**Screenshots:**

NA

[2017-02-16 12:44] devkhan opened #526 "UX: Disable `Create ...` options instead of removing from the options menu"
**Summary:**

If we click `Create Client` from the options menu, that options gets removed from the options menu, instead disabling it would be better from a user's perspective.

**Steps to reproduce:**

Click on any of the `Create ...` option from the options menu.

**Expected behavior:**

Disable the currently selected option.

**Observed behavior:**

The option gets removed.

**Device and Andro

[2017-02-16 13:56] tarun0 commented on #524
I appreciate your contribution towards listing an issue. However, there's already an issue for this: https://github.com/openMF/android-client/issues/382

Also, it won't require any additional code but just updating the 'Design Support Library' version to 24.2 or higher will do the job, which @therajanmaurya will be doing soon.

[2017-02-16 14:09] tarun0 commented on #404
@edcable Below is the current status of the Loan Application Creation screen. I think the issue is resolved. Please have a look and tell if it needs some other amendments as well.

![loan doubt](https://cloud.githubusercontent.com/assets/12914286/23024263/6eb1e426-f47f-11e6-8dce-e728dc3391a3.gif)

[2017-02-17 03:54] devkhan commented on #524
Thanks.

[2017-02-17 03:54] #524 closed

[2017-02-17 19:58] TypicalGitHubUser opened #527 "Path Tracker crashes the app if GPS is turned off"
**Steps to reproduce:**

1. Turn off GPS.
2. Go to Path Tracker screen.
3. Launch the path tracking by pressing a button in action bar.

**Expected behavior:**

App keeps working and shows a warning or a dialog, asking for user's permission to modify the location settings, like in Google Maps

**Observed behavior:**

After 2-3 seconds app crashes, but a notification about tracking is shown.

[2017-02-18 01:57] CloudyPadmal commented on #527
Happens to me!

[2017-02-18 01:58] CloudyPadmal commented on #527
@TypicalGitHubUser are you on to this?

[2017-02-18 06:13] TypicalGitHubUser commented on #527
@CloudyPadmal No, you can take it.

[2017-02-18 07:46] CloudyPadmal commented on #527
Thank you @TypicalGitHubUser :D @therajanmaurya I've handled this error! Can you review? :)

[2017-02-18 08:30] therajanmaurya commented on #527
@TypicalGitHubUser  @CloudyPadmal First this is not happening because of the GPS. It is happening because someone has associated the ```user_location``` data table to office and in which they are not adding the lat-long while submitting.

[2017-02-18 08:31] therajanmaurya commented on #527
@CloudyPadmal Send your PR. I will review.

[2017-02-18 10:04] CloudyPadmal commented on #527
@therajanmaurya exactly what you're saying! The relevant item doesn't have the latlon in the list. So indexoutofbound happens. I've caught it and pushed. I have a previous PR also and this one merged with it. Is it okay that way? Both commits together?

[2017-02-19 00:26] therajanmaurya commented on #527
No, you have to make sperate PR for this issue.

[2017-02-19 02:00] CloudyPadmal commented on #527
@therajanmaurya I've made a separate PR! :)

[2017-02-19 08:53] therajanmaurya commented on #401
fix in #523

[2017-02-19 08:53] #401 closed

[2017-02-19 12:52] therajanmaurya commented on #382
Like I said we do not need to add an extra code for this. Just need to update build tools 23 to 24.
Fixed in #531

[2017-02-19 12:52] #382 closed

[2017-02-19 15:17] therajanmaurya commented on #522
fixed in #535

[2017-02-19 15:17] #522 closed

[2017-02-19 15:18] therajanmaurya commented on #389
fixed in #522

[2017-02-19 15:18] #389 closed

[2017-02-19 15:19] #527 closed

[2017-02-19 15:33] therajanmaurya commented on #483
fixed in #533 and #534

[2017-02-19 15:33] #483 closed

[2017-02-19 16:47] therajanmaurya commented on #338
fixed in #536

[2017-02-19 16:47] #338 closed

[2017-02-19 17:00] therajanmaurya commented on #397
fixed in #519

[2017-02-19 17:00] #397 closed

[2017-02-21 08:58] therajanmaurya commented on #285
fixed #443

[2017-02-21 08:58] #285 closed

[2017-02-21 09:03] therajanmaurya commented on #480
I think this is not an issue. This was the small discussion about the Long press on center view.
Closing this issue for know.

[2017-02-21 09:03] #480 closed

[2017-02-21 09:06] mayank-kgp commented on #496
I want to work on this issue.

[2017-02-21 09:08] harshitagupta30 commented on #496
@mayank-kgp I've already resolved the issue! waiting for some maintainer's reply to send the PR! :+1:

[2017-02-21 09:11] therajanmaurya commented on #496
@harshitagupta30 send the PR. I will review.

[2017-02-21 09:17] therajanmaurya commented on #451
@mayank-kgp You can work in this issue. Go ahead 👍.

[2017-02-21 09:23] therajanmaurya commented on #468
fixed in #471

[2017-02-21 09:23] #468 closed

[2017-02-21 09:25] therajanmaurya commented on #434
@vishwesh3 can you please fix the PR.

[2017-02-21 09:37] therajanmaurya commented on #476
@mayank-kgp I want some more changes on this issue.
1. Revert the work done in #439.
2. Add functionality. If the user clicks on any menu item, then disable the menu button not invisible.
3. If the user will clicks on Navigation drawer item then make click able all dashboard menu options.

[2017-02-21 10:17] therajanmaurya commented on #396
fixed.

[2017-02-21 10:17] #396 closed

[2017-02-21 10:20] therajanmaurya commented on #349
fixed in  #515

[2017-02-21 10:20] #349 closed

[2017-02-21 10:23] therajanmaurya commented on #358
fixed in #381

[2017-02-21 10:23] #358 closed

[2017-02-21 18:13] singhalok641 commented on #526
I am resolving this issue

[2017-02-24 06:55] mayank-kgp commented on #451
@therajanmaurya Where should I add the button exactly?

[2017-02-24 18:42] aj019 opened #542 "App crashing on scrolling through path tracker"
**Summary:**

The app crashes when the Path tracker fragment is loaded and the list is scrolled.

**Steps to reproduce:**

1) Go to path tracker
2) Scroll through the list

**Expected behavior:**

Normally we should be able to scroll seamlessly through the list.

**Observed behavior:**

The app crashes as we scrolll through the list.

**Device and Android version:**

Google Nexus 4 Android 4.4 API

[2017-02-24 18:52] therajanmaurya commented on #542
@aj019  You can on the latest build. Please pull master branch and build and run again. It's working fine.

[2017-02-24 18:56] therajanmaurya commented on #542
I have checked the fabric there is no crash report It means you are working on old build please update and please install the Google Play Services before working.

I am closing this issue for now.

[2017-02-24 18:56] #542 closed

[2017-02-27 08:31] therajanmaurya commented on #470
Look this https://github.com/openMF/android-client/pull/500#issuecomment-282657099
Closed

[2017-02-27 08:31] #470 closed

[2017-02-27 08:32] therajanmaurya commented on #308
fixed in #520

[2017-02-27 08:32] #308 closed

[2017-02-27 08:34] therajanmaurya commented on #451
In ToolBar Menu

[2017-02-27 09:02] therajanmaurya opened #543 "Feature Fetch Notes"
**Summary:**

There is no feature to show Notes of client group savings and loan.
Add A Note Fragment that will be the generic type and will handle all type of note like client group savings and loan.

API: https://demo.openmf.org/api-docs/apiLive.htm#notes

**Steps to reproduce:**

There is no feature of notes in Client Savings Group and Loan Account menu item.

**Expected behavior:**

Add Toolba

[2017-02-27 10:34] singhalok641 commented on #525
I am fixing this issue

[2017-02-27 19:47] singhalok641 commented on #525
I am fixing this issue

[2017-02-28 07:35] SehgalDivij commented on #543
I am new here and want to contribute to MIFOS. Can someone suggest where to start to get familiar with the codebase??

[2017-02-28 22:35] Rishabhk07 commented on #543
Hey, can i work on this issue ?

[2017-03-01 04:39] Pritom14 commented on #525
Please review #546 .
Here I have changed the TextView into a Button

[2017-03-01 04:58] Pritom14 commented on #525
I am new to this and whenever I edit one of the files another gets created with ~ at the end. I have submitted another pr #547 , but it has the same problem it has two extra files. Can you help me fix it?

[2017-03-01 05:22] Pritom14 commented on #525
Please review #548

[2017-03-01 12:55] Pritom14 commented on #380
Yes, it is a good practice to refresh the client list after deletion. Normally , I use `notifyDataSetChanged()`.
Any suggestions?

[2017-03-01 19:21] Pritom14 commented on #526
Please review #549

[2017-03-02 12:11] AbhilashG97 commented on #431
@therajanmaurya I would like to work on this issue. Please allow me to proceed.

[2017-03-03 05:56] kickbox opened #550 "How to login - version 1.0"
**Summary:**

I have setup mifos at AWS using the image in AWS. I am not able to figure out how to login, as just specifying the ip address, username and password fails to get me pass the login.

**Steps to reproduce:**
These are the login details I am using
username: mifos
password: password
Instance URL: my_AWS_ip
Port: <empty>
Tenant Identifier: <empty>
https://my_AWS_ip/fineract-provider/api/v

[2017-03-03 09:59] therajanmaurya commented on #550
@kickbox You have to add **Port** and **Tenant Identifier: **. It's necessary. maybe you **Tenant Identifier: ** default.

You have to check which port you are using on server or local host.

[2017-03-03 10:44] kickbox commented on #550
Thanks. Since my web address is https, I tried with port 443 and it worked. I left the tenant empty.

[2017-03-03 10:44] #550 closed

[2017-03-03 10:48] therajanmaurya commented on #550
It's great. Can you please make a wiki for us on Wiki here https://github.com/openMF/android-client/wiki.
Add a new page and add your whole approach with screenshot.

It will help others.

[2017-03-03 12:34] praveenfun2 commented on #543
I would like to implement this feature @therajanmaurya .

[2017-03-03 12:59] rahulbabbar1 commented on #543
I am working on this issue. @therajanmaurya alloted this issue to me on gitter. Sorry for the inconvenience caused to all of you.

[2017-03-03 14:29] praveenfun2 opened #553 "Improper error message"
Summary:
Empty error message is produced...

Steps to reproduce:
Try to login entering any wrong "tenant identifier".

Expected behavior:
Should have shown error message like "Incorrect tenant id"

Observed behavior:
Empty toast message appears.

![screenshot_20170303-195145](https://cloud.githubusercontent.com/assets/19526203/23554610/e2fe8622-004b-11e7-9741-cff2679d22f2.png)

Would like to fix t

[2017-03-04 19:28] priyankvex opened #556 "Use the new data binding library instead of ButterKnife?"
Android DataBinding library can decrease the boilerplate code that we tend to decrease using ButterKnife.

As DataBinding library is already present in the projects, we won't have to add additional dependencies for ButterKnife.

I have worked with both data binding and butter knife. Should I work on this?

[2017-03-05 07:59] mayank-kgp commented on #451
@therajanmaurya ok

[2017-03-05 10:54] therajanmaurya commented on #525
fix in #552

[2017-03-05 10:54] #525 closed

[2017-03-05 10:55] therajanmaurya commented on #553
go ahead 👍

[2017-03-05 10:57] therajanmaurya commented on #496
fixed in #537

[2017-03-05 10:57] #496 closed

[2017-03-05 19:41] TypicalGitHubUser commented on #300
@therajanmaurya
I` ve resolved this issue. Can you review my PR?

[2017-03-05 20:53] free4murad opened #560 "App closes on back press."
**Summary:**

If user presses back button in some fragments (`Clients`, `Groups`, `Centers`, `Offline Sync`) the app closes instead of going to home fragment i.e. `Dashboard`

**Steps to reproduce:**

Open any of the above mentioned fragments and press back key. The app will close.

**Expected behavior:**

On back press the app should first show `Dashboard` fragment. If the user presses back again

[2017-03-06 08:41] tarun0 opened #561 "SwipeRefreshLayout keeps on refreshing"
**Summary:**

The SwipeRefreshLayout on Group List and Client List keeps on refreshing on coming back from `Create Client/Group` screen.

**Steps to reproduce:**

Open `Clients` from the navigation drawer. Click on the *+* floating action button. Press back button

**Expected behavior:**

Only the list should have been shown.

**Observed behavior:**

The list is shown but the refreshing view is st

[2017-03-06 08:48] therajanmaurya commented on #561
Are you using instant run.

[2017-03-06 08:56] tarun0 commented on #561
No

[2017-03-06 08:59] tarun0 commented on #561
The layout's `seRefreshing` attribute is not set to false when the fragment is popped back. I've fixed it on the locally and will send a PR today.

Are you not facing this?

[2017-03-06 09:01] priyankvex opened #562 "Use the new built-in code shrinker to shrink code and resources"
**Summary:**

To make the APK file as small as possible, we should enable shrinking to remove unused code and resources in your release build.
We can disable them in debug builds as it increases build time.

It depends on following :
1. SDK Tools 25.0.10 or higher
2. Android plugin for Gradle 2.0.0 or higher

Advantages of using code and resource shrinker :

1. Keeps the apk size small
2. Keeps th

[2017-03-06 09:03] therajanmaurya commented on #562
Go ahead 👍

[2017-03-06 09:07] therajanmaurya commented on #561
Ok that's great.

[2017-03-07 23:44] m-murad opened #565 "Sort locations in Track my path."
**Summary:**

In Track my path activity the oldest locations are shown first while latest locations are shown last.

**Expected behavior:**

The latest locations should be shown first while the oldest locations should be shown last.

**Device and Android version:**

Android 7, Moto G4 Plus

@therajanmaurya
Should I send a PR?

[2017-03-08 06:32] priyankvex opened #566 "ActivityNotFoundException while checking for permission for some device makes"
**Summary:**

When requesting the location permission second time, user should be re-directed to app settings activity. But some makes of devices have removed this page. Ex. Lenovo.
This causes ActivityNotFoundException and crashes the app.

**Steps to reproduce:**

In a certain make of the device (ex. Lenovo):

1. Fresh install the app
2. Go to Path Tracker from navigation drawer
3. Press start t

[2017-03-08 06:35] priyankvex commented on #566
@therajanmaurya Can I work on this please?

[2017-03-09 14:13] aj019 opened #568 "View Profile Feature"
**Summary:**

Their is no option for the user to view his/her profile. The user should be able to click on the profile icon in the navbar and view his profile.

**Steps to reproduce:**

Open the app . Open the Navbar and click on the profile image.

**Expected behavior:**

On clicking the profile image a fragment should be loaded where the user can view his profile.

**Observed behavior:**

On cli

[2017-03-09 14:13] aj019 commented on #568
i can suggest mockups if you like @therajanmaurya .

[2017-03-09 16:01] sukhbir-singh opened #569 "App crashes on menu item click of Path tracking activity."
**Summary:**

App crashes on menu item click of Path tracking activity.

**Steps to reproduce:**

Select Path tracking from Navigation drawer. Then click on menu item visible as box.

**Expected behavior:**

On click of menu item, app should remain stable and should open the desired activity.

**Observed behavior:**

App crash happens.

**Device and Android version:**

Motorola G-2 and Android 6.0

[2017-03-09 16:14] sukhbir-singh opened #570 "Path track notification needs to be closed on clicking of "Stop tracking" option in notification"
**Summary:**

Path track notification needs to be closed on clicking of "Stop tracking" option available in notification.

**Steps to reproduce:**

Select Path Tracker from Navigation then click on menu item. It will open the notification stating location tracking starts now.

**Expected behavior:**

On clicking stop tracking button in notification. It should close immediately.

**Observed behavio

[2017-03-09 16:16] sukhbir-singh commented on #570
I am looking forward to solve this issue.

[2017-03-09 20:01] singhalok641 commented on #560
Can I work on this issue ?

[2017-03-09 20:02] free4murad commented on #560
I have solved this issue.
Waiting for the maintainers to approve and I will send a PR.

[2017-03-10 12:18] AbhilashG97 opened #571 "Unnessasary semi-colons present in certain Java files"
**Summary:**

Unnecessary semi-colons are present in certain Java files in the code base.

**Steps to reproduce:**

Step 1) Go to analyze option in the main menu of Android Studio.
Step 2) Inspect code.
Step 3) Go to Code Style in inspection.

**Expected behavior:**

There shouldn't be any unnecessary semi-colons present in the code base.

**Observed behavior:**

There are unnecessary semi-colons

[2017-03-10 12:18] AbhilashG97 commented on #571
I would like to work on this issue.

[2017-03-10 12:57] AbhilashG97 commented on #571
Please review my pull request on this issue and kindly let me know if I have to make any further changes.
Pull request - https://github.com/openMF/android-client/pull/572

[2017-03-10 16:08] AbhilashG97 opened #573 "Error message and error icon overlap making the error message illegible"
**Summary:**

The error message and the error icon overlap making the error message illegible. The error message appears when you lose Internet connection while viewing Centers, Groups and Clients in the application.

**Steps to reproduce:**

Step 1) Open the application and view any of the following from the navigation drawer - Clients, Groups, Centers.
Step 2) Disable the data connection or any

[2017-03-10 16:09] AbhilashG97 commented on #573
I would like to work on this issue.

[2017-03-10 16:12] therajanmaurya commented on #573
Go ahead 👍,

On Fri, Mar 10, 2017 at 9:39 PM, Abhilash G <notifications@github.com>
wrote:

--
*Thanks*
*Namaste*

Rajan Maurya
Contact Number : +91 9015090523
Github: https://github.com/therajanmaurya
College: Cluster Innovation Centre, University of Delhi
Student : B.Tech. (Information Technology & Mathematical Innovations)

[2017-03-10 16:20] AbhilashG97 opened #574 "Incorrect error message is displayed in the Centers activity"
**Summary:**

Incorrect error message is displayed in the Centers activity when there is no Internet connection.

**Steps to reproduce:**

Step 1) Open the application and view Centers from the navigation drawer.
Step 2) Disable the data connection or any other means with which the application is connected to the Internet.

**Expected behavior:**

The error message should say "Failed to Fetch Cent

[2017-03-10 16:21] AbhilashG97 commented on #574
I would like to work on this issue.

[2017-03-10 21:06] AbhilashG97 commented on #574
Please review my pull request for this issue. Also kindly let me know if I have to make any further changes.
Pull request - https://github.com/openMF/android-client/pull/575

[2017-03-11 07:33] AbhilashG97 commented on #573
@therajanmaurya, I have made appropriate changes, please review my pull request. Also kindly let me know if I have to make any further changes.
Pull request - https://github.com/openMF/android-client/pull/576

[2017-03-11 11:16] AbhilashG97 opened #577 "Selecting a date to view meetings in the Centers Activity displays list of empty meetings instead of showing "No meetings found" snack bar."
**Summary:**

Selecting a date to view meetings in the Centers Activity displays a list of empty meetings. It should either display "No Meetings Found" snack bar or display a list of meetings. But instead it displays a list of empty meetings.

**Steps to reproduce:**

Step 1) Open the application and view Centers from the navigation drawer.
Step 2) Long press on a center to view the calender.
Step

[2017-03-11 11:16] AbhilashG97 commented on #577
I would like to work on this issue.

[2017-03-12 13:27] hardik124 commented on #475
@therajanmaurya  i would like to work on this.

[2017-03-12 13:27] hardik124 commented on #462
@edcable  I would like to work o this issue.

[2017-03-12 21:09] karsai1993 commented on #476
Hi! I would like to work on this but as I started to use the application and have a look at the code, I faced that none of the three points suggested by @therajanmaurya is done. My version of the code is quite fresh (forked 3 days ago). So, I start to implement my solution idea.

[2017-03-12 22:12] icancode23 commented on #569
@sukhbir-singh can i work on this..?

[2017-03-12 23:18] karsai1993 commented on #476
Hi! I have finished the implementation and it fulfills the requirements above. Here is what I have done to solve the problem shown through the three points suggested by @therajanmaurya .
1, I think not the whole work should be reverted because the methods, which were declared to determine which menu button should not be able to be selected, are useful as described in next point.
2, In case of hand

[2017-03-13 08:01] sukhbir-singh commented on #569
@icancode23 I have resolved this issue, will send PR very soon

[2017-03-13 09:57] karsai1993 commented on #565
Hi, @free4murad ! I suppose you have solved it. That is why you would like to send a PR. Is it right?

[2017-03-13 10:27] free4murad commented on #565
Haven't solved it yet.
But if this is an intended change I will be happy to solve it and send a PR.

[2017-03-13 19:13] #570 closed

[2017-03-13 23:12] karsai1993 opened #578 "EditText hint text cannot be read fully"
Summary:
In SearchFragment, the hint text of the EditText cannot be fully read when we come back from one of the create client/group/center fragments.

Steps to reproduce:
1, From SearchFragment, enter one of the create client/group/center fragments.
2, Press back button on your device.

Expected behavior:
The user should see the full see the whole hint text always to have an idea on what he/she c

[2017-03-13 23:14] karsai1993 commented on #578
I have already implemented the solution. I am waiting for a review if I am allowed to commit and create the pull request.

[2017-03-14 06:03] therajanmaurya commented on #571
fixed in #572

[2017-03-14 06:03] #571 closed

[2017-03-14 06:21] therajanmaurya commented on #455
fixed in #456

[2017-03-14 06:21] #455 closed

[2017-03-14 06:26] #300 closed

[2017-03-14 07:27] therajanmaurya commented on #568
That will good.

[2017-03-14 07:28] therajanmaurya commented on #560
@free4murad Feel free to send PR.

[2017-03-14 07:33] therajanmaurya commented on #556
There are lot's of reasons, you can find some reasons here https://medium.com/@Miqubel/4-reasons-im-not-using-android-data-binding-e62127c2650c#.cfanyhoc6.

I think It will break our MVP architecture. So right now I can not give you permission to implement this.

closing

[2017-03-14 07:33] #556 closed

[2017-03-14 09:34] aj019 commented on #568
![screen shot 2017-03-14 at 3 02 08 pm](https://cloud.githubusercontent.com/assets/7893859/23894239/55a2ea3c-08c7-11e7-9502-d262b7b1fec2.png)

@therajanmaurya
How about this ?
We can discuss the user information to be shown.

[2017-03-14 10:06] aj019 commented on #568
Can i submit a PR ?

[2017-03-14 11:40] therajanmaurya commented on #578
Make sense. Go ahead and send PR.

[2017-03-14 11:44] aj019 opened #579 "Progress Bar in offline mode won't stop loading"
**Summary:**

The progress bar which is shown before loading the client image never stops loading in offline mode.

**Steps to reproduce:**

Open the app turn on offline mode.
Now search for a client and click on the client.
You will be taken to the client activity but the progress bar that shows the client image won't stop loading.

**Expected behavior:**

The app should load the clients image an

[2017-03-14 18:59] karsai1993 opened #581 "Some variable names cause misleading, not suitable for clean code"
Summary:
Some variable names cause misleading as their types require different naming conversions. See examples in "What did you see instead?  Describe your issue in detail here." section.

Steps to reproduce:
1, Have a look at the code

Expected status:
All the variable names should be defined to be able to identify its role in context. They should also be suitable for clean code.

Observed statu

[2017-03-14 21:33] meghalagrawal opened #583 "Progress bar Starts Rotating Without Reloading fragment"
**Summary:**

When we are in Clients Fragment and opening any item from menu ( ex - Create Client ) and then coming back ( using default Android Back button ) then ProgressBar starts Loading without Reloading or Without Calling API.

Summarise your issue in one sentence (what goes wrong, what did you expect to happen)

**Steps to reproduce:**

How can we reproduce the issue?

We need to stop this

[2017-03-14 22:37] ramya257 opened #584 "Unable to update Profile Photo of Client - Png image cannot be Clicked from a Camera"
**Summary:**

The profile photo of the client cannot be updated after clicking the photo.

**Steps to reproduce:**
On clicking the photo from camera the client profilephoto must get updated.

**Expected behavior:**
On selecting "take photo" option and after clicking the pic the image of the client should get updated.
Steps-
1.On selecting the clicked photo the image should get uploaded in the back

[2017-03-15 03:52] #574 closed

[2017-03-15 05:13] AbhilashG97 opened #585 "Incorrect input type of the External ID field (EditText field) in the Create Client and Create Group activity"
**Summary:**

The input type of the External ID (whose view is EditText) field in the Create Client and Create Group activity should be 'number' instead of 'text'. Currently, the input type is set to 'text', however the input type for the external ID will always be a number as shown in the "How To Create a New Client Offline and Sync" & "How To Create a New Group Offline and Sync" sections of the

[2017-03-15 05:13] AbhilashG97 commented on #585
I would like to work on this issue.

[2017-03-15 06:00] AbhilashG97 commented on #585
I have made the appropriate changes, please review my pull request and kindly let me know if I have to make any further changes.
Pull request - https://github.com/openMF/android-client/pull/586

[2017-03-15 12:36] meghalagrawal opened #587 "Swipe to refresh stops working after going to another fragment and coming back - clientListFragment"
**Summary:**

Swipe to refresh should work in all cases.It's not working when we switched to another fragment ( ex-create client or client details) or when we rotate the Screen and it keeps on showing progress bar.

OnRefresh method is called but none of onNext onComplete or onError is called from observable as the method onDestroyView() and its body calling unsubscribe for Observable.

**Steps to

[2017-03-15 13:52] meghalagrawal commented on #587
Fixed this issue in Pull Request #588

Please Review Once.

[2017-03-15 13:54] meghalagrawal commented on #583
This issue was not only for Loader but it was also for RxJava Composite Subscription. Once we were Unsubscribing to it we were unable to Subscribe to it again.

A Better issue is submitted by me here #587

Pull Request has been added for it Please Review #588

[2017-03-15 14:18] karsai1993 commented on #579
Hi @aj019 ! Do you plan to solve it? I would try it. What do you type when you search for a client? When I type something I get the error: Failed to fetch resources.

[2017-03-15 15:09] AbhilashG97 opened #589 ""Click to Choose File" in the Document Dialog Fragment doesn't feel click-able."
**Summary:**

"Click to Choose File" in the Document Dialog Fragment doesn't feel click-able. It could be made a bit more click-able which would in turn make the dialog more user-friendly.

**Steps to reproduce:**

Step 1) Open the application and view Clients from the navigation drawer.
Step 2) Tap on any Client.
Step 3) Tap on the menu key in the top right corner (three dots). This will bring up

[2017-03-15 15:10] AbhilashG97 commented on #589
I would like to work on this issue.

[2017-03-15 16:16] ishan1604 commented on #579
@karsai1993 Either try searching with any name or any number (it is the client ID)

[2017-03-15 16:19] karsai1993 opened #590 "UserStatus initialization not working in offline mode"
Summary:
The UserStatus initialization is not done because opening the application in offline mode, in the NavigationDrawer, the SwitchCompat is not set to true automatically.

Steps to reproduce:
1, Open application when your device is offline
2, Open NavigationDrawer
3, Take a look at the SwitchCompat

Expected behavior:
The SwitchCompat should be set to true in offline mode automatically as ini

[2017-03-15 16:21] karsai1993 commented on #590
I have already implemented the solution according to which the NavigationDrawer should be looked like the attached image below. I am ready for commit and send a pull request.
![offline_improved](https://cloud.githubusercontent.com/assets/15123875/23958884/d3bc7cd0-09a3-11e7-9eff-96f43879d233.png)

[2017-03-15 17:07] therajanmaurya commented on #589
Go ahead.

On Wed, Mar 15, 2017 at 8:40 PM, Abhilash G <notifications@github.com>
wrote:

--
*Thanks*
*Namaste*

Rajan Maurya
Contact Number : +91 9015090523
Github: https://github.com/therajanmaurya
College: Cluster Innovation Centre, University of Delhi
Student : B.Tech. (Information Technology & Mathematical Innovations)

[2017-03-15 17:09] karsai1993 commented on #579
@ishan1604 I get search results when my device is connected to the internet. Now, I can reproduce the issue. However, when I do not turn on offline mode, searching and clicking to a client, I face the same issue: image does not get loaded, loading does not stop and additionally I get a fetching error: Client not found.
So, this issue is worth being extended to online mode, isn't it?

Apart from th

[2017-03-15 18:26] ishan1604 commented on #579
@karsai1993

I am not sure If I am following this correctly. But we are just talking about progress bar not disappearing in case image fails to load - in this issue.

Client not found error should be tackled in a separate issue not here. And if you get it because of the image then it is wrong and must be fixed.

I think what the issue creator has suggested should be done.

For offline mode you'll

[2017-03-15 18:32] karsai1993 commented on #579
Thanks for answer @ishan1604 !

[2017-03-15 19:07] AbhilashG97 commented on #589
@therajanmaurya, I have rectified this issue. But a new issue seems to have arisen. When I select a file, the name of the file also appears inside the button. How shall I proceed further ? Should I create a new TextView below the button and display the name of the file in that TextView or should I attempt something different. Kindly advise on how to proceed further.

**After Fixing the issue**

![

[2017-03-17 01:31] aj019 opened #591 "Dropdowns in Create Client don't feel like dropdowns"
**Summary:**

The dropdowns in create new client looks like textfield and don't feel clickable. A dropdown should be represented with a down arrow signifying a list.

**Steps to reproduce:**

1) Open the app
2) From the navbar choose Clients
3) From the toolbar menu select and Create Client
4) Scroll down to Gender label
5) Below Gender you will find a dropdown list which doesn't feel like a dropd

[2017-03-17 01:31] aj019 commented on #591
I would like to work on this

[2017-03-17 01:37] aj019 commented on #591
I would suggest something like this

<img width="249" alt="screen shot 2017-03-17 at 7 06 36 am" src="https://cloud.githubusercontent.com/assets/7893859/24025447/635a7b52-0ae0-11e7-8eec-e9449ec5c6ad.png">

[2017-03-17 01:38] aj019 commented on #591
@therajanmaurya
https://github.com/jaredrummler/material-spinner
How about this ?
Would you like me to implement this ?

[2017-03-17 02:22] aj019 commented on #579
@therajanmaurya @ishan1604 I would like to work on this issue.

[2017-03-17 02:52] aj019 commented on #579
I have submitted a PR https://github.com/openMF/android-client/pull/592 for this issue. Please take a look @therajanmaurya @ishan1604.

[2017-03-17 11:46] aj019 commented on #579
@therajanmaurya @ishan1604  Please take a look at my PR. I think this is a major issue and needs to be resolved as soon as possible.

[2017-03-17 22:18] vladimirfomene opened #594 "Unable to build app in Android studio"
**Summary:**

I cannot run the app on my phone or the emulator because android studio cannot resolve the DaggerApplicationComponent because the com.mifos.mifosxdroid.injection.component.DaggerApplicationComponent does not exist.

**Steps to reproduce:**

Download the codebase and try to build the app using android studio

**Expected behavior:**

I expected the com.mifos.mifosxdroid.injection.compo

[2017-03-18 01:58] aj019 opened #595 "Create Client option inside Create Client"
**Summary:**

Inside the Create Client Screen if we click on the toolbar menu. It shows Create client as one of the options. And when the user clicks on the Create Client option nothing happens.

**Steps to reproduce:**

1) Open the app
2) From the navbar select clients
3) From the toolbar menu select Create Client
4) In Create client if you click on the toolbar menu you will get an option saying

[2017-03-18 02:09] aj019 opened #596 "Toast Message not correct"
**Summary:**

I entered a numeric value in the name field. On clicking submit a Toast appears with the message "Group Nameshould contain onlyALPHABETS" but instead it should be "Group Name should only  contain Alphabets"

**Steps to reproduce:**

1) Open the app
2) From the nav bar select Groups
3) From the toolbar menu select Create Group
4) Inside the name field enter numeric value (eg : 123)
5)

[2017-03-18 02:10] aj019 commented on #596
I would like to work on this issue.

[2017-03-18 06:43] AbhilashG97 opened #597 "The progress bar in Datatables of both Clients and Groups loads endlessly."
**Summary:**

The progress bar in Datatables of Clients and Groups loads endlessly. This issue is similar to https://github.com/openMF/android-client/issues/583.

**Steps to reproduce:**

Step 1) Select Clients or Groups from the navigation drawer.
Step 2) Select a Client or a Group from the list.
Step 3) Tap on the menu anchored to the overflow button at the top-right corner and select "More clie

[2017-03-18 06:43] AbhilashG97 commented on #597
I would to like on work this issue.

[2017-03-18 07:19] #543 closed

[2017-03-18 07:30] AbhilashG97 opened #598 "Questions in the survey are not being properly displayed."
**Summary:**

Questions in the survey are not being properly is displayed. It is being partially cropped from the top.

**Steps to reproduce:**

Step 1) Tap on Clients from the navigation drawer.
Step 2) Select a Client from the Client list.
Step 3) Tap on the menu anchored to the overflow button at the top-right corner and select Survey.
Step 4) Select a survey.

**Expected behavior:**

The quest

[2017-03-18 07:30] AbhilashG97 commented on #598
I would like to work on this issue.

[2017-03-18 07:47] therajanmaurya commented on #598
Go ahead 👍

[2017-03-18 07:51] AbhilashG97 opened #599 "App Crashs while navigating through the survey."
**Summary:**

The application crashes when the user goes to the end of the survey and returns back.

**Steps to reproduce:**

Step 1) Tap on Clients from the navigation drawer.
Step 2) Select a Client from the Client list.
Step 3) Tap on the menu anchored to the overflow button at the top-right corner and select Survey.
Step 4) Select a survey.
Step 5) Navigate to the end of the survey and come ba

[2017-03-18 07:52] AbhilashG97 commented on #599
I would like to work on this issue.

[2017-03-18 09:10] therajanmaurya commented on #599
Post crash log.

On Sat, Mar 18, 2017 at 1:22 PM, Abhilash G <notifications@github.com>
wrote:

--
*Thanks*
*Namaste*

Rajan Maurya
Contact Number : +91 9015090523
Github: https://github.com/therajanmaurya
College: Cluster Innovation Centre, University of Delhi
Student : B.Tech. (Information Technology & Mathematical Innovations)

[2017-03-18 09:18] AbhilashG97 commented on #599
The logs for the issue can be found [here](https://gist.github.com/AbhilashG97/400f58f4e7bda7dfe01c0401f6ce3fa9).

[2017-03-18 10:48] therajanmaurya commented on #596
Go ahead 👍

[2017-03-18 10:50] therajanmaurya commented on #595
duplicate https://github.com/openMF/android-client/issues/526

[2017-03-18 10:50] #595 closed

[2017-03-18 10:51] therajanmaurya commented on #594
Issue resolved on Gitter Chat.

[2017-03-18 10:51] #594 closed

[2017-03-18 10:53] therajanmaurya commented on #591
@ishan1604 What you think.

[2017-03-18 10:56] therajanmaurya commented on #589
This looks fine for now, send the PR and Create new issue for adding new textview below the `Click to Choose File` button.

[2017-03-18 11:19] therajanmaurya commented on #584
It's working fine. I think the server was down when you were testing the app.
![image](https://cloud.githubusercontent.com/assets/5724482/24071549/d841c0ae-0bfa-11e7-9b10-fa5d5ac88992.png)

[2017-03-18 11:19] #584 closed

[2017-03-18 11:23] therajanmaurya commented on #581
@ishan1604 What you think.

[2017-03-18 11:30] therajanmaurya commented on #578
fixed in #580

[2017-03-18 11:30] #578 closed

[2017-03-18 11:41] therajanmaurya commented on #565
Go ahead 👍

[2017-03-18 11:58] ishan1604 commented on #591
@therajanmaurya I am good with the idea of having spinner. But @aj019 why do you think you want to add another library for this simple task ?

Why can't we do it with the default spinner android provides ?

[2017-03-18 12:38] rahulbabbar1 opened #601 "Feature Add Note"
**Summary:**

There is no feature to add Notes for clients and groups .
We can add + button in the toolbar of Notefragment, which will show a popup to add a new note for he corresponding client/group.

API: https://demo.openmf.org/api-docs/apiLive.htm#notes

[2017-03-18 12:38] rahulbabbar1 commented on #601
@therajanmaurya, I would like to work on this.

[2017-03-18 15:10] aj019 commented on #591
@ishan1604 I am fine with the default spinners. The library was just a suggestion to make the UI better. The screenshot i suggested in the comment is the default spinner android provides that is how the spinner is going to look. Should i go ahead and work on it ?

[2017-03-18 16:10] utsavgoel commented on #601
@rahulbabbar1 I would like to work on this too.

[2017-03-18 17:38] sunny5125 commented on #584
what about the choose option from gallery and notification generation for uploading picture.

[2017-03-18 17:44] ramya257 commented on #584
@sunny5125 i started working on this after  facing the above mentioned issue and due to some issues from server it was not working properly !

[2017-03-18 17:49] sunny5125 commented on #584
@ramya257  problem for uploading picture is working that's ok .
as u mentioned in **Expected behavior** (2) ,option from **choose from gallery** is not implemented so what about that ?

[2017-03-18 18:33] sunysaurav opened #604 "Feature Choose from gallery option in profile photo of the client"
**Summary:**

The profile photo of the client can be updated choose from gallery option.

**Steps to reproduce:**

Add option below take new photo and through file picker we can select image.
![screenshot_20170318-235920](https://cloud.githubusercontent.com/assets/10153038/24074873/6d319e32-0c37-11e7-8a7f-58cb5d0ad9ca.png)

[2017-03-18 18:35] ramya257 commented on #584
@sunny5125
I m working on notification point and i have added choose from gallery option but there is also issue during image upload using the same API as for the earlier one and its creating problem as i don't know it's server side implementation !

[2017-03-18 18:40] sunny5125 commented on #584
@ramya257  BTW i have opened issue(feature) for choose from gallery option. as u have mentioned there is problem in choose from gallery option may i give a shot .

[2017-03-19 04:43] AbhilashG97 opened #605 ""Click to Choose File" button in the Document Dialog Fragment displays the file uploaded inside the same button."
**Summary:**

"Click to Choose File" button in the Document Dialog Fragment displays the file uploaded inside the same button.

**Steps to reproduce:**

Step 1) Open the application and view Clients from the navigation drawer.
Step 2) Tap on any Client.
Step 3) Tap on the menu key in the top right corner (three dots). This will bring up an expanded menu which would contain Document as one of the o